@import 'sass';
body{
	overflow:hidden;
	padding: 0;
	margin:0;
	background-color:#FFFFFF !important;
}
#content{
	font-family: $cartoGothicStd_Book;
	width: 420px;
	height: 500px;
	padding: 10px 0;
	overflow:hidden;
	text-transform: uppercase;
	.fieldset{
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.fieldsetContent{
		padding-bottom:15px;
	}
	.multiplierWrap{
		.multiplieTable{
			width: 70%;
			margin: 0 auto;
			thead td{
				font-size: 11px;	
				text-align: left;
			}
			td{
				padding: 2px;
				text-align: center;
				.inputText{
					width: 90%;
				}
			}
		}
		.multiplierBtn{
			width: 99%;
			font-size: 11px;
			font-family: $cartoGothicStd_Book !important;
			// @include gradients(#FAFAFA, #EDEDED);
		}
		.multiplierBtn:hover{
			// @include gradients(#F2F2F2, #E5E5E5);
			color:#000000;
		}
	}
	.orderWrap{
		.fieldsetContent{
			height: 235px;
			overflow: auto;
			padding-bottom:0;
			margin-bottom:15px;
			.orderTable{
				width: 100%;
				margin: 0 auto;
				font-size: 11px;
				thead{
					text-align: center;
					td{
						color:#000000 !important;
					}
					.itemColumn{
						width: 50%;
					}
					.priceColumn{
						width: 35%;
						font-size: 0;
						text-align: right;
						span{
							text-align: center;
							display: inline-block;
							margin:0;
							width: 40%;
							font-size: 11px;
						}
						span:first-child{
							width: 55%;
						}
					}
					.actionColumn{
						width: 15%;
						text-align: center;
						width: 12%;
						right:0;
					}
				}
				td{
					color:#666666;
					padding: 5px 0;
					vertical-align: middle;
					border-bottom: 1px solid $border_01;	
					input[type="checkbox"]{
						vertical-align: middle;
					}
					span{
						display:inline-block;
						margin-left: 5px;
						vertical-align: middle;
					}
					span.thumb{
						width:26.3%;
						img{
							width: 100%;
							// border: 1px solid #CCCCCC;
							vertical-align: middle;
						}
					}
					span.name{
						width: 57.9%;
						text-align: left;
						vertical-align: top;
					}
				}
				td.calculatorWrap{
					.subtotalCalculator{
						font-size: 0;
						text-align: right;
						span{
							display: inline-block;
							font-size: 11px;
							margin:0;
						}
						span.unitPrice{
							width: 55%;
							color:#000000;
							font-size: 12px;
							line-height: 12px;
							text-align: center;
						}
						span.qtyController{
							width: 40%;
							.inputText{
								width: 85%;
								padding: 4px 2px !important;
								text-align: center;
								font-size: 11px;
							}
						}
					}
					.subtotalWrap{
						background-color:#EEEEEE;
						padding: 6px 0;
						color:#000000;
						width: 100%;
						margin: 5px auto -6px;
						span{
							vertical-align: bottom;
							display: inline-block;
							line-height: 12px;
							margin:0;
						}
					}
				}
				td.operationWrap{
					vertical-align:top;
					a.removeItem{
						text-decoration: underline;
						color:#666666;
						font-size: 10px;
						line-height: 10px;
						display: inline-block;
						margin-top:8px;
					}
				}
			}
		}
	}
	.totalWrap{
		.fieldsetContent{
			padding:7px 0 0;
			font-size: 20px;
			line-height: 1em;
			font-family: $PTserif;
		}
	}
	.formWrap{
		background-image: url('/static/cart/images/curve_bg.png');
		background-position: center bottom;
		background-repeat: no-repeat;
		height: 60px;
		text-align: center;

		.submitBtn{	
			// @include gradients(#FAFAFA, #EDEDED);
			margin-top: 10px;
			padding: 5px 20px  !important;
			font-family: $PTserif;
			font-size: 12px;
			h4{
				font-size: 13px;
				line-height: 13px !important;
			}
			h3{
				font-size: 15px;
				line-height: 15px !important;
			}
		}

		.submitBtn:hover{
			// @include gradients(#F2F2F2, #E5E5E5);
			color:#000000;
		}
	}
}