.dd{
    display: none;
    font-size: 12px;
}

#site-menu{
    .dd{
        li{
            border-left: 2px solid #FFF;
            a,span{
                /*font-weight: bold;*/
                color: #FFF !important;
            }
        }
        li.hover,li:hover{
            background-color: #737A2A;
        }

        ul li{
            background-color: #B9C444;
        }
    }
}
/*
#info-menu {
    .dd{
        li{
            border-left: 2px solid #FFF;
            a,span{
                font-weight: bold;
                color: #FFF !important;
            }
        }
    }
}*/