html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* ========================================
	Links
=========================================*/
a:hover, a:active {
  outline: 0; }

/*=========================================
	Main Styles
=========================================*/
body {
  font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
  font-size: 12px;
  background-color: #c2bdbd;
  color: #666666; 
  background-image: url(/media/images/idecorate_pattern.jpg);
  background-repeat: repeat;
}

#main-container {
  width: 1024px;
  background-color: #f0ebe5;
  margin: 0 auto 15px auto; 
  box-shadow: 0 0 18px #333;
}

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1em; }

#header {
  margin-bottom: 5px;
  padding-top:10px;
  position: relative;
  min-height: 60px; 

  .headerRowTop {
    width: auto;

    .headerColumn {
      vertical-align: top; 
      a {
        text-decoration: none;
        color: #333333;
        font-size: 1.2em; 
      }
    }

    #info-menu, #site-menu {
      width: 400px; 
    }

    #info-menu {
      float: left; 
    }

    #logo {
      width: 224px;
      float: left; 
      text-align: center; 
        h1, h3 {
        text-align: center; 
        }
    }
    #site-menu {
      float: right;
      vertical-align: top;
      text-align: left;
        ul {
          float: right; 
          padding: 3px;
          margin-right: 40px;
          background: #99a237;
          text-align: center;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          -khtml-border-radius: 4px;
          li a{
            color: #FFFFFF;
          }
        } 
    }
    ul.dropdown {
      position: relative;
      margin-bottom: 10px;
      li {
        display: inline-block;
        border-left: 1px solid #999999;
        *float: left; 
        a {
          display: block;
          padding: 4px 10px;
          color: #222;
          white-space: nowrap; 
        }
        span {
          display: block;
          padding: 4px 10px;
          color: #222;
          white-space: nowrap; 
          font-size: 1.2em;
        }
      }
      li.nonLink {
        font-size: 1.2em;
        line-height: 22px;
        white-space: nowrap;
        padding: 0 10px; 
      }
      li.nonLink.hover {
        background: none !important;
        color: #666666; 
      }
      li:first-child {
        border-left: none; 
      }
      li:hover {
        background: #F3D673;
        color: black;
        position: relative; 
        a {
          color: black; 
        }
        a:hover {
          color: #000; 
        }
        a:active {
          color: #ffa500; 
        }
      }
      ul {
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        
        li {
          font-weight: normal;
          background: #f6f6f6;
          color: #000;
          border-bottom: 1px solid #ccc;
          float: none;
          padding-right: 10px; 
          a {
            border-left: none;
            width: 100%;
            display: inline-block; 
          }
        }

        ul {
          left: 100%;
          top: 0; 
        }
      }
      li:hover > ul {
        visibility: visible; 
      }
    }
  }

  .headerRowBottom {
    width: 100%;
    clear: both;

    .searchWrap {
      width: 240px;
      height: auto;
      padding: 10px;
      background: #000000;
      position: relative;
      float: left;
      
      .search{
        vertical-align: top;
        font-size: 0;
        white-space: nowrap;
        border: 1px solid #EEE;
        overflow: hidden;
        background-color:#FFF;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -khtml-border-radius: 4px;


        input{
          display: inline;
          height: 23px;
          float: left;
        }

        input[type="image"] {
          vertical-align: top;
          height: 21px;
          width: 21px;
          margin: 0;
          background: #FFFFFF;
          margin: 0;
          padding: 1px;
        }

        input[type="text"]{
          vertical-align: top;
          border: 0;
          width: 153px;
          line-height: 23px;
        }

        input[type="submit"]{
          cursor: pointer;
          vertical-align: top;
          border: 0;
          height: 25px;
          margin: 0;
          float: right;
          background-color: #da9b94;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
          background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
        }
        input[type="submit"]:hover{
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
          background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
        }
      }
    }

    .socialIcons{
      vertical-align: bottom;
      float: right;
      border-left: 2px dotted #000;
      border-right: 2px dotted #000;
      margin-right: 40px;
      height: 100%;
      padding:12px;
      font-size: 0;

      a{
        display: inline-block;
        font-size: .9em;
        height: 20px;
        width: 20px;
        margin-left: 5px;
        background: url(/media/images/social.png) no-repeat;
      }

      a:first-child{
        margin-left: 0;
      }

      a#email{
        background-position: 1px 3px;
      }
      a#arrow{
        background-position: 2px -16px;
      }
      a#facebook{
        background-position: 0 -38px;
      }
      a#pinterest{
        background-position: 0 -61px;
      }
      a#instagram{
        background-position: 1px -83px;
      }
      a#twitter{
        background-position: 0 -103px;
      }
      a#youtube{
        background-position: 1px -125px;
      }
    }
  }
}

p {
  font-size: 1.1em;
  line-height: 1.2em; }

.defaultContent {
  padding: 0; }

#sidebar {
  float: left;
  width: 240px;
  padding: 40px 10px;
  height: 250px;
  overflow: auto;
  background-color: #000000; }
  #sidebar ul li {
    padding: 4px 10px; }
    #sidebar ul li a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 1.2em; }
  #sidebar ul li:hover {
    background: #F3D673; }
    #sidebar ul li:hover a {
      color: black; }

footer {
  padding: 15px 15px;
  border-top: 1px solid #EEEEEE;
  background: #000000;
  color: #FFFFFF;
   }
  footer .copyright {
    float: left;
    width: 300px;
  }
  footer .footerMenus {
    float: right;
    width: 694px;
    text-align: right;
   }
    footer .footerMenus ul li {
      padding: 2px 5px;
      display: inline-block;
      zoom: 1;
      *display: inline;
      border-left: 1px solid #CCCCCC; }
      footer .footerMenus ul li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.1em; }
    footer .footerMenus ul li:first-child {
      border-left: none; }