$greyBrownLight: #C2BDBD;
$margin15:15px;
$padding15:15px;

.banner{
	float: left;
	width: 760px;
	background-color: #000000;
	/*
	box-shadow: 5px 5px 20px #DDDEE5;
	border:1px solid #EEEEEE;
*/
	.dummyBannerImg{
		float: left;
		width: 760px;
		height: 330px;
		background-color: #000000;

		img{
			width: 720px;
			height: 330px;
		}
	}

	.dummyBannerInfoWrap{
		float: right;
		width: 405px;

		h1{
			margin-bottom: 10px;
		}

		p{
			margin-bottom: 10px;
			font-size: 1.2em;
		}

		a{
			color: #333333;
			font-size: 1.4em;
			text-decoration: none;
			text-align: center;
			display: block;
			margin-bottom: 10px;
		}
	}

	.dummyBannerInfoItem{
		font-size: 0;
		text-align: center;

		h2{
			text-align: center;
			font-size: 20px;
			margin-bottom: 10px;
		}

		a{
			display: inline-block;
			height: 50px;
			width: 90px;
			padding-top: 45px;
			font-size: 10px;
			background-color: #DDDEE5;
			margin-right: 5px;
			position: relative;
			color: #999999;

			span{
				position: absolute;
				top: 105%;
				left: 0;
				display: block;
				width: 95px;
				text-align: center;
				color: #666666;
			}
		}
	}
}

section{
	clear: both;
	margin-top: $margin15;

	h2{
		margin-bottom: 20px;
		padding-bottom: $padding15;
		border-bottom:1px solid #EEEEEE;
	}
}

.featureContentWrap{
	float: left;
	width: 490px;
	padding: 5px;
	margin-bottom: 16px;
	border: 2px solid #EEEEEE;

	.featureImg{
		width: 490px;
		height: 250px;
		background-color: #DDDEE5;
	}

	h3{
		margin: 5px 0;
		background-color: #EEEEEE;
		padding: 5px;
	}

	.featureDesc{
		font-size: 1.1em;
		float: left;
		width: 65%;
		line-height: 1.2em;
	}

	.featurePrice{
		float: right;
		width: 20%;
		text-align: right;

		h5{
			font-size: 1.5em;
		}

		p{
			font-size: 1.2em;
		}
	}

	.featureFooter{
		clear: both;
		margin: 5px 0;
		background-color: #EEEEEE;
		padding: 5px;

		span{
			width: 15px;
			height: 15px;
			display: inline-block;
			border: 1px solid #CCCCCC;
			position: relative;

			p{
				position: absolute;
				left: 130%;
				top: 2px;
				font-size: 11px;
				white-space: nowrap;
				color: #333333;
			}
		}
	}
}

.featureContentWrap,
.featureContentWrap + .featureContentWrap + .featureContentWrap{
	margin-right: 16px;

}

.featureContentWrap + .featureContentWrap,
.featureContentWrap + .featureContentWrap + .featureContentWrap + .featureContentWrap {
	margin-right: 0;
}
