.paymentWrapper {
	width: 994px;
	background-color: #FFFFFF;
	padding: 15px;
	font-size: 1.2em;

	h3 {
		width: 100%;
		height: 20px;
		margin: 0 0 15px 0;
		padding: 0 0 15px 0;
		border-bottom: 2px solid black;
		color: black;
		font-size: 1.2em;
	}

	fieldset {
		border: 1px solid #000000;
		display: block;

		legend {
			font-size: 1.2em;
			color: #000000;
			padding: 0 10px;
			margin-left: 20px;
		}

		.errorWrapper {
			width: 95%;
			margin: 15px auto;

			.errorBlock {
				color: #B94A48;
				padding: 8px 35px 8px 14px;
				margin: 0 auto 15px auto;
				background: #F2DEDE;
				border: 1px solid #EED3D7;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				position: relative;
				font-size: 12px;

				.closeX {
					font-size: 20px;
					font-weight: bold;
					color: #000000;
					line-height: 18px;
					text-decoration: none;
					text-shadow: 0 1px 0 white;
					opacity: 0.2;
					filter:alpha(opacity=20);
					float: right;
					position: relative;
					top: -2px;
					right: -21px;
				}

				h4 {
					font-size: 14px;
					font-weight: bold;
					line-height: 18px;
				}

				ol {
					padding-left: 30px;

					li {
						display: list-item;
						list-style: decimal;
						line-height: 18px;
						text-align: -webkit-match-parent;
					}
		
				}
		
			}
		
		}
		

		.paymentDetails1 {
			width: 360px;
			padding-bottom: 15px;
			margin: 0 auto;

			.reqMessage {
				margin: 15px;
			}
			
			.inputWrapper {
				padding: 3px;

				label {
					display: block;
					width: 120px;
					padding-top: 7px;
					margin-right: 15px;
					float: left;
					text-align: right;
				}

				select {
					width: 185px;
					border: 1px solid #CCC;
					padding: 2px 5px;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					-khtml-border-radius: 3px;
				}

				input {
					width: 200px;
					border: 1px solid #CCC;
					padding: 5px;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					-khtml-border-radius: 3px;
				}

				a {
					width: 100px !important;
					padding: 3px;
					margin-left: 5px;
					cursor: pointer;
					font-size: 13px !important;
					color: #000;
					text-decoration: none !important;
				}

				a:hover {
					font-weight: bold;
					text-decoration: underline !important;
				}

			}

			.submit {
				width: 380px;
				text-align: center;

				input {
					width: 100px;
					padding: 3px;
					cursor: pointer;
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94');
					background: -webkit-gradient(linear, left top, left bottom, from(
					white), to(#DA9B94));
					background: -moz-linear-gradient(top, white, #DA9B94);
					background: -o-linear-gradient(top, white, #DA9B94);
					-moz-border-radius: 4px;
					-webkit-border-radius: 4px;
					border-radius: 4px;
					-khtml-border-radius: 4px;
					border: 1px solid #FFC5C3;
				}

				input:hover {
			        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
			        background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
			        background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
				}

			}

		}

		.paymentDetails2 {
			width: 600px;
			float: left;
			padding-bottom: 15px;

			.inputWrapper {
				padding: 3px;
				
				label {
					display: block;
					width: 120px;
					padding-top: 7px;
					margin-right: 15px;
					float: left;
					text-align: right;
				}

				input {
					width: 350px;
					border: 1px solid #CCC;
					padding: 5px;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					-khtml-border-radius: 3px;
				}

			}

			.submit {
				width: 490px;
				text-align: center;

				input {
					width: 100px;
					padding: 3px;
					cursor: pointer;
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94');
					background: -webkit-gradient(linear, left top, left bottom, from(
					white), to(#DA9B94));
					background: -moz-linear-gradient(top, white, #DA9B94);
					background: -o-linear-gradient(top, white, #DA9B94);
					-moz-border-radius: 4px;
					-webkit-border-radius: 4px;
					border-radius: 4px;
					-khtml-border-radius: 4px;
					border: 1px solid #FFC5C3;
				}

				input:hover {
			        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
			        background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
			        background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
				}

			}

		}

	}

}