#content {
  margin-top: 20px; 
}

.profileWrap {
	min-height: 300px;

	h2 {
		width: 100%;
		border-bottom: 1px solid;
		padding-bottom: 15px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.user-profile {
		padding: 10px;
		height: auto;
		background: #F0EBE5;
		// -webkit-box-shadow: 5px 5px 5px #CCC;
		// box-shadow: 5px 5px 5px #CCC;
		// -moz-box-shadow: 5px 5px 5px #CCC;
		width: 800px;
		margin: 0 auto;
		margin-bottom: 30px;

		.picture-wrap, .description-wrap {
			display: inline-block;
			*display: inline;
			zoom: 1;
		}

		.picture-wrap {
			width: 150px;

			img {
				width: 148px;
				height: 148px;
				border: 1px solid #ccc;
			}

		}

		.description-wrap {
			width: 630px;
			margin: 10px;
			margin-right: 0;
			vertical-align: top;
			font-size: 1.2em;
			line-height: 1.1;
			text-align: justify;

			.title {
				font-family: 'futura_std_medium';
				font-size: 22px;
				color: #000000;
				/*font-weight: bold;*/
				margin-bottom: 10px;
				text-align: justify;
				text-transform: uppercase;
			}

			.desc {
				font-family: 'futura_std_book';
				font-size: 12px;
				color: #58595b;
				text-align: justify;
			}

		}

	}

	.no-image {
		width: 150px;
		height: 150px;
		border: 1px solid #ccc;
		background: #fff;
	}

	.create-wrap {
		margin-bottom: 20px;
	}

	.featureContentWrap {
		background-color: #efebe4;
		padding:12px;
		float: left;
		margin: 0 0 12px 12px;
		//width: 450px;
		// margin: 12px;
		// padding: 10px;
		// -webkit-box-shadow: 5px 5px 5px #CCC;
		// box-shadow: 5px 5px 5px #CCC;
		// -moz-box-shadow: 5px 5px 5px #CCC;
		//background: #F0EBE5;
		//position: relative;

		.featureImg {
			width: 450px;
			height: 285px;
			background: #ffffff;

			img {
				width: 100%;
				height: 100%;
			}

		}
		
		h3 {
			width: 440px;
			margin: 5px 0;
			padding: 10px 5px;
			background: #f1ccc6;
			text-transform: uppercase;
			font-family: 'futura_std_medium';
		}

		.featureDesc {
			width: 330px;
			height: auto;
			padding: 10px 10px 10px 0;
			line-height: 1.4;
			float: left;
			text-align: justify;
			font-family: 'futura_std_book';
			word-wrap: break-word;
		}

		.featurePrice {
			width: 105px;
			height: auto;
			padding: 10px 0;
			float: left;
			text-align: right;
			font-family: 'futura_std_heavy';

			h5 {
				font-weight: bold;
				font-size: 1em;
				color: #000000;
				text-align: center;
				display: block;
				font-family: 'futura_std_book';
			}

			p {
				width: auto;
				padding: 5px 0;
				margin-top: 5px;
				text-align: center;
				color: #ffffff;
				font-weight: bold;
				background: #99a13c;
			    -moz-border-radius: 4px;
			    -webkit-border-radius: 4px;
			    border-radius: 4px;
			    -khtml-border-radius: 4px;
				font-family: 'futura_std_book';
			}

		}

		.featureFooter {
			width: 440px;
			margin: 5px 0 0 0;
			padding: 3px 5px;
			background: #e7e0da;
			vertical-align: middle;

			img {
				vertical-align: middle;
			}

			span {
				margin-left: 5px;
			}

		}

	}

	.featureContentWrap:nth-child(odd) {
		margin-left: 0;
	}
}

.pagination{
	*margin-top:15px;
	text-align:center;

	ul{
		margin: 0;
		padding:0;

		li{
			display: inline-block;
			font-size: 0;
			*display: inline;
			zoom:1;
			padding: 0 1px;
			
			span{
				color: #333333;
				font-family: 'futura_std_book';
				font-size: 12px;
				display: block;
				padding: 5px;
			}

			span.pageofpage{
			}

			span.current{
				font-family: 'futura_std_medium';
				font-size: 13px;
			}

			a{
				display: block;
				padding: 5px;
				font-size: 12px;
				text-decoration: none;
				font-family: 'futura_std_book';
				color: #666666;
				background-color: #EFEBE4;
			} 
			a.prev,a.next{
				font-size: 13px;
				background: none;
				font-family: 'futura_std_medium';
			}
		}
	}
}

.savedImageWrapper{

	> div{

		.savedImageWrap{
			float: left;
			padding: 12px;
			background-color: #efebe4;
			margin: 0 12px 12px 0;
		}

		.savedImageWrap.size1{
			margin-right: 0;
		}

	}
	
}