@import "idecorate_fonts";
#content {
  margin-top: 20px; 
}

.profileWrap {
	min-height: 300px;

	h2 {
		width: 100%;
		border-bottom: 1px solid;
		padding-bottom: 15px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.user-profile {
		padding: 10px;
		height: auto;
		background: #F0EBE5;
		// -webkit-box-shadow: 5px 5px 5px #CCC;
		// box-shadow: 5px 5px 5px #CCC;
		// -moz-box-shadow: 5px 5px 5px #CCC;
		width: 800px;
		margin: 0 auto;
		margin-bottom: 30px;

		.picture-wrap, .description-wrap {
			display: inline-block;
			*display: inline;
			zoom: 1;
		}

		.picture-wrap {
			width: 150px;

			img {
				width: 148px;
				height: 148px;
				border: 1px solid #ccc;
			}

		}

		.description-wrap {
			width: 630px;
			margin: 10px;
			margin-right: 0;
			vertical-align: top;
			font-size: 1.2em;
			line-height: 1.1;
			text-align: justify;

			.title {
				font-family: $helvetica;
				font-size: 22px;
				color: #000000;
				/*font-weight: bold;*/
				margin-bottom: 10px;
				text-align: justify;
				text-transform: uppercase;
			}

			.desc {
				font-family: $helvetica;
				font-size: 12px;
				color: #58595b;
				text-align: justify;
			}

		}

	}

	.no-image {
		width: 150px;
		height: 150px;
		border: 1px solid #ccc;
		background: #fff;
	}

	.create-wrap {
		margin-bottom: 20px;
	}

	.featureContentWrap {
		background-color: #efebe4;
		padding:12px;
		float: left;
		margin: 0 0 12px 12px;
		position: relative;
		//width: 450px;
		// margin: 12px;
		// padding: 10px;
		// -webkit-box-shadow: 5px 5px 5px #CCC;
		// box-shadow: 5px 5px 5px #CCC;
		// -moz-box-shadow: 5px 5px 5px #CCC;
		//background: #F0EBE5;
		//position: relative;


		.delStyleboard{
			position: absolute;
			right: 20px;
			top: 20px;
			text-decoration:none;
			color: #333333;
			// display: none;
		}

		.delStyleboard:hover{
			color: #000000;
		}

		.socials {
			position: absolute;
			top: 270px;
			left: 20px;
			font-size: 0;
			// display: none;
			div{
				margin-right: 2px;
				display:inline-block;
			}
		}

		.featureImg {
			width: 450px;
			height: 285px;
			background: #ffffff;

			img {
				width: 100%;
				height: 100%;
			}

		}
		
		h3 {
			width: 440px;
			margin: 5px 0;
			padding: 10px 5px;
			background: #f1ccc6;
			text-transform: uppercase;
			font-family: $helvetica;
		}

		.featureDesc {
			width: 330px;
			height: auto;
			padding: 10px 10px 10px 0;
			line-height: 1.4;
			float: left;
			text-align: justify;
			font-family: $helvetica;
			word-wrap: break-word;
		}

		.featurePrice {
			width: 105px;
			height: auto;
			padding: 10px 0;
			float: left;
			text-align: right;
			font-family: $helvetica;

			h5 {
				font-weight: bold;
				font-size: 1em;
				color: #000000;
				text-align: center;
				display: block;
				font-family: $helvetica;
			}

			p {
				width: auto;
				padding: 5px 0;
				margin-top: 5px;
				text-align: center;
				color: #ffffff;
				font-weight: bold;
				background: #99a13c;
			    -moz-border-radius: 4px;
			    -webkit-border-radius: 4px;
			    border-radius: 4px;
			    -khtml-border-radius: 4px;
				font-family: $helvetica;
			}

		}

		.featureFooter {
			width: 440px;
			margin: 5px 0 0 0;
			padding: 3px 5px;
			background: #e7e0da;
			vertical-align: middle;

			img {
				vertical-align: middle;
			}

			span {
				margin-left: 5px;
			}

		}

	}

	.featureContentWrap:nth-child(odd) {
		margin-left: 0;
	}

	.featureContentWrap:hover .delStyleboard, 
	.featureContentWrap:hover .socials{
		display: block;
	}
}

.pagination{
	*margin-top:15px;
	text-align:center;

	ul{
		margin: 0;
		padding:0;

		li{
			display: inline-block;
			font-size: 0;
			*display: inline;
			zoom:1;
			padding: 0 1px;
			
			span{
				color: #333333;
				font-family: $helvetica;
				font-size: 12px;
				display: block;
				padding: 5px;
			}

			span.pageofpage{
			}

			span.current{
				font-family: $helvetica;
				font-size: 13px;
			}

			a{
				display: block;
				padding: 5px;
				font-size: 12px;
				text-decoration: none;
				font-family: $helvetica;
				color: #666666;
				background-color: #EFEBE4;
			} 
			a.prev,a.next{
				font-size: 13px;
				background: none;
				font-family: $helvetica;
			}
		}
	}
}

.savedImageWrapper{
	
	> div{

		.savedImageWrap{
			text-align: center;
			float: left;
			padding: 12px;
			background-color: #efebe4;
			margin: 0 12px 12px 0;

			.featuredLinks{
				font-size: 0;
				margin: 0;
				padding: 0;

				 li{
					display: inline-block;
					border-left: 1px solid #FFFFFF;
					border-right: 1px solid #CCCCCC;
					font-size: 12px;

					a{ 
						color: #999999;
						text-decoration: none;
						padding: 0 8px;
						text-transform: uppercase;
					}
					.modal{
						background-color: #EEEEEE;
						border: 3px solid #999999;
						padding: 7px !important;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;
						-khtml-border-radius: 5px;
						font-size: 0;
						position: absolute;
						display: none;
						top: 110%;
						left: 10px;
						width: auto;
						height: auto;
						width: 255px;
						-webkit-box-shadow: 0 0 8px #333333;
						box-shadow: 0 0 8px #333333;
						-moz-box-shadow: 0 0 8px #333333;

						> div{
							display: inline-block;
							*display: inline;
							margin-left: 3px;
							zoom:1;
							height: 20px;
						}
						a{
							padding: 0 !important;
						}
						.email a{
							display: block;
							height: 20px;

							img{
								height: 20px !important;
								width: auto !important;
							}
						}
						p{
							font-size: 12px;
							a{
								text-transform: none;
								color: #333333;
							}
						}
					}
				}
			}

			.savedTitle{
				text-align: left;
				margin: 5px 0;
				padding: 10px 5px;
				background: #f1ccc6;
				text-transform: uppercase;
				font-family: $helvetica;
			}
			.savedDesc{
				text-align: left;
			}
		}

		.savedImageWrap.size1{
			width: 936px;
		}

		.savedImageWrap.size2{
			width: 450px;
		}

		.savedImageWrap.size3{
			width: 288px;
		}

		.savedImageWrap.size1{
			margin-right: 0;
		}

	}

}

#modal_email_saved_image {
    border: 5px solid #DDD;
    position: fixed;
    width: 500px;
    padding: 0 5px 5px;
    height: auto;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 8px #333;
    z-index: 99999;
    top: 10%;

    h2 {
    	font-size: 0;
	    margin: 0;
	    padding: 0;
	    text-align: right;
	    border: none;

	    a.close-modal-btn{
	    	font-size: 20px;
	    	line-height: 20px;
		    text-decoration: none;
		    color: #666;
		}
	}

	#iframe_wrap{
		min-height: 275px !important;

		iframe {
			/*height: 480px;*/
			min-height: 325px;
			width: 100%;
		}
	}

}