#content {
	padding: 15px;
	background: #FFFFFF;

	h3{ 
		width: 100%;
		height: 20px;
		margin: 0 0 15px 0;
		padding: 0 0 15px 0;
		border-bottom: 2px solid #000000;
		color: #000000;
	}

}
.checkout{
	background: #FFFFFF;
}

.orderWrap {


	.errorBlock {
		color: #B94A48;
		padding: 8px 35px 8px 14px;
		margin: 0 auto 15px auto;
		background: #F2DEDE;
		border: 1px solid #EED3D7;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		position: relative;

		.closeX {
			color: #000000;
			line-height: 18px;
			text-decoration: none;
			opacity: 0.2;
			filter:alpha(opacity=20);
			float: right;
			position: relative;
			top: -2px;
			right: -21px;
		}

		h4 {
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
		}

		ol {
			padding-left: 30px;

			li {
				display: list-item;
				list-style: decimal;
				line-height: 18px;
				text-align: -webkit-match-parent;
			}
		}
	}


	fieldset {
		border: 1px solid #000000;
		padding: 10px;

		legend{
			margin: 0 0 0 20px;
			padding: 0 5px;
			font-size: 14px;
			color: #000000;
		}

		table{
			width: 100%;
			height: auto;

			thead{

				tr{
					th{
						padding: 10px;
						color: #000000;
						border-bottom: 2px dotted #999999;
					}

				}

			}

			tbody{
				tr{
					td{
						padding: 10px;
						margin: 0 auto;

						img{
							max-width: 50px;
							max-height: 80px;
							float: left;
							border: 2px solid #999999;
						}

						span{
							width: 400px;
							height: auto;
							display: block;
							margin: 20px 0 0 60px;
							font-size: 14px;
							font-weight: bold;
							color: #d89b96;
						}

					}

					.productPricing {
						text-align:center;
						color: #000000;
					}

				}

			}

			tfoot{

				tr{
					td{
						padding: 10px;
						color: #000000;
						border-top: 2px dotted #999999;
					}
				}
			}

		}

	}
	
	
	
}

.loginDetails{
	width: auto;
	height: auto;
	margin: 15px auto;
	padding: 10px;
	background: #fbf6f0;
	box-shadow: 3px 3px 3px 2px #EEEEEE;

	h4{
		font-weight: bold;
		margin: 0 0 15px 0;
		color: #000000;
	}

	p {
		margin: 10px auto;
	}
	
	input{
		width: 250px;
		margin: 0 15px 0 0;
	}

	.submit{
		width: 80px;
		padding: 3px;
		cursor: pointer;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
      background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
      background: -o-linear-gradient(top,  #FFFFFF,  #da9b94);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px; /* future proofing */
		-khtml-border-radius: 4px; /* for old Konqueror browsers */
		border: 0;
	}

	a {
		color: #d89b96;
	}

}

.information{
	width: 100%;
	height: auto;
	margin: 0 0 15px 0;

	fieldset{
		width: 450px;
		height: 200px;
		border: 1px solid #000000;
		float: left;
		padding: 10px;

		legend{
			margin: 0 0 0 20px;
			padding: 0 5px;
			font-size: 14px;
		}

	}

	.personal{
		margin: 0 20px 0 0;

		div {
			margin-bottom: 15px;
		
			label {
				display: block;
				width: 70px;
				height: auto;
				padding-top: 10px;
				float: left;
			}

			input {
				width: 350px;
			}

		}

	}

	.delivery{

		div {
			margin-bottom: 5px;
		
			label {
				display: block;
				width: 70px;
				height: auto;
				padding-top: 10px;
				float: left;
			}

			input {
				width: 350px;
			}

			select {
				width: 355px;
			}

		}
		
	}

}

.deliveryDetails{
	width: 100%;
	margin: 0 0 15px 0;

	fieldset{
		width: 450px;
		height: 100%;
		padding: 10px;
		border: 1px solid #000000;
		float: left;

		legend{
			margin: 0 0 0 20px;
			padding: 0 5px;
			font-size: 14px;
		}

		p{
			margin: 0 0 10px 15px;
		}

		ul{
			margin: 0 0 0 30px;

			li{
				list-style-type: disc;
				margin: 0 0 10px 15px;

				a {
					color: #d89b96;
				}

			}
	
		}

		ol {
			li {
				list-style-type: decimal;
				margin: 0 0 10px 45px;
			}
		}

		em {
			font-style: italic;
		}

		strong {
			font-weight: bold;
		}
	
	}

	.deliveryDate{
		margin: 0 20px 0 0;
	}

	.paymentMethod{

		div {
			margin-bottom: 15px;
			
			input {
				float: left;
				margin-top: 5px;
			}

			label {
				display: block;
				width: 110px;
				height: auto;
				padding-top: 8px;
				float: left;
			}

			img {
				float: left;
			}

		}
	
	}

	.delivery{

		div {
			margin-bottom: 5px;
		
			label {
				display: block;
				width: 70px;
				height: auto;
				padding-top: 10px;
				float: left;
			}

			input {
				width: 350px;
			}

			select {
				width: 355px;
			}

		}
		
	}
	
}

.inquiry{
	width: 100%;

	fieldset{
		width: 450px;
		height: 100%;
		padding: 10px;
		border: 1px solid #000000;
		float: left;

		legend{
			margin: 0 0 0 20px;
			padding: 0 5px;
			font-size: 14px;
		}

		p{
			padding: 15px;

			a {
				color: #d89b96;
			}

		}

		ul {
			li {
				list-style-type: disc;
				margin: 0 0 10px 50px;
			}
		}

		ol {
			li {
				list-style-type: decimal;
				margin: 0 0 10px 50px;
			}
		}

		em {
			font-style: italic;
		}

		strong {
			font-weight: bold;
		}

		form{
			padding: 15px;
		}

	}

	.question {
		margin: 0 20px 0 0;

	}

	.paymentMethod2 {

		div {
			margin-bottom: 15px;
			
			input {
				float: left;
				margin-top: 5px;
			}

			label {
				display: block;
				width: 110px;
				height: auto;
				padding-top: 8px;
				float: left;
			}

			img {
				float: left;
			}

		}
	
	}

}

.disclaimer{
	width: 100%;
	height: auto;
	text-align: center;

	p{
		width: 600px;
		margin: 15px auto;

		a {
			color: #d89b96;
		}

	}

	button {
		padding: 8px;
		cursor: pointer;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
      background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
      background: -o-linear-gradient(top,  #FFFFFF,  #da9b94);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px; /* future proofing */
		-khtml-border-radius: 4px; /* for old Konqueror browsers */
		border: 0;
	}

	ul {
		display: inline-block;

		li {
			list-style-type: disc;
		}
	}

	ol {
		display: inline-block;
		
		li {
			list-style-type: decimal;
		}
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

}