#content {
	padding: 15px;
	background: #FFFFFF;

	h3{ 
		width: 100%;
		height: 20px;
		margin: 0 0 15px 0;
		padding: 0 0 15px 0;
		border-bottom: 2px solid #000000;
		color: #000000;
	}

}

.calendarWrapper {
	width: 220px;
	height: 40px;
	position: relative;

	img {
		position: absolute;
		top: 7px;
		right: 17%;
	}

}

.checkout{
	background: #FFFFFF;

	input {
	  border: 1px solid #CCC;
	  padding: 5px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  -khtml-border-radius: 3px;
	  box-shadow: 0px 1px 5px #999 inset;
	}

	select {
	  border: 1px solid #CCC;
	  padding: 2px 5px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  -khtml-border-radius: 3px;
	}

	#edit_button {
		color: #FFFFFF;
		font-weight: bold;
		padding: 4px 8px;
		margin-top: 10px;
		cursor: pointer;
		float: right;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#333333'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#333333)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFFFFF,  #333333); /* for firefox 3.6+ */
        background: -o-linear-gradient(top,  #FFFFFF,  #333333);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px; /* future proofing */
		-khtml-border-radius: 4px; /* for old Konqueror browsers */
		border: 1px solid #CCCCCC;
	}
	#edit_button:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#666666'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#666666)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFFFFF,  #666666); /* for firefox 3.6+ */
    }

}

.orderWrap {

	.errorBlock {
		color: #B94A48;
		padding: 8px 35px 8px 14px;
		margin: 0 auto 15px auto;
		background: #F2DEDE;
		border: 1px solid #EED3D7;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		position: relative;

		.closeX {
			font-size: 20px;
			font-weight: bold;
			color: #000000;
			line-height: 18px;
			text-decoration: none;
			text-shadow: 0 1px 0 white;
			opacity: 0.2;
			filter:alpha(opacity=20);
			float: right;
			position: relative;
			top: -2px;
			right: -21px;
		}

		h4 {
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
		}

		ol {
			padding-left: 30px;

			li {
				display: list-item;
				list-style: decimal;
				line-height: 18px;
				text-align: -webkit-match-parent;
			}
		}
	}

	.orderTable {
		width: 964px;
		color: #FFFFFF;
		font-weight: bold;
		padding: 10px 15px 5px 15px;
		background-color: #000000;
	}

	fieldset {
		border: 1px solid #000000;
		padding: 10px;

		legend{
			margin: 0 0 0 20px;
			padding: 0 5px;
			font-size: 14px;
			color: #000000;
		}

		table{
			width: 100%;
			height: auto;

			thead{

				tr{
					th{
						padding: 10px;
						color: #000000;
						font-weight: bold;
						border-bottom: 2px dotted #999999;
					}

					th:first-child {
						text-align: left;
					}

				}

			}

			tbody{
				tr{
					td{
						padding: 10px;
						margin: 0 auto;

						img{
							max-width: 50px;
							max-height: 80px;
							float: left;
							border: 2px solid #999999;
						}

						span{
							width: 400px;
							height: auto;
							display: block;
							margin: 20px 0 0 60px;
							font-size: 14px;
							font-weight: bold;
							color: #d89b96;
						}

					}

					.productPricing {
						text-align:center;
						color: #000000;
					}

				}

			}

			tfoot{

				tr{
					td{
						padding: 10px;
						color: #000000;
						border-top: 2px dotted #999999;

						.totalCost {
							display: block;
							padding: 5px 0;
							margin-top: 5px;
							background-color: #FFC5C3;
							text-align: center;
							font-weight: bold;

						}

					}
				}
			}

		}

	}
	
	
	
}

.loginDetails{
	width: auto;
	height: auto;
	margin: 15px auto;
	padding: 20px 10px;
	color: #FFFFFF;
	background: #000000;
	box-shadow: 3px 3px 3px 2px #EEEEEE;

	h4{
		font-weight: bold;
		margin: 0 0 15px 0;
		color: #FFFFFF;
	}

	p {
		margin: 10px auto;
		color: #FFFFFF;
		font-size: 1.2em;
		font-weight: bold;
	}
	
	input{
		width: 250px;
		margin: 0 15px 0 0;
	}

	.submit {
		width: 80px;
		padding: 3px;
		cursor: pointer;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
        background: -o-linear-gradient(top,  #FFFFFF,  #da9b94);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px; /* future proofing */
		-khtml-border-radius: 4px; /* for old Konqueror browsers */
		border: 1px solid #FFC5C3;
	}
	.submit:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
    }

	a {
		color: #FFFFFF;
		font-weight: bold;
	}

}

.information{
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;

    fieldset{
        width: 465px;
        border: 1px solid #000000;
        float: left !important;
        padding: 10px;
        display: block;

        legend{
            margin: 0 0 0 20px;
            padding: 0 5px;
            font-size: 14px;
        }

    }

    .personal{
        margin: 0 20px 0 0;

        div {
            margin-bottom: 15px;
        
            label {
                display: block;
                width: 70px;
                height: auto;
                padding-top: 10px;
                float: left;
            }

            input {
                width: 350px;
            }

        }

    }

    .delivery{

        div {
            margin-bottom: 15px;
        
            label {
                display: block;
                width: 70px;
                height: auto;
                padding-top: 10px;
                float: left;
            }

            input {
                width: 350px;
            }

            select {
                width: 360px;
            }


        }

        .checkbox {
        	border: none !important;
        }
        
    }

}

div.leftPannel, div.rightPannel {
	width: 470px;
	height: auto;
	float: left;

	.deliveryDate, .question, .paymentMethod, .paymentMethod2, .request {
        width: 465px;
        border: 1px solid #000000;
        float: left;
        padding: 10px;
    	margin: 0 0 15px 0;
        display: block;

        legend{
            margin: 0 0 0 20px;
            padding: 0 5px;
            font-size: 14px;
        }

        p{
            margin: 0 0 10px 15px;
        }

        ul{
            margin: 10px 0 0 30px;
            list-style-position: inside;

            li{
                list-style-type: disc;
                margin: 0 0 10px 15px;

                a {
                    color: #d89b96;
                }

            }
    
        }

        ol {
        	margin: 10px 0 0 30px;
        	list-style-position: inside;

            li {
                list-style-type: decimal;
                margin: 0 0 10px 45px;
            }
        }

        em {
            font-style: italic;
        }

        strong {
            font-weight: bold;
        }

    }

    .deliveryDate {

    	input {
    		margin-bottom: 15px;

    	}

    }

	.paymentMethod {
		margin-left: 16px;

		label {
	        display: block;
	        width: 70px;
	        height: auto;
	        padding-top: 10px;
	        float: left;
	    }

	    div {
	    	margin-bottom: 15px;
	    }

	    input {
	        width: 350px;
	    }

	    select {
	        width: 360px;
	    }
	}

	.paymentMethod2 {
		margin-left: 16px;

	    div {
	        margin-bottom: 15px;
	        
	        input {
	            float: left;
	            margin-top: 5px;
	            border: none;
	        }

	        label {
	            display: block;
	            width: 110px;
	            height: auto;
	            padding-top: 8px;
	            float: left;
	        }

	        img {
	            float: left;
	        }

	    }

	}

	.request {
		margin-left: 16px;

		textarea {
			display: block;
			width: 425px;
			height: 250px;
			margin: 15px auto;
			border: 1px solid #CCCCCC;
			padding: 5px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			-khtml-border-radius: 3px;
		}

	}

}

.leftPannel {
	margin-right: 20px;
}

.disclaimer{
	width: 100%;
	height: auto;
	text-align: center;

	p{
		width: 600px;
		margin: 0 auto;

		a {
			color: #d89b96;
		}

	}

	p:first-child {
		margin: 15px auto;
	}

	button {
		padding: 8px;
		cursor: pointer;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
        background: -o-linear-gradient(top,  #FFFFFF,  #da9b94);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px; /* future proofing */
		-khtml-border-radius: 4px; /* for old Konqueror browsers */
		border: 1px solid #FFC5C3;
	}

	button:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
    }

	ul{
        margin: 10px 0 0 30px;
		list-style-position: inside;

        li{
            list-style-type: disc;
            margin: 0 0 10px 15px;

            a {
                color: #d89b96;
            }

        }

    }

    ol {
    	margin: 10px 0 0 30px;
		list-style-position: inside;

        li {
            list-style-type: decimal;
            margin: 0 0 10px 45px;

            a {
                color: #d89b96;
            }
            
        }
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }


}