#content {
	margin-top:20px;

	h3{ 
		width: 100%;
      	font-family: 'futura_std_medium';
		font-size: 22px;
		color: #000000;
		margin-bottom: 15px;
	}

	input[type="text"]{
		font-size: 11px;
	}
	select{
		font-size: 13px;
	}

}

.calendarWrapper {
	width: 220px;
	height: 40px;
	position: relative;

	img {
		position: absolute;
		top: 6px;
		right: 27%;
		cursor: pointer;
	}

}

.checkoutWrap{
	padding: 12px;
	background: #efebe4;
}

.checkout{
	background: #FFFFFF;
	padding:10px;

	input[type="text"] {
	  border: 1px solid #CCC;
	  padding: 5px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  -khtml-border-radius: 3px;
	  box-shadow: 0px 1px 5px #999 inset;
	}

	select {
	  border: 1px solid #CCC;
	  padding: 2px 5px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  -khtml-border-radius: 3px;
		font-size: 13px;
	}

	#edit_button {
		color: #FFFFFF;
		padding: 4px 8px;
		margin-top: 5px;
		cursor: pointer;
		float: right;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#333333'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#333333)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFFFFF,  #333333); /* for firefox 3.6+ */
        background: -o-linear-gradient(top,  #FFFFFF,  #333333);
		// -moz-border-radius: 4px;
		// -webkit-border-radius: 4px;
		// border-radius: 4px; /* future proofing */
		// -khtml-border-radius: 4px; /* for old Konqueror browsers */
		border: 1px solid #CCCCCC;
		font-family: futura_std_heavy;
		font-size: 11px;
	}
	#edit_button:hover {
		color:#666666;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#666666'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#666666)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFFFFF,  #666666); /* for firefox 3.6+ */
    }

}

.orderWrap {

	.errorBlock {
		color: #B94A48;
		padding: 8px 35px 8px 14px;
		margin: 0 auto 15px auto;
		background: #F2DEDE;
		border: 1px solid #EED3D7;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		position: relative;

		.closeX {
			font-size: 20px;
			font-weight: bold;
			color: #000000;
			line-height: 18px;
			text-decoration: none;
			text-shadow: 0 1px 0 white;
			opacity: 0.2;
			filter:alpha(opacity=20);
			float: right;
			position: relative;
			top: -2px;
			right: -21px;
		}

		h4 {
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
		}

		ol {
			padding-left: 30px;

			li {
				display: list-item;
				list-style: decimal;
				line-height: 18px;
				text-align: -webkit-match-parent;
			}
		}
	}

	.orderTable {
		width: 900px;
		color: #FFFFFF;
		font-family: futura_std_book;
		font-size: 13px;
		padding: 10px 8px 5px;
		background-color: #000000;
	}

	fieldset {
		border: 1px solid #000000;
		padding: 10px;

		legend{
			margin: 0 0 0 20px;
			padding: 0 5px;
			font-size: 14px;
			color: #000000;
		}

		table{
			width: 100%;
			height: auto;

			thead{

				tr{
					th{
						padding: 10px;
						color: #000000;
						font-family: futura_std_medium;
						font-size: 13px;
						border-bottom: 1px solid #CCCCCC;
					}

					th:first-child {
						text-align: left;
					}

				}

			}

			tbody{
				tr{
					td{
						padding: 10px;
						margin: 0 auto;
						font-family: futura_std_book;
						font-size: 13px;
						color: #414042;
						vertical-align: middle;

						img{
							max-width: 50px;
							max-height: 80px;
							float: left;
							border: 1px solid #999999;
						}

						span{
							float: left;
							line-height: 50px;
							margin-left: 10px;
							width: 400px;
							height: auto;
							display: block;
							font-family: futura_std_book;
							font-size: 12px;
							color: #231F20;
						}

					}

					.productPricing {
						text-align:center;
						color: #000000;
					}

				}

			}

			tfoot{

				tr:first-child td{
					padding-top: 10px;
					border-top: 1px solid #CCCCCC;

					p{
						font-family: futura_std_heavy;
						font-size: 13px;
						color: #000000;
					}
				}
				tr{
					td{
						color: #000000;

						.totalCost {
							display: block;
							padding: 10px 0 7px;
							margin-top: 5px;
							font-family: futura_std_heavy;
							font-size: 15px;
							background-color: #FFC5C3;
							text-align: center;
						}

					}
				}
			}

		}

	}
	
	
	
}

.loginDetails{
	width: auto;
	height: auto;
	margin: 15px auto;
	padding: 20px 10px;
	color: #FFFFFF;
	background: #000000;
	box-shadow: 3px 3px 3px 2px #EEEEEE;

	h4{
		font-family: futura_std_book;
		font-size: 20px;
		color: #FFFFFF;
	}

	p {
		font-family: futura_std_book;
		margin: 10px 0;
		color: #FFFFFF;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.5em;
	}
	
	input{
		width: 250px;
		margin: 0 15px 0 0;
	}
	
	input[type="text"]{
		font-size: 11px;
	}

	.submit {
		width: 80px;
		padding: 5px 0 3px;
		cursor: pointer;
		font-family: futura_std_heavy;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
        background: -o-linear-gradient(top,  #FFFFFF,  #da9b94);
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0; /* future proofing */
		-khtml-border-radius: 0; /* for old Konqueror browsers */
		border: 1px solid #FFC5C3;
		color: #666666;
	}
	.submit:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
    }

	a {
		color: #FFFFFF;
		font-family: futura_std_book;
		font-size: 12px;
	}

}

.information{
    width: 100%;
    height: auto;
    margin: 0 0 12px 0;

    fieldset{
        width: 430px;
        border: 1px solid #CCCCCC;
        float: left !important;
        padding: 10px;
        display: block;

        legend{
            margin: 0 0 0 10px;
            padding: 0 5px;
            font-size: 14px;
			font-family: futura_std_book;
        }

        div{
            margin-bottom: 10px;

            label {
                display: block;
                width: 70px;
                height: auto;
                padding-top: 10px;
            	font-size: 13px;
                float: left;
            }

            input {
                width: 340px;
            }

            select{
            	width: 352px;
            	font-size: 13px;
            }
        }

        p{
            font-size: 13px;
			font-family: futura_std_book;
        }

    }

    .personal{
        margin: 0 12px 0 0;
    }

    .delivery{

            font-size: 11px;
			font-family: futura_std_book;

    	.checkbox {
	    	border: none !important;
	    }
    } 
}

div.leftPannel, div.rightPannel {
	width: 450px;
	height: auto;
	float: left;

	fieldset{
		margin-bottom: 12px;
	}

	.deliveryDate, .question, .paymentMethod, .paymentMethod2, .specialRequests {
        display: block;
        width: 430px;
        border: 1px solid #CCCCCC;
        padding: 10px;
        display: block;

        legend{
            margin: 0 0 0 10px;
            padding: 0 5px;
            font-size: 14px;
			font-family: futura_std_book;
			text-transform: uppercase;
        }

        ul{
        	margin-top: 10px;
            list-style-position: inside;

            li{
                list-style-type: disc;
                margin: 0 0 10px 10px;
            	font-size: 11px;

                a {
                    color: #d89b96;
                }

            }
    
        }

        ol {
        	margin: 10px 0 0 30px;
        	list-style-position: inside;

            li {
                list-style-type: decimal;
                margin: 0 0 10px 45px;
            }
        }

        p{
            font-size: 11px;
			font-family: futura_std_book;
			a {
                color: #d89b96;
            }
        }

        textarea {
			border: 1px solid #CCC;
			padding: 5px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			-khtml-border-radius: 3px;
			box-shadow: 0px 1px 5px #999 inset;
			resize: none;
		}
    }

    .specialRequests{
    	textarea{
			margin-top: 10px;
			margin-bottom: 10px;
			width: 418px;
			height: 100px;
    	}
    }

    .deliveryDate{
    	p{
	        font-size: 13px;
			font-family: futura_std_book;
    	}
    	input {
			margin-bottom: 15px;
		}
	} 

	// .request {
	// 	margin-left: 16px;

	// 	textarea {
	// 		display: block;
	// 		width: 425px;
	// 		height: 250px;
	// 		margin: 15px auto;
	// 		border: 1px solid #CCCCCC;
	// 		padding: 5px;
	// 		-moz-border-radius: 3px;
	// 		-webkit-border-radius: 3px;
	// 		border-radius: 3px;
	// 		-khtml-border-radius: 3px;
	// 	}

	// }

}

.rightPannel{
	div{
        margin-bottom: 10px;

        label {
            display: block;
            width: 70px;
            height: auto;
            padding-top: 10px;
            float: left;
            font-size: 13px;
        }

        input[type="text"] {
            width: 340px;
            font-size: 11px;
        }

        select{
        	width: 352px;
            font-size: 11px;
        }
    }


	.paymentMethod2 {
	        
        input[type="radio"] {
            float: left;
            margin-top: 5px;
            border: none;
        }

        label {
            display: block;
            width: 110px;
            height: auto;
            padding-top: 8px;
            float: left;
        }

        img {
            float: left;
        }
	}
}

.leftPannel {
	margin-right: 14px;
}

.disclaimer{
	width: 100%;
	height: auto;
	text-align: center;

	p{
		text-align: center;
		font-family: 'futura_std_book';
		font-size: 11px;
		color: 414042;
		a {
			color: #000000;
			font-family: 'futura_std_heavy';
		}

	}

	p:first-child {
		margin: 15px auto;
	}

	button {
		padding: 5px 20px 3px;
		cursor: pointer;
		font-family: futura_std_heavy;
		color: #666666;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
        background: -o-linear-gradient(top,  #FFFFFF,  #da9b94);
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0; /* future proofing */
		-khtml-border-radius: 0; /* for old Konqueror browsers */
		border: 1px solid #FFC5C3;
	}
	button:hover {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
    }

	ul{
        margin: 10px 0 0 30px;
		list-style-position: inside;

        li{
            list-style-type: disc;
            margin: 0 0 10px 15px;

            a {
                color: #d89b96;
            }

        }

    }

    ol {
    	margin: 10px 0 0 30px;
		list-style-position: inside;

        li {
            list-style-type: decimal;
            margin: 0 0 10px 45px;

            a {
                color: #d89b96;
            }
            
        }
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }


}