#content {
	margin-top:20px;

	h3{ 
		width: 100%;
      	font-family: 'futura_std_medium';
		font-size: 22px;
		color: #000000;
		margin-bottom: 15px;
	}

}

.staticWrap{
	padding: 12px;
	background: #efebe4;
}

.static{
	background: #FFFFFF;
	padding:10px;

	p {
		margin: 10px 0;
		text-align: justify;
	}

	div {
		margin: 10px 0;
	}

	.end {
		width: 56px;
		height: 10px;
		margin: 15px auto;
	}

	/* FOR TINYMCE */

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	ul {

		li {
			list-style-type: disc;
			margin-left: 15px;
		}

	}

	ol {
		
		li {
			list-style-type: decimal;
			margin-left: 15px;
		}

	}

	sub {
		vertical-align: sub;
	}

	sup {
		vertical-align: super;
	}

}