/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* ========================================
	Links
=========================================*/

a, a:hover, a:active { outline: 0; text-decoration: none; text-decoration: none; }

/*=========================================
	Main Styles
=========================================*/
$doc_width 				: 1920;/*px*/
$default_font_size		: 16;/*px*/ 
$grey_ligh_brown		: #C2BDBD;
$grey 					: #666666;

html{
	height: 100%;
}

body {
	font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 100%;
	background-color: $grey_ligh_brown;
	color: $grey;
	background-color: #FFFFFF;
	overflow:auto;
	*min-width:800px;
	height:100%;
}

#page-wrap{
	min-width: 800px;
}

/*#content-wrap{
	min-height: 330px;
}*/

h1,h2,h3,h4,h5{
	font-weight:normal;
}

h1{ font-size: 28/$default_font_size*100%;}/*28px/16px*100*/
h2{ font-size: 25/$default_font_size*100%;}/*25px/16px*100*/ 
h3{ font-size: 22/$default_font_size*100%;}/*22px/16px*100*/ 
h4{ font-size: 19/$default_font_size*100%;}/*19px/16px*100*/ 
h5{ font-size: 16/$default_font_size*100%;}/*16px/16px*100*/

@media screen and (max-width:800px) {
}

#header{

	padding: 5px 10%/$doc_width*100;
	border-bottom: 1px solid #EEE;
	margin-bottom:5px;
	background-color:#F0EBE5;

	.headerColumn{
		float:left;
		width: 805%/$doc_width*100;
	}

	#info-menu{
		text-align:left;
	}

	#logo{
		text-align:center;
		width: 300%/$doc_width*100;
	}

	#site-menu{
		text-align:right;
	}

	ul.dropdown{ 
		position: relative; 
		margin-bottom:15px;

		li{ 
			display: inline-block; 
			border-left: 1px solid #999999;
			*float:left;

			a{ 
				display: block; 
				padding: 3px 8px; 
				color: #222; 
				white-space:nowrap;
				font-size: 14px;
			}
		}

		li.nonLink{
			font-size: 14px;
			line-height: 22px;
			padding: 0 8px;
		}

		li.nonLink:hover,
		li.nonLink.hover{
			background:none !important;
			color:#666666;
		}

		li:first-child{ 
			border-left: none; 
		} 

		li.hover,
		li:hover{ 
			background: #F3D673; 
			color: black; 
			position: relative; 
		}

		li.hover a{ 
			color: black; 
		}

		a:hover{ 
			color: #000; 
		}

		a:active{ 
			color: #ffa500; 
		}

		ul{ 
			visibility: hidden; 
			position: absolute; 
			top: 100%; 
			left: 0; 

			li{ 
				font-weight: normal; 
				background: #f6f6f6; 
				color: #000; 
				border-bottom: 1px solid #ccc; 
				float: none; 
				padding-right:10px;

				a{ 
					border-left: none; width: 100%; display: inline-block; 
				} 

			}

			ul{ 
				left: 100%; top: 0; 
			}
		}

		li:hover > ul{ 
			visibility: visible; 
		}
	}

	.headerRowBottom {
    width: 100%;
    clear: both;

    .searchWrap {
      width: 240px;
      height: auto;
      padding: 10px;
      background: #000000;
      position: relative;
      float: left;
      
      .search{
        vertical-align: top;
        font-size: 0;
        white-space: nowrap;
        border: 1px solid #EEE;
        overflow: hidden;
        background-color:#FFF;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -khtml-border-radius: 4px;


        input{
          display: inline;
          height: 23px;
          float: left;
        }

        input[type="image"] {
          vertical-align: top;
          height: 21px;
          width: 21px;
          margin: 0;
          background: #FFFFFF;
          margin: 0;
          padding: 1px;
        }

        input[type="text"]{
          vertical-align: top;
          border: 0;
          width: 153px;
          line-height: 23px;
        }

        input[type="submit"]{
          cursor: pointer;
          vertical-align: top;
          border: 0;
          height: 25px;
          margin: 0;
          float: right;
          background-color: #da9b94;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
          background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
        }
        input[type="submit"]:hover{
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
          background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
        }
      }
    }

    .socialIcons{
      vertical-align: bottom;
      float: right;
      border-left: 2px dotted #000;
      border-right: 2px dotted #000;
      height: 100%;
      padding:12px;
      font-size: 0;

      a{
        display: inline-block;
        font-size: .9em;
        height: 20px;
        width: 20px;
        margin-left: 5px;
        background: url(/media/images/social.png) no-repeat;
      }

      a:first-child{
        margin-left: 0;
      }

      a#email{
        background-position: 1px 3px;
      }
      a#arrow{
        background-position: 2px -16px;
      }
      a#facebook{
        background-position: 0 -38px;
      }
      a#pinterest{
        background-position: 0 -61px;
      }
      a#instagram{
        background-position: 1px -83px;
      }
      a#twitter{
        background-position: 0 -103px;
      }
      a#youtube{
        background-position: 1px -125px;
      }
    }
  }
}


footer{
	clear: both;
	padding: 10px 10%/$doc_width*100;

	.copyright{
		float:left;
		font-size: 12px;
		color: #333;
	}

	.footerMenus{
		float:right;

		ul{
			font-size: 0;
			li{
				*white-space:nowrap;
				display:inline-block;
				zoom: 1;
				*display:inline;
				font-size: 10px;
				padding: 3px 5px;
				border-left:1px solid #DDD;

				a{
					color: #fff;
				}
			}

			li:first-child{
				border-left:none;
			}
		}
	}
}

#sidebar{

	background-color: #FFF;
	display: block;
	width: 40%;/*768/1920*100*/
	height: 100%;
	float: left;
	margin-left: 0.520833333%;/*10/1920*100*/


	#sidebar-nav{
		display:block;
		border-bottom:1px solid #DDD;

		li{
			display:inline-block;
			zoom: 1;
			*display:inline;

			a{
				display:block;
				padding: 8px;
				background-color: #EEEEEE;
				border-right:1px solid #DDD;
				border-top:1px solid #DDD;
				border-left:1px solid #DDD;
				font-size: 14em/$default_font_size;
				color:#333;
			}
			
			a:hover{
				background-color: #CCC;
			}

			a.active{
				margin-bottom:-1px;
				background-color: #FFF;
				border-bottom:1px solid #FFF;
				color: #888;
			}
		}
	}

	#sidebar-form-wrap{
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;

		h3{
			margin: 5px;
		}
		fieldset{
			margin: 5px;
			padding: 5px;
			border: 1px solid #DDD;

			.sidebarInputs{
				width: 50%;
				float:left;
			}

			.sidebarTotals{
				width: 50%;
				float:right;
				margin-top: 10px;
				text-align:right;
			}

			h5 span{
				color:#333;
			}

			label{
				display:block;
				margin-top: 5px;
				color: #333;
				font-size:12em/$default_font_size;
			}

			input[type="text"]{
				width:300%/768*100;
				border: 1px solid #CCC;
				padding: 5px;
				-moz-border-radius: 3px;
				-webkit-border-radius:3px;
				border-radius:3px; /* future proofing */
				-khtml-border-radius:3px; /* for old Konqueror browsers */
			}

		}
	}

	#create-tab-nav{
		border-bottom: 1px solid #DDD;

		ul{
			li{
				display:inline-block;
				zoom: 1;
				*display:inline;
				margin-left:-1px;

				a{
					display:block;
					padding: 6px;
					background-color: #EEEEEE;
					border-right:1px solid #DDD;
					border-top:1px solid #DDD;
					border-left:1px solid #DDD;
					font-size: 13em/$default_font_size;
					color:#333;
				}
				a:hover{
					background-color: #CCC;
				}
			}

			li.activeTab a{
				background-color: #FFFFFF;
			    border-bottom-color: #FFFFFF;
			    border-bottom-style: solid;
			    border-bottom-width: 1px;
			    color: #888888;
			    margin-bottom: -1px;
			}
		}
	}

	#create-tab{
		overflow:hidden;
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		border-bottom: 1px solid #DDD;

		.breadcrumb-wrap{
			margin: 5px;
			.breadcrumb {
				li{
					display: inline-block;
					zoom: 1;
					*display: inline;
					font-size: 12px;
					padding-right: 5px;

					a{
						text-decoration: none;
						color: #000;
						display: block;
						background-color: #DDDDDD;
						padding: 2px 5px;
						border: 1px solid #CCCCCC;
					}

					a:hover{
						background-color: #999999;
						color: #FFF;
					}
				}
			}
		}

		.thumb.categories{

			display: block;
			float: left;
			width: 17.578125%;/*100/768*100*/
			padding: 1px;
			margin: 6px -3px -3px 6px;  
			font-size: 0;
			min-width:76px;
			cursor: pointer;

			img{
				width: 100%;
			}

			span{
				display:block;
				margin-top: 10px;
				font-size:10px;
				text-align:center;
			}
		}

		.thumb.products{
			display: block;
			float: left;
			width: 17.578125%;/*100/768*100*/
			padding: 1px;
			margin: 6px -3px -3px 6px;  
			font-size: 0;
			min-width:76px;

			img{
				width: 100%;
			}

			span {
	            display: block;
	            font-size: 10px;
	            margin-top: 10px;
	            text-align: center;
	            color: #666;
	        }
		}
	}

	#buy-tab{
		border: 1px solid #DDD;
		padding: 10px;

		#buy-table{
			width: 100%;

			thead{

				tr{

					th{
						font-size: 14em/$default_font_size;
						color: #FFF;
						background-color: #333;
						padding: 7px 0;
					}
				}
			}

			tbody{

				tr{

					td{
						text-align: center;	
						padding: 3px 0;
						color: #333;

						.buyItemImg{

							.buyItemMeta{
								color: #333;
								h5{
									font-size: 12em/$default_font_size;
									margin-bottom: 4px;
								}

								p{
									font-size: 11em/$default_font_size;
								}
							}
						}

						input[type="text"]{
							/*width:150%/768*100;*/
							border: 1px solid #CCC;
							padding: 5px;
							-moz-border-radius: 3px;
							-webkit-border-radius:3px;
							border-radius:3px; /* future proofing */
							-khtml-border-radius:3px; /* for old Konqueror browsers */
						}
					}
				}

				tr.odd{
					background-color: #FFF;
				}

				tr.even{
					background-color: #EEE;
				}
			}
		}

		.checkOutWrap{
			text-align: right;
			padding:10px 0;
		}
	}
}

.table {
	.thead {
	    background: #333;
	    color: #FFFFFF;
	    font-size: 0.875em;
	    padding: 7px 0;

	    .tr .th, .tr .td {
		    display: inline-block;
		    text-align: center;
		}
	}
	.tfoot .th{
	    display: inline-block;
	    text-align: center;
	}
	.tbody {
	    overflow: auto;
	    .tr .td{
		    padding: 3px 0;

		    input[type="text"] {
			    border: 1px solid #CCCCCC;
			    border-radius: 3px 3px 3px 3px;
			    padding: 5px;
			}

			h5 {
			    font-size: 0.75em;
			    margin-bottom: 4px;
			}

			p {
			    font-size: 0.688em;
			}
		}
	}

	.span1 {
	    width: 10%;
	}

	.span2 {
	    width: 20%;
	}

	.span3 {
	    width: 30%;
	}

	.span4 {
	    width: 40%;
	}

	.span5 {
	    width: 50%;
	}
}
.buyItemImg{
	img,.buyItemMeta{
	    float: left
	}
	.buyItemMeta {
	    margin-top: 20px;
	    width: 60%;
	    text-align: left;
	}
}
#buy-table td{
    vertical-align: middle;
}

.idecorateTooltip {
    width: 400px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 350px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 500000;

    table {
	    width: 100%;
    	td{
		    vertical-align: top;
		}
	}

	.close {
	    color: #aaa;
	    cursor: pointer;
	    font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
	    font-size: 20px;
	    padding: 3px 10px 2px 8px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    margin-left: 4px;
	}

	.container-tooltip {
	    overflow: hidden;
	    padding-top: 8px;
	}

	ul li{
	    margin-bottom: 4px;
	}
}

.input-error {
    border: 1px solid #ff0000 !important;
}
.hidden {
    visibility: hidden;
}
.categories {
    cursor: pointer;
}
.product-list-wrap {
    height: 100%;
    overflow: auto;
}
.amount {
    text-align: right !important;
    padding-right: 20px !important;
}
.checkOutWrap {
    padding-right: 20px !important;
}

#canvas {
	position: relative;
	overflow: hidden;
	width: 57.96875%;/*1113/1920*100*/
	border: 1px solid #DDD;
	height: 100%;
	float: right;
	margin-right: 0.520833333%;/*10/1920*100*/
	background-color: #FFF;

	.product{
		position: absolute;
		padding: 1px;
		font-size: 0;
		background: url('../images/fake_bg.png') 0 0  repeat;
	}

	.product:hover{
		border:1px solid #DDD;
		margin:-1px 0 0 -1px;
	}

	.neMenus{
		float: right;
		margin-top: 5px;
		margin-right: 5px;
		display: none;
	}

	.neMenus{
		.imgControlWrap {
			.imgControl{
				display: block;
				float: right\9;
				position: relative;
				z-index: 99999;

				li{
					display:block;
					float: left;
				  	background-color: rgba(225, 225, 225, 0.5);
				  	background-color: #EEE\9;

			  		a{
						display: block;
						padding: 8px 10px;
						margin: 5px;
						color: #333;
						font-size: 0.8em;
					}

					a:hover{
						background-color: #C7C6C3;
						color: #000000;
					}
				}
			}
		}

		.imgBgControlWrap{
		 	float: right;
		  	margin-top: 5px;
		  	clear: both\9;
			position: relative;
			z-index: 99999;

			.imgBgControl{
				li{
				  	background-color: rgba(225, 225, 225, 0.5);
				  	background-color: #EEE\9;
				  	padding:5px;

				  	a{
						display: block;
						width: 50px;
						height: 50px;
						border: 1px solid #DDD;
						position: relative;
						z-index: 99999;

						div{
							width: 100%;
							height: 100%;
							background-size:contain;
							background-repeat: no-repeat;
							background-position: center center;
						}
					}

					a#transBg-btn{
						background-image: url('/media/interface/images/transBg.jpg');
						background-repeat: repeat;
					}

					a#customBg-btn div{
						background-image: url('/media/interface/images/customBg.png');
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
				li + li,
				li + li + li{
				  	padding-top:0;

				}
			}
		}
	}

	#lasso {
      position: relative;
      display: none;
      background: none;
      border-width: 1px;
      border-style: dashed;
      z-index: 8001;
    } 
}

#page-mask{
	position:fixed;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background-color:#000;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	z-index:99999;
}
#modal-window{
	border : 5px solid #DDD;
	position: absolute;
	width:500px;
	min-height:400px;
	max-height:700px;
	overflow:hidden;
	background-color:#FFF;
	box-shadow: 0 0 8px #333;
	z-index:99999;
	top:10%;

	h2{
		margin: 0 5px 0 0; 
		padding: 0;
		text-align: right;

		a{
			color: #999;
			font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
		}
		a:hover{
			color: #333;
		}
	}

	#iframe-wrap{
		width: 405px;
		margin: 0 auto;
	}
	iframe{
		width: 402px;
		height: 480px;
	}
}

/*===== jquery UI styles overwrites =====*/

#sidebar .ui-draggable-dragging{
	width: 100px !important;
	z-index: 99;
	box-shadow: -4px 4px 5px #999;
  	border: 1px solid #CCC;
  	background-color: #FFF;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  	filter: alpha(opacity=60);
  	-moz-opacity: 0.6;
  	-khtml-opacity: 0.6;
  	opacity: 0.6;
}
#canvas{
	
	.handles{
		width: 50px;
		height: 50px;
		border: 1px solid #999;
		cursor: move;
		display: none;
		position: absolute;
		z-index: 1000;
		background: url('../images/fake_bg.png') 0 0  repeat;

		.ui-resizable-handle{
			background-color: #CCC;
			border: 1px solid #333;
		}
	}
	.selected{
		/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	  	filter: alpha(opacity=80);*/
	  	-moz-opacity: 0.8;
	  	-khtml-opacity: 0.8;
	  	opacity: 0.8;
	  	z-index: 1;
	}
}

/*=========pagination======*/
.product-list {
    overflow: hidden;
    width: 100%;
    height: 75%;
}
.products {
    border: 1px solid #fff;
}
.products:hover {
    border: 1px solid #ccc;
}
.pagination {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    span{
	    cursor: pointer;
	    margin-right: 5px;
	    padding: 4px 6px;
	}
	span.cur-page{
	    background-color: #ccc;
	    cursor: default;
	    font-weight: bold;            
	    border-radius: 3px;
	    -ms-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;    
	}
}
.product-overlay {
    background: #fff;
    position: absolute;            
}



