/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	//vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* ========================================
	Links
=========================================*/

a, a:hover, a:active { outline: 0; text-decoration: none; text-decoration: none; }

/*=========================================
	Main Styles
=========================================*/
$doc_width 				: 1920;/*px*/
$default_font_size		: 16;/*px*/ 
$grey_ligh_brown		: #C2BDBD;
$grey 					: #666666;
$timenewroman			: Times New Roman,serif;

html{
	height: 100%;
}

body {
	font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 100%;
	background-color: $grey_ligh_brown;
	color: $grey;
	background-color: #FFFFFF;
	overflow:auto;
	*overflow:hidden;
	*min-width:800px;
	height:100%;
}

h1,h2,h3,h4,h5{
	font-weight:normal;
}

h1{ font-size: 28/$default_font_size*100%;}/*28px/16px*100*/
h2{ font-size: 25/$default_font_size*100%;}/*25px/16px*100*/ 
h3{ font-size: 22/$default_font_size*100%;}/*22px/16px*100*/ 
h4{ font-size: 19/$default_font_size*100%;}/*19px/16px*100*/ 
h5{ font-size: 16/$default_font_size*100%;}/*16px/16px*100*/

@media screen and (max-width:800px) {
}

#compact-header{
	width:100%;
    min-width:800px;

	table{
		width: 100%;

		thead.headWrap{
	        background-color: #F0EBE5;

	        tr.headWraptop{
				td{
	        		padding-top:5px;
	        	}

				td#info-menu{
					width: 805%/$doc_width*100;
					padding-left:5px;
				}

		        td#logo{
		        	width: 300%/$doc_width*100;
		        	
		        	a{
		        		display: block;
		        		width: 193px;
		        		height: 43px;
		        	}
		        }

				td#site-menu{
					width: 805%/$doc_width*100;
					padding-right:5px;
		        }
	    	}

	    	tr.headWrapBottom{
	    		td{
	    			padding:5px;

					.searchWrap {
						height: auto;
						padding: 10px;
						background: #000000;
						float: left;

						.search{
							vertical-align: top;
							font-size: 0;
							white-space: nowrap;
							border: 1px solid #EEE;
							overflow: hidden;
							background-color:#FFF;
							-moz-border-radius: 4px;
							-webkit-border-radius: 4px;
							border-radius: 4px;
							-khtml-border-radius: 4px;


							input{
							display: inline;
							height: 23px;
							float: left;
							}

							input[type="image"] {
							vertical-align: top;
							height: 21px;
							width: 21px;
							margin: 0;
							background: #FFFFFF;
							margin: 0;
							padding: 1px;
							}

							input[type="text"]{
							vertical-align: top;
							border: 0;
							width: 153px;
							line-height: 23px;
							}

							input[type="submit"]{
							cursor: pointer;
							vertical-align: top;
							border: 0;
							height: 25px;
							margin: 0;
							float: right;
							background-color: #da9b94;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
							}
							input[type="submit"]:hover{
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
							}
						}
					}

					.socialIcons{
						vertical-align: bottom;
						float: right;
						border-left: 2px dotted #000;
						border-right: 2px dotted #000;
						height: 100%;
						padding:12px;
						font-size: 0;

						a{
						display: inline-block;
						font-size: .9em;
						height: 20px;
						width: 20px;
						margin-left: 5px;
						background: url(/media/images/social.png) no-repeat;
						}

						a:first-child{
						margin-left: 0;
						}

						a#email{
						background-position: 1px 3px;
						}
						a#arrow{
						background-position: 2px -16px;
						}
						a#facebook{
						background-position: 0 -38px;
						}
						a#pinterest{
						background-position: 0 -61px;
						}
						a#instagram{
						background-position: 1px -83px;
						}
						a#twitter{
						background-position: 0 -103px;
						}
						a#youtube{
						background-position: 1px -125px;
						}
					}
	    		}
	    	} 
	    }
	}
}
#styleboard{
    width:100%;
   	border-spacing:5px; 
	border-collapse: separate;
	min-width:800px;
    
    tbody.bodyWrap{
    	tr{

			td#sidebar-wrap{
				width: 40%;

				#sidebar-nav{
					display:block;
					background-color: #FFF;

					li{
						display:block;
						float: left;

						a{
							display:block;
							background-color: #EEEEEE;
							font-size: 14em/$default_font_size;
							color:#000;
							position:relative;
							-webkit-border-top-right-radius: 10px;
							-moz-border-radius-topright: 10px;
							border-top-right-radius: 10px;
							padding: 8px 30px;
							text-transform: uppercase;
						}

						a.active{
							color: #FFF;
						}

						a#createTab{
							z-index: 1;
							border-top:1px solid #99a237;
							border-left:1px solid #99a237;
							border-right:1px solid #99a237;
							*background-color: #c3c97d;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c97d', endColorstr='#98a138',GradientType=0 ); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#c3c97d), to(#98a138)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #c3c97d,  #98a138); /* for firefox 3.6+ */
							background: -o-linear-gradient(top,  #c3c97d,  #98a138);
						}test

						a#createTab:hover{
							*background-color: #727629;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a237', endColorstr='#727629',GradientType=0 ); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#99a237), to(#727629)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #99a237,  #727629); /* for firefox 3.6+ */
							background: -o-linear-gradient(top,  #99a237,  #727629);
						}

						a#createTab.active{
							*background-color: #727629;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a237', endColorstr='#727629'); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#99a237), to(#727629)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #99a237,  #727629); /* for firefox 3.6+ */
							background: -o-linear-gradient(top,  #99a237,  #727629);
						}

						a#buyTab{
							*background-color: #f8e0de;
							border-top:1px solid #FFC5C3;
							border-left:1px solid #FFC5C3;
							border-right:1px solid #FFC5C3;
							padding: 8px 30px 8px 35px;
							margin-left: -10px;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8e0de', endColorstr='#da9b94',GradientType=0 ); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#f8e0de), to(#da9b94)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #f8e0de,  #da9b94); /* for firefox 3.6+ */
							background: -o-linear-gradient(top,  #f8e0de,  #da9b94);
						}

						a#buyTab:hover{
							*background-color: #C7544E;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E',GradientType=0 ); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
							background: -o-linear-gradient(top,  #FFC5C3,  #C7544E);
						}

						a#buyTab.active{
							*background-color: #C7544E;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E',GradientType=0 ); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
							background: -o-linear-gradient(top,  #FFC5C3,  #C7544E);
						}
					}
				}

				#sidebar{
					background-color: #fbf6f0;
					box-shadow:2px 2px 3px #999;

					#sidebar-form-wrap{

						h3{
							margin: 5px;
							position:relative;
							color: #000;
							font-family: Times New Roman,serif;
							font-size: 21px;

							.myorder-edit{
								right: 0;
								top: 3px;
								position:absolute;
								font-size: 12px;

								a{
									color: #000;
								}

								a:hover{
									font-style: italic;
									border-bottom: 1px dotted #000;
								}

								a.hidden{
									display: none;
								}
							}
						}
						fieldset{
							margin: 5px;
							padding: 5px;
							border-top: 2px dotted #000;

							.sidebarInputs{
								width: 50%;
								float:left;

								label{
									display:block;
									margin-top: 5px;
									color: #666;
									font-size:17em/$default_font_size;
								}

								input[type="text"]{
									width:40%;
									border: 1px solid #CCC;
									padding: 5px;
									-moz-border-radius: 3px;
									-webkit-border-radius:3px;
									border-radius:3px; /* future proofing */
									-khtml-border-radius:3px; /* for old Konqueror browsers */
								}
							}

							.sidebarTotals{
								width: 50%;
								float:right;
								margin-top: 10px;
								text-align:right;

								h5 {
									color:#000;
									span{
										font-weight: bold;
									}
								}
							}
						}
					}

					#create-tab{
						background-color:#f0ebe5;

						#create-tab-nav{
							border-bottom: 2px dotted #000;
							margin: 0 5px;

							ul{
								padding:0;
								margin: 0;

								li{
									display:inline;
									color:#000;
									vertical-align: middle;

									a{	
										font-size: 14em/$default_font_size;
										margin: 7px 0;
										color: #333;
										font-family: Times New Roman,serif;
										display: inline-block;
										*display: inline;
										zoom:1;
										border-bottom:1px solid #f0ebe5;
									}
									a:hover{
										color:#000;
									}
								}

								li.activeTab a{
									color:#000;
									border-bottom:1px dotted #000;
								}
							}
						}

						.breadcrumb-wrap{
							.breadcrumb {
								margin: 5px;

								li{
									display: inline-block;
									zoom: 1;
									*display: inline;
									font-size: 12px;
									padding-right: 5px;

									a{
										text-decoration: none;
										color: #000;
										display: block;
										background-color: #DDDDDD;
										padding: 2px 5px;
										border: 1px solid #CCCCCC;
									}

									a:hover{
										background-color: #999999;
										color: #FFF;
									}
								}
							}
						}
						.category-wrap{
							overflow: auto;

							.thumb.categories{
								background-color:#FFF;
								display: block;
								float: left;
								width: 140%/768*100;
								outline:1px solid #CCC;
								margin: 6px 0 0 6px;  
								font-size: 0;
								min-width:76px;
								cursor: pointer;

								img{
									width: 100%;
								}

								span{
									display:block;
									margin: 10px 0 5px 0;
									font-size:10px;
									text-align:center;
								}
							}
						}
						
						.thumb.categories:hover{
							outline:2px solid #333;
						}

						.product-list-wrap{

							.product-list{
								overflow: hidden;

								.thumb.products{
									background-color:#FFF;
									display: block;
									float: left;
									width: 140%/768*100;
									border:1px solid #CCC;
									padding: 1px;
									margin: 6px 0 0 6px;  
									font-size: 0;
									min-width:76px;

									img{
										width: 100%;
									}

									span {
							            display: block;
							            font-size: 10px;
										margin: 10px 0 5px 0;
							            text-align: center;
							            color: #666;
							        }
								}

								.thumb.products:hover{
									border:2px solid #333;
									margin: 5px -1px -1px 5px;
								}
							}
						}
						.pagination {
								display: none;
							    text-align: center;
							    padding: 5px 0;
							    font-size: 0;
							    height: 20px;

							    span{
							    	font-size: 12px;
							    	display: inline-block;
							    	zoom:1;
							    	*display:inline;
								    cursor: pointer;
								    padding: 4px 6px;
								}

								span.cur-page{
								    background-color: #ccc;
								    cursor: default;
								    font-weight: bold;            
								    border-radius: 3px;
								    -ms-border-radius: 3px;
								    -moz-border-radius: 3px;
								    -webkit-border-radius: 3px;    
								}
							}

						#embellishments{
							overflow: auto;
							.formWrap{
								margin: 10px;
								#upload-embel{
									fieldset{
										border: 1px solid #000;
										padding: 5px 5px 8px 5px;
										legend{
											margin: 0 10px;
											color: #000;
											font-family: $timenewroman;
										}
									}
								}
							}
							#embelishments-list-wrap{
								a.em{
									display: block;
									float: left;
									width: 140%/768*100;
									margin: 6px 0 0 6px;  
									font-size: 0;
									min-width:76px;

									img{
										width: 100%;
										outline:1px solid #CCC;
									}

									span {
							            display: block;
							            font-size: 10px;
										margin: 10px 0 5px 0;
							            text-align: center;
							            color: #666;
							        }
								}

								a.em:hover{
									img{
										outline:2px solid #000;
									}
								}
							}
						}
					}
					
					#buy-tab{
						background-color:#f0ebe5;

						.buyTableWrap{

							.table{

								.thead{
									margin: 0 5px;
									padding: 7px 0;
									color: #000;
									font-family: Times New Roman,serif;
									border-bottom: 2px dotted #000;

									table{
										tr{
											th{
												width: 40%;
												text-align: center;
											}

											th + th{
												width: 20%;
											}

											th + th + th{
												width: 40%;
											}
										}
									}
								}

								.tbody{
									margin: 0 5px;
									overflow: auto;
									table{
										width: 100%;
										tr{
											td{
												color: #000;
												width: 40%;
												text-align: left;
												padding: 4px 0;

												.buyItemImg{
													div{
														vertical-align: top;
														display: inline-block;
														*display:inline;
														zoom: 1;
														img{
															outline: 1px solid #CCC;
														}
													}

													.buyItemMeta{
														padding:0 3px;
														p{
															text-align: left;
															font-size: 14px;
															color: #C7544E;
															padding:2px 0;
														}

														p + p{
															color: #000;
														}
													}
												}	
											}

											td + td{
												width: 20%;
												min-width: 50px;
												text-align: center;

												input{
													width: 80%;
													border: 1px solid #CCC;
													padding: 5px;
													-moz-border-radius: 3px;
													-webkit-border-radius:3px;
													border-radius:3px; /* future proofing */
													-khtml-border-radius:3px; /* for old Konqueror browsers */
												}

												input.input-error{
													border: 1px solid red;
												}
											}

											td + td + td{
												width: 40%;
												text-align: center;
											}
										}
									}
								}

								.tfoot{
									border-top: 2px dotted #000;
									margin: 0 5px;
									padding: 5px 0;

									table{
										tr{
											th{
												text-align: right;
												color: #000;
												span{
													font-weight: bold;
												}
											}
										}
									}
								}
							}
						}

						.checkOutWrap{
							padding:10px 5px;
							text-align: right;

							input{
								height: 30px;
								-webkit-border-radius: 3px;
								-moz-border-radius: 3px;
								border-radius: 3px;
							}

							input#check-button{
							cursor: pointer;
							vertical-align: top;
							border: 0;
							margin: 0;
							background-color: #da9b94;
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94'); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#da9b94)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #FFFFFF,  #da9b94); /* for firefox 3.6+ */
							border:1px solid #FFC5C3;
							}
							input#check-button:hover{
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E'); /* for IE */
							background: -webkit-gradient(linear, left top, left bottom, from(#FFC5C3), to(#C7544E)); /* for webkit browsers */
							background: -moz-linear-gradient(top,  #FFC5C3,  #C7544E); /* for firefox 3.6+ */
							}
						}
					}
				}
			}

			td#canvas-wrap{
				width: 60%;

				#canvas {
					position: relative;
					overflow: hidden;
					border: 1px solid #FFF;
					background-color: #FFF;

					.product{
						position: absolute;
						font-size: 0;
						background: url('../images/fake_bg.png') 0 0  repeat;
					}

					.product:hover{
						outline:1px solid #DDD;
					}

					.neMenus{
						float: right;
						margin-top: 5px;
						margin-right: 5px;
						display: none;

						.imgControlWrap {
							.imgControl{
								display: block;
								float: right\9;
								position: relative;
								padding:0;
								z-index: 99999;

								li{
									display:block;
									float: left;
								  	background-color: rgba(225, 225, 225, 0.5);
								  	background-color: #EEE\9;

							  		a{
										display: block;
										padding: 8px 10px;
										margin: 5px;
										color: #333;
										font-size: 0.8em;
									}

									a:hover{
										background-color: #C7C6C3;
										color: #000000;
									}
								}
							}
						}

						.imgBgControlWrap{
						 	float: right;
						  	margin-top: 5px;
						  	clear: both\9;
							position: relative;
							z-index: 99999;
							padding:0;

							.imgBgControl{
								li{
								  	background-color: rgba(225, 225, 225, 0.5);
								  	background-color: #EEE\9;
								  	padding:5px;

								  	a{
										display: block;
										width: 50px;
										height: 50px;
										border: 1px solid #DDD;
										position: relative;
										z-index: 99999;

										div{
											width: 100%;
											height: 100%;
											background-size:contain;
											background-repeat: no-repeat;
											background-position: center center;
										}
									}

									a#transBg-btn{
										background-image: url('/media/interface/images/transBg.jpg');
										background-repeat: repeat;
									}

									a#customBg-btn div{
										background-image: url('/media/interface/images/customBg.png');
										background-repeat: no-repeat;
										background-position: center center;
									}
								}
								li + li,
								li + li + li{
								  	padding-top:0;

								}
							}
						}
					}

					#lasso {
				      position: relative;
				      display: none;
				      background: none;
				      border-width: 1px;
				      border-style: dashed;
				      z-index: 8001;
				    } 
				}
				#canvas:hover{
					border:1px solid #EEE;
				}
			}
		}
    }
}
#compact-footer{
	width:100%;
    min-width:800px;
    background-color: #000;
    margin-top: 5px;

	table{
		width: 100%;

		tfoot.footWrap{
	    	tr{
	    		td{
	    			padding:5px;

	    			.copyright{
						float:left;
						font-size: 12px;
						color: #FFF;
						line-height: 16px;
					}

					.footerMenus{
						float:right;

						ul{
							font-size: 0;
							li{
								*white-space:nowrap;
								display:inline-block;
								zoom: 1;
								*display:inline;
								font-size: 10px;
								padding: 3px 5px;
								border-left:1px solid #DDD;

								a{
									color: #FFF;
								}
							}

							li:first-child{
								border-left:none;
							}
						}
					}
	    		}
	    	}
	    }
	}
}

#page-mask{
	position:fixed;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background-color:#000;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	z-index:99999;
}
#modal-window{
	border : 5px solid #DDD;
	position: absolute;
	width:500px;
	min-height:400px;
	max-height:700px;
	overflow:hidden;
	background-color:#FFF;
	box-shadow: 0 0 8px #333;
	z-index:99999;
	top:10%;

	h2{
		margin: 0 5px 0 0; 
		padding: 0;
		text-align: right;

		a{
			color: #999;
			font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
		}
		a:hover{
			color: #333;
		}
	}

	#iframe-wrap{
		width: 405px;
		margin: 0 auto;
	}
	iframe{
		width: 402px;
		height: 480px;
	}
}

.idecorateTooltip {
    width: 400px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 350px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 500000;

    table {
	    width: 100%;
    	td{
		    vertical-align: top;
		    font-size: 12px;
		    color: #333;
		    
		    img{
		    	border:1px solid #EEE;
		    }
		}
	}

	.close {
	    color: #aaa;
	    cursor: pointer;
	    font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
	    font-size: 20px;
	    padding: 3px 10px 2px 8px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    margin-left: 4px;
	}

	.container-tooltip {
	    overflow: hidden;
	    padding-top: 8px;
	}

	ul li{
	    margin-bottom: 4px;
	}
}

/*===== jquery UI styles overwrites =====*/

#sidebar .ui-draggable-dragging{
	width: 100px !important;
	z-index: 99;
	box-shadow: -2px 0 5px #999;
  	border: 1px solid #CCC;
  	background-color: #FFF;
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  	filter: alpha(opacity=60);
  	-moz-opacity: 0.6;
  	-khtml-opacity: 0.6;
  	opacity: 0.6;
  	outline: none !important;
}

#canvas{
	.handles{
		width: 50px;
		height: 50px;
		border: 1px solid #999;
		cursor: move;
		display: none;
		position: absolute;
		z-index: 1000;
		background: url('../images/fake_bg.png') 0 0  repeat;

		.ui-resizable-handle{
			background-color: #CCC;
			border: 1px solid #333;
		}
		.ui-rotatable-handle{
			position: absolute;
			width: 1px;
			background-color: #666;
			height: 30px;
			top: -30px;
			left: 50%;
			z-index: 1000;

			.ui-rotatable-handle-tip {
				background: #CCC;
				border: 1px solid #333;
				border-radius: 4px;
				-moz-border-radius: 4px;
				-o-border-radius: 4px;
				-webkit-border-radius: 4px;
				cursor: pointer;
				height: 9px;
				width: 9px;
				margin-left: -5px;
			}
		}

		.ui-rotatable-handle.ui-draggable-dragging {
			visibility:  hidden;
		}
		
		
		.selected{
			/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		  	filter: alpha(opacity=80);*/
		  	-moz-opacity: 0.8;
		  	-khtml-opacity: 0.8;
		  	opacity: 0.8;
		  	z-index: 1;
		}
	}
}


.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}
.ui-widget {
	font-size: 12px !important;
}

.hidden{
	visibility:hidden;
}

#site-menu {
  float: right;
  vertical-align: top;
  text-align: left;
    ul {
      padding: 2px 10px;
      margin-right: 15px;
      background: #99a237;
      text-align: center;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -khtml-border-radius: 4px;
      font-size: 14px;

      li span {
      	font-size: 14px;
      }

    }

}

#info-menu {
  vertical-align: top; 

  a {
    text-decoration: none;
    color: #333333;
    font-size: 0.9em; 
  }

  span {
    text-decoration: none;
    color: #333333;
    font-size: 0.9em; 
  }

}