aside, section {
  display: block;
  float: left !important;
}

aside {
  width: 31%;

  h1 {
    width: 98%;
    font-weight: bold;
    margin-top: 25px;
    padding: 10px 0 10px 5px;
  }

  .memberName {
    width: 98%;
    font-size: 1em;
    padding: 10px 0 10px 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    table {
      width: 98%;

      img {
        margin: 5px 0 0 0;
        float: left;
      }

      span {
        padding-top: 10px;
        float: left;
      }

      a {
        float: left;
        padding-top: 10px;
        text-decoration: underline;
        font-weight: bold;
        color: #0000FF;
      }

      .personalize {
        width: auto;
        height: auto;
        padding: 3px 5px;
        margin: 5px 0 0 0;
        *margin: 5px 0 0 65px;
        color: #FFFFFF;
        text-decoration: none;
        cursor: pointer;
        float: right;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#333333'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#333333)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #CCCCCC,  #333333); /* for firefox 3.6+ */
        background: -o-linear-gradient(top,  #CCCCCC,  #333333);
      }
    }

  }

  .socialMedia {
    width: 100%;
    text-align: center;
    padding: 5px 0;

    .facebookShare, .tumblerShare, .twitterShare, .pinterestShare, .googleShare, .email {
      width: auto;
      float: left;
      padding: 3px 0 0 3px;
      position: relative;
      z-index: 500;
    }
    .tumblrShareIE {
      width: 20px;
      height: 20px;
      overflow: hidden;
    }
    .facebookShare{
     margin-left: 20px;
     cursor: pointer;
    }
    .pinterestShare {
      margin-top: 0 !important;
    }
    .email {
      img {
        height: 20px;
      }
    }
  }

  .styleboardDesc {
    width: 90%;
    height: auto;
    padding: 15px;

    p {
      margin: 10px 0;
    }
  }

  h2 {
    width: 98%;
    font-weight: bold;
    padding: 10px 0 0 5px;
    text-align: left !important;
  }
  
  form {

    div {
      padding: 10px 0;

      table {
        width: 100%;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;

        tbody {

          tr {

            .productTD {
              padding: 10px 0;
              vertical-align: middle !important;

              img {
                width: 70px;
              }

              P {
                max-width: 120px;
                margin: 5px 0;
                text-align: left;

              }

            }

          }

        }

      }
    
    }

    .total {
      width: 99%%%%;
      text-align: right;
    }

    .buyItem {
      margin: 10px 0;
      padding: 5px;
      cursor: pointer;
      float: right;
      color: #FFFFFF;
      background-color: #000000;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#000000'); /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#000000)); /* for webkit browsers */
      background: -moz-linear-gradient(top,  #999999,  #000000); /* for firefox 3.6+ */
      border:1px solid #666666;
    }

    .buyItem:hover {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#333333'); /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#333333)); /* for webkit browsers */
      background: -moz-linear-gradient(top,  #CCCCCC,  #333333); /* for firefox 3.6+ */
    }

  }

}

section {
  width: 68%;
  height: auto;
  margin-left: 10px;

  .canvass {
    width: 680px;
    height: 500px;
    background: #ffffff;

  }

  .socialMediaWrapper {
    width: 100%;
    
    .socialMedia {
      width: 280px;
      height: 28px;
      float: right;
      text-align: center;
      margin: 10px 10px 10px 0;

      .facebookShare, .tumblerShare, .twitterShare, .pinterestShare, .googleShare, .email {
        width: auto;
        float: left;
        padding: 0 0 0 3px;
        position: relative;
        z-index: 500;
        
      }
      .facebookShare{
       margin-left: 20px;
       cursor: pointer;
      }
      .tumblrShareIE {
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
      .pinterestShare {
        margin-top: 0 !important;
      }
      .email {
        img {
          height: 20px;
        }
      }
    }
  }

  h2 {
    width: 98%;
    height: auto;
    padding: 0 0 5px 0;
    border-bottom: 1px solid;
  }

  .commentsBlock {
    min-height: 350px;
  }
}