$greyBrownLight: #C2BDBD;
$grey : #666666;

$margin15: 15px;

$padding15: 15px;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* ========================================
	Links
=========================================*/

a:hover, a:active { outline: 0; }

/*=========================================
	Main Styles
=========================================*/
body {
	font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 12px;
	background-color: $greyBrownLight;
	color: $grey;
}

#main-container{
	width: 100%;
	min-width:800px;
	background-color: #FFFFFF;
	padding:$padding15 0;
}

h1,h2,h3,h4,h5{
	font-weight:normal;
}

h1{ font-size: 2em;}
h2{ font-size: 1.7em;} 
h3{ font-size: 1.5em;} 
h4{ font-size: 1.3em;} 
h5{ font-size: 1em;}

#header{
	margin-bottom:15px;
	padding:0 15px;
	border-bottom:1px solid #EEEEEE;
	position:relative;
	min-height:60px;


	.headerColumn{
		vertical-align:top;

		a{
			text-decoration:none;
			color: #333333;
			font-size:1.2em;
		}
	}

	#info-menu,#site-menu,#logo{
		float: left;
	}

	#info-menu,#site-menu{
		width:40%;
	}

	#logo{
		width:20%;
		h1,h3{
			text-align:center;
		}
	}

	#site-menu{
		vertical-align:top;
		text-align:left;
		ul{
			float:right;
		}
	}
}

/* 
	LEVEL ONE
*/
ul.dropdown{ 
	position: relative; 
	margin-bottom:5px;


	li{ 
		display: inline-block; 
		border-left: 1px solid #999999;
		*float:left;

		a{ 
			display: block; 
			padding: 4px 10px; 
			color: #222; 
			white-space:nowrap;
		}
	}

	li.nonLink{
		font-size:1.2em;
		line-height:22px;
		padding:0 10px;
	}

	li.nonLink:hover,
	li.nonLink.hover{
		background:none !important;
		color:#666666;
	}

	li:first-child{ 
		border-left: none; 
	} /* Doesn't work in IE */

	li.hover,
	li:hover{ 
		background: #F3D673; 
		color: black; 
		position: relative; 
	}

	li.hover a{ 
		color: black; 
	}

	a:hover{ 
		color: #000; 
	}

	a:active{ 
		color: #ffa500; 
	}

	/* 
	LEVEL TWO
	*/
	ul{ 
		visibility: hidden; 
		position: absolute; 
		top: 100%; 
		left: 0; 

		li{ 
			font-weight: normal; 
			background: #f6f6f6; 
			color: #000; 
			border-bottom: 1px solid #ccc; 
			float: none; 
			padding-right:10px;

			a{ 
				border-left: none; width: 100%; display: inline-block; 
			} 

		}/* IE 6 & 7 Needs Inline Block */

		/* 
			LEVEL THREE
		*/
		ul{ 
			left: 100%; top: 0; 
		}
	}

	li:hover > ul{ 
		visibility: visible; 
	}
}


footer{
	
	margin-top:15px;
	border-top: 1px solid #EEEEEE;
	padding: $padding15 15px;

	.copyright{
		float:left;
	}
	.footerMenus{
		float:right;
		ul{

			li{
				padding:2px 5px;
				display:inline-block;
				zoom:1;
				*display:inline;
				border-left:1px solid #CCCCCC;
				a{
					text-decoration: none;
					color:#333333;
					font-size:1.1em;
				}
			}

			li:first-child{
				border-left:none;
			}
		}
	}
}

#sidebar{
	width:40%;
	min-width:300px;
	height:700px;
	float:left;

	#thumb-container{
		border:1px solid #DDDDDD;

		.thumb{
			float:left;
			width:100px;
			height:100px;
			border:1px solid #EEEEEE;
		}
	}
}



