html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* ========================================
	Links
=========================================*/

a:hover, a:active { outline: 0; }

/*=========================================
	Main Styles
=========================================*/
$doc_width 				: 1920;/*px*/
$default_font_size		: 16;/*px*/ 
$margin_15				: 15;/*px*/
$padding_15				: 15;/*px*/
$grey_ligh_brown		: #C2BDBD;
$grey 					: #666666;

body {
	font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 100%;
	background-color: $grey_ligh_brown;
	color: $grey;
}

#main-container{
	width: 100%;
	min-width: 800px;
	background-color: #FFFFFF;
}

h1,h2,h3,h4,h5{
	font-weight:normal;
}

h1{ font-size: 28/$default_font_size*100%;}/*28px/16px*100*/
h2{ font-size: 25/$default_font_size*100%;}/*25px/16px*100*/ 
h3{ font-size: 22/$default_font_size*100%;}/*22px/16px*100*/ 
h4{ font-size: 19/$default_font_size*100%;}/*19px/16px*100*/ 
h5{ font-size: 16/$default_font_size*100%;}/*16px/16px*100*/

#header{
	margin-bottom:15em/$default_font_size;
	border-bottom:1px solid #EEEEEE;
	min-height:100%;
	padding: 15em/$default_font_size 0;


	.headerColumn{
		vertical-align:top;

		a{
			text-decoration:none;
			color: #333333;
		}
	}

	#info-menu,#site-menu,#logo{
		float: left;
	}

	#info-menu,#site-menu{
		width:753/$doc_width*100%;
	}

	#info-menu{
		margin-left:15/$doc_width*100%;
	}

	#logo{
		width:384/$doc_width*100%;
		h1,h3{
			text-align:center;
		}
	}

	#site-menu{
		margin-right:15/$doc_width*100%;
		vertical-align:top;
		text-align:left;
		ul{
			float:right;
		}
	}
}

@media screen and (max-width:800px) {
    #info-menu,#site-menu,#logo{
		float: none;
		margin: 0;
		width:100% !important;
		text-align:center !important;
		margin-bottom:10em/$default_font_size;/*22px/16px*/

		ul{
			float:none !important;
		}
	}

	#site-menu{
		margin-bottom:0 !important;
	}
}

/* 
	LEVEL ONE
*/
ul.dropdown{ 
	position: relative; 
	margin-bottom:15em/$default_font_size;/*22px/16px*/


	li{ 
		display: inline-block; 
		border-left: 1px solid #999999;
		*float:left;

		a{ 
			display: block; 
			padding: 3em/$default_font_size 8em/$default_font_size; 
			color: #222; 
			white-space:nowrap;
			font-size: 14em/$default_font_size;/*22px/16px*/
		}
	}

	li.nonLink{
		font-size: 14em/$default_font_size;/*22px/16px*/
		line-height: 22em/$default_font_size;/*22px/16px*/
		padding: 0 8em/$default_font_size;
	}

	li.nonLink:hover,
	li.nonLink.hover{
		background:none !important;
		color:#666666;
	}

	li:first-child{ 
		border-left: none; 
	} 

	li.hover,
	li:hover{ 
		background: #F3D673; 
		color: black; 
		position: relative; 
	}

	li.hover a{ 
		color: black; 
	}

	a:hover{ 
		color: #000; 
	}

	a:active{ 
		color: #ffa500; 
	}

	/* 
	LEVEL TWO
	*/
	ul{ 
		visibility: hidden; 
		position: absolute; 
		top: 100%; 
		left: 0; 

		li{ 
			font-weight: normal; 
			background: #f6f6f6; 
			color: #000; 
			border-bottom: 1px solid #ccc; 
			float: none; 
			padding-right:10em/$default_font_size;/*22px/16px*/

			a{ 
				border-left: none; width: 100%; display: inline-block; 
			} 

		}/* IE 6 & 7 Needs Inline Block */

		/* 
			LEVEL THREE
		*/
		ul{ 
			left: 100%; top: 0; 
		}
	}

	li:hover > ul{ 
		visibility: visible; 
	}
}


footer{
	
	margin-top:15em/$default_font_size;
	border-top: 1px solid #EEEEEE;
	padding: 15em/$default_font_size 15/$doc_width*100%;

	.copyright{
		float:left;
		font-size: 12em/$default_font_size;
	}
	.footerMenus{
		float:right;
		ul{
			li{
				padding:1em/$default_font_size 5em/$default_font_size;
				display:inline-block;
				zoom:1;
				*display:inline;
				border-left:1px solid #CCCCCC;
				a{	
					display:block;
					text-decoration: none;
					color:#333333;
					font-size: 10em/$default_font_size;
				}
			}

			li:first-child{
				border-left:none;
			}
		}
	}
}

#sidebar{
	width:768%/$doc_width*100;
	height:670px;
	float:left;
	border:1px solid #DDDDDD;
	margin-left: 15%/$doc_width*100;
	position:relative;
	margin-top: 30px;

	.breadcrumb {
		margin-left: 5px;
		margin-bottom: 10px;

		li{
		  display: inline-block;
		  font-size: 12px;
		  padding-right: 5px;
		}
	}

	#sidebar-nav{
		position:absolute;
		top: -31px;
		left: -1px;

		li{
			display:inline;

			a{
				margin-right:2px;
				float:left;
				display:block;
				text-decoration: none;
				height:30px;
				background-color: #CCCCCC;
				font-size: 13em/$default_font_size;
				line-height: 30px;
				padding: 0 20em/$default_font_size;
				color: #FFF;
				border-left: 1px solid #999999;
				border-top: 1px solid #999999;
				border-right: 1px solid #999999;
				-moz-border-radius:  5px 5px 0 0;
				-webkit-border-radius:  5px 5px 0 0;
				border-radius:  5px 5px 0 0; /* future proofing */
				-khtml-border-radius:  5px 5px 0 0; /* for old Konqueror browsers */
				text-shadow: 0 1px #999999;
			}

			a:hover{
				background-color: #999999;
			}
		}

		li.active a{
			background-color: #999999;
		}
	}

	#sidebar-form-wrap{
		border: 1px solid #EEE;
		margin: 10px 5px;
		padding: 10px 10em/$default_font_size;

		.sidebarInputs{
			width: 50%;
			float:left;
		}

		.sidebarTotals{
			width: 50%;
			float:right;
			margin-top: 10px;
			text-align:right;
		}

		h3{
			margin-bottom: 10px;
			border-bottom: 1px solid #EEE;
			padding: 5px 0;
		}

		h5{

			span{
				color:#333;
			}
		}

		label{
			display:block;
			margin-top: 5px;
			color: #333;
			font-size:12em/$default_font_size;
		}

		input[type="text"]{
			width:200%/768*100;
			border: 1px solid #CCC;
			padding: 5px;
			-moz-border-radius: 3px;
			-webkit-border-radius:3px;
			border-radius:3px; /* future proofing */
			-khtml-border-radius:3px; /* for old Konqueror browsers */
		}
	}

	#create-tab{

		.thumb{
			float:left;
			width:121%/768*100;
			margin-left:3.5%/768*100;
			min-width:76px;
			margin-bottom:5em/$default_font_size;

			img{
				width:100%;
			}

			span{
				color: #0096ff;
				margin-top:10em/$default_font_size;
				display:block;
				width:100%;
				font-size: 11em/$default_font_size;
				text-align:center;
			}
		}
	}

	.overflowY{
		height: 517px;
		overflow: auto;
		*overflow-x:hidden;
	}

	#buy-tab{

		.overflowY{
			height: 450px;
		}

		#buy-table{
			width:750%/768*100;
			margin: 10px auto;

			thead{
				border-bottom: medium double #DDD;

				th{
					padding: 5px 0;
					font-size: 14em/$default_font_size;
					color: #333;
				}

				th:first-child{
					width:400%/768*100;
				}

				th:first-child + th{
					width:150%/768*100;
				}

				th:first-child + th + th{
					width:200%/768*100;
				}
			}


			tbody{

				tr.odd{
					background-color: #FFF;
				}
				tr.even{
					background-color: #EEE;

					.buyItemImg{
						border: 1px solid #DDD;
					}
				}

				td{
					text-align:center;
					font-size: 12em/$default_font_size;
					vertical-align:middle;
				}

				.buyItemImg{
					border: 1px solid #EEE;
					width:120%/400*100;
					line-height:120%/400*100;
					position: relative;
					margin: 5px 10%/400*100;;

					img{
						width:100%;
					}

					.buyItemMeta{
						position:absolute;
						left: 110%;
						top: 0;


						h5{
							color: #0096ff;
							white-space: nowrap;
							font-size:18em/$default_font_size;
							line-height: 35em/$default_font_size;
						}
						p{	
							white-space: nowrap;
							font-size:15em/$default_font_size;
						}
					}
				}

				input[type="text"]{
					width:200%/768*100;
					border: 1px solid #CCC;
					padding: 5px;
					-moz-border-radius: 3px;
					-webkit-border-radius:3px;
					border-radius:3px; /* future proofing */
					-khtml-border-radius:3px; /* for old Konqueror browsers */
				}	
			}
			

			tfoot{
				border-top: medium double #DDD;

				td{
					padding:5px 0;
					color:#333;
					font-size:15em/$default_font_size;
					text-align: center;
				}

				td[colspan="2"]{
					text-align:right;
				}
			}
		}

		.checkOutWrap{
			text-align:right;
			padding: 15%/768*100;
			width:720%/768*100;
			margin: 10px auto;
		}
	}
}

#canvas-wrap{
	float:right;
	border:1px solid #DDDDDD;
	width:1100%/$doc_width*100;
	height:700px;
	margin-right: 15%/$doc_width*100;
	overflow: hidden;
	position: relative;


    /*.handles{
        border: 1px solid #999;
        position:absolute;
        display:none;
    }
	*/

	.product{
		position: absolute;
        overflow:   visible !important;

	}

    .ui-wrapper {
        overflow:   visible !important;
        border:        1px solid #999;
    }
        
    .ui-resizable-handle {
        background:    #EEE;
        border:        1px solid #333;
        z-index:    2;
        width: 8px;
        height: 8px;
    }
        
       
    .ui-rotatable-handle.clone {
        visibility:  hidden;}

    .ui-rotatable-handle-wrap{
        position: absolute;
        width: 1px;
        height: 25px;
        left: 50%;
        position: absolute;
        top: -25px;
        background-color: #999; 
    }
    .ui-rotatable-handle {
        background:    #EEE;
        border:        1px solid #333;
        border-radius: 5px;
        -moz-border-radius:    5px;
        -o-border-radius:      5px;
        -webkit-border-radius: 5px;
        cursor: url("http://akwww.polyvorecdn.com/rsrc/img/rotate_arrow.cur") 13 4, crosshair; 
        margin-left: -5px;
        height:        9px;
        width:         9px;
    }
     

}



