{% load i18n idecorate_interface static%}
<div class="footerNavigation">
	<ul class="footerMenu">
		<li><a href="#">Design &amp; Buy</a></li>
		<li><a href="#">General</a></li>
		<li><a href="#">Legal Info</a></li>
		<li><a href="#">My Account</a></li>
	</ul>
	<ul class="footerSocial">
		<li>
			<a href="#">
				<img class="socialIcon facebook" alt="Facebook" src="{% static 'images/img_trans.gif' %}">
			</a>
		</li>
		<li>
			<a href="#">
				<img class="socialIcon gPlus" alt="Google Plus" src="{% static 'images/img_trans.gif' %}">
			</a>
		</li>
		<li>
			<a href="#">
				<img class="socialIcon twitter" alt="Twitter" src="{% static 'images/img_trans.gif' %}">
			</a>
		</li>
		<li>
			<a href="#">
				<img class="socialIcon pinterest" alt="Pinterest" src="{% static 'images/img_trans.gif' %}">
			</a>
		</li>
		<li>
			<a href="#">
				<img class="socialIcon tumbler" alt="Tumbler" src="{% static 'images/img_trans.gif' %}">
			</a>
		</li>
		<li>
			<a href="#">
				<img class="socialIcon youtube" alt="Youtube" src="{% static 'images/img_trans.gif' %}">
			</a>
		</li>
		<li>
			<a href="#">
				<img class="socialIcon instagram" alt="Instagram" src="{% static 'images/img_trans.gif' %}">
			</a>
		</li>
	</ul>
</div>
<div class="backToTopWrapper">
	<a id="back_to_top" href="#header">
		<img src="{% static 'images/img_trans.gif' %}">
		<h1>back</h1>
		<h2>to top</h2>
	</a>
</div>