{% load i18n idecorate_interface %}
<div class="clearfix footerMenu">
	<div>
		<h3>ABOUT US</h3>
		<ul>
			<li>
				<a href="">About iDECORATE</a>
			</li>
			<li>
				<a href="">Contact Us</a>
			</li>
			<li>
				<a href="">Help</a>
			</li>
		</ul>
	</div>
	<div>
		<h3>BROWSE</h3>
		{% include 'sidebar.html' %}
	</div>
	<div>
		<h3>CREATE</h3>
		<ul>
			<li><a href="http://{{ request|get_host }}/styleboard">Create a Style Board</a></li>
		</ul>
		<h3>INTERACTIVE</h3>
		<ul>
			<li><a href="">Keep</a></li>
			<li><a href="">Share</a></li>
			<li><a href="">Buy</a></li>
			<li><a href="">Create</a></li>
		</ul>
	</div>
	<div>
		<h3>FOLLOW US</h3>
		<ul>
			<li class="socialIcons">
				<a href="mailto:shana@idecorateweddings.com" id="email"></a>
				<a href="" id="google-plus"></a>
				<a href="" id="tumblr"></a>
				<a href="https://www.facebook.com/iDecorateweddings" id="facebook"></a>
				<a href="http://pinterest.com/idecorateltd/" id="pinterest"></a>
				<a href="http://web.stagram.com/n/idecorateweddings/" id="instagram"></a>
				<a href="https://twitter.com/idecorateltd" id="twitter"></a>
				<a href="http://www.youtube.com/idecorateweddings" id="youtube"></a>
			</li>
		</ul>
	</div>
</div>

<!--
<div class="copyright">{{ "footer"|get_interface_info }}</div>
<div class="footerMenus">
	<ul>
		{{ "footer_menu"|get_interface_info }}
	</ul>
</div>
-->