{% load i18n idecorate_interface %}
<div class="clearfix imageBorder">
	<img src="/media/images/border.jpg" />
</div>
<div class="clearfix footerMenu">
	<div>
		<h3>ABOUT US</h3>
		{{ "fat_footer"|get_interface_info }}		
	</div>
	<div>
		<h3>BROWSE</h3>
		{{ None|get_parent_category }}
	</div>
	<div>
		<h3>CREATE</h3>
		<ul>
			<li><a href="{% url styleboard %}">Create a Style Board</a></li>
		</ul>
		<!--
		<h3>INTERACTIVE</h3>
		<ul>
			<li><a href="">Keep</a></li>
			<li><a href="">Share</a></li>
			<li><a href="">Buy</a></li>
			<li><a href="">Create</a></li>
		</ul>
		-->
	</div>
	<div class="socialWrapper" style="width: 295px;">
		<h3>FOLLOW US</h3>
		<ul>
			<li class="socialIcons">
				<a href="mailto:shana@idecorateweddings.com" id="email" target="_blank"></a>
				<a href="" id="google" target="_blank"></a>
				<a href="" id="tumblr" target="_blank"></a>
				<a href="https://www.facebook.com/iDecorateweddings" id="facebook" target="_blank"></a>
				<a href="http://pinterest.com/idecorateltd/" id="pinterest" target="_blank"></a>
				<a href="http://web.stagram.com/n/idecorateweddings/" id="instagram" target="_blank"></a>
				<a href="https://twitter.com/idecorateltd" id="twitter" target="_blank"></a>
				<a href="http://www.youtube.com/idecorateweddings" id="youtube" target="_blank"></a>
			</li>
		</ul>
		<br />
		<br />

		
	</div>
	<div>
	{% if user.is_authenticated %}
		<h3>MY ACCOUNT</h3>
		<ul>
			<li><a href="{% url profile %}">Profile</a></li>
			<li><a href="{% url invite_friends %}">Invite Friends</a></li>
			<!-- <li><a href="#">News feed</a></li>
			<li><a href="#">Keep box</a></li>
			<li><a href="#">Share record</a></li>
			<li><a href="#">Order history</a></li>
			<li><a href="#">Cart</a></li>
			<li><a href="#">Design boards</a></li> -->
		</ul>
	{% else %}
		<h3>JOIN NOW</h3>
		<ul>
			<li><a href="#" class="loginTrigger">Login</a></li>
			<li><a href="#" class="loginTrigger">Register</a></li>
			<!-- <li><a href="#">Invite Friends</a></li> -->
		</ul>
	{% endif %}
	</div>
</div>
<div class="clearfix imageBorder">
	<img src="/media/images/border.jpg" />
</div>
<div class="clearfix footerLinks">
	{{ "footer_menu"|get_interface_info }}
</div>
<div class="clearfix copyright">
	{{ "footer"|get_interface_info }}
</div>
<!--
<div class="copyright">{{ "footer"|get_interface_info }}</div>
<div class="footerMenus">
	<ul>
		{{ "footer_menu"|get_interface_info }}
	</ul>
</div>
-->