{% load i18n idecorate_interface static %}
{% if not user.is_authenticated %}
    {% include 'customer/user_access.html' %}
{% endif %}
<div id="newsletter_form_wrap">
    <div class="formWrap">
        <form id="newsletter_form" action="{% url subscribe_newsletter_ajax %}" method="post">
            <div class="fieldset">
                <span class="legendWrap"><span class="legend">Subscribe to our newsletter</span></span>
                <div class="fieldsetContent">
                    <p>Recieve e-mail updates about exciting new products and styleboard.</p>
                    <div class="formMessages"></div>
                    {% csrf_token %}
                    <div class="fieldGroup">
                        <!-- <label>Email address: </label> -->
                        <input type="email" name="email" placeholder="Your e-mail address"/>
                    </div>
                    <div class="fieldGroup operation">
                        <!-- <a href="#" class="closeModalBtn btn">cancel</a> -->
                        <input class="btn" type="submit" name="submit" value="Sign me up" />
                    </div>
                </div>
            </div>  
        </form>
    </div>
</div>
<div id="modal_default_messages">
    <div class="formWrap">
        <div class="fieldset">
            <span class="legendWrap"><span class="legend"></span></span>
            <div class="fieldsetContent"></div>
        </div>  
    </div>  
</div>