{% load idecorate_interface %}
<div class="headerRowTop clearfix">
	<div class="headerColumn clearfix" id="info-menu">
		<!-- {{ "info"|getInterfaceMenus }} -->
		<ul class="dropdown sf-js-enabled sf-shadow">
			<li>
				<a href="#" class="sf-with-ul">Help<span class="sf-sub-indicator"> »</span></a>
			</li>
			<li>
				<a href="#" class="sf-with-ul">About<span class="sf-sub-indicator"> »</span></a>
			</li>
			<li>
				<a href="#">Contact Us</a>
			</li>
			<li>
				<a href="#">+852-222-2222</a>
				<ul style="display: none; visibility: hidden;">
					<li>
						<a href="#">menu item that is quite long</a>
					</li>
					<li>
						<a href="#" class="sf-with-ul">This is a test<span class="sf-sub-indicator"> »</span></a>
						<ul style="display: none; visibility: hidden; ">
							<li>
								<span>menu item</span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="headerColumn clearfix" id="logo">
		<a href="{% url home %}">
			<!--<h1>Idecorate</h1>
			<h3>Wedding</h3>-->
			<img src="/media/images/idecorate_wedding.jpg" title="logo" />
		</a>
	</div>
	<div class="headerColumn clearfix" id="site-menu">
		{{ "site"|getInterfaceMenus }}
	</div>
</div>
<div class="headerRowBottom clearfix">
	<div class="searchWrap">
		<div class="search clearfix">
			<input type="image" src="/media/images/search.png" class="searchIcon" />
			<input type="text" placeholder="Search Products" > 
			<input type="submit" value="Search">
		</div>
	</div>
	<div class="socialIcons">
		<a href="#" id="email"></a>
		<a href="#" id="arrow"></a>
		<a href="#" id="facebook"></a>
		<a href="#" id="pinterest"></a>
		<a href="#" id="instagram"></a>
		<a href="#" id="twitter"></a>
		<a href="#" id="youtube"></a>
	</div>
</div>