{% load idecorate_interface %}
<div class="headerRowTop clearfix">
	<div class="headerColumn clearfix" id="info-menu">
		{{ "info"|getInterfaceMenus }}
	</div>
	<div class="headerColumn clearfix" id="logo">
		<a href="{% url home %}">
			<img src="/media/images/idecorate_wedding.jpg" title="logo" />
		</a>
	</div>
	<div class="headerColumn clearfix" id="site-menu">
		{{ "site"|getInterfaceMenus }}
	</div>
</div>
<div class="headerRowBottom clearfix">
	<div class="searchWrap">
		<div class="search clearfix">
			<form action="{% url styleboard %}" method="POST">
			<input type="image" src="/media/images/search.png" class="searchIcon" />
			<input type="text" name="search" id="search" placeholder="Search Products" > 
			<input type="submit" value="Search">
			</form>
		</div>
	</div>
	<div class="socialIcons">
		<a href="#" id="email"></a>
		<a href="#" id="arrow"></a>
		<a href="#" id="facebook"></a>
		<a href="#" id="pinterest"></a>
		<a href="#" id="instagram"></a>
		<a href="#" id="twitter"></a>
		<a href="#" id="youtube"></a>
	</div>
</div>
{% block javascripts %}
{% endblock %}