{% load i18n %}
<div id="sidebar">
	<ul>
		<li><a href="#">{% trans "Lanterns" %}</a></li>
		<li><a href="#">{% trans "Lighting" %}</a></li>
		<li><a href="#">{% trans "Candle Holders" %}</a></li>
		<li><a href="#">{% trans "Bird Cages" %}</a></li>
		<li><a href="#">{% trans "Flower Arrangements" %}</a></li>
		<li><a href="#">{% trans "Glass &amp; Crystal" %}</a></li>
		<li><a href="#">{% trans "Table Linen" %}</a></li>
		<li><a href="#">{% trans "Hanging Decorations" %}</a></li>
		<li><a href="#">{% trans "Ceramics" %}</a></li>
		<li><a href="#">{% trans "Glassware" %}</a></li>
		<li><a href="#">{% trans "Vases" %}</a></li>
		<li><a href="#">{% trans "Accessories" %}</a></li>
	</ul>
</div>