{% extends "base.html" %}
{% load idecorate_interface admin static %}
{% block title %}iDecorate Weddings | Home{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'interface/stylesheets/home.css' %}">
	<style type="text/css">
	</style>
{% endblock %}
{% block content %}
<div id="banner">
	<img id="banner_img" src="{% static 'images/default_header.jpg' %}" />
	<div id="banner_modal">
		<h1>Design &amp; buy your dream wedding</h1>
		<div class="fieldset bannerText">
			<span class="legendWrap"><span class="legend">via</span></span>
			<h1 class="bolded">Styleboard</h1>
			<p>Don't just buy your dream wedding, design and tailor it to create something truly unique to you with the help of our styleboard</p>
		</div>
		<div class="operationWrap">
			<a href="{% url create %}" class="btn toStyleboardBtn">
				<h2>Design &amp; Buy</h2>
				<h3>A unique styleboard</h3>
			</a>
		</div>
	</div>
</div>
<div id="main_content">
	<div class="contentHeader">
		<div class="fieldset contentHeaderText">
			<span class="legendWrap">
				<span class="legend">
					<h3>or get inspired &amp; browse our</h3>
					<h2>Products &amp; Styleboards</h2>
				</span>
			</span>
		</div>
	</div>
	<div id="filtering" class="filterBar">
		<ul class="filter">
			<li><a data-filter="*" class="all active" href="#"><span>all</span></a></li>
			<li>
				<a data-filter=".products" href="#">
					<img class="products" src="{% static 'images/img_trans.gif' %}" />
					<span>products</span>
				</a>
			</li>
			<li>
				<a data-filter=".styleboards" href="#">
					<img class="styleboards" src="{% static 'images/img_trans.gif' %}" />
					<span>styleboards</span>
				</a>
			</li>
			<li>
				<a data-filter=".inspiration" href="#">
					<img class="inspiration" src="{% static 'images/img_trans.gif' %}" />
					<span>inspiration</span>
				</a>
			</li>
			<li>
				<a data-filter=".celebrity" href="#" id="celebrity_styleboards">
					<img class="celebrity" src="{% static 'images/img_trans.gif' %}" />
					<span>celebrity styleboard</span>
				</a>
			</li>
			<li>
				<a data-filter=".wishlist" href="#" id="wish_list">
					<img class="wishlist" src="{% static 'images/img_trans.gif' %}" />
					<span>wishlist</span>
				</a>
			</li>
			<li>
				<a href="#" id="search_result">
					<img class="result" src="{% static 'images/img_trans.gif' %}" />
					<span>search result</span>
				</a>
			</li>
		</ul>
		<div class="searchBoxWrap">
			<a class="searchIcon" href="#">
				<img src="/static/images/img_trans.gif"/>
			</a>
			<div class="searchBox">
				<input type="text" name="search" id="search_input" placeholder="Products,Styleboards,Keywords"/>
				<a class="searchBtn"><img src="{% static 'images/img_trans.gif' %}"/></a>
			</div>
		</div>
	</div>
	<div id="item_list" class="lineItems">
		<div id="items_wrapper">
		{% for product in products %}
			{% if product|get_css_obj_classname == 'styleboards' %}
			<div class="itemWrap double {{ product|get_css_obj_classname }}" >
				<img class="nonProducts" src="/styleboard/generate_styleboard_view/{{product.id}}/490/310/"/>
				<h2>{{ product.styleboard_item.name }}</h2>
				<p>{{ product.styleboard_item.description|safe }}</p>
				<div class="operationWrap">
					<a href="#" product-data="{{product.id}}" class="btn sendToStyleboard">
						<img src="{% static 'interface/images/send_to_styleboard_icon.png' %}"/>
						<span><h3>send to</h3><h4>styleboard</h4></span>
					</a>
					<a href="#" class="btn shareProduct">share</a>
					<a href="javascript: void(0)" class="btn wishListProduct" onclick="addToWishList('{{ product|get_css_obj_classname }}', {{ product.id }})"><h3>add to</h3><h4>wishlist</h4></a>
				</div>
			</div>
			{% endif %}
			{% if product|get_css_obj_classname == 'products' %}
			<div class="itemWrap single {{ product|get_css_obj_classname }}" >
				<img src="/media/products/{{product.original_image}}"/>
				<h2>{{ product.name }}</h2>
				<p>${{ product|getProductPrice|floatformat:2 }}</p>
				<div class="operationWrap">
					<a href="#" product-data="{{product.id}}" class="btn sendToStyleboard">
						<img src="{% static 'interface/images/send_to_styleboard_icon.png' %}"/>
						<span><h3>send to</h3><h4>styleboard</h4></span>
					</a>
					<a href="#" class="btn shareProduct">share</a>
					<a href="javascript: void(0)" class="btn wishListProduct" onclick="addToWishList('{{ product|get_css_obj_classname }}', {{ product.id }})"><h3>add to</h3><h4>wishlist</h4></a>
				</div>
			</div>
			{% endif %}
			{% if product|get_css_obj_classname == 'inspiration' %}
			<div class="itemWrap {% if product.size == 1 %}single{% else %}double{% endif %} {{ product|get_css_obj_classname }}" >
				<img src="/media/banners/{{product.get_image}}"/>
				<h2>{{ product.get_name }}</h2>
				<div class="operationWrap">
					<a href="#" product-data="{{product.id}}" class="btn sendToStyleboard">
						<img src="{% static 'interface/images/send_to_styleboard_icon.png' %}"/>
						<span><h3>send to</h3><h4>styleboard</h4></span>
					</a>
					<a href="#" class="btn shareProduct">share</a>
					<a href="javascript: void(0)" class="btn wishListProduct" onclick="addToWishList('{{ product|get_css_obj_classname }}', {{ product.id }})"><h3>add to</h3><h4>wishlist</h4></a>
				</div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{% static 'interface/javascripts/jquery.isotope.js' %}"></script>
    <script type="text/javascript">
		page = {{ page }};
		keywords = null;
		LOADMOREURL = '{% url load_products_ajax %}';
		wishlist = false;
		celebrity_styleboards = false;
	</script>
    <script type="text/javascript" src="{% static 'interface/javascripts/home.js' %}"></script>
    <script>

    function addToWishList(object_type, object_id) {
    	$.ajax({
    		url: '{% url add_wishlist_ajax %}',
    		type: 'POST',
    		data: {'object_type':object_type, 'object_id':object_id},
    		success: function(data) {
    			//console.log(data);
    		},
    		error: function() {

    		}
    	});
    }

    </script>
{% endblock %}