{% extends "base.html" %}
{% load idecorate_interface admin static %}
{% block title %}iDecorate Weddings | Home{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'interface/stylesheets/home.css' %}">
	<style type="text/css">
	</style>
{% endblock %}
{% block content %}
<div id="banner">
	<img id="banner_img" src="{% static 'images/default_header.jpg' %}" />
	<div id="banner_modal">
		<h1>Design &amp; buy your dream wedding</h1>
		<div class="fieldset bannerText">
			<span class="legendWrap"><span class="legend">via</span></span>
			<h1 class="bolded">Styleboard</h1>
			<p>Don't just buy your dream wedding, design and tailor it to create something truly unique to you with the help of our styleboard</p>
		</div>
		<div class="operationWrap">
			<a href="{% url create %}" class="btn toStyleboardBtn">
				<h2>Design &amp; Buy</h2>
				<h3>A unique styleboard</h3>
			</a>
		</div>
	</div>
</div>
<div id="main_content">
	<div class="contentHeader">
		<div class="fieldset contentHeaderText">
			<span class="legendWrap">
				<span class="legend">
					<h3>or get inspired &amp; browse our</h3>
					<h2>Products &amp; Styleboards</h2>
				</span>
			</span>
		</div>
	</div>
	<div id="filtering" class="filterBar">
		<ul class="filter">
			<li><a data-filter="*" class="all active" href="#"><span>all</span></a></li>
			<li>
				<a data-filter=".products" href="#">
					<img class="products" src="{% static 'images/img_trans.gif' %}" />
					<span>products</span>
				</a>
			</li>
			<li>
				<a data-filter=".styleboards" href="#">
					<img class="styleboards" src="{% static 'images/img_trans.gif' %}" />
					<span>styleboards</span>
				</a>
			</li>
			<li>
				<a data-filter=".inspiration" href="#">
					<img class="inspiration" src="{% static 'images/img_trans.gif' %}" />
					<span>inspiration</span>
				</a>
			</li>
			<li>
				<a data-filter=".celebrity" href="#" id="celebrity_styleboards">
					<img class="celebrity" src="{% static 'images/img_trans.gif' %}" />
					<span>celebrity styleboard</span>
				</a>
			</li>
			<li>
				<a data-filter=".wishlist" href="#" id="wish_list">
					<img class="wishlist" src="{% static 'images/img_trans.gif' %}" />
					<span>wishlist</span>
				</a>
			</li>
			<li>
				<a href="#" id="search_result">
					<img class="result" src="{% static 'images/img_trans.gif' %}" />
					<span>search result</span>
				</a>
			</li>
		</ul>
		<div class="searchBoxWrap">
			<a class="searchIcon" href="#">
				<img src="/static/images/img_trans.gif"/>
			</a>
			<div class="searchBox">
				<input type="text" name="search" id="search_input" placeholder="Products, Styleboards, Keywords"/>
				<a class="searchBtn"><img src="{% static 'images/img_trans.gif' %}"/></a>
			</div>
		</div>
	</div>
	<div id="item_list" class="lineItems">
		<div id="items_wrapper">
			{% include 'interface/home_items.html' %}
		</div>
		<div id="load_more_wrap"><a id="load_more" class="btn" href="#">Load more</a></div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{% static 'interface/javascripts/jquery.isotope.js' %}"></script>
	<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
	<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
    <script type="text/javascript">

		FACEBOOK_APP_ID = "{{ FACEBOOK_APP_ID }}";
		ADD_WISHLIST_URL_AJAX = '{% url add_wishlist_ajax %}';
		LOADMOREURL = '{% url load_products_ajax %}';
		page = {{ page }};
		keywords = null;
		wishlist = false;
		celebrity_styleboards = false;
		$container = $('#items_wrapper');

	</script>
    <script type="text/javascript" src="{% static 'interface/javascripts/home.js' %}"></script>
    <script type="text/javascript">

		function aspectratio(width, height, percent){
		    dim = new Array();
		    aspectRatio = height/width;
		    dim['width'] = width*percent;
		    dim['height'] = aspectRatio*dim['width'];
		    return dim;
		}   

    	function productSendToStyleboard(prod_id) {

    		_matrix = [{
    			a: 1,
    			b: 0,
    			c: 0,
    			d: 1,
    			e: false,
    			f: false
    		}];

    		data = {
    			uid: prod_id,
    			_type: 'product',
    			def_qty: '1',
    			gst_tb: 'wedding',
    			left: 0,
    			top: 0,
    			style: "width: 133.79999999999998px; height: 185.99999999999997px; top: 0px; left: 0px; z-index: 1; ",
    			matrix: _matrix,
    			zindex: "1",
    			handle: "nw,sw,se,ne,w,s,e,n",
    			angle: 0,
    			text: '',
    			rgb: '',
    			cls: 'unselected',
    		}

    		json = JSON.stringify(data);

    		$.ajax({
    			url : '{% url send_product_to_styleboard %}',
    			type : 'POST',
    			data : {'prod_id' : prod_id, styleboard_json : json},
    			success : function(data) {
    				header = 'Send to Styleboard';
    				message = 'Item added to styleboard';
					response_message(header, message);
    			}
    		});
    	}

    	function situationProductSendToStyleboard(prod_id, alt_id, img) {
    		//dimension = aspectratio($(img).css('width'), $(img).css('height'), 0.66);
    		//dim = aspectratio(parseInt($(img).css('width')), parseInt($(img).css('height')), 0.66);
    		aspectRatio = parseInt($(img).css('height'))/parseInt($(img).css('width'));
    		width = parseInt($(img).css('width')) * 0.66;
    		height = aspectRatio*width;

    		_matrix = [{a:1, b:0, c:0, d:1, e:false, f:false}];
    		data = {
    			uid: prod_id,
    			_type: 'product',
    			def_qty: '1',
    			gst_tb: 'wedding',
    			left: 0,
    			top: 0,
    			//style: "width: 133.79999999999998px; height: 185.99999999999997px; top: 0px; left: 0px; z-index: 1; ",
    			style: "width:" + width + "px; height:" + height + "px; top: 0px; left: 0px; z-index: 1; ",
    			matrix: _matrix,
    			zindex: "1",
    			handle: "nw,sw,se,ne,w,s,e,n",
    			angle: 0,
    			text: '',
    			rgb: '',
    			cls: 'unselected', 	
    			width: width,
    			height: height		
    		}

    		json = JSON.stringify(data);
    		
    		$.ajax({
    			url : '{% url send_product_to_styleboard %}',
    			type : 'POST',
    			data : {'prod_id' : prod_id, styleboard_json : json, 'alt_id': alt_id},
    			success : function(data) {
    				header = 'Send to Styleboard';
    				message = 'Item added to styleboard';
					response_message(header, message);
    			}
    		});

    	}

    	function styleboardSendToStyleboard(sbid) {
    		$.ajax({
    			url : '{% url send_styleboard_to_styleboard %}',
    			type : 'POST',
    			data : {'sbid' : sbid},
    			success : function(data) {
    				header = 'Send to Styleboard';
    				message = 'Item added to styleboard';
					response_message(header, message);
    			}
    		});
    	}
    </script>
{% endblock %}