<div 
    class="product unselected ui-draggable" 
    _uid="{{ uid }}" 
    def_qty="1" 
    gst_tb="wedding" 
    style="width: {{ width }}px; height: {{ height }}px; top: 0px; left: 0px; z-index: 1; " 
    object_id="{{ object_id }}" 
    _matrix="{&quot;a&quot;:1, &quot;b&quot;:0, &quot;c&quot;:0, &quot;d&quot;:1,&quot;e&quot;:false,&quot;f&quot;:false}"
    _handle="nw,sw,se,ne,w,s,e,n">

    <img src="/media/products/{{ original_image }}" _nb="{{ no_background_image }}" _wb="{{ original_image }}" style="display: inline; width: 100%; height: auto; ">

</div>