<!DOCTYPE HTML>
<html>
  	<head>
        <meta charset="utf-8">
        <title>iDecorate Login/Signup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <script type="text/javascript">
        if(window.parent){
            {% if action == "login_signup" %}
        	   parent.logged('{{ username }}');
            {% else %}
                {% if action == "save_styleboard" %}
                    var msg = '{{ msg }}';                    
                    parent.save_styleboard_success(msg);
                {% endif %}
            {% endif %}
        }
        </script>
	</head>
    <body>
    </body>
</html>