/* 
	LEVEL ONE
*/
ul.dropdown1 {
  position: relative;
  z-index: 100; }

ul.dropdown1 li {
  color: #222;
  padding: 4px 8px;
  float: left;
  zoom: 1;
  border-right: 1px solid #333;
  font-size: 12px; }

ul.dropdown1 a:hover {
  color: #222; }

ul.dropdown1 a:active {
  color: #ffa500; }

ul.dropdown1 li a {
  display: block;
  color: #222; }

ul.dropdown1 li span {
  display: block;
  color: #222; }

ul.dropdown1 li:last-child {
  border-right: none; }

/* Doesn't work in IE */
ul.dropdown1 li:last-child a {
  border-right: none; }

/* Doesn't work in IE */
ul.dropdown1 li:last-child span {
  border-right: none; }

/* Doesn't work in IE */
ul.dropdown1 li.hover,
ul.dropdown1 li:hover {
  background: #F3D673;
  color: #222;
  position: relative; }

ul.dropdown1 li.hover a {
  color: #222; }

ul.dropdown1 li.hover span {
  color: #222; }

/* 
	LEVEL TWO
*/
ul.dropdown1 ul {
  width: auto;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap; }

ul.dropdown1 ul li {
  font-weight: normal;
  background: #f6f6f6;
  color: #222;
  border: none;
  float: none;
  font-size: 12px !important; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown1 ul li a {
  border-right: none;
  width: 100%;
  display: inline-block; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown1 ul li span {
  border-right: none;
  width: 100%;
  display: inline-block; }

/* 
	LEVEL THREE
*/
ul.dropdown1 ul ul {
  left: 100%;
  top: 0; }

ul.dropdown1 ul ul li {
  padding: 4px 8px; }

ul.dropdown1 li:hover > ul {
  visibility: visible; }

/* DROP DOWN RIGHT */
/* 
	LEVEL ONE
*/
ul.dropdown2 {
  position: relative;
  z-index: 100; }

ul.dropdown2 li {
  color: #fff;
  padding: 4px 8px;
  float: left;
  zoom: 1;
  border-right: 1px solid #fff;
  font-size: 1.2em; }

ul.dropdown2 a:hover {
  color: #fff; }

ul.dropdown2 a:active {
  color: #fff; }

ul.dropdown2 li a {
  display: block;
  color: #fff; }

ul.dropdown2 li span {
  display: block;
  color: #fff; }

ul.dropdown2 li:last-child {
  border-right: none; }

/* Doesn't work in IE */
ul.dropdown2 li:last-child a {
  border-right: none; }

/* Doesn't work in IE */
ul.dropdown2 li:last-child span {
  border-right: none; }

/* Doesn't work in IE */
ul.dropdown2 li.hover,
ul.dropdown2 li:hover {
  color: #fff;
  position: relative; }

ul.dropdown2 li.hover a {
  color: #fff; }

ul.dropdown2 li.hover span {
  color: #fff; }

/* 
	LEVEL TWO
*/
ul.dropdown2 ul {
  width: auto;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap; }

ul.dropdown2 ul li {
  font-weight: normal;
  color: #fff;
  float: none;
  font-size: 1em !important;
  border: none; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown2 ul li a {
  border-right: none;
  width: 100%;
  display: inline-block; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown2 ul li span {
  border-right: none;
  width: 100%;
  display: inline-block; }

/* 
	LEVEL THREE
*/
ul.dropdown2 ul ul {
  width: auto;
  left: 100%;
  top: 0; }

ul.dropdown2 ul ul li {
  padding: 4px 8px;
  font-size: 12px; }

ul.dropdown2 li:hover > ul {
  visibility: visible; }
