@import url("/media/interface/css/idecorate.fontface.css");
.dd {
  display: none;
  font-size: 14px; }

#site-menu .dd li {
  border-left: 2px solid #FFF; }
  #site-menu .dd li a, #site-menu .dd li span {
    text-transform: uppercase;
    font-family: 'futura_std_heavy',Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold !important;
    color: #FFF !important; }
#site-menu .dd li.hover, #site-menu .dd li:hover {
  background-color: #F5F5DC; }
  #site-menu .dd li.hover a, #site-menu .dd li.hover span, #site-menu .dd li:hover a, #site-menu .dd li:hover span {
    color: #000 !important; }
#site-menu .dd ul li {
  background-color: #F5F5DC; }
  #site-menu .dd ul li a, #site-menu .dd ul li span {
    color: #000 !important; }

#info-menu .dd li {
  border-left: 2px solid #FFF; }
  #info-menu .dd li a, #info-menu .dd li span {
    text-transform: uppercase;
    font-weight: bold !important;
    font-family: 'futura_std_heavy',Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #FFF !important; }
  #info-menu .dd li a:hover, #info-menu .dd li span:hover {
    color: #000 !important; }
#info-menu .dd li.hover, #info-menu .dd li:hover {
  background-color: #F5F5DC; }
  #info-menu .dd li.hover a, #info-menu .dd li.hover span, #info-menu .dd li:hover a, #info-menu .dd li:hover span {
    color: #000 !important; }
#info-menu .dd ul li {
  background-color: #F5F5DC; }
  #info-menu .dd ul li a, #info-menu .dd ul li span {
    text-transform: uppercase;
    font-weight: bolder;
    color: #000 !important; }
