/*
Syntax error: Undefined variable: "$helvetica".
        on line 13 of edit_profile.scss

8: 
9: 	    legend{
10: 	        margin: 0 0 0 10px;
11: 	        padding: 0 5px;
12: 	        font-size: 14px;
13: 			font-family: $helvetica;
14: 	    }
15: 
16: 	    .formr{
17: 
18:     		label{

Backtrace:
edit_profile.scss:13
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/script/variable.rb:39:in `_perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/script/node.rb:61:in `perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/prop_node.rb:132:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:320:in `_perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:213:in `perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `perform_children'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `map'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `perform_children'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:332:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/rule_node.rb:191:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:320:in `_perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:213:in `perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `perform_children'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `map'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `perform_children'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:332:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/rule_node.rb:191:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:320:in `_perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:213:in `perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `perform_children'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `map'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `perform_children'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:332:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/rule_node.rb:191:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:320:in `_perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:213:in `perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `perform_children'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `map'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:341:in `perform_children'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:332:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/root_node.rb:59:in `perform!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:320:in `_perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/node.rb:213:in `perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/root_node.rb:37:in `perform'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/tree/root_node.rb:29:in `render'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/engine.rb:262:in `_render'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/engine.rb:233:in `render'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/plugin/compiler.rb:311:in `update_stylesheet'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/plugin/compiler.rb:165:in `update_stylesheets'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/plugin/compiler.rb:165:in `each'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/plugin/compiler.rb:165:in `update_stylesheets'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/plugin/compiler.rb:265
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/path.rb:71:in `call'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/path.rb:34:in `update'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/state/file.rb:19:in `refresh'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/backends/polling.rb:17:in `run'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/vendor/fssm/lib/fssm.rb:17:in `monitor'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/plugin/compiler.rb:237:in `watch'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/plugin.rb:110:in `send'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/sass/plugin.rb:110:in `method_missing'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/haml/exec.rb:369:in `watch_or_update'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/haml/exec.rb:273:in `process_result'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/haml/exec.rb:41:in `parse'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/../lib/haml/exec.rb:21:in `parse!'
/home/ryanangeles/.gem/ruby/1.8/gems/haml-edge-3.1.79/bin/sass:8
/home/ryanangeles/.gem/ruby/1.8/bin/sass:19:in `load'
/home/ryanangeles/.gem/ruby/1.8/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$helvetica\".\A         on line 13 of edit_profile.scss\A \A 8: \A 9: 	    legend{\A 10: 	        margin: 0 0 0 10px;\A 11: 	        padding: 0 5px;\A 12: 	        font-size: 14px;\A 13: 			font-family: $helvetica;\A 14: 	    }\A 15: \A 16: 	    .formr{\A 17: \A 18:     		label{"; }
