@import url("/media/interface/css/idecorate.fontface.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* ========================================
	Links
=========================================*/
a:hover, a:active {
  outline: 0; }

/*=========================================
	Main Styles
=========================================*/
body {
  font-family: 'futura_std_lightregular',Arial,Helvetica,sans-serif;
  font-size: 12px;
  background-color: #c2bdbd;
  color: #666666;
  background-image: url(/media/images/idecorate_pattern.jpg);
  background-repeat: repeat; }

#main-container {
  width: 1024px;
  background-color: #f0ebe5;
  margin: 0 auto 15px auto;
  box-shadow: 0 0 18px #333; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1em; }

#header {
  margin-bottom: 5px;
  padding-top: 10px;
  position: relative;
  min-height: 60px;
  background-color: #000000; }
  #header .headerRowTop {
    width: auto; }
    #header .headerRowTop .headerColumn {
      vertical-align: top; }
      #header .headerRowTop .headerColumn a {
        text-decoration: none !important;
        color: #333333; }
      #header .headerRowTop .headerColumn a:hover {
        text-decoration: underline; }
    #header .headerRowTop #info-menu {
      float: left;
      width: 400px;
      color: #ffffff; }
    #header .headerRowTop #logo {
      width: 224px;
      float: left;
      text-align: center; }
      #header .headerRowTop #logo h1, #header .headerRowTop #logo h3 {
        text-align: center; }
    #header .headerRowTop #site-menu {
      margin-right: 5px;
      max-width: 385px;
      float: right;
      vertical-align: top;
      text-align: left;
      padding: 5px;
      background-color: #99A237;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -khtml-border-radius: 4px; }
  #header .headerRowBottom {
    width: 100%;
    clear: both; }
    #header .headerRowBottom .searchWrap {
      width: 240px;
      height: auto;
      padding: 10px;
      background: #000000;
      position: relative;
      float: left; }
      #header .headerRowBottom .searchWrap .search {
        vertical-align: top;
        font-size: 0;
        white-space: nowrap;
        overflow: hidden;
        background-color: #FFF;
        /*
        border: 1px solid #EEE;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -khtml-border-radius: 4px;*/ }
        #header .headerRowBottom .searchWrap .search input {
          display: inline;
          height: 23px;
          float: left; }
        #header .headerRowBottom .searchWrap .search input[type="image"] {
          vertical-align: top;
          height: 21px;
          width: 21px;
          margin: 0;
          background: #FFFFFF;
          margin: 0;
          padding: 1px; }
        #header .headerRowBottom .searchWrap .search input[type="text"] {
          vertical-align: top;
          border: 0;
          width: 153px;
          line-height: 23px; }
        #header .headerRowBottom .searchWrap .search input[type="submit"] {
          cursor: pointer;
          vertical-align: top;
          border: 0;
          height: 25px;
          margin: 0;
          float: right;
          background-color: #da9b94;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(white), to(#da9b94));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, white, #da9b94);
          /* for firefox 3.6+ */ }
        #header .headerRowBottom .searchWrap .search input[type="submit"]:hover {
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E');
          /* for IE */
          background: -webkit-gradient(linear, left top, left bottom, from(#ffc5c3), to(#c7544e));
          /* for webkit browsers */
          background: -moz-linear-gradient(top, #ffc5c3, #c7544e);
          /* for firefox 3.6+ */ }
    #header .headerRowBottom .socialIcons {
      vertical-align: bottom;
      float: right;
      border-left: 2px dotted #000;
      border-right: 2px dotted #000;
      height: auto;
      padding: 12px;
      margin-right: 15px;
      font-size: 0; }
      #header .headerRowBottom .socialIcons a {
        display: inline-block;
        font-size: .9em;
        height: 20px;
        width: 20px;
        margin-left: 5px;
        background: url(/media/images/social.png) no-repeat; }
      #header .headerRowBottom .socialIcons a:first-child {
        margin-left: 0; }
      #header .headerRowBottom .socialIcons a#email {
        background-position: 1px 3px; }
      #header .headerRowBottom .socialIcons a#arrow {
        background-position: 2px -16px; }
      #header .headerRowBottom .socialIcons a#facebook {
        background-position: 0 -38px; }
      #header .headerRowBottom .socialIcons a#pinterest {
        background-position: 0 -61px; }
      #header .headerRowBottom .socialIcons a#instagram {
        background-position: 1px -83px; }
      #header .headerRowBottom .socialIcons a#twitter {
        background-position: 0 -103px; }
      #header .headerRowBottom .socialIcons a#youtube {
        background-position: 1px -125px; }

.categoryWrapper {
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid #FFFFFF; }
  .categoryWrapper ul {
    width: auto; }
    .categoryWrapper ul li {
      float: left;
      text-align: center; }
      .categoryWrapper ul li a {
        padding: 0 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase; }

p {
  font-size: 1.1em;
  line-height: 1.2em; }

.defaultContent {
  padding: 0; }

#sidebar {
  float: left;
  width: 240px;
  height: 310px;
  padding: 0 10px;
  overflow: auto;
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  background-color: #000000; }

#sidebar ul li {
  padding: 4px 10px; }

#sidebar ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.2em; }

#sidebar ul li:hover {
  background: #F3D673; }

#sidebar ul li:hover a {
  color: black; }

footer {
  background-color: #FFFFFF; }
  footer .footerMenu {
    padding: 15px 0;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    line-height: 1.3; }
    footer .footerMenu div {
      width: 150px;
      padding-left: 20px;
      float: left; }
      footer .footerMenu div h3 {
        font-weight: 900; }
      footer .footerMenu div ul {
        margin-bottom: 15px; }
        footer .footerMenu div ul li a {
          font-size: 1.2em;
          color: #666;
          text-decoration: none; }
        footer .footerMenu div ul .socialIcons a {
          display: block !important;
          float: left;
          height: 40px;
          width: 40px;
          border: 1px solid;
          padding: 0 !important;
          margin-left: 5px;
          background: url(/media/images/sprite.png) no-repeat; }
          footer .footerMenu div ul .socialIcons a a#email {
            background-position: 5px 0; }
          footer .footerMenu div ul .socialIcons a a#google-plus {
            background-position: 0 0; }
          footer .footerMenu div ul .socialIcons a a#tumblr {
            background-position: 0 0; }
          footer .footerMenu div ul .socialIcons a a#facebook {
            background-position: 0 0; }
          footer .footerMenu div ul .socialIcons a a#pinterest {
            background-position: 0 0; }
          footer .footerMenu div ul .socialIcons a a#instagram {
            background-position: 0 0; }
          footer .footerMenu div ul .socialIcons a a#twitter {
            background-position: 0 0; }
          footer .footerMenu div ul .socialIcons a a#youtube {
            background-position: 0 0; }

.error {
  color: #B94A48; }
