.banner {
  float: left;
  width: 764px;
  background-color: #000000;
  	/*
  	box-shadow: 5px 5px 20px #DDDEE5;
  	border:1px solid #EEEEEE;
  */ }
  .banner .dummyBannerImg {
    float: left;
    width: 760px;
    height: 330px;
    background-color: #000000; }
    .banner .dummyBannerImg img {
      width: 720px;
      height: 330px; }
  .banner .dummyBannerInfoWrap {
    float: right;
    width: 405px; }
    .banner .dummyBannerInfoWrap h1 {
      margin-bottom: 10px; }
    .banner .dummyBannerInfoWrap p {
      margin-bottom: 10px;
      font-size: 1.2em; }
    .banner .dummyBannerInfoWrap a {
      color: #333333;
      font-size: 1.4em;
      text-decoration: none;
      text-align: center;
      display: block;
      margin-bottom: 10px; }
  .banner .dummyBannerInfoItem {
    font-size: 0;
    text-align: center; }
    .banner .dummyBannerInfoItem h2 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 10px; }
    .banner .dummyBannerInfoItem a {
      display: inline-block;
      height: 50px;
      width: 90px;
      padding-top: 45px;
      font-size: 10px;
      background-color: #DDDEE5;
      margin-right: 5px;
      position: relative;
      color: #999999; }
      .banner .dummyBannerInfoItem a span {
        position: absolute;
        top: 105%;
        left: 0;
        display: block;
        width: 95px;
        text-align: center;
        color: #666666; }

section {
  clear: both;
  background: #FFFFFF;
  padding: 15px 30px 0 30px; }
  section h2 {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000000; }

.featureContentWrap {
  float: left;
  width: 450px;
  padding: 10px;
  margin-bottom: 16px;
  background: #f0ebe5;
  box-shadow: 5px 5px 20px #999999; }
  .featureContentWrap .featureImg {
    width: 450px;
    height: 250px;
    background-color: #DDDEE5; }
    .featureContentWrap .featureImg img {
      width: 450px;
      height: 250px; }
  .featureContentWrap h3 {
    margin: 5px 0;
    padding: 10px !important;
    background-color: #f1ccc6;
    font-style: italic;
    color: #000000;
    padding: 5px; }
  .featureContentWrap .featureDesc {
    font-size: 1.1em;
    float: left;
    width: 65%;
    line-height: 1.2em; }
  .featureContentWrap .featurePrice {
    float: right;
    width: 20%;
    text-align: right; }
    .featureContentWrap .featurePrice h5 {
      font-size: 1.5em;
      font-weight: bold;
      color: #000000; }
    .featureContentWrap .featurePrice p {
      padding: 5px;
      background: #99a237;
      font-size: 1.2em;
      font-style: italic;
      color: #FFFFFF;
      text-align: center;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      /* future proofing */
      -khtml-border-radius: 4px;
      /* for old Konqueror browsers */ }
  .featureContentWrap .featureFooter {
    clear: both;
    margin: 5px 0;
    background-color: #e6e0d9;
    padding: 5px; }
    .featureContentWrap .featureFooter span {
      width: 15px;
      height: 15px;
      display: inline-block;
      border: 1px solid #CCCCCC;
      position: relative; }
      .featureContentWrap .featureFooter span p {
        position: absolute;
        left: 130%;
        top: 2px;
        font-size: 11px;
        white-space: nowrap;
        color: #333333; }

.featureContentWrap,
.featureContentWrap + .featureContentWrap + .featureContentWrap {
  margin-right: 16px; }

.featureContentWrap + .featureContentWrap,
.featureContentWrap + .featureContentWrap + .featureContentWrap + .featureContentWrap {
  margin-right: 0; }
