
/*@font-face {
    font-family: "adobe_garamond_proregular";
    font-style: normal;
    font-weight: normal;
    src: url("/media/interface/css/fonts/agaramondpro-regular-webfont.eot?#iefix") format("embedded-opentype"), 
    url("/media/interface/css/fonts/agaramondpro-regular-webfont.woff") format("woff"), 
    url("/media/interface/css/fonts/agaramondpro-regular-webfont.ttf") format("truetype"), 
    url("/media/interface/css/fonts/agaramondpro-regular-webfont.svg#adobe_garamond_proregular") format("svg");
}
@font-face {
    font-family: "adobe_garamond_probold";
    font-style: normal;
    font-weight: normal;
    src: url("/media/interface/css/fonts/agaramondpro-semibold-webfont.eot?#iefix") format("embedded-opentype"), 
    url("/media/interface/css/fonts/agaramondpro-semibold-webfont.woff") format("woff"), 
    url("/media/interface/css/fonts/agaramondpro-semibold-webfont.ttf") format("truetype"), 
    url("/media/interface/css/fonts/agaramondpro-semibold-webfont.svg#adobe_garamond_probold") format("svg");
}
@font-face {
    font-family: "adobe_garamond_probold_italic";
    font-style: normal;
    font-weight: normal;
    src: url("/media/interface/css/fonts/agaramondpro-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), 
    url("/media/interface/css/fonts/agaramondpro-semibolditalic-webfont.woff") format("woff"), 
    url("/media/interface/css/fonts/agaramondpro-semibolditalic-webfont.ttf") format("truetype"), 
    url("/media/interface/css/fonts/agaramondpro-semibolditalic-webfont.svg#adobe_garamond_probold_italic") format("svg");
}*/
@font-face {
    font-family: "futura_std_book";
    font-style: normal;
    font-weight: normal;
    src:url('/media/interface/css/fonts/FuturaStd-Book.eot');
    src: local('futura std book'), local('futura_std_book'),
    url("/media/interface/css/fonts/FuturaStd-Book.eot?#iefix") format("embedded-opentype"), 
    url("/media/interface/css/fonts/FuturaStd-Book.otf") format("opentype"), 
    url("/media/interface/css/fonts/FuturaStd-Book.ttf") format("truetype"),  
    url("/media/interface/css/fonts/FuturaStd-Book.woff") format("woff"), 
    url("/media/interface/css/fonts/FuturaStd-Book.svg#futura_std_bookregular") format("svg");
}
@font-face {
    font-family: "futura_std_medium";
    font-style: normal;
    font-weight: normal;
    src:url('/media/interface/css/fonts/FuturaStd-Medium.eot');
    src: local('futura std medium'), local('futura_std_medium'), 
    url("/media/interface/css/fonts/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), 
    url("/media/interface/css/fonts/FuturaStd-Medium.otf") format("opentype"), 
    url("/media/interface/css/fonts/FuturaStd-Medium.ttf") format("truetype"), 
    url("/media/interface/css/fonts/FuturaStd-Medium.woff") format("woff"), 
    url("/media/interface/css/fonts/FuturaStd-Medium.svg#futura_std_lightregular") format("svg");
}
@font-face {
    font-family: "futura_std_heavy";
    font-style: normal;
    font-weight: normal;
    src:url('/media/interface/css/fonts/FuturaStd-Heavy.eot');
    src: local('futura std heavy'), local('futura_std_heavy'),
    url("/media/interface/css/fonts/FuturaStd-Heavy.eot?#iefix") format("embedded-opentype"), 
    url("/media/interface/css/fonts/FuturaStd-Heavy.otf") format("opentype"),  
    url("/media/interface/css/fonts/FuturaStd-Heavy.ttf") format("truetype"),  
    url("/media/interface/css/fonts/FuturaStd-Heavy.woff") format("woff"), 
    url("/media/interface/css/fonts/FuturaStd-Heavy.svg#futura_std_lightregular") format("svg");
}

