.setPassWrap {
  width: 994px;
  height: inherit;
  padding: 15px;
  background-color: #FFFFFF; }
  .setPassWrap fieldset {
    height: 450px;
    border: 1px solid #000000;
    padding: 15px; }
    .setPassWrap fieldset legend {
      font-size: 1.2em;
      color: black;
      padding: 0 10px;
      margin-left: 20px; }
    .setPassWrap fieldset .errorWrapper {
      width: 95%;
      margin: 15px auto; }
      .setPassWrap fieldset .errorWrapper .errorBlock {
        color: #B94A48;
        padding: 8px 35px 8px 14px;
        margin: 0 auto 15px auto;
        background: #F2DEDE;
        border: 1px solid #EED3D7;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        position: relative;
        font-size: 12px; }
        .setPassWrap fieldset .errorWrapper .errorBlock .closeX {
          font-size: 20px;
          font-weight: bold;
          color: #000000;
          line-height: 18px;
          text-decoration: none;
          text-shadow: 0 1px 0 white;
          opacity: 0.2;
          filter: alpha(opacity=20);
          float: right;
          position: relative;
          top: -2px;
          right: -21px; }
        .setPassWrap fieldset .errorWrapper .errorBlock h4 {
          font-size: 14px;
          font-weight: bold;
          line-height: 18px; }
        .setPassWrap fieldset .errorWrapper .errorBlock ol {
          padding-left: 30px; }
          .setPassWrap fieldset .errorWrapper .errorBlock ol li {
            display: list-item;
            list-style: decimal;
            line-height: 18px;
            text-align: -webkit-match-parent; }
    .setPassWrap fieldset .formWrapper {
      width: 100%;
      margin-top: 100px;
      text-align: center; }
      .setPassWrap fieldset .formWrapper .inputWrapper {
        width: 320px;
        margin: 5px auto; }
        .setPassWrap fieldset .formWrapper .inputWrapper label {
          display: block;
          float: left;
          text-align: right;
          width: 120px;
          padding-top: 10px; }
