#content {
  padding: 15px;
  background: #FFFFFF; }
  #content h3 {
    width: 100%;
    height: 20px;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #000000;
    color: #000000; }

.calendarWrapper {
  width: 220px;
  height: 40px;
  position: relative; }
  .calendarWrapper img {
    position: absolute;
    top: 7px;
    right: 17%; }

.checkout {
  background: #FFFFFF; }
  .checkout input {
    border: 1px solid #CCC;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px; }
  .checkout select {
    border: 1px solid #CCC;
    padding: 2px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px; }
  .checkout #edit_button {
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px 8px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#333333');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#333333));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, white, #333333);
    /* for firefox 3.6+ */
    background: -o-linear-gradient(top, white, #333333);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* future proofing */
    -khtml-border-radius: 4px;
    /* for old Konqueror browsers */
    border: 1px solid #CCCCCC; }
  .checkout #edit_button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#666666');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#666666));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, white, #666666);
    /* for firefox 3.6+ */ }

.orderWrap .errorBlock {
  color: #B94A48;
  padding: 8px 35px 8px 14px;
  margin: 0 auto 15px auto;
  background: #F2DEDE;
  border: 1px solid #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative; }
  .orderWrap .errorBlock .closeX {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    line-height: 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
    float: right;
    position: relative;
    top: -2px;
    right: -21px; }
  .orderWrap .errorBlock h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px; }
  .orderWrap .errorBlock ol {
    padding-left: 30px; }
    .orderWrap .errorBlock ol li {
      display: list-item;
      list-style: decimal;
      line-height: 18px;
      text-align: -webkit-match-parent; }
.orderWrap .orderTable {
  width: 964px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 15px 5px 15px;
  background-color: #000000; }
.orderWrap fieldset {
  border: 1px solid #000000;
  padding: 10px; }
  .orderWrap fieldset legend {
    margin: 0 0 0 20px;
    padding: 0 5px;
    font-size: 14px;
    color: #000000; }
  .orderWrap fieldset table {
    width: 100%;
    height: auto; }
    .orderWrap fieldset table thead tr th {
      padding: 10px;
      color: #000000;
      font-weight: bold;
      border-bottom: 2px dotted #999999; }
    .orderWrap fieldset table thead tr th:first-child {
      text-align: left; }
    .orderWrap fieldset table tbody tr td {
      padding: 10px;
      margin: 0 auto; }
      .orderWrap fieldset table tbody tr td img {
        max-width: 50px;
        max-height: 80px;
        float: left;
        border: 2px solid #999999; }
      .orderWrap fieldset table tbody tr td span {
        width: 400px;
        height: auto;
        display: block;
        margin: 20px 0 0 60px;
        font-size: 14px;
        font-weight: bold;
        color: #d89b96; }
    .orderWrap fieldset table tbody tr .productPricing {
      text-align: center;
      color: #000000; }
    .orderWrap fieldset table tfoot tr td {
      padding: 10px;
      color: #000000;
      border-top: 2px dotted #999999; }
      .orderWrap fieldset table tfoot tr td .totalCost {
        display: block;
        padding: 5px 0;
        background-color: #FFC5C3;
        text-align: center;
        font-weight: bold; }

.loginDetails {
  width: auto;
  height: auto;
  margin: 15px auto;
  padding: 10px;
  color: #FFFFFF;
  background: #000000;
  box-shadow: 3px 3px 3px 2px #EEEEEE; }
  .loginDetails h4 {
    font-weight: bold;
    margin: 0 0 15px 0;
    color: #FFFFFF; }
  .loginDetails p {
    margin: 10px auto;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold; }
  .loginDetails input {
    width: 250px;
    margin: 0 15px 0 0; }
  .loginDetails .submit {
    width: 80px;
    padding: 3px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#da9b94));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, white, #da9b94);
    /* for firefox 3.6+ */
    background: -o-linear-gradient(top, white, #da9b94);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* future proofing */
    -khtml-border-radius: 4px;
    /* for old Konqueror browsers */
    border: 1px solid #FFC5C3; }
  .loginDetails .submit:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc5c3), to(#c7544e));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffc5c3, #c7544e);
    /* for firefox 3.6+ */ }
  .loginDetails a {
    color: #FFFFFF;
    font-weight: bold; }

.information {
  width: 100%;
  height: auto;
  margin: 0 0 15px 0; }
  .information fieldset {
    width: 465px;
    border: 1px solid #000000;
    float: left !important;
    padding: 10px;
    display: block; }
    .information fieldset legend {
      margin: 0 0 0 20px;
      padding: 0 5px;
      font-size: 14px; }
  .information .personal {
    margin: 0 20px 0 0; }
    .information .personal div {
      margin-bottom: 15px; }
      .information .personal div label {
        display: block;
        width: 70px;
        height: auto;
        padding-top: 10px;
        float: left; }
      .information .personal div input {
        width: 350px; }
  .information .delivery div {
    margin-bottom: 15px; }
    .information .delivery div label {
      display: block;
      width: 70px;
      height: auto;
      padding-top: 10px;
      float: left; }
    .information .delivery div input {
      width: 350px; }
    .information .delivery div select {
      width: 360px; }
  .information .delivery .checkbox {
    border: none !important; }

div.leftPannel, div.rightPannel {
  width: 470px;
  height: auto;
  float: left; }
  div.leftPannel .deliveryDate, div.leftPannel .question, div.leftPannel .paymentMethod, div.leftPannel .paymentMethod2, div.rightPannel .deliveryDate, div.rightPannel .question, div.rightPannel .paymentMethod, div.rightPannel .paymentMethod2 {
    width: 465px;
    border: 1px solid #000000;
    float: left;
    padding: 10px;
    margin: 0 0 15px 0;
    display: block; }
    div.leftPannel .deliveryDate legend, div.leftPannel .question legend, div.leftPannel .paymentMethod legend, div.leftPannel .paymentMethod2 legend, div.rightPannel .deliveryDate legend, div.rightPannel .question legend, div.rightPannel .paymentMethod legend, div.rightPannel .paymentMethod2 legend {
      margin: 0 0 0 20px;
      padding: 0 5px;
      font-size: 14px; }
    div.leftPannel .deliveryDate p, div.leftPannel .question p, div.leftPannel .paymentMethod p, div.leftPannel .paymentMethod2 p, div.rightPannel .deliveryDate p, div.rightPannel .question p, div.rightPannel .paymentMethod p, div.rightPannel .paymentMethod2 p {
      margin: 0 0 10px 15px; }
    div.leftPannel .deliveryDate ul, div.leftPannel .question ul, div.leftPannel .paymentMethod ul, div.leftPannel .paymentMethod2 ul, div.rightPannel .deliveryDate ul, div.rightPannel .question ul, div.rightPannel .paymentMethod ul, div.rightPannel .paymentMethod2 ul {
      margin: 10px 0 0 30px;
      list-style-position: inside; }
      div.leftPannel .deliveryDate ul li, div.leftPannel .question ul li, div.leftPannel .paymentMethod ul li, div.leftPannel .paymentMethod2 ul li, div.rightPannel .deliveryDate ul li, div.rightPannel .question ul li, div.rightPannel .paymentMethod ul li, div.rightPannel .paymentMethod2 ul li {
        list-style-type: disc;
        margin: 0 0 10px 15px; }
        div.leftPannel .deliveryDate ul li a, div.leftPannel .question ul li a, div.leftPannel .paymentMethod ul li a, div.leftPannel .paymentMethod2 ul li a, div.rightPannel .deliveryDate ul li a, div.rightPannel .question ul li a, div.rightPannel .paymentMethod ul li a, div.rightPannel .paymentMethod2 ul li a {
          color: #d89b96; }
    div.leftPannel .deliveryDate ol, div.leftPannel .question ol, div.leftPannel .paymentMethod ol, div.leftPannel .paymentMethod2 ol, div.rightPannel .deliveryDate ol, div.rightPannel .question ol, div.rightPannel .paymentMethod ol, div.rightPannel .paymentMethod2 ol {
      margin: 10px 0 0 30px;
      list-style-position: inside; }
      div.leftPannel .deliveryDate ol li, div.leftPannel .question ol li, div.leftPannel .paymentMethod ol li, div.leftPannel .paymentMethod2 ol li, div.rightPannel .deliveryDate ol li, div.rightPannel .question ol li, div.rightPannel .paymentMethod ol li, div.rightPannel .paymentMethod2 ol li {
        list-style-type: decimal;
        margin: 0 0 10px 45px; }
    div.leftPannel .deliveryDate em, div.leftPannel .question em, div.leftPannel .paymentMethod em, div.leftPannel .paymentMethod2 em, div.rightPannel .deliveryDate em, div.rightPannel .question em, div.rightPannel .paymentMethod em, div.rightPannel .paymentMethod2 em {
      font-style: italic; }
    div.leftPannel .deliveryDate strong, div.leftPannel .question strong, div.leftPannel .paymentMethod strong, div.leftPannel .paymentMethod2 strong, div.rightPannel .deliveryDate strong, div.rightPannel .question strong, div.rightPannel .paymentMethod strong, div.rightPannel .paymentMethod2 strong {
      font-weight: bold; }
  div.leftPannel .deliveryDate input, div.rightPannel .deliveryDate input {
    margin-bottom: 15px; }
  div.leftPannel .paymentMethod, div.rightPannel .paymentMethod {
    margin-left: 16px; }
    div.leftPannel .paymentMethod label, div.rightPannel .paymentMethod label {
      display: block;
      width: 70px;
      height: auto;
      padding-top: 10px;
      float: left; }
    div.leftPannel .paymentMethod div, div.rightPannel .paymentMethod div {
      margin-bottom: 15px; }
    div.leftPannel .paymentMethod input, div.rightPannel .paymentMethod input {
      width: 350px; }
    div.leftPannel .paymentMethod select, div.rightPannel .paymentMethod select {
      width: 360px; }
  div.leftPannel .paymentMethod2, div.rightPannel .paymentMethod2 {
    margin-left: 16px; }
    div.leftPannel .paymentMethod2 div, div.rightPannel .paymentMethod2 div {
      margin-bottom: 15px; }
      div.leftPannel .paymentMethod2 div input, div.rightPannel .paymentMethod2 div input {
        float: left;
        margin-top: 5px;
        border: none; }
      div.leftPannel .paymentMethod2 div label, div.rightPannel .paymentMethod2 div label {
        display: block;
        width: 110px;
        height: auto;
        padding-top: 8px;
        float: left; }
      div.leftPannel .paymentMethod2 div img, div.rightPannel .paymentMethod2 div img {
        float: left; }

.leftPannel {
  margin-right: 20px; }

.disclaimer {
  width: 100%;
  height: auto;
  text-align: center; }
  .disclaimer p {
    width: 600px;
    margin: 0 auto; }
    .disclaimer p a {
      color: #d89b96; }
  .disclaimer p:first-child {
    margin: 15px auto; }
  .disclaimer button {
    padding: 8px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#da9b94');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#da9b94));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, white, #da9b94);
    /* for firefox 3.6+ */
    background: -o-linear-gradient(top, white, #da9b94);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /* future proofing */
    -khtml-border-radius: 4px;
    /* for old Konqueror browsers */
    border: 1px solid #FFC5C3; }
  .disclaimer button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC5C3', endColorstr='#C7544E');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc5c3), to(#c7544e));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffc5c3, #c7544e);
    /* for firefox 3.6+ */ }
  .disclaimer ul {
    margin: 10px 0 0 30px;
    list-style-position: inside; }
    .disclaimer ul li {
      list-style-type: disc;
      margin: 0 0 10px 15px; }
      .disclaimer ul li a {
        color: #d89b96; }
  .disclaimer ol {
    margin: 10px 0 0 30px;
    list-style-position: inside; }
    .disclaimer ol li {
      list-style-type: decimal;
      margin: 0 0 10px 45px; }
      .disclaimer ol li a {
        color: #d89b96; }
  .disclaimer em {
    font-style: italic; }
  .disclaimer strong {
    font-weight: bold; }
