#content h3 {
  width: 100%;
  height: 20px;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #eeeeee; }

.orderWrap form fieldset {
  border: 1px solid #eeeeee;
  padding: 10px; }
  .orderWrap form fieldset legend {
    margin: 0 0 0 20px;
    font-size: 14px; }
  .orderWrap form fieldset table {
    width: 100%;
    height: auto; }
    .orderWrap form fieldset table thead {
      border-bottom: 1px solid #eeeeee; }
      .orderWrap form fieldset table thead tr th {
        padding: 10px; }
    .orderWrap form fieldset table tbody tr td {
      padding: 10px;
      margin: 0 auto; }
      .orderWrap form fieldset table tbody tr td img {
        height: 80px;
        float: left; }
      .orderWrap form fieldset table tbody tr td span {
        width: 400px;
        height: auto;
        display: block;
        margin: 30px 0 0 60px;
        font-weight: bold; }
    .orderWrap form fieldset table tbody tr .productPricing {
      text-align: center; }
    .orderWrap form fieldset table tfoot {
      border-top: 1px solid #eeeeee; }
      .orderWrap form fieldset table tfoot tr td {
        padding: 10px; }

.loginDetails {
  width: 100;
  height: auto;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #eeeeee; }
  .loginDetails h4 {
    font-weight: bold;
    margin: 0 0 15px 0; }
  .loginDetails form {
    margin: 10px 0; }
    .loginDetails form input {
      width: 250px;
      margin: 0 15px 0 0; }
    .loginDetails form .submit {
      width: 100px; }

.information {
  width: 100%;
  height: auto;
  margin: 0 0 15px 0; }
  .information fieldset {
    width: 499px;
    height: 145px;
    border: 1px solid #eeeeee;
    float: left; }
    .information fieldset legend {
      margin: 0 0 0 20px;
      font-size: 14px; }
    .information fieldset form {
      padding: 15px; }
      .information fieldset form table tr td label {
        width: 80px;
        display: block; }
      .information fieldset form table tr td input, .information fieldset form table tr td .districtList {
        width: 300px; }
  .information .personal {
    margin: 0 20px 0 0; }
    .information .personal table tr td {
      padding: 2px 0; }
  .information .delivery table tr td {
    padding: 2px 0; }

.deliveryDetails {
  width: 100%;
  height: auto;
  margin: 0 0 15px 0; }
  .deliveryDetails fieldset {
    width: 499px;
    height: 145px;
    border: 1px solid #eeeeee;
    float: left; }
    .deliveryDetails fieldset legend {
      margin: 0 0 0 20px;
      font-size: 14px; }
    .deliveryDetails fieldset form {
      padding: 15px; }
    .deliveryDetails fieldset p {
      margin: 0 0 0 15px; }
    .deliveryDetails fieldset ul {
      margin: 0 0 0 30px; }
      .deliveryDetails fieldset ul li {
        list-style-type: disc;
        margin: 0 0 0 15px; }
  .deliveryDetails .deliveryDate {
    margin: 0 20px 0 0; }
  .deliveryDetails .paymentMethod table tr td {
    padding: 2px 0; }

.inquiry {
  width: 100%;
  height: auto; }
  .inquiry fieldset {
    width: 499px;
    height: 145px;
    border: 1px solid #eeeeee;
    float: left; }
    .inquiry fieldset legend {
      margin: 0 0 0 20px;
      font-size: 14px; }
    .inquiry fieldset p {
      padding: 15px; }

.disclaimer {
  width: 100%;
  height: auto;
  text-align: center; }
  .disclaimer p {
    width: 600px;
    margin: 15px auto; }
