#content {
  padding: 15px;
  background: #FFFFFF; }
  #content h3 {
    width: 100%;
    height: 20px;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #000000;
    color: #000000; }

.checkout {
  background: #FFFFFF; }

.orderWrap form fieldset {
  border: 1px solid #000000;
  padding: 10px; }
  .orderWrap form fieldset legend {
    margin: 0 0 0 20px;
    font-size: 14px;
    color: #000000; }
  .orderWrap form fieldset table {
    width: 100%;
    height: auto; }
    .orderWrap form fieldset table thead {
      border-bottom: 2px dotted #999999; }
      .orderWrap form fieldset table thead tr th {
        padding: 10px;
        color: #000000; }
    .orderWrap form fieldset table tbody tr td {
      padding: 10px;
      margin: 0 auto; }
      .orderWrap form fieldset table tbody tr td img {
        max-width: 50px;
        max-height: 80px;
        float: left;
        border: 2px solid #999999; }
      .orderWrap form fieldset table tbody tr td span {
        width: 400px;
        height: auto;
        display: block;
        margin: 20px 0 0 60px;
        font-size: 14px;
        font-weight: bold;
        color: #d89b96; }
    .orderWrap form fieldset table tbody tr .productPricing {
      text-align: center;
      color: #000000; }
    .orderWrap form fieldset table tfoot {
      border-top: 2px dotted #999999; }
      .orderWrap form fieldset table tfoot tr td {
        padding: 10px;
        color: #000000; }

.loginDetails {
  width: auto;
  height: auto;
  margin: 15px auto;
  padding: 10px;
  background: #fbf6f0;
  box-shadow: 3px 3px 3px 2px #EEEEEE; }
  .loginDetails h4 {
    font-weight: bold;
    margin: 0 0 15px 0;
    color: #000000; }
  .loginDetails form {
    margin: 10px 0; }
    .loginDetails form input {
      width: 250px;
      margin: 0 15px 0 0; }
    .loginDetails form .submit {
      width: 100px;
      background: #d89b96; }
  .loginDetails a {
    color: #d89b96; }

.information {
  width: 100%;
  height: auto;
  margin: 0 0 15px 0; }
  .information fieldset {
    width: 470px;
    height: 200px;
    border: 1px solid #000000;
    float: left; }
    .information fieldset legend {
      margin: 0 0 0 20px;
      font-size: 14px; }
    .information fieldset form {
      padding: 15px; }
  .information .personal {
    margin: 0 20px 0 0; }
    .information .personal div {
      margin-bottom: 15px; }
      .information .personal div label {
        display: block;
        width: 70px;
        height: auto;
        padding-top: 10px;
        float: left; }
      .information .personal div input {
        width: 350px; }
  .information .delivery div {
    margin-bottom: 15px; }
    .information .delivery div label {
      display: block;
      width: 70px;
      height: auto;
      padding-top: 10px;
      float: left; }
    .information .delivery div input {
      width: 350px; }
    .information .delivery div select {
      width: 355px; }

.deliveryDetails {
  width: 100%;
  height: auto;
  margin: 0 0 15px 0; }
  .deliveryDetails fieldset {
    width: 470px;
    height: 145px;
    border: 1px solid #000000;
    float: left; }
    .deliveryDetails fieldset legend {
      margin: 0 0 0 20px;
      font-size: 14px; }
    .deliveryDetails fieldset form {
      padding: 15px; }
    .deliveryDetails fieldset p {
      margin: 0 0 0 15px; }
    .deliveryDetails fieldset ul {
      margin: 0 0 0 30px; }
      .deliveryDetails fieldset ul li {
        list-style-type: disc;
        margin: 0 0 0 15px; }
        .deliveryDetails fieldset ul li a {
          color: #d89b96; }
  .deliveryDetails .deliveryDate {
    margin: 0 20px 0 0; }
  .deliveryDetails .paymentMethod div {
    margin-bottom: 15px; }
    .deliveryDetails .paymentMethod div input {
      float: left;
      margin-top: 5px; }
    .deliveryDetails .paymentMethod div label {
      display: block;
      width: 110px;
      height: auto;
      padding-top: 8px;
      float: left; }
    .deliveryDetails .paymentMethod div img {
      float: left; }

.inquiry {
  width: 100%;
  height: auto; }
  .inquiry fieldset {
    width: 470px;
    height: 145px;
    border: 1px solid #000000;
    float: left; }
    .inquiry fieldset legend {
      margin: 0 0 0 20px;
      font-size: 14px; }
    .inquiry fieldset p {
      padding: 15px; }
      .inquiry fieldset p a {
        color: #d89b96; }

.disclaimer {
  width: 100%;
  height: auto;
  text-align: center; }
  .disclaimer p {
    width: 600px;
    margin: 15px auto; }
    .disclaimer p a {
      color: #d89b96; }
