#content {
  margin-top: 20px; }
  #content h3 {
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
    color: #000000;
    margin-bottom: 15px; }

.staticWrap {
  padding: 12px;
  background: #efebe4; }

.static {
  background: #FFFFFF;
  padding: 10px;
  /* FOR TINYMCE */ }
  .static p {
    margin: 10px 0;
    text-align: justify; }
  .static div {
    margin: 10px 0; }
  .static .end {
    width: 56px;
    height: 10px;
    margin: 15px auto; }
  .static strong {
    font-weight: bold; }
  .static em {
    font-style: italic; }
  .static ul li {
    list-style-type: disc;
    margin-left: 15px; }
  .static ol li {
    list-style-type: decimal;
    margin-left: 15px; }
  .static sub {
    vertical-align: sub; }
  .static sup {
    vertical-align: super; }
