@import url("/media/interface/css/idecorate.fontface.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* ========================================
	Links
=========================================*/
a, a:hover, a:active {
  outline: 0;
  text-decoration: none;
  text-decoration: none; }

/*=========================================
	Main Styles
=========================================*/
/*px*/
/*px*/
html {
  height: 100%; }

body {
  font-family: 'futura_std_lightregular',Arial,Helvetica,sans-serif;
  font-size: 100%;
  background-color: #c2bdbd;
  color: #666666;
  background-color: #FFFFFF;
  overflow: auto;
  *overflow: hidden;
  *min-width: 800px;
  height: 100%; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

h1 {
  font-size: 175%; }

/*28px/16px*100*/
h2 {
  font-size: 156.25%; }

/*25px/16px*100*/
h3 {
  font-size: 137.5%; }

/*22px/16px*100*/
h4 {
  font-size: 118.75%; }

/*19px/16px*100*/
h5 {
  font-size: 100%; }

/*16px/16px*100*/
@media screen and (max-width:800px) {}
#compact-header {
  width: 100%;
  min-width: 800px; }
  #compact-header table {
    width: 100%; }
    #compact-header table thead.headWrap {
      /*background-color: #F0EBE5;*/
      background-color: #000000; }
      #compact-header table thead.headWrap tr.headWraptop td {
        padding-top: 5px;
        vertical-align: top; }
      #compact-header table thead.headWrap tr.headWraptop td#info-menu {
        padding-left: 5px;
        width: 42.188%; }
        #compact-header table thead.headWrap tr.headWraptop td#info-menu .headerColumn {
          clear: both; }
        #compact-header table thead.headWrap tr.headWraptop td#info-menu .search {
          width: 240px;
          height: 28px;
          background-color: #FFFFFF;
          margin: 5px 0; }
          #compact-header table thead.headWrap tr.headWraptop td#info-menu .search .searchButton {
            display: none;
            visibility: hidden; }
          #compact-header table thead.headWrap tr.headWraptop td#info-menu .search input[type="text"] {
            vertical-align: top;
            border: 0;
            width: 200px;
            padding-left: 5px;
            line-height: 23px; }
          #compact-header table thead.headWrap tr.headWraptop td#info-menu .search input[type="image"] {
            vertical-align: top;
            height: 21px;
            width: 21px;
            margin: 3px 0 0 0;
            background: #FFFFFF;
            padding: 1px; }
      #compact-header table thead.headWrap tr.headWraptop td#logo {
        width: 15.625%; }
        #compact-header table thead.headWrap tr.headWraptop td#logo .headerColumn a {
          display: block;
          width: 193px;
          height: 43px;
          margin: 0 auto; }
      #compact-header table thead.headWrap tr.headWraptop td#site-menu {
        width: 42.188%;
        padding-right: 5px; }
        #compact-header table thead.headWrap tr.headWraptop td#site-menu .headerColumn {
          float: right;
          /*background-color: #99A237;*/
          padding: 5px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          -khtml-border-radius: 4px; }

#styleboard {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
  min-width: 800px;
  background-color: #EFECE6; }
  #styleboard tbody.bodyWrap tr td#sidebar-wrap {
    width: 40%; }
    #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav {
      display: block;
      background-color: #EFECE6; }
      #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li {
        display: block;
        float: left; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li a {
          display: block;
          background-color: #EEEEEE;
          font-size: 0.875em;
          color: #FFFFFF;
          font-weight: bold;
          position: relative;
          padding: 8px 30px;
          text-transform: uppercase; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li a.active {
          color: #FFF; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li a#createTab {
          z-index: 1;
          *background-color: #666666;
          background-color: #666666; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li a#createTab:hover {
          *background-color: #727629; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li a#createTab.active {
          font-weight: bold;
          color: #000000;
          background-color: #FFFFFF;
          *background-color: #FFFFFF; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li a#buyTab {
          *background-color: #666666;
          background-color: #666666;
          padding: 8px 30px 8px 35px;
          margin-left: -10px; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li a#buyTab:hover {
          *background-color: #666666;
          background-color: #666666;
          color: #FFFFFF; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar-nav li a#buyTab.active {
          *background-color: #FFFFFF;
          background-color: #FFFFFF;
          color: #000000; }
    #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar {
      background-color: #FFFFFF;
      box-shadow: 2px 2px 3px #999; }
      #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap h3 {
        margin: 5px 5px 0px 5px;
        padding: 5px;
        position: relative;
        color: #FFFFFF;
        background-color: #000000;
        font-family: "adobe_garamond_probold",Arial,Helvetica,sans-serif !important;
        font-size: 21px; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap h3 .myorder-edit {
          right: 5px;
          top: 10px;
          position: absolute;
          font-size: 12px; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap h3 .myorder-edit a {
            color: #FFFFFF; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap h3 .myorder-edit a:hover {
            font-style: italic;
            border-bottom: 1px dotted #000; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap h3 .myorder-edit a.hidden {
            display: none; }
      #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap fieldset {
        margin: 0px 5px 5px 5px;
        padding: 5px;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap fieldset .sidebarInputs {
          width: 50%;
          float: left; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap fieldset .sidebarInputs label {
            display: block;
            margin-top: 5px;
            color: #666;
            font-size: 1.063em; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap fieldset .sidebarInputs input[type="text"] {
            width: 40%;
            border: 1px solid #CCC;
            padding: 5px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            /* future proofing */
            -khtml-border-radius: 3px;
            /* for old Konqueror browsers */ }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap fieldset .sidebarTotals {
          width: 50%;
          float: right;
          margin-top: 10px;
          text-align: center; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap fieldset .sidebarTotals h5 {
            color: #000;
            background-color: #efece6;
            padding: 10px 0;
            font-weight: bold; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #sidebar-form-wrap fieldset .sidebarTotals h5 span {
              font-weight: bold;
              margin-top: 5px;
              display: block; }
      #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab {
        background-color: #FFFFFF; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #create-tab-nav {
          border-bottom: 2px dotted #000;
          margin: 0 5px; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #create-tab-nav ul {
            padding: 0;
            margin: 0; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #create-tab-nav ul li {
              display: inline;
              color: #000;
              vertical-align: middle; }
              #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #create-tab-nav ul li a {
                font-size: 0.875em;
                margin: 7px 0;
                color: #333;
                font-family: "adobe_garamond_probold",Arial,Helvetica,sans-serif !important;
                display: inline-block;
                *display: inline;
                zoom: 1;
                border-bottom: 1px solid #f0ebe5; }
              #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #create-tab-nav ul li a:hover {
                color: #000; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #create-tab-nav ul li.activeTab a {
              color: #000;
              border-bottom: 1px dotted #000; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .breadcrumb-wrap .breadcrumb {
          margin: 5px; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .breadcrumb-wrap .breadcrumb li {
            font-size: 12px;
            padding-right: 5px;
            display: inline;
            *vertical-align: top; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .breadcrumb-wrap .breadcrumb li a {
              text-decoration: none;
              color: #000;
              display: block;
              background-color: #DDDDDD;
              border: 1px solid #CCCCCC;
              padding: 2px 5px;
              *padding-bottom: 4px;
              display: inline-block;
              zoom: 1;
              *display: inline; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .breadcrumb-wrap .breadcrumb li a:hover {
              background-color: #999999;
              color: #FFF; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .breadcrumb-wrap .breadcrumb li span {
              display: inline-block;
              zoom: 1;
              *display: inline;
              padding: 2px 0;
              *padding-bottom: 4px; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .category-wrap {
          overflow: auto; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .category-wrap .thumb.categories {
            background-color: #FFF;
            display: block;
            float: left;
            width: 18.229%;
            outline: 1px solid #CCC;
            margin: 6px 0 0 6px;
            font-size: 0;
            min-width: 76px;
            cursor: pointer; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .category-wrap .thumb.categories img {
              width: 100%; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .category-wrap .thumb.categories span {
              display: block;
              margin: 10px 0 5px 0;
              font-size: 10px;
              text-align: center; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .category-wrap .thumb.categories:hover {
            outline: 2px solid #333; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .product-list-wrap .product-list {
          overflow: hidden; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .product-list-wrap .product-list .thumb.products {
            background-color: #FFF;
            display: block;
            float: left;
            width: 18.229%;
            border: 1px solid #CCC;
            padding: 1px;
            margin: 6px 0 0 6px;
            font-size: 0;
            min-width: 76px; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .product-list-wrap .product-list .thumb.products img {
              width: 100%; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .product-list-wrap .product-list .thumb.products span {
              display: block;
              font-size: 10px;
              margin: 10px 0 5px 0;
              text-align: center;
              color: #666; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .product-list-wrap .product-list .thumb.products:hover {
            border: 2px solid #333;
            margin: 5px -1px -1px 5px; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .pagination {
          display: none;
          text-align: center;
          padding: 5px 0;
          font-size: 0;
          height: 20px; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .pagination span {
            font-size: 12px;
            display: inline-block;
            zoom: 1;
            *display: inline;
            cursor: pointer;
            padding: 4px 6px; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .pagination span.cur-page {
            background-color: #ccc;
            cursor: default;
            font-weight: bold;
            border-radius: 3px;
            -ms-border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments {
          overflow: auto; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments .formWrap {
            margin: 10px; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments .formWrap #upload-embel fieldset {
              border: 1px solid #000;
              padding: 5px 5px 8px 5px; }
              #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments .formWrap #upload-embel fieldset legend {
                margin: 0 10px;
                color: #000;
                font-family: "adobe_garamond_probold", Arial, Helvetica, sans-serif; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments #embelishments-list-wrap a.em {
            display: block;
            float: left;
            width: 18.229%;
            margin: 6px 0 0 6px;
            font-size: 0;
            min-width: 76px; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments #embelishments-list-wrap a.em img {
              width: 100%;
              outline: 1px solid #CCC; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments #embelishments-list-wrap a.em span {
              display: block;
              font-size: 10px;
              margin: 10px 0 5px 0;
              text-align: center;
              color: #000; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments #embelishments-list-wrap a.em:hover img {
            outline: 2px solid #000; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab #embellishments #embelishments-list-wrap .emItem .thumb {
            cursor: pointer; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .template-wrap a.temp {
          display: block;
          float: left;
          width: 18.229%;
          margin: 6px 0 0 6px;
          font-size: 0;
          min-width: 76px; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .template-wrap a.temp img {
            width: 100%;
            outline: 1px solid #CCC; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .template-wrap a.temp span {
            display: block;
            font-size: 10px;
            margin: 10px 0 5px 0;
            text-align: center;
            color: #000; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .template-wrap a.temp:hover img {
          outline: 2px solid #000; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #create-tab .template-wrap .thumb {
          cursor: pointer; }
      #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab {
        background-color: #f0ebe5; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table {
          background-color: #FFF; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .thead {
            margin: 0 5px;
            padding: 7px 0;
            color: #000;
            font-family: "adobe_garamond_probold",Arial,Helvetica,sans-serif !important;
            border-bottom: 2px dotted #000; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .thead table tr th {
              width: 40%;
              text-align: center; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .thead table tr th + th {
              width: 20%; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .thead table tr th + th + th {
              width: 40%; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody {
            margin: 0 5px;
            overflow: auto; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table {
              width: 100%; }
              #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td {
                color: #000;
                width: 40%;
                text-align: left;
                padding: 4px 0; }
                #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td .buyItemImg div {
                  vertical-align: top;
                  display: inline-block;
                  *display: inline;
                  zoom: 1; }
                  #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td .buyItemImg div img {
                    outline: 1px solid #CCC; }
                #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td .buyItemImg .buyItemMeta {
                  padding: 0 3px; }
                  #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td .buyItemImg .buyItemMeta p {
                    text-align: left;
                    font-size: 14px;
                    color: #C7544E;
                    padding: 2px 0; }
                  #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td .buyItemImg .buyItemMeta p + p {
                    color: #000; }
              #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td + td {
                width: 20%;
                min-width: 50px;
                text-align: center; }
                #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td + td input {
                  width: 80%;
                  border: 1px solid #CCC;
                  padding: 5px;
                  -moz-border-radius: 3px;
                  -webkit-border-radius: 3px;
                  border-radius: 3px;
                  /* future proofing */
                  -khtml-border-radius: 3px;
                  /* for old Konqueror browsers */ }
                #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td + td input.input-error {
                  border: 1px solid red; }
              #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tbody table tr td + td + td {
                width: 40%;
                text-align: center; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tfoot {
            border-top: 2px dotted #000;
            margin: 0 5px;
            padding: 5px 0; }
            #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tfoot table tr th {
              text-align: right;
              color: #000; }
              #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .buyTableWrap .table .tfoot table tr th span {
                font-weight: bold; }
        #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .checkOutWrap {
          padding: 10px 5px;
          text-align: right;
          background-color: #FFFFFF; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .checkOutWrap input {
            height: 30px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .checkOutWrap input#check-button {
            color: #FFFFFF;
            font-weight: bold;
            cursor: pointer;
            vertical-align: top;
            border: 0;
            margin: 0;
            background-color: #000000;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#000000');
            /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(black));
            /* for webkit browsers */
            background: -moz-linear-gradient(top, #999999, black);
            /* for firefox 3.6+ */
            border: 1px solid #666666; }
          #styleboard tbody.bodyWrap tr td#sidebar-wrap #sidebar #buy-tab .checkOutWrap input#check-button:hover {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#333333');
            /* for IE */
            background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#333333));
            /* for webkit browsers */
            background: -moz-linear-gradient(top, #cccccc, #333333);
            /* for firefox 3.6+ */ }
  #styleboard tbody.bodyWrap tr td#canvas-wrap {
    width: 60%; }
    #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas {
      position: relative;
      overflow: hidden;
      border: 1px solid #FFF;
      background-color: #FFF;
      background-image: url("/media/images/canvasbg.jpg");
      background-position: center center;
      background-repeat: no-repeat; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .product {
        position: absolute;
        font-size: 0;
        background: transparent;
        /*background: url('../images/fake_bg.png') 0 0  repeat;*/ }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .box {
        outline: 1px dashed #999;
        *border: 1px dashed #999;
        background-color: rgba(255, 255, 255, 0.6);
        overflow: hidden; }
        #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .box span {
          position: absolute;
          top: 30%;
          left: 0;
          display: block;
          width: 100%;
          text-align: center; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .box.hover, #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .box.dropActive {
        background-color: rgba(201, 198, 189, 0.6) !important; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .box.notEmpty {
        background: none;
        outline: none;
        *border: none; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .box.dropHere {
        background-color: rgba(66, 61, 55, 0.6) !important; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .box.active {
        background-color: rgba(255, 255, 255, 0.6);
        outline: 1px dashed #999; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .box.active img {
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        /* IE 5-7 */
        filter: alpha(opacity=60);
        /* Netscape */
        -moz-opacity: 0.6;
        /* Safari 1.x */
        -khtml-opacity: 0.6;
        /* Good browsers */
        opacity: 0.6; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .product:hover {
        outline: 1px solid #DDD; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .nwMenus {
        float: left;
        margin-top: 5px;
        margin-left: 5px; }
        #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .nwMenus .canvasControl {
          position: relative;
          z-index: 99999;
          zoom: 1;
          opacity: 0.8;
          *margin: 0;
          *padding: 0;
          font-size: 0; }
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .nwMenus .canvasControl li a {
            display: block;
            width: 80px;
            font-size: 14px;
            padding: 7px 0;
            text-align: center;
            text-transform: uppercase;
            background-color: #EFECE6;
            color: #666666;
            font-weight: bold;
            border-left: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            border-right: 1px solid #CCC;
            background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#efece6));
            /* for webkit browsers */
            background: -moz-linear-gradient(top, #eeeeee, #efece6);
            /* for firefox 3.6+ */
            background: -o-linear-gradient(top, #eeeeee, #efece6); }
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .nwMenus .canvasControl li a#save {
            color: #666666;
            font-weight: bold;
            background-color: #f8e2df;
            background: -webkit-gradient(linear, left top, left bottom, from(#f8e2df), to(#e6b4b1));
            /* for webkit browsers */
            background: -moz-linear-gradient(top, #f8e2df, #e6b4b1);
            /* for firefox 3.6+ */
            background: -o-linear-gradient(top, #f8e2df, #e6b4b1); }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
        display: none;
        *width: 294px; }
        #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgControlWrap .imgControl {
          display: block;
          float: right\9;
          position: relative;
          padding: 0;
          z-index: 99999; }
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgControlWrap .imgControl li {
            display: block;
            float: left;
            background-color: #EFECE6;
            	                          /*
              	background-color: rgba(225, 225, 225, 0.5);
              	background-color: #EEE\9;*/ }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgControlWrap .imgControl li a {
              display: block;
              padding: 8px 10px;
              margin: 5px;
              color: #333;
              text-transform: uppercase;
              font-size: 0.8em; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgControlWrap .imgControl li a:hover {
              background-color: #C7C6C3;
              color: #000000; }
        #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgBgControlWrap {
          float: right;
          margin-top: 5px;
          clear: both\9;
          position: relative;
          z-index: 99999;
          padding: 0; }
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgBgControlWrap .imgBgControl li {
            background-color: rgba(225, 225, 225, 0.5);
            background-color: #EEE\9;
            padding: 5px; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgBgControlWrap .imgBgControl li a {
              display: block;
              width: 50px;
              height: 50px;
              border: 1px solid #DDD;
              position: relative;
              z-index: 99999; }
              #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgBgControlWrap .imgBgControl li a div {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgBgControlWrap .imgBgControl li a#transBg-btn {
              background-image: url("/media/interface/images/transBg.jpg");
              background-repeat: repeat; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgBgControlWrap .imgBgControl li a#customBg-btn div {
              background-image: url("/media/interface/images/customBg.png");
              background-repeat: no-repeat;
              background-position: center center; }
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgBgControlWrap .imgBgControl li + li,
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .imgBgControlWrap .imgBgControl li + li + li {
            padding-top: 0; }
        #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment {
          margin-top: 5px;
          clear: both; }
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #color-picker-wrap {
            float: left;
            width: 10%; }
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #opacity-control-wrap {
            float: right;
            width: 87%;
            margin-right: 8px; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #opacity-control-wrap .opacity-control-label {
              margin-bottom: 3px;
              font-size: 11px;
              color: #000000;
              text-align: center; }
              #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #opacity-control-wrap .opacity-control-label .subtract {
                display: block;
                float: left; }
              #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #opacity-control-wrap .opacity-control-label .add {
                display: block;
                float: right; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #opacity-control-wrap #slider {
              z-index: 9999; }
          #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #text-change-wrap {
            float: right;
            width: 150px;
            position: relative;
            z-index: 9999; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #text-change-wrap #font_id {
              width: 148px;
              float: right;
              margin-bottom: 2px; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #text-change-wrap #text-change {
              resize: none;
              width: 140px;
              height: 50px;
              padding: 3px;
              border: 1px solid #DDD;
              float: right;
              margin-bottom: 3px; }
            #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas .neMenus .colorAdjustment #text-change-wrap #text-update {
              display: block;
              clear: both;
              float: right;
              padding: 4px;
              background-color: #eee;
              color: #333;
              font-size: 12px;
              border: 1px solid #DDD; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas #object-counter {
        background-color: #DA9B94;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        background-color: #EEE\9;
        background-color: rgba(225, 225, 225, 0.7);
        z-index: 99999;
        font-size: 12px;
        color: red; }
      #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas #lasso {
        position: relative;
        display: none;
        background: none;
        border-width: 1px;
        border-style: dashed;
        z-index: 8001; }
    #styleboard tbody.bodyWrap tr td#canvas-wrap #canvas:hover {
      border: 1px solid #EEE; }

#compact-footer {
  width: 100%;
  min-width: 800px;
  background-color: #000;
  margin-top: 5px; }
  #compact-footer table {
    width: 100%; }
    #compact-footer table tfoot.footWrap tr td {
      padding: 15px; }
      #compact-footer table tfoot.footWrap tr td .copyright {
        float: left;
        font-size: 12px;
        color: #FFF;
        line-height: 16px; }
      #compact-footer table tfoot.footWrap tr td .footerMenus {
        float: right; }
        #compact-footer table tfoot.footWrap tr td .footerMenus ul {
          font-size: 0; }
          #compact-footer table tfoot.footWrap tr td .footerMenus ul li {
            *white-space: nowrap;
            display: inline-block;
            zoom: 1;
            *display: inline;
            font-size: 12px;
            padding: 3px 5px;
            border-left: 1px solid #DDD;
            color: #FFF; }
            #compact-footer table tfoot.footWrap tr td .footerMenus ul li a {
              color: #FFF; }
          #compact-footer table tfoot.footWrap tr td .footerMenus ul li:first-child {
            border-left: none; }

#page-mask {
  position: fixed;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999; }

#modal-window {
  border: 5px solid #DDD;
  position: absolute;
  width: 500px;
  min-height: 400px;
  max-height: 700px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 0 8px #333;
  z-index: 99999;
  top: 10%;
  overflow: hidden; }
  #modal-window h2 {
    margin: 0 5px 0 0;
    padding: 0;
    text-align: right; }
    #modal-window h2 a {
      color: #999;
      font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif; }
    #modal-window h2 a:hover {
      color: #333; }
  #modal-window #iframe-wrap {
    width: 405px;
    margin: 0 auto;
    overflow: hidden; }
  #modal-window iframe {
    width: 412px;
    height: 490px; }

.idecorateTooltip {
  width: 400px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 350px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 500000; }
  .idecorateTooltip table {
    width: 100%; }
    .idecorateTooltip table td {
      vertical-align: top;
      font-size: 12px;
      color: #333; }
      .idecorateTooltip table td img {
        border: 1px solid #EEE; }
  .idecorateTooltip .close {
    color: #aaa;
    cursor: pointer;
    font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 20px;
    padding: 3px 10px 2px 8px;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 4px; }
  .idecorateTooltip .container-tooltip {
    overflow: hidden;
    padding-top: 8px; }
  .idecorateTooltip ul li {
    margin-bottom: 4px; }

/*===== jquery UI styles overwrites =====*/
#sidebar .ui-draggable-dragging {
  width: 100px !important;
  z-index: 99;
  box-shadow: -2px 0 5px #999999;
  border: 1px solid #CCC;
  background-color: #FFF;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  outline: none !important; }

#canvas .handles {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  cursor: move;
  display: none;
  position: absolute;
  z-index: 1000;
  background: transparent;
  overflow: visible;
  /*background: url('../images/fake_bg.png') 0 0  repeat;*/ }
  #canvas .handles .ui-resizable-handle {
    background-color: #CCC;
    border: 1px solid #333; }
  #canvas .handles .ui-rotatable-handle {
    position: absolute;
    width: 1px;
    background-color: #666;
    height: 30px;
    top: -30px;
    left: 50%;
    z-index: 1000; }
    #canvas .handles .ui-rotatable-handle .ui-rotatable-handle-tip {
      background: #CCC;
      border: 1px solid #333;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -webkit-border-radius: 4px;
      cursor: pointer;
      height: 9px;
      width: 9px;
      margin-left: -5px; }
  #canvas .handles .ui-rotatable-handle.ui-draggable-dragging {
    visibility: hidden; }
#canvas .selected {
  	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    	filter: alpha(opacity=80);*/
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  z-index: 1; }

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5; }

.ui-widget {
  font-size: 12px !important; }

.hidden {
  visibility: hidden; }
