/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* ========================================
	Links
=========================================*/
a, a:hover, a:active {
  outline: 0;
  text-decoration: none;
  text-decoration: none; }

/*=========================================
	Main Styles
=========================================*/
/*px*/
/*px*/
html {
  height: 100%; }

body {
  font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
  font-size: 100%;
  background-color: #c2bdbd;
  color: #666666;
  background-color: #FFFFFF;
  overflow: hidden;
  height: 100%; }

#page-wrap {
  min-width: 800px; }

/*#content-wrap{
	min-height: 330px;
}*/
h1, h2, h3, h4, h5 {
  font-weight: normal; }

h1 {
  font-size: 175%; }

/*28px/16px*100*/
h2 {
  font-size: 156.25%; }

/*25px/16px*100*/
h3 {
  font-size: 137.5%; }

/*22px/16px*100*/
h4 {
  font-size: 118.75%; }

/*19px/16px*100*/
h5 {
  font-size: 100%; }

/*16px/16px*100*/
@media screen and (max-width:800px) {}
#header {
  padding: 5px 0.521%;
  border-bottom: 1px solid #EEE;
  margin-bottom: 5px; }
  #header .headerColumn {
    float: left;
    width: 41.927%; }
  #header #info-menu {
    text-align: left; }
  #header #logo {
    text-align: center;
    width: 15.625%; }
  #header #site-menu {
    text-align: right; }
  #header ul.dropdown {
    position: relative;
    margin-bottom: 15px; }
    #header ul.dropdown li {
      display: inline-block;
      border-left: 1px solid #999999;
      *float: left; }
      #header ul.dropdown li a {
        display: block;
        padding: 3px 8px;
        color: #222;
        white-space: nowrap;
        font-size: 14px; }
    #header ul.dropdown li.nonLink {
      font-size: 14px;
      line-height: 22px;
      padding: 0 8px; }
    #header ul.dropdown li.nonLink:hover,
    #header ul.dropdown li.nonLink.hover {
      background: none !important;
      color: #666666; }
    #header ul.dropdown li:first-child {
      border-left: none; }
    #header ul.dropdown li.hover,
    #header ul.dropdown li:hover {
      background: #F3D673;
      color: black;
      position: relative; }
    #header ul.dropdown li.hover a {
      color: black; }
    #header ul.dropdown a:hover {
      color: #000; }
    #header ul.dropdown a:active {
      color: #ffa500; }
    #header ul.dropdown ul {
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0; }
      #header ul.dropdown ul li {
        font-weight: normal;
        background: #f6f6f6;
        color: #000;
        border-bottom: 1px solid #ccc;
        float: none;
        padding-right: 10px; }
        #header ul.dropdown ul li a {
          border-left: none;
          width: 100%;
          display: inline-block; }
      #header ul.dropdown ul ul {
        left: 100%;
        top: 0; }
    #header ul.dropdown li:hover > ul {
      visibility: visible; }

footer {
  clear: both;
  padding: 10px 0.521%; }
  footer .copyright {
    float: left;
    font-size: 12px;
    color: #333; }
  footer .footerMenus {
    float: right; }
    footer .footerMenus ul {
      font-size: 0; }
      footer .footerMenus ul li {
        *white-space: nowrap;
        display: inline-block;
        zoom: 1;
        *display: inline;
        font-size: 10px;
        padding: 3px 5px;
        border-left: 1px solid #DDD; }
        footer .footerMenus ul li a {
          color: #333; }
      footer .footerMenus ul li:first-child {
        border-left: none; }

#sidebar {
  background-color: #FFF;
  display: block;
  width: 40%;
  /*768/1920*100*/
  height: 100%;
  float: left;
  margin-left: 0.520833333%;
  /*10/1920*100*/ }
  #sidebar #sidebar-nav {
    display: block;
    border-bottom: 1px solid #DDD; }
    #sidebar #sidebar-nav li {
      display: inline-block;
      zoom: 1;
      *display: inline;
      margin-left: -1px; }
      #sidebar #sidebar-nav li a {
        display: block;
        padding: 8px;
        background-color: #EEEEEE;
        border-right: 1px solid #DDD;
        border-top: 1px solid #DDD;
        border-left: 1px solid #DDD;
        font-size: 0.875em;
        color: #333; }
      #sidebar #sidebar-nav li a:hover {
        background-color: #CCC; }
  #sidebar #sidebar-form-wrap {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD; }
    #sidebar #sidebar-form-wrap h3 {
      margin: 5px; }
    #sidebar #sidebar-form-wrap fieldset {
      margin: 5px;
      padding: 5px;
      border: 1px solid #DDD; }
      #sidebar #sidebar-form-wrap fieldset .sidebarInputs {
        width: 50%;
        float: left; }
      #sidebar #sidebar-form-wrap fieldset .sidebarTotals {
        width: 50%;
        float: right;
        margin-top: 10px;
        text-align: right; }
      #sidebar #sidebar-form-wrap fieldset h5 span {
        color: #333; }
      #sidebar #sidebar-form-wrap fieldset label {
        display: block;
        margin-top: 5px;
        color: #333;
        font-size: 0.75em; }
      #sidebar #sidebar-form-wrap fieldset input[type="text"] {
        width: 39.063%;
        border: 1px solid #CCC;
        padding: 5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        /* future proofing */
        -khtml-border-radius: 3px;
        /* for old Konqueror browsers */ }
  #sidebar #create-tab-nav {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD; }
    #sidebar #create-tab-nav ul li {
      display: inline-block;
      zoom: 1;
      *display: inline;
      margin-left: -1px; }
      #sidebar #create-tab-nav ul li a {
        display: block;
        padding: 6px;
        background-color: #EEEEEE;
        border-right: 1px solid #DDD;
        border-top: 1px solid #DDD;
        border-left: 1px solid #DDD;
        font-size: 0.813em;
        color: #333; }
      #sidebar #create-tab-nav ul li a:hover {
        background-color: #CCC; }
  #sidebar #create-tab {
    overflow: hidden;
    border: 1px solid #DDD; }
    #sidebar #create-tab .breadcrumb {
      margin: 5px; }
      #sidebar #create-tab .breadcrumb li {
        display: inline-block;
        zoom: 1;
        *display: inline;
        font-size: 12px;
        padding-right: 5px; }
        #sidebar #create-tab .breadcrumb li a {
          text-decoration: none;
          color: #000;
          display: block;
          background-color: #DDDDDD;
          padding: 2px 5px;
          border: 1px solid #CCCCCC; }
        #sidebar #create-tab .breadcrumb li a:hover {
          background-color: #999999;
          color: #FFF; }
    #sidebar #create-tab .thumb.categories {
      display: block;
      float: left;
      width: 17.578125%;
      /*100/768*100*/
      padding: 1px;
      margin: 6px -3px -3px 6px;
      font-size: 0;
      min-width: 76px; }
      #sidebar #create-tab .thumb.categories img {
        width: 100%; }
      #sidebar #create-tab .thumb.categories span {
        display: block;
        margin-top: 10px;
        font-size: 10px;
        text-align: center; }
    #sidebar #create-tab .thumb.products {
      display: block;
      float: left;
      width: 17.578125%;
      /*100/768*100*/
      padding: 1px;
      margin: 6px -3px -3px 6px;
      font-size: 0;
      min-width: 76px; }
      #sidebar #create-tab .thumb.products img {
        width: 100%; }

#canvas {
  position: relative;
  overflow: hidden;
  width: 57.96875%;
  /*1113/1920*100*/
  border: 1px solid #DDD;
  height: 100%;
  float: right;
  margin-right: 0.520833333%;
  /*10/1920*100*/
  background-color: #FFF; }
  #canvas .product {
    position: absolute;
    padding: 1px;
    font-size: 0;
    background: url("../images/fake_bg.png") 0 0 repeat; }
  #canvas .product:hover {
    border: 1px solid #DDD;
    margin: -1px 0 0 -1px; }
  #canvas .neMenus {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    display: none; }
  #canvas .neMenus .imgControlWrap .imgControl {
    display: block;
    float: right\9;
    position: relative;
    z-index: 99999; }
    #canvas .neMenus .imgControlWrap .imgControl li {
      display: block;
      float: left;
      background-color: rgba(225, 225, 225, 0.5);
      background-color: #EEE\9; }
      #canvas .neMenus .imgControlWrap .imgControl li a {
        display: block;
        padding: 8px 10px;
        margin: 5px;
        color: #333;
        font-size: 0.8em; }
      #canvas .neMenus .imgControlWrap .imgControl li a:hover {
        background-color: #C7C6C3;
        color: #000000; }
  #canvas .neMenus .imgBgControlWrap {
    float: right;
    margin-top: 5px;
    clear: both\9;
    position: relative;
    z-index: 99999; }
    #canvas .neMenus .imgBgControlWrap .imgBgControl li {
      background-color: rgba(225, 225, 225, 0.5);
      background-color: #EEE\9;
      padding: 5px; }
      #canvas .neMenus .imgBgControlWrap .imgBgControl li a {
        display: block;
        width: 50px;
        height: 50px;
        border: 1px solid #DDD;
        position: relative;
        z-index: 99999; }
    #canvas .neMenus .imgBgControlWrap .imgBgControl li + li,
    #canvas .neMenus .imgBgControlWrap .imgBgControl li + li + li {
      padding-top: 0; }

/*===== jquery UI styles overwrites =====*/
#sidebar .ui-draggable-dragging {
  width: 100px !important;
  z-index: 99;
  box-shadow: -4px 4px 5px #999999;
  border: 1px solid #CCC;
  background-color: #FFF;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6; }

#canvas .handles {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  cursor: move;
  display: none;
  position: absolute;
  z-index: 90000;
  background: url("../images/fake_bg.png") 0 0 repeat; }
  #canvas .handles .ui-resizable-handle {
    background-color: #CCC;
    border: 1px solid #333; }
#canvas .selected {
  	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    	filter: alpha(opacity=80);*/
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  z-index: 1; }

/*=========pagination======*/
.product-list {
  overflow: hidden;
  width: 100%;
  height: 75%; }

.products {
  border: 1px solid #fff; }

.products:hover {
  border: 1px solid #ccc; }

.pagination {
  margin-top: 20px;
  text-align: center;
  font-size: 12px; }

.pagination span {
  cursor: pointer;
  margin-right: 5px;
  padding: 4px 6px; }

.pagination span.cur-page {
  background-color: #ccc;
  cursor: default;
  font-weight: bold;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.product-overlay {
  background: #fff;
  position: absolute; }
