/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/*=========================================
	Clearfix for self clearing floated children
=========================================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* ========================================
	Links
=========================================*/
a, a:hover, a:active {
  outline: 0;
  text-decoration: none;
  text-decoration: none; }

/*=========================================
	Main Styles
=========================================*/
/*px*/
/*px*/
/*px*/
/*px*/
body {
  font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
  font-size: 100%;
  background-color: #c2bdbd;
  color: #666666; }

#main-container {
  width: 100%;
  min-width: 800px;
  background-color: #FFFFFF; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

h1 {
  font-size: 175%; }

/*28px/16px*100*/
h2 {
  font-size: 156.25%; }

/*25px/16px*100*/
h3 {
  font-size: 137.5%; }

/*22px/16px*100*/
h4 {
  font-size: 118.75%; }

/*19px/16px*100*/
h5 {
  font-size: 100%; }

/*16px/16px*100*/
#header {
  margin-bottom: 0.938em;
  border-bottom: 1px solid #EEEEEE;
  min-height: 100%;
  padding: 0.938em 0; }
  #header .headerColumn {
    vertical-align: top; }
    #header .headerColumn a {
      text-decoration: none;
      color: #333333; }
  #header #info-menu, #header #site-menu, #header #logo {
    float: left; }
  #header #info-menu, #header #site-menu {
    width: 39.219%; }
  #header #info-menu {
    margin-left: 0.781%; }
  #header #logo {
    width: 20%; }
    #header #logo h1, #header #logo h3 {
      text-align: center; }
  #header #site-menu {
    margin-right: 0.781%;
    vertical-align: top;
    text-align: left; }
    #header #site-menu ul {
      float: right; }

@media screen and (max-width:800px) {
  #info-menu, #site-menu, #logo {
    float: none;
    margin: 0;
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 0.625em;
    /*22px/16px*/ }
    #info-menu ul, #site-menu ul, #logo ul {
      float: none !important; }

  #site-menu {
    margin-bottom: 0 !important; } }

/* 
	LEVEL ONE
*/
ul.dropdown {
  position: relative;
  margin-bottom: 0.938em;
  /*22px/16px*/
  /* 
  LEVEL TWO
  */ }
  ul.dropdown li {
    display: inline-block;
    border-left: 1px solid #999999;
    *float: left; }
    ul.dropdown li a {
      display: block;
      padding: 0.188em 0.5em;
      color: #222;
      white-space: nowrap;
      font-size: 0.875em;
      /*22px/16px*/ }
  ul.dropdown li.nonLink {
    font-size: 0.875em;
    /*22px/16px*/
    line-height: 1.375em;
    /*22px/16px*/
    padding: 0 0.5em; }
  ul.dropdown li.nonLink:hover,
  ul.dropdown li.nonLink.hover {
    background: none !important;
    color: #666666; }
  ul.dropdown li:first-child {
    border-left: none; }
  ul.dropdown li.hover,
  ul.dropdown li:hover {
    background: #F3D673;
    color: black;
    position: relative; }
  ul.dropdown li.hover a {
    color: black; }
  ul.dropdown a:hover {
    color: #000; }
  ul.dropdown a:active {
    color: #ffa500; }
  ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    /* IE 6 & 7 Needs Inline Block */
    /* 
    	LEVEL THREE
    */ }
    ul.dropdown ul li {
      font-weight: normal;
      background: #f6f6f6;
      color: #000;
      border-bottom: 1px solid #ccc;
      float: none;
      padding-right: 0.625em;
      /*22px/16px*/ }
      ul.dropdown ul li a {
        border-left: none;
        width: 100%;
        display: inline-block; }
    ul.dropdown ul ul {
      left: 100%;
      top: 0; }
  ul.dropdown li:hover > ul {
    visibility: visible; }

footer {
  margin-top: 0.938em;
  border-top: 1px solid #EEEEEE;
  padding: 0.938em 0.781%; }
  footer .copyright {
    float: left;
    font-size: 0.75em; }
  footer .footerMenus {
    float: right; }
    footer .footerMenus ul li {
      padding: 0.063em 0.313em;
      display: inline-block;
      zoom: 1;
      *display: inline;
      border-left: 1px solid #CCCCCC; }
      footer .footerMenus ul li a {
        display: block;
        text-decoration: none;
        color: #333333;
        font-size: 0.625em; }
    footer .footerMenus ul li:first-child {
      border-left: none; }

#sidebar {
  width: 40%;
  height: 670px;
  float: left;
  border: 1px solid #DDDDDD;
  margin-left: 0.781%;
  position: relative;
  margin-top: 30px; }
  #sidebar .breadcrumb {
    margin: 5px; }
    #sidebar .breadcrumb li {
      display: inline-block;
      zoom: 1;
      *display: inline;
      font-size: 12px;
      padding-right: 5px; }
      #sidebar .breadcrumb li a {
        text-decoration: none;
        color: #000;
        display: block;
        background-color: #DDDDDD;
        padding: 2px 5px;
        border: 1px solid #CCCCCC; }
      #sidebar .breadcrumb li a:hover {
        background-color: #999999;
        color: #FFF; }
  #sidebar .sideNav {
    position: absolute;
    top: -31px;
    left: -1px; }
    #sidebar .sideNav li {
      display: inline; }
      #sidebar .sideNav li a {
        margin-right: 2px;
        float: left;
        display: block;
        text-decoration: none;
        height: 30px;
        background-color: #CCCCCC;
        font-size: 0.813em;
        line-height: 30px;
        padding: 0 1.25em;
        color: #FFF;
        border-left: 1px solid #999999;
        border-top: 1px solid #999999;
        border-right: 1px solid #999999;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        /* future proofing */
        -khtml-border-radius: 5px 5px 0 0;
        /* for old Konqueror browsers */
        text-shadow: 0 1px #999999; }
      #sidebar .sideNav li a:hover {
        background-color: #999999; }
    #sidebar .sideNav li.active a {
      background-color: #999999; }
  #sidebar #sidebar-form-wrap {
    border: 1px solid #EEE;
    margin: 10px 5px;
    padding: 10px 0.625em; }
    #sidebar #sidebar-form-wrap .sidebarInputs {
      width: 50%;
      float: left; }
    #sidebar #sidebar-form-wrap .sidebarTotals {
      width: 50%;
      float: right;
      margin-top: 10px;
      text-align: right; }
    #sidebar #sidebar-form-wrap h3 {
      margin-bottom: 10px;
      border-bottom: 1px solid #EEE;
      padding: 5px 0; }
    #sidebar #sidebar-form-wrap h5 span {
      color: #333; }
    #sidebar #sidebar-form-wrap label {
      display: block;
      margin-top: 5px;
      color: #333;
      font-size: 0.75em; }
    #sidebar #sidebar-form-wrap input[type="text"] {
      width: 26.042%;
      border: 1px solid #CCC;
      padding: 5px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      /* future proofing */
      -khtml-border-radius: 3px;
      /* for old Konqueror browsers */ }
  #sidebar #create-tab-nav {
    margin: 0 5px;
    border-bottom: 1px solid #DDDDDD; }
    #sidebar #create-tab-nav ul {
      position: relative !important;
      top: 0;
      left: -1px; }
      #sidebar #create-tab-nav ul a {
        height: 25px;
        line-height: 25px;
        padding: 0 0.625em; }
  #sidebar #create-tab .thumb {
    display: block;
    float: left;
    width: 17.578125%;
    /*100/768*100*/
    padding: 1px;
    margin: 6px -3px -3px 6px;
    font-size: 0;
    min-width: 76px; }
    #sidebar #create-tab .thumb img {
      width: 100%; }
    #sidebar #create-tab .thumb span {
      color: #0096ff;
      margin-top: 0.625em;
      display: block;
      width: 100%;
      font-size: 0.688em;
      text-align: center; }
  #sidebar #create-tab .thumb:hover {
    background: #DDD; }
  #sidebar .overflowY {
    height: 517px;
    overflow: auto;
    *overflow-x: hidden; }
  #sidebar #buy-tab .overflowY {
    height: 450px; }
  #sidebar #buy-tab #buy-table {
    width: 97.656%;
    margin: 10px auto; }
    #sidebar #buy-tab #buy-table thead {
      border-bottom: medium double #DDD; }
      #sidebar #buy-tab #buy-table thead th {
        padding: 5px 0;
        font-size: 0.875em;
        color: #333; }
      #sidebar #buy-tab #buy-table thead th:first-child {
        width: 52.083%; }
      #sidebar #buy-tab #buy-table thead th:first-child + th {
        width: 19.531%; }
      #sidebar #buy-tab #buy-table thead th:first-child + th + th {
        width: 26.042%; }
    #sidebar #buy-tab #buy-table tbody tr.odd {
      background-color: #FFF; }
    #sidebar #buy-tab #buy-table tbody tr.even {
      background-color: #EEE; }
      #sidebar #buy-tab #buy-table tbody tr.even .buyItemImg {
        border: 1px solid #DDD; }
    #sidebar #buy-tab #buy-table tbody td {
      text-align: center;
      font-size: 0.75em;
      vertical-align: middle; }
    #sidebar #buy-tab #buy-table tbody .buyItemImg {
      border: 1px solid #EEE;
      width: 30%;
      line-height: 30%;
      position: relative;
      margin: 5px 2.5%; }
      #sidebar #buy-tab #buy-table tbody .buyItemImg img {
        width: 100%; }
      #sidebar #buy-tab #buy-table tbody .buyItemImg .buyItemMeta {
        position: absolute;
        left: 110%;
        top: 0; }
        #sidebar #buy-tab #buy-table tbody .buyItemImg .buyItemMeta h5 {
          color: #0096ff;
          white-space: nowrap;
          font-size: 1.125em;
          line-height: 2.188em; }
        #sidebar #buy-tab #buy-table tbody .buyItemImg .buyItemMeta p {
          white-space: nowrap;
          font-size: 0.938em; }
    #sidebar #buy-tab #buy-table tbody input[type="text"] {
      width: 26.042%;
      border: 1px solid #CCC;
      padding: 5px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      /* future proofing */
      -khtml-border-radius: 3px;
      /* for old Konqueror browsers */ }
    #sidebar #buy-tab #buy-table tfoot {
      border-top: medium double #DDD; }
      #sidebar #buy-tab #buy-table tfoot td {
        padding: 5px 0;
        color: #333;
        font-size: 0.938em;
        text-align: center; }
      #sidebar #buy-tab #buy-table tfoot td[colspan="2"] {
        text-align: right; }
  #sidebar #buy-tab .checkOutWrap {
    text-align: right;
    padding: 1.953%;
    width: 93.75%;
    margin: 10px auto; }

#canvas {
  position: relative;
  overflow: hidden;
  width: 57.96875%;
  /*1113/1920*100*/
  border: 1px solid #DDD;
  height: 100%;
  float: right;
  margin-right: 0.520833333%;
  /*10/1920*100*/
  background-color: #FFF; }
  #canvas .product {
    position: absolute;
    padding: 1px;
    font-size: 0;
    background: url("../images/fake_bg.png") 0 0 repeat; }
  #canvas .product:hover {
    background-color: #DDD; }
  #canvas .neMenus {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    display: none; }
  #canvas .neMenus .imgControlWrap .imgControl {
    display: block;
    float: right\9;
    position: relative;
    z-index: 99999; }
    #canvas .neMenus .imgControlWrap .imgControl li {
      display: block;
      float: left;
      background-color: rgba(225, 225, 225, 0.5);
      background-color: #EEE\9; }
      #canvas .neMenus .imgControlWrap .imgControl li a {
        display: block;
        padding: 8px 10px;
        margin: 5px;
        color: #333;
        font-size: 0.8em; }
      #canvas .neMenus .imgControlWrap .imgControl li a:hover {
        background-color: #C7C6C3;
        color: #000000; }
  #canvas .neMenus .imgBgControlWrap {
    float: right;
    margin-top: 5px;
    clear: both\9;
    position: relative;
    z-index: 99999; }
    #canvas .neMenus .imgBgControlWrap .imgBgControl li {
      background-color: rgba(225, 225, 225, 0.5);
      background-color: #EEE\9;
      padding: 5px; }
      #canvas .neMenus .imgBgControlWrap .imgBgControl li a {
        display: block;
        width: 50px;
        height: 50px;
        border: 1px solid #DDD;
        position: relative;
        z-index: 99999; }
    #canvas .neMenus .imgBgControlWrap .imgBgControl li + li,
    #canvas .neMenus .imgBgControlWrap .imgBgControl li + li + li {
      padding-top: 0; }

/*===== juery UI styles overwrites =====*/
#sidebar .ui-draggable-dragging {
  width: 100px !important;
  z-index: 1;
  box-shadow: -4px 4px 5px #999999;
  border: 1px solid #CCC;
  background-color: #FFF;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6; }

#canvas .handles {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  cursor: move;
  display: none;
  position: absolute;
  z-index: 90000;
  background: url("../images/fake_bg.png") 0 0 repeat; }
  #canvas .handles .handles .ui-resizable-handle {
    background-color: #CCC;
    border: 1px solid #333; }
  #canvas .handles .selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 1; }
