{% extends "base.html" %}
{% load i18n widget_tweaks idecorate_interface static %}
{% block title %}iDecorate Weddings | Reset Password{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'stylesheets/flat.css' %}">
    <link rel="stylesheet" href="{% static 'customer/stylesheets/customer.css' %}">
{% endblock %}
{% block content %}
<div class="flatPageWrap clearfix">
    <div id="forgot-pass">
        <h3>Forgot Password</h3>
        <p>Please enter your account email address to receive instructions on how to reset your password</p>
        <form id="forgot_password" method="post">
            {% csrf_token %}
            {{ form.username|attr:"placeholder:Enter E-mail Address" }}
            <input class="btn" id="send-email" type="submit" name="btnSubmit" value="Submit" />
            <a href="{{ cancel }}" class="btn" id="cancel-send">Cancel</a>
        </form>
        {% if messages %}{{ messages|safe }}{% endif %}
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}