{% extends "base.html" %}
{% load widget_tweaks static %}
{% block title %}iDecorate Weddings{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'customer/stylesheets/invite_friends.css' %}">
{% endblock %}
{% block content %}
<div id="content_header">
    <div class="headingWrap">
        <div class="fieldset contentHeading">
            <div class="legend"><span >Invite Friends</span></div>
        </div>
    </div>
</div>
<div id="content_body">
<div class="inviteFriendsWrap">
	<div class="searchFriends">
		<form action="" method="post">
			{% csrf_token %}
			{{ search_form_fb.search_name|attr:"placeholder:Search Friends" }}
			<input type="image" src="{% static 'images/search_icon.png' %}" class="searchIcon" />
			<input type="submit" value="Search" class="searchButton">
		</form>
	</div>
	<div class="inviteFriends">
		{% if user.is_authenticated and associated %}
		{% if fb_friends %}
		<ul class="friendList" id="content_friends"></ul>
		<div class="loading" id="loading">
			<img src="{% static 'images/loader.gif' %}" alt="" />
		</div>
		<div class="loading" id="nomoreresults">Sorry, no more results.</div>
		{% else %}
		<div class="loading2" style="">Sorry, no more results.</div>
		{% endif %}
		{% else %}

		{% if fb_auth_error %}
		<div class="inviteLogoff error">
			<p>{{ fb_auth_error }}</p>
			<a id="login-btn" class="btn" href="/login/facebook/">
				<img src="{% static 'images/img_trans.gif' %}" alt="login" />
				<span>Find friends from facebook</span>
			</a>
		</div>
		{% else %}
		<div class="inviteLogoff">
			<p>We couldn't find any of your friends from Facebook because you haven't logged-in to your facebook account.Click the button below to connect</p>
			<a id="login-btn" class="btn" href="/login/facebook/">
				<img src="{% static 'images/img_trans.gif' %}" alt="login" />
				<span>Find friends from facebook</span>
			</a>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">

page_fb = {{ page_fb }};
friends_count = {{ friends_count }};
friends_loaded = 0;
friend_name = '{{ friend_name }}';
per_page_fb = {{ per_page_fb }};
fb_loading = false;

$(function(e){

	FB.init({appId: "{{ FACEBOOK_APP_ID }}", status: true, cookie: true});

	$('#content_friends').scrollPagination({
		'contentPage': '{% url invite_friends_content %}', // the url you are fetching the results
		'contentData': {}, // these are the variables you can pass to the request, for example: children().size() to know which page you are
		'scrollTarget': $(window), // who gonna scroll? in this example, the full window
		'heightOffset': 20, // it gonna request when scroll is 10 pixels before the page ends
		'beforeLoad': function(){ // before load function, you can display a preloader div
			$('#loading').fadeIn();
			fb_loading = true;	
		},
		'afterLoad': function(elementsLoaded, data){ 

			 $('#loading').fadeOut();
			 //var i = 0;

			 $(elementsLoaded).fadeInWithDelay();
			 
			 if ($(data).length == 0){
			 	$('#nomoreresults').fadeIn();
				$('#content_friends').stopScrollPagination();
			 }

			 fb_loading = false;
			
		}
	});

	// code for fade in element by element
	$.fn.fadeInWithDelay = function(){
		var delay = 0;
		return this.each(function(){
			$(this).delay(delay).animate({opacity:1}, 200);
			delay += 100;
		});
	};

});


function invite_callback(response) {
	          
}

function inviteFriendsNow(to) {

	// calling the API ...
	var obj = {
		method: 'apprequests',
		to: to,
		message: 'We help you create a wedding style, choose products within your budget, we source & then deliver your décor. Our products & packages seek to make weddings more stylish, less stressful & more affordable. Now anyone online can afford a stylist.'
	};



	FB.ui(obj, invite_callback);
}

</script>
{% endblock %}