{% extends "base.html" %}
{% load idecorate_interface humanize static %}
{{ request|set_last_page_idecorate }}
{% block title %}My Profile{% endblock %}
{%  block style %}
<link rel="stylesheet" type="text/css" href="{% static 'customer/stylesheets/profile.css'%}">
{% endblock %}
{% block content %}
<div id="content_header">
	<div class="profileWrap profileName">
		{% if user_profile.first_name and user_profile.last_name %}
			<h3>{{ user_profile.first_name }}</h3>
			<h2>{{ user_profile.last_name }}'s</h2> 
		{% else %}
			<h2>{{ user_profile.username }}</h2> 
		{% endif %}
			<h4>Styleboards</h4>
	</div>
	<div class="profileWrap profileImage">
		{% if user_profile.picture %}
			<img src="{{ user_profile.picture }}" alt="" />
		{% else %}
			<img src="{% static 'images/default_profile_image.jpg' %}" alt="" />
		{% endif %}	
	</div>
	<div class="profileWrap profileInfo">
		{% if user_profile.description %}
			<p>{{ user_profile.description }}</p>
		{% endif %}
	</div>
</div>
<div id="content_body">
	<div class="customerStyleboards clearfix">
	{% if user_styleboard %}	
		{% for item in user_styleboard %}
		<div class="styleboardWrap">
			<div class="styleboardImage">
				<img src="/styleboard/generate_styleboard_view/{{ item.styleboard_item.id }}/450/285/" />
				{% if styleboard_delete %}
				<a class="btn delStyleboard" href="{% url delete_styleboard  item.styleboard_item.id %}">Delete</a>
				{% endif %}
				<div class="operation">
					<a class="btn share" href="#">Share</a>
					<a class="btn" href="{% url view_styleboard item.styleboard_item.id %}">Open<br/>Styleboard</a>
					<div class="socialMediaShare">
						<a  class="share facebook" href="#" onclick="return postToFeed('http://{{ request|get_host }}/styleboard/view/{{ item.styleboard_item.id }}','http://{{ request|get_host }}/styleboard/generate_styleboard_view/{{ item.styleboard_item.id }}/450/405/','{{ item.styleboard_item.name }}','{{ item.styleboard_item.description|escapejs }}');">
							<img border="0" src="{% static 'images/img_trans.gif' %}" />
						</a>
						<a  class="share twitter popupWindow" href="https://twitter.com/home?status=Check this out {{ item.styleboard_item.name|urlencode }}+http%3A%2F%2F{{ request|get_host|urlencode:'' }}%2Fstyleboard%2Fview%2F{{ item.styleboard_item.id }}">
							<img border="0" src="{% static 'images/img_trans.gif' %}" />
						</a>
						<a  class="share tumblr" href="http://www.tumblr.com/share/link?url=http:%2F%2F{{ request|get_host }}%2Fstyleboard%2Fview%2F{{ item.styleboard_item.id }}&name={{ item.styleboard_item.name|urlencode }}&description={{ item.styleboard_item.description|urlencode }}">
							<img border="0" src="{% static 'images/img_trans.gif' %}" />
						</a>
						<a  class="share google popupWindow" href="https://plus.google.com/share?url=http:%2F%2F{{ request|get_host }}%2Fstyleboard%2Fview%2F{{ item.styleboard_item.id }}">
							<img border="0" src="{% static 'images/img_trans.gif' %}" />
						</a>
						<a  class="share pinterest popupWindow" href="http://pinterest.com/pin/create/bookmarklet/?media=http%3A%2F%2F{{ request|get_host }}/styleboard/generate_styleboard_view/{{ item.styleboard_item.id }}/450/285/&description={{ item.styleboard_item.description|linebreak }}&url=http:%2F%2F{{ request|get_host }}%2Fstyleboard%2Fview%2F{{ item.styleboard_item.id }}&is_video=false">
							<img border="0" src="{% static 'images/img_trans.gif' %}" />
						</a>
						<a  class="share email" href="mailto:?subject=iDecorate%20Weddings{{ item.styleboard_item.name }}&body=Check%20this%20styleboard%20from%20iDecorateweddings.com%20http:%2F%2F{{ request|get_host }}%2Fstyleboard%2Fview%2F{{ item.styleboard_item.id }}">
							<img border="0" src="{% static 'images/img_trans.gif' %}" />
						</a>
						<a  class="share print" href="/print_customer_sb/0/{{ item.styleboard_item.id }}/" target="_blank" id="print">
							<img border="0" src="{% static 'images/img_trans.gif' %}" />
						</a>
						<a  class="share pdf" href="/print_customer_sb/1/{{ item.styleboard_item.id }}/" target="_blank" id="pdf" >
							<img border="0" src="{% static 'images/img_trans.gif' %}" />
						</a>
					</div>
				</div>
			</div>
			<h3 class="styleboardName">{{ item.styleboard_item.name }}</h3>
			<h4 class="styleboardCreated">Created {{ item.styleboard_item.created }}</h4>
			<h5 class="styleboardPrice">${{ item.styleboard_item.id|get_emb_save_total|intcomma }}</h5>
			<div class="styleboardDesription">
				{{ item.styleboard_item.description|replace_space|linebreak|truncatechars:300 }}
			</div>
		</div>
		{% endfor %}
	{% else %}
		<a href="{% url create %}">Create New Style Board</a>
	{% endif %}
	</div>
</div>
</section>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
<script type="text/javascript">
	FACEBOOK_APP_ID = "{{ FACEBOOK_APP_ID }}";
</script>
<script type="text/javascript" src="{% static 'customer/javascripts/profile.js'%}"></script>
{% endblock %}