{% load i18n widget_tweaks static %}
<div id="user_access" class="clearfix">
	<div class="formWrap">
		<form action="/customer_login/" id="login_form">
			<div class="fieldset">
                <span class="legendWrap"><span class="legend">Login into an<br/>existing account</span></span>
                <div class="fieldsetContent">
					<div class="formMessages"></div>
					{% csrf_token %}
					<div class="fieldGroup">
						<!-- <label>{{ loginForm.username.label }}:</label> -->
						{{ loginForm.username|attr:"placeholder:Enter E-mail Address" }}
					</div>
					<div class="fieldGroup">
						<!-- <label>{{ loginForm.password.label }}:</label> -->
						{{ loginForm.password|attr:"placeholder:Enter Password" }}
					</div>
					<div class="fieldGroup operation">
						<!-- <a href="#" class="closeModalBtn btn">cancel</a> -->
						<input class="btn" type="submit" name="submit" value="login to my idecorate" />
						<a class="forgotPassword" href="{% url forgot_password %}?cancel_url={{ request.path|urlencode }}">forgot password?</a>
					</div>
				</div>
			</div>
		</form>
		<div class="fieldset socialLogin">
            <span class="legendWrap"><span class="legend">or</span></span>
            <div class="fieldsetContent">
				<a id="idecorate_fb" href="/login/facebook/" class="clearfix">
                	<img src="{% static 'images/login_facebook.png' %}" />
                </a>
                <a id="idecorate_twitter" href="/login/twitter/" class="clearfix">
                	<img src="{% static 'images/login_twitter.png' %}" />
                </a>
			</div>
		</div>
	</div>
	<div class="formWrap">
		<form action="/customer_signup/" id="signup_form">
			<div class="fieldset">
                <span class="legendWrap"><span class="legend">Register a<br/>new account</span></span>
                <div class="fieldsetContent">
					<div class="formMessages"></div>
					{% csrf_token %}
					<div class="fieldGroup">
						<!-- <label>{{ signupForm.firstname.label }}:</label> -->
						{{ signupForm.firstname|attr:"placeholder:Enter First Name" }}
					</div>
					<div class="fieldGroup">
						<!-- <label>{{ signupForm.lastname.label }}:</label> -->
						{{ signupForm.lastname|attr:"placeholder:Enter Last Name" }}
					</div>
					<div class="fieldGroup">
						<!-- <label>{{ signupForm.username.label }}:</label> -->
						{{ signupForm.username|attr:"placeholder:Enter E-mail Address" }}
					</div>
					<div class="fieldGroup">
						<!-- <label>{{ signupForm.password.label }}:</label> -->
						{{ signupForm.password|attr:"placeholder:Enter Password" }}
					</div>
					<div class="fieldGroup">
						<!-- <label>{{ signupForm.confirm_password.label }}:</label> -->
						{{ signupForm.confirm_password|attr:"placeholder:Enter Password Again" }}
					</div>
					<div class="fieldGroup operation">
						<!-- <a href="#" class="closeModalBtn btn">cancel</a> -->
						<input class="btn" type="submit" name="submit" value="Register account" />
					</div>
				</div>
			</div>	
		</form>
	</div>
</div>
