@import url("/static/stylesheets/fontface.css");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic");
.flatPageWrap {
  width: 930px;
  margin: 60px auto 0;
  padding: 15px;
  background-color: #FFFFFF; }
  .flatPageWrap p {
    font-family: "PT Serif", serif;
    margin-top: 10px; }
