@import url("/static/stylesheets/fontface.css");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic");
/*=========================================
	Main Styles
=========================================*/
html {
  height: 100%; }
  html body {
    font-size: 12px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #4d4d4d;
    width: 100%;
    height: 100%;
    background-color: #f2efe8; }
    html body header, html body footer {
      width: 100%;
      min-width: 1024px; }
    html body input[type="text"], html body input[type="password"], html body input[type="email"] {
      border: 1px solid #999999;
      padding: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    html body .header {
      background-image: url("/static/images/header_bg.jpg");
      background-repeat: repeat-x;
      height: 75px;
      padding: 7px 0 13px; }
      html body .header .headerRow {
        width: 1024px;
        margin: 0 auto;
        font-size: 0;
        position: relative; }
        html body .header .headerRow .headerColumn {
          display: inline-block; }
        html body .header .headerRow .headerColumn.info, html body .header .headerRow .headerColumn.user {
          width: 462px;
          vertical-align: bottom;
          font-size: 12px; }
          html body .header .headerRow .headerColumn.info ul, html body .header .headerRow .headerColumn.user ul {
            text-align: center; }
            html body .header .headerRow .headerColumn.info ul li, html body .header .headerRow .headerColumn.user ul li {
              display: inline-block;
              vertical-align: bottom; }
              html body .header .headerRow .headerColumn.info ul li ul, html body .header .headerRow .headerColumn.user ul li ul {
                display: none;
                background-color: #FFFFFF;
                border: 1px solid  #000000;
                left: -5px; }
                html body .header .headerRow .headerColumn.info ul li ul li, html body .header .headerRow .headerColumn.user ul li ul li {
                  padding: 5px 10px !important; }
                  html body .header .headerRow .headerColumn.info ul li ul li a, html body .header .headerRow .headerColumn.user ul li ul li a {
                    color: #333333;
                    font-family: "cartoGothicStd_Book"; }
                  html body .header .headerRow .headerColumn.info ul li ul li a.active, html body .header .headerRow .headerColumn.user ul li ul li a.active {
                    color: #000000;
                    font-family: "cartoGothicStd_Bold"; }
                html body .header .headerRow .headerColumn.info ul li ul li:hover, html body .header .headerRow .headerColumn.user ul li ul li:hover {
                  background-color: #EEEEEE; }
          html body .header .headerRow .headerColumn.info a, html body .header .headerRow .headerColumn.user a {
            color: #EEEEEE;
            text-transform: uppercase;
            display: block;
            font-family: "cartoGothicStd_Bold"; }
        html body .header .headerRow .headerColumn.logo a {
          display: block; }
          html body .header .headerRow .headerColumn.logo a img {
            vertical-align: bottom; }
        html body .header .headerRow #news_letter {
          position: absolute;
          top: 5px;
          right: 0;
          color: #EEEEEE;
          text-transform: uppercase;
          font-size: 12px;
          font-family: "cartoGothicStd_Bold"; }
          html body .header .headerRow #news_letter .arrowRight {
            width: 10px;
            height: 10px;
            margin-bottom: 1px;
            display: inline-block;
            vertical-align: middle;
            background-image: url("/static/images/arrows_sprite.png");
            background-repeat: no-repeat;
            background-position: -10px 0; }
    html body footer {
      display: none;
      left: 0;
      bottom: 0;
      z-index: 5 !important;
      position: fixed;
      text-transform: uppercase;
      font-family: "PT Serif", serif;
      min-width: 1024px; }
      html body footer .footerNavigation {
        text-align: center;
        margin-right: 70px;
        background-color: #FFFFFF;
        border-top: 1px solid #dbd7c9;
        border-right: 1px solid #dbd7c9;
        padding: 10px 0; }
        html body footer .footerNavigation ul {
          font-size: 0;
          display: inline-block;
          vertical-align: top; }
          html body footer .footerNavigation ul li {
            font-size: 12px;
            display: inline-block;
            vertical-align: top; }
        html body footer .footerNavigation ul.FooterMenu {
          margin-right: 15px; }
          html body footer .footerNavigation ul.FooterMenu a {
            height: 32px;
            color: #333333;
            padding: 0 20px !important;
            margin: 0 3px;
            line-height: 32px;
            text-align: center;
            border-style: solid;
            display: inline-block;
            border: 1px solid #dbd7c9;
            background-color: #F7F7F7;
            box-shadow: inset 0 0 4px #FFFFFF; }
            html body footer .footerNavigation ul.FooterMenu a span {
              display: inline-block;
              height: 1em;
              line-height: 1em;
              margin-left: 5px; }
          html body footer .footerNavigation ul.FooterMenu ul {
            display: none;
            margin-top: 10px;
            font-family: "cartoGothicStd_Book"; }
            html body footer .footerNavigation ul.FooterMenu ul li {
              display: block;
              background: none !important; }
              html body footer .footerNavigation ul.FooterMenu ul li a {
                background: none !important;
                border: none !important;
                padding: 4px !important;
                height: 15px;
                line-height: 15px; }
        html body footer .footerNavigation ul.footerSocial a {
          margin: 0 1px;
          display: inline-block;
          vertical-align: top; }
          html body footer .footerNavigation ul.footerSocial a img.socialIcon {
            width: 34px;
            height: 34px;
            background-image: url("/static/images/social_icons.png");
            background-position: -1px -44px;
            vertical-align: top; }
          html body footer .footerNavigation ul.footerSocial a img.facebook {
            background-position: -1px -44px; }
          html body footer .footerNavigation ul.footerSocial a img.gPlus {
            background-position: -37px -44px; }
          html body footer .footerNavigation ul.footerSocial a img.twitter {
            background-position: -73px -44px; }
          html body footer .footerNavigation ul.footerSocial a img.pinterest {
            background-position: -109px -44px; }
          html body footer .footerNavigation ul.footerSocial a img.tumbler {
            background-position: -145px -44px; }
          html body footer .footerNavigation ul.footerSocial a img.youtube {
            background-position: -181px -44px; }
          html body footer .footerNavigation ul.footerSocial a img.instagram {
            background-position: -216px -44px; }
        html body footer .footerNavigation ul.footerSocial a:hover img.facebook {
          background-position: -1px -3px; }
        html body footer .footerNavigation ul.footerSocial a:hover img.gPlus {
          background-position: -37px -3px; }
        html body footer .footerNavigation ul.footerSocial a:hover img.twitter {
          background-position: -73px -3px; }
        html body footer .footerNavigation ul.footerSocial a:hover img.pinterest {
          background-position: -109px -3px; }
        html body footer .footerNavigation ul.footerSocial a:hover img.tumbler {
          background-position: -145px -3px; }
        html body footer .footerNavigation ul.footerSocial a:hover img.youtube {
          background-position: -181px -3px; }
        html body footer .footerNavigation ul.footerSocial a:hover img.instagram {
          background-position: -216px -3px; }
      html body footer .backToTopWrapper {
        top: 0;
        right: 0;
        width: 65px;
        height: 100%;
        position: absolute;
        background-color: #FFFFFF;
        border-top: 1px solid #dbd7c9;
        border-left: 1px solid #dbd7c9;
        text-align: center;
        padding-top: 5px; }
        html body footer .backToTopWrapper a {
          color: #333333 !important; }
          html body footer .backToTopWrapper a img {
            width: 17px;
            height: 15px;
            background-image: url("/static/images/arrows_sprite.png");
            background-position: -2px -40px; }
          html body footer .backToTopWrapper a h1 {
            font-size: 15px; }

.flatPageWrap h3 {
  font-size: 2em;
  line-height: 1.5em; }

p {
  line-height: 1.4em; }

input {
  padding: 0;
  margin: 0; }

input.inputText {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  padding: 5px !important;
  border: 1px solid #dbd7c9 !important; }

input.btn {
  cursor: pointer; }

input::-moz-focus-inner {
  border: 0; }

.btn {
  outline: 0;
  cursor: pointer;
  padding: 5px 10px !important;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  border-color: #dbd7c9 !important;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #c8ba5a !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from_color, endColorstr=$to_color);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfaf3), to(#eceae1));
  background-image: -moz-linear-gradient(top, #fbfaf3, #eceae1);
  background-image: -ms-linear-gradient(top, #fbfaf3, #eceae1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfaf3), color-stop(100%, #eceae1));
  background-image: -webkit-linear-gradient(top, #fbfaf3, #eceae1);
  background-image: -o-linear-gradient(top, #fbfaf3, #eceae1);
  background-image: linear-gradient(#fbfaf3, #eceae1);
  border-color: #eeeacd #eeeacd #d5ca80;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: inset 0 -1px 5px white, 0 1px 0 #999999;
  -moz-box-shadow: inset 0 -1px 5px white, 0 1px 0 #999999;
  box-shadow: inset 0 -1px 5px white, 0 1px 0 #999999; }

.btn:hover, .btn.hover {
  background-color: #98926f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from_color, endColorstr=$to_color);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#edece6), to(#cfcdc5));
  background-image: -moz-linear-gradient(top, #edece6, #cfcdc5);
  background-image: -ms-linear-gradient(top, #edece6, #cfcdc5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edece6), color-stop(100%, #cfcdc5));
  background-image: -webkit-linear-gradient(top, #edece6, #cfcdc5);
  background-image: -o-linear-gradient(top, #edece6, #cfcdc5);
  background-image: linear-gradient(#edece6, #cfcdc5);
  border-color: #d8d5c8 #d8d5c8 #ada88d;
  -webkit-font-smoothing: antialiased; }

.fieldset {
  color: #000000;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  border-top: 2px solid #666666; }
  .fieldset .legendWrap {
    left: 0;
    top: -7px;
    width: 100%;
    display: block;
    position: absolute; }
    .fieldset .legendWrap .legend {
      text-transform: uppercase;
      font-family: "PT Serif", serif;
      background-color: #FFFFFF;
      display: inline-block;
      padding: 0 10px;
      height: 14px;
      font-size: 12px;
      line-height: 14px; }
  .fieldset .fieldsetContent {
    display: block; }

.fieldset:before {
  height: 1px;
  content: "";
  width: 100%;
  display: block;
  background-color: #666666;
  position: absolute;
  top: 1px;
  left: 0; }

ul.simpleDropdown li {
  cursor: pointer;
  padding: 7px 5px 3px;
  margin: 0 1px; }
  ul.simpleDropdown li ul li {
    padding: 7px 5px 3px !important; }

.arrowWrapper img {
  width: 10px;
  height: 10px;
  background-image: url("/static/images/arrows_sprite.png");
  background-repeat: no-repeat;
  vertical-align: text-top; }
.arrowWrapper img.arrowUp {
  background-position: 0 -10px; }
.arrowWrapper img.arrowDown {
  background-position: 0 0; }
.arrowWrapper img.arrowUp.dark {
  background-position: 0 -30px; }
.arrowWrapper img.arrowDown.dark {
  background-position: 0 -20px; }
.arrowWrapper img.arrowRight {
  background-position: -10px 0; }
.arrowWrapper img.arrowLeft {
  background-position: -10px -10px; }
.arrowWrapper img.arrowRight.dark {
  background-position: -10px -20px; }
.arrowWrapper img.arrowLeft.dark {
  background-position: -10px -30px; }

.menuIconWrap {
  display: none;
  position: absolute;
  bottom: 75%; }
  .menuIconWrap img {
    width: 47px;
    height: 9px;
    background-image: url("/static/images/hover_status.png");
    background-repeat: no-repeat; }

.iDCart {
  background-color: #FFFFFF;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }
  .iDCart a {
    color: #000000 !important; }
  .iDCart .menuIconWrap {
    bottom: 105%; }

.iDitemCouter {
  position: absolute;
  top: -2px;
  left: 110%;
  padding: 7px;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "cartoGothicStd_Book";
  white-space: nowrap;
  text-transform: uppercase; }
  .iDitemCouter var {
    display: inline; }
  .iDitemCouter img {
    left: -6px;
    top: 8px;
    width: 10px;
    height: 10px;
    background-image: url("/static/images/arrows_sprite.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    position: absolute; }

.iDitemCouter.hide {
  display: none; }

#cart_frame {
  display: none;
  width: 420px;
  height: 500px;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: #FFFFFF;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: -90%;
  z-index: 5; }
  #cart_frame .closeCartBtn {
    position: absolute;
    top: 13px;
    left: 10px;
    display: none;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #c8ba5a !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from_color, endColorstr=$to_color);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfaf3), to(#eceae1));
    background-image: -moz-linear-gradient(top, #fbfaf3, #eceae1);
    background-image: -ms-linear-gradient(top, #fbfaf3, #eceae1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfaf3), color-stop(100%, #eceae1));
    background-image: -webkit-linear-gradient(top, #fbfaf3, #eceae1);
    background-image: -o-linear-gradient(top, #fbfaf3, #eceae1);
    background-image: linear-gradient(#fbfaf3, #eceae1);
    border-color: #eeeacd #eeeacd #d5ca80;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #dbd7c9;
    padding: 1px 3px; }
    #cart_frame .closeCartBtn img {
      width: 10px;
      height: 10px;
      background-image: url("/static/images/arrows_sprite.png");
      background-repeat: no-repeat;
      background-position: 0 -30px;
      vertical-align: middle; }
  #cart_frame iframe {
    width: 420px;
    height: 500px;
    overflow: hidden; }

#cart_frame:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 150px;
  background-color: #FFFFFF;
  cursor: default; }

/* site pages */
#content_header {
  text-align: center;
  background-color: #FFFFFF; }
  #content_header .headingWrap {
    display: inline-block;
    *display: inline;
    zoom: 1;
    background-color: #FFFFFF; }
    #content_header .headingWrap .contentHeading {
      background-color: #FFFFFF;
      margin: 30px 20px 0;
      padding: 0; }
      #content_header .headingWrap .contentHeading .legend {
        padding: 0 100px;
        margin-top: -15px;
        position: relative;
        z-index: 1; }
        #content_header .headingWrap .contentHeading .legend span {
          height: 30px;
          font-size: 20px !important;
          line-height: 27px !important;
          white-space: nowrap;
          display: inline-block;
          background-color: #FFFFFF;
          text-transform: uppercase;
          font-family: "PT Serif", serif;
          color: #333333;
          padding: 0 20px; }
  #content_header .headingWrap:after {
    display: block;
    content: "";
    height: 29px;
    margin-top: -13px;
    border-bottom: 1px solid #dbd7c9;
    border-left: 1px solid #dbd7c9;
    border-right: 1px solid #dbd7c9;
    box-shadow: 0 1px 0 #989391; }

#content_body {
  margin-top: -30px;
  padding-top: 30px;
  padding-bottom: 70px;
  border-top: 1px solid #dbd7c9;
  background-color: #f2efe8; }

#user_access, #newsletter_form_wrap, #modal_default_messages, #modal_confirm_prompt {
  display: none;
  background-color: #FFFFFF;
  border: 1px solid #dbd7c9;
  padding: 25px; }
  #user_access p, #newsletter_form_wrap p, #modal_default_messages p, #modal_confirm_prompt p {
    color: #666666;
    font-family: "PT Serif", serif;
    font-size: 12px; }
  #user_access .formWrap .fieldset .legendWrap .legend, #newsletter_form_wrap .formWrap .fieldset .legendWrap .legend, #modal_default_messages .formWrap .fieldset .legendWrap .legend, #modal_confirm_prompt .formWrap .fieldset .legendWrap .legend {
    font-size: 17px;
    color: #333333; }
  #user_access .formWrap .fieldsetContent, #newsletter_form_wrap .formWrap .fieldsetContent, #modal_default_messages .formWrap .fieldsetContent, #modal_confirm_prompt .formWrap .fieldsetContent {
    padding: 2px 0; }
    #user_access .formWrap .fieldsetContent .formMessages, #newsletter_form_wrap .formWrap .fieldsetContent .formMessages, #modal_default_messages .formWrap .fieldsetContent .formMessages, #modal_confirm_prompt .formWrap .fieldsetContent .formMessages {
      background-color: #f6f5f0;
      width: 266px;
      margin: 0 auto; }
      #user_access .formWrap .fieldsetContent .formMessages .errorList, #user_access .formWrap .fieldsetContent .formMessages .error, #user_access .formWrap .fieldsetContent .formMessages .warning, #newsletter_form_wrap .formWrap .fieldsetContent .formMessages .errorList, #newsletter_form_wrap .formWrap .fieldsetContent .formMessages .error, #newsletter_form_wrap .formWrap .fieldsetContent .formMessages .warning, #modal_default_messages .formWrap .fieldsetContent .formMessages .errorList, #modal_default_messages .formWrap .fieldsetContent .formMessages .error, #modal_default_messages .formWrap .fieldsetContent .formMessages .warning, #modal_confirm_prompt .formWrap .fieldsetContent .formMessages .errorList, #modal_confirm_prompt .formWrap .fieldsetContent .formMessages .error, #modal_confirm_prompt .formWrap .fieldsetContent .formMessages .warning {
        font-size: 11px;
        line-height: 13px;
        padding: 7px;
        text-align: left;
        text-transform: uppercase;
        font-style: normal !important;
        color: #666666 !important; }
    #user_access .formWrap .fieldsetContent .fieldGroup, #newsletter_form_wrap .formWrap .fieldsetContent .fieldGroup, #modal_default_messages .formWrap .fieldsetContent .fieldGroup, #modal_confirm_prompt .formWrap .fieldsetContent .fieldGroup {
      padding: 3px 0; }
    #user_access .formWrap .fieldsetContent .fieldGroup.operation, #newsletter_form_wrap .formWrap .fieldsetContent .fieldGroup.operation, #modal_default_messages .formWrap .fieldsetContent .fieldGroup.operation, #modal_confirm_prompt .formWrap .fieldsetContent .fieldGroup.operation {
      text-align: right; }
      #user_access .formWrap .fieldsetContent .fieldGroup.operation .btn, #newsletter_form_wrap .formWrap .fieldsetContent .fieldGroup.operation .btn, #modal_default_messages .formWrap .fieldsetContent .fieldGroup.operation .btn, #modal_confirm_prompt .formWrap .fieldsetContent .fieldGroup.operation .btn {
        padding: 5px !important;
        font-size: 11px !important; }
      #user_access .formWrap .fieldsetContent .fieldGroup.operation .btn:hover, #newsletter_form_wrap .formWrap .fieldsetContent .fieldGroup.operation .btn:hover, #modal_default_messages .formWrap .fieldsetContent .fieldGroup.operation .btn:hover, #modal_confirm_prompt .formWrap .fieldsetContent .fieldGroup.operation .btn:hover {
        color: #333333; }
      #user_access .formWrap .fieldsetContent .fieldGroup.operation .closeModalBtn, #newsletter_form_wrap .formWrap .fieldsetContent .fieldGroup.operation .closeModalBtn, #modal_default_messages .formWrap .fieldsetContent .fieldGroup.operation .closeModalBtn, #modal_confirm_prompt .formWrap .fieldsetContent .fieldGroup.operation .closeModalBtn {
        line-height: 18px !important; }
  #user_access .formWrap label, #newsletter_form_wrap .formWrap label, #modal_default_messages .formWrap label, #modal_confirm_prompt .formWrap label {
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    width: 90px;
    text-align: right;
    white-space: nowrap !important; }
  #user_access .formWrap input[type="text"], #user_access .formWrap input[type="password"], #user_access .formWrap input[type="email"], #newsletter_form_wrap .formWrap input[type="text"], #newsletter_form_wrap .formWrap input[type="password"], #newsletter_form_wrap .formWrap input[type="email"], #modal_default_messages .formWrap input[type="text"], #modal_default_messages .formWrap input[type="password"], #modal_default_messages .formWrap input[type="email"], #modal_confirm_prompt .formWrap input[type="text"], #modal_confirm_prompt .formWrap input[type="password"], #modal_confirm_prompt .formWrap input[type="email"] {
    width: 260px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #dbd7c9;
    font-size: 12px;
    padding: 5px 2px; }

#modal_confirm_prompt .operation, #modal_default_messages .operation {
  margin: 10px 0 0; }
  #modal_confirm_prompt .operation .btn, #modal_default_messages .operation .btn {
    padding: 8px 10px !important; }
#modal_confirm_prompt .fieldsetContent, #modal_default_messages .fieldsetContent {
  margin: 10px 0 0;
  color: #666666;
  font-size: 13px;
  line-height: 14px; }

#modal_default_messages, #modal_confirm_prompt {
  min-width: 400px;
  color: #666666; }
  #modal_default_messages .fieldsetContent, #modal_confirm_prompt .fieldsetContent {
    color: #666666; }

#modal_default_messages h3 {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  margin-bottom: 20px; }

#user_access {
  border-left: none;
  padding: 0; }
  #user_access .loginWrap {
    border-right: 1px solid #dbd7c9; }
  #user_access .formWrap {
    margin-left: -1px;
    padding: 25px;
    min-height: 320px;
    float: left;
    border-left: 1px solid #dbd7c9; }
    #user_access .formWrap .fieldset {
      margin-top: 20px;
      padding-top: 20px; }
      #user_access .formWrap .fieldset .legendWrap {
        top: -20px; }
        #user_access .formWrap .fieldset .legendWrap .legend {
          height: 40px;
          line-height: 20px; }
      #user_access .formWrap .fieldset .fieldsetContent {
        margin-top: 10px; }
        #user_access .formWrap .fieldset .fieldsetContent .fieldGroup.operation .btn {
          width: 100%;
          padding-top: 10px !important;
          padding-bottom: 10px !important; }
        #user_access .formWrap .fieldset .fieldsetContent .fieldGroup.operation .forgotPassword {
          display: inline-block;
          margin-top: 10px;
          color: #666666; }
        #user_access .formWrap .fieldset .fieldsetContent .fieldGroup.operation .forgotPassword:hover {
          text-decoration: underline; }
    #user_access .formWrap .fieldset.socialLogin {
      border-top: 1px solid #666666;
      margin-top: 15px !important;
      padding-top: 5px !important; }
      #user_access .formWrap .fieldset.socialLogin .legendWrap {
        top: -15px !important; }
        #user_access .formWrap .fieldset.socialLogin .legendWrap .legend {
          font-size: 18px !important;
          height: 20px !important;
          line-height: 20px !important;
          text-transform: lowercase;
          font-style: italic; }
      #user_access .formWrap .fieldset.socialLogin .fieldsetContent div {
        margin-top: 5px; }
      #user_access .formWrap .fieldset.socialLogin a img {
        background-image: url("/static/images/social_icons.png");
        background-repeat: no-repeat;
        height: 29px;
        width: 29px;
        display: inline-block;
        vertical-align: middle; }
      #user_access .formWrap .fieldset.socialLogin a span {
        display: inline-block;
        width: 150px;
        text-align: center;
        vertical-align: middle; }
      #user_access .formWrap .fieldset.socialLogin a.facebookLogin img {
        background-position: -254px -6px; }
      #user_access .formWrap .fieldset.socialLogin a.twitterLogin img {
        background-position: -254px -47px; }
    #user_access .formWrap .socialLogin:before {
      border: none;
      background-color: #FFFFFF;
      height: 0; }

#newsletter_form_wrap p {
  margin: 10px 0; }
#newsletter_form_wrap input[type="text"], #newsletter_form_wrap input[type="password"], #newsletter_form_wrap input[type="email"] {
  width: 320px !important; }
#newsletter_form_wrap .fieldGroup.operation {
  text-align: center !important; }
#newsletter_form_wrap .formMessages {
  background-color: #f6f5f0;
  width: 326px !important;
  margin: 0 auto; }
  #newsletter_form_wrap .formMessages ul {
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal !important;
    color: #666666 !important; }

/* Overlay */
#simplemodal-overlay {
  background-color: #FFFFFF; }

/* Container */
#simplemodal-container a.modalCloseImg {
  top: 10px;
  right: 4px;
  z-index: 3200;
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  color: #999999; }

#simplemodal-container a.modalCloseImg:hover {
  color: #666666; }

.socialMediaShare {
  font-size: 0; }
  .socialMediaShare span {
    display: inline-block;
    vertical-align: middle;
    font-family: "PT Serif", serif;
    font-size: 14px;
    text-transform: uppercase; }
  .socialMediaShare a.share {
    display: inline-block !important;
    vertical-align: middle;
    margin-left: 1px;
    height: 31px; }
    .socialMediaShare a.share img {
      background-image: url("/static/images/share_icons.png");
      background-repeat: no-repeat;
      min-width: 31px;
      height: 31px; }
  .socialMediaShare a.share.facebook img {
    width: 90px !important;
    background-position: 0 0; }
  .socialMediaShare a.share.twitter img {
    width: 90px !important;
    background-position: -90px 0; }
  .socialMediaShare a.share.tumblr img {
    width: 35px !important;
    background-position: -180px 0; }
  .socialMediaShare a.share.google img {
    width: 46px !important;
    background-position: -215px 0; }
  .socialMediaShare a.share.pinterest img {
    width: 35px !important;
    background-position: -366px 0; }
  .socialMediaShare a.share.print img {
    width: 35px !important;
    background-position: -261px 0; }
  .socialMediaShare a.share.email img {
    width: 35px !important;
    background-position: -296px 0; }
  .socialMediaShare a.share.pdf img {
    width: 35px !important;
    background-position: -331px 0; }
  .socialMediaShare a.share.facebook:hover img {
    background-position: 0 -31px; }
  .socialMediaShare a.share.twitter:hover img {
    background-position: -90px -31px; }
  .socialMediaShare a.share.tumblr:hover img {
    background-position: -180px -31px; }
  .socialMediaShare a.share.google:hover img {
    background-position: -215px -31px; }
  .socialMediaShare a.share.pinterest:hover img {
    background-position: -366px -31px; }
  .socialMediaShare a.share.print:hover img {
    background-position: -261px -31px; }
  .socialMediaShare a.share.email:hover img {
    background-position: -296px -31px; }
  .socialMediaShare a.share.pdf:hover img {
    background-position: -331px -31px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .headerColumn.info, .headerColumn.user {
    width: 457px !important; } }
