{% extends "base.html" %}
{% block title %}iDecorate Weddings{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/media/interface/css/home.css">
    <link rel="shortcut icon" href="/media/images/favicon.1.ico" type="image/x-icon" />
	<link rel="icon" href="/media/images/favicon.1.ico" type="image/ico" />
{% endblock %}
{% block content %}
<div class="defaultContent clearfix">
	<div class="banner clearfix">
		{% if infographic %}
			<img src="/media/infographics/{{ infographic.image }}" alt="" />
		{% else %}
			<img src="http://www.doonbeglodge.com/upload/background_slideshow_images/wedding23.jpg" />
		{% endif %}
	</div>
</div>

<section id="feature-wrap" class="clearfix">
	{% for list in lists %}
	<div class="clearfix wrapper{{ list|length }}">
		{% for l in list %}
		<a href="{{ l.link }}">
			<img src="/media/banners/{{ l.image }}" />
		</a>
		{% endfor %}
	</div>
	{% endfor %}
</section>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(function(){
	if($(window).height() > $('#main-container').outerHeight()){
		page_H();
	}
});

function page_H(){

 	var windowH = $(window).height();
		headerH = $('#header').outerHeight(true);
		footerH = $('#footer').outerHeight(true);
		newHeight = windowH - headerH - footerH - 395;
		sectionH = $('#feature-wrap').outerHeight(true);
	$("#feature-wrap").height(newHeight);

}

(function($) {
    $.fn.hasScrollBar = function() {
        return $(window).height() > $('#main-container').outerHeight();
    }
})(jQuery);
</script>
<!-- <script type="text/javascript" src="/media/firebug/tests/firebug-lite-debug.js"></script> -->
{% endblock %}