{% extends "base.html" %}
{% load idecorate_interface %}
{% block title %}iDecorate Weddings{% endblock %}
{% block style %}

    <link rel="stylesheet" type="text/css" href="/media/interface/css/home.css">
    <link rel="shortcut icon" href="/media/images/favicon.1.ico" type="image/x-icon" />
	<link rel="icon" href="/media/images/favicon.1.ico" type="image/ico" />
	<style type="text/css">
		.modal{
			background-color: #EEEEEE;
			border: 1px solid #CCC;
			padding: 7px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			-khtml-border-radius: 5px;
			font-size: 0;
			position: absolute;
			display: none;
		}

		.modal > div{
			display: inline-block;
			*display: inline;
			margin-left: 3px;
			zoom:1;
		}

		.modal .email a{
			display: block;
			height: 20px;
		}
		.modal .email a img{
			height: 100%;
			width: auto;
		}

	</style>
{% endblock %}
{% block content %}
<div class="defaultContent clearfix">
	<div class="banner clearfix">
		<a href="{% url styleboard %}">
		{% if infographic %}
			<img src="/media/infographics/{{ infographic.image }}" alt="" />
		{% else %}
			<img src="/media/images/banner_default.jpg" />
		{% endif %}
		</a>
	</div>
</div>

<section id="feature-wrap" class="clearfix">
	{% for list in lists %}
	<div class="clearfix wrapper{{ list|length }}">
		{% for l in list %}
			<div class="featuredWrap">
				<a href="{{ l.link }}">
					<img itemprop="image" src="/media/banners/{{ l.image }}" />
				</a>
				<ul class="featuredLinks">
					<li>
						<a class="shareModal" href="#">Share</a>
						<span class="shareButtons" style="display:none;">
							<div class="facebookShare">
								<a href="#" onclick="postToFeed('{{ l.tinyUrl }}','/media/banners/{{ l.image }}','{{ l.name }}','{{ l.description }}')">
									<img border="0" src="/media/images/fb_share.png" />
								</a>
							</div>
							<div class="tumblerShare">
								<a href="http://www.tumblr.com/share/link?url={{ l.tinyUrl|urlencode:'' }}&name={{ l.name|urlencode }}&description={{ l.description|urlencore }}" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:20px; height:20px; background:url('http://platform.tumblr.com/v1/share_4.png') top left no-repeat transparent;" target="_blank">
									<img src='/media/images/tumblr.png' border="0" />
								</a>
							</div>
							<div class="twitterShare">
								<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ l.description }}" data-url="{{ l.tinyUrl }}" data-lang="en" data-related="anywhere:{{ l.name }}" data-count="none">Tweet</a>
								</div>
							<div class="pinterestShare">
								<a data-pin-config="none" data-pin-do="buttonPin" target="_blank" href="//pinterest.com/pin/create/button/?url={{l.tinyUrl|urlencode:''}}&media=http://{{ request|get_host|urlencode:'' }}/media/banners/{{ l.image }}&description={{ l.description|urlencore }}"></a>
							</div>
							<div class="googleShare">
								<p itemprop="name" style="display:none;">{{ l.name }}</p>
								<p itemprop="description" style="display:none;">{{ l.description }}</p>
								<div class="g-plusone" data-size="medium" data-annotation="none" data-href="{{l.tinyUrl}}"></div>
								<script type="text/javascript">
								  (function() {
								    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								    po.src = 'https://apis.google.com/js/plusone.js';
								    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
								  })();
								</script>
							</div>
							<div class="email">
								<a href="mailto:?subject=iDecorate%20Weddings%20|%20&body=Check%20this%20featured%20image%20from%20idecorate%20weddings%20{{ l.tinyUrl }}" target="_blank">
									<img src="/media/images/email.jpg" />
								</a>
							</div>
						</span>
					</li
>					<li><a href="/styleboard">Create &amp; Buy</a></li>
				</ul>
			</div>
		{% endfor %}
	</div>
	{% endfor %}
</section>
<div class="modal"></div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
$(function(){
	if($(window).height() > $('#main-container').outerHeight()){
		page_H();
	}

	$(document).click(function(e){
		if(!$(e.target).hasClass('modal') && !$(e.target).hasClass('shareModal')){
			$('.modal').hide();
		}
	});

	$('a.shareModal').each(function(i,val){
		$(val).click(function(e){
			e.preventDefault();
			//set icons for modal share
			setModalIcons($(this).siblings('.shareButtons'));
			$('.modal').show().css({top:e.pageY+15,left:e.pageX});
		});
	});
	
	$('.featuredLinks').each(function(i,val){
		$('li:last', val).css({borderRight:'none'});
		$('li:first',val).css({borderLeft:'none'});
	});

	FB.init({appId: "250262231769530", status: true, cookie: true});

});

function setModalIcons(object){

	var object = object.clone().removeAttr('style');
	$('.modal').html($(object[0]).html());
	$('.modal').find('a').click(function(e){e.preventDefault()});
	var windowSizeArray = [ "width=200,height=200","width=600,height=400,scrollbars=yes" ];
	$('.pinterestShare a, .email a, .tumblerShare a').click(function(e){
		var url = this.href;
        var windowName = "iDecorateWedding";//$(this).attr("name");
        var windowSize = windowSizeArray[1];
        if($(this).parent().hasClass('email')){
        	window.open(url,'_self');
        }else{
        	window.open(url, windowName, windowSize);
        }
	});
}

function page_H(){
	
	var windowH = $(window).height();
		headerH = $('#header').outerHeight(true);
		footerH = $('#footer').outerHeight(true);
		newHeight = windowH - headerH - footerH - 395;
		sectionH = $('#feature-wrap').outerHeight(true);
	$("#feature-wrap").height(newHeight);

}

(function($) {
	//setTwitterClone();
    $.fn.hasScrollBar = function() {
        return $(window).height() > $('#main-container').outerHeight();
    }
})(jQuery);
</script>
<!-- Social Media Buttons -->
<script> 
function postToFeed(url,image,name,description) {

	// calling the API ...
	var obj = {
		method: 'feed',
		redirect_uri: 'http://www.facebook.com',
		link:url,//page link here
		picture: 'http://{{ request|get_host }}'+image, //add image link of product here 
		name: name, //styleboard title
		caption: 'iDecorate Weddings',
		description: description //description
	};

	function callback(response) {
		document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
	}

	FB.ui(obj, callback);
}

</script>
<script src="http://platform.tumblr.com/v1/share.js"></script>
<script src="//assets.pinterest.com/js/pinit.js"></script>
<!-- <script type="text/javascript" src="/media/firebug/tests/firebug-lite-debug.js"></script> -->
{% endblock %}