{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}iDecorate Weddings{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/media/interface/css/setpass.css">
    <link rel="shortcut icon" href="/media/images/favicon.2.ico" type="image/x-icon" />
    <link rel="icon" href="/media/images/favicon.2.ico" type="image/ico" />
{% endblock %}
{% block content %}
	<div class="clearfix setPassWrap">
		<div class="clearfix formWrap">
			<fieldset>
				<legend>SET PASSWORD</legend>
				{% if form.password.errors or form.confirm_password.errors %}
				<div class="cleafix errorWrapper">
					<div class="clearfix errorBlock">
						<a href="" class="closeX">x</a>
						<h4>Please correct the following errors:</h4>
						<ol>
							{% for e in form.password.errors %}
								<li><span>{{ e }}</span></li>
			          		{% endfor %}
			          		{% for e in form.confirm_password.errors %}
								<li><span>{{ e }}</span></li>
			          		{% endfor %}
		          		</ol>
		          	</div>
				</div>
				{% endif %}
				<form action="" method="post">
					{% csrf_token %}
					<div class="clearfix formWrapper">
						<div class="clearfix inputWrapper">
							<label for="id_password"> Password: </label>
							{{ form.password }}
						</div>
						<div class="clearfix inputWrapper">
							<label for="id_confirm_password"> Confirm Password: </label>
							{{ form.confirm_password }}
						</div>
						<div class="clearfix inputWrapper">
							<input type="submit" name="submit" id="submit" value="SUBMIT" />
							<input type="button" name="cancel" id="cancel" value="CANCEL" />
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(function(){
	if($(window).height() > $('#main-container').outerHeight()){
		page_H();
	}

	$('#cancel').click(function(e){

		document.location = '/';

	});

});

function page_H(){

 	var windowH = $(window).height();
		headerH = $('#header').outerHeight(true);
		footerH = $('#footer').outerHeight(true);
		newHeight = windowH-(headerH+footerH+15);
		
	$("#content").height(newHeight);

}

</script>
<!-- <script type="text/javascript" src="/media/firebug/tests/firebug-lite-debug.js"></script> -->
{% endblock %}