{% extends "base.html" %}
{% block title %}iDecorate Weddings{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/media/interface/css/home.css">
    <link runat="server" rel="shortcut icon" href="/media/images/favicon.2.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="/media/images/favicon.2.ico" type="image/ico" />
{% endblock %}
{% block content %}
	<div class="setPassWrap">
		<div class="formWrap">
			<h1>Set Password</h1>
			<form action="" method="POST">
				<input type="text" name="email" id="email" />
				<input type="password" name="pass" id="pass" />
				<input type="password" name="confirm_pass" id="confirm_pass" />
			</form>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(function(){
	if($(window).height() > $('#main-container').outerHeight()){
		page_H();
	}
});

function page_H(){

 	var windowH = $(window).height();
		headerH = $('#header').outerHeight(true);
		footerH = $('#footer').outerHeight(true);
		newHeight = windowH-(headerH+footerH+15);
		
	$("#content").height(newHeight);

}

</script>
<!-- <script type="text/javascript" src="/media/firebug/tests/firebug-lite-debug.js"></script> -->
{% endblock %}