{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <title>iDecorate Wedding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type="text/css" href="/media/interface/css/styleboard.css">
        <link rel="stylesheet" type="text/css" href="/media/interface/js/ui/css/jquery.ui.core.css">
        <link rel="stylesheet" type="text/css" href="/media/interface/js/ui/css/jquery.ui.resizable.css">
        <script type="text/javascript">
            var PRODUCT_IMAGE_URL = '{% url get_product_original_image %}';
        </script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="main-container">
            <header id="header" class="clearfix">
            	{% include "header.html" %}
            </header>

            <div id="content" class="clearfix">
            	<div id="sidebar">
            		<ul id="sidebar-nav" class="etabs sideNav">
            			<li class="tab"><a href="#create-tab">Create</a></li>
            			<li class="tab"><a href="#buy-tab">Buy</a></li>
            		</ul>
                    <div id="sidebar-form-wrap"  class="clearfix">
                        <h3>My Order</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="sidebarInputs">
                                <label for="guests">
                                    <input type="text" id="guests" name="guests" placeholder="Guests" /> Guests
                                </label>
                                <label for="tables">
                                    <input type="text" id="tables" name="tables" placeholder="Tables" /> Tables
                                </label>
                            </div>
                            <div class="sidebarTotals">
                                <h5>Total <span>$ 10,000,000</span></h5>
                            </div>
                        </form>
                    </div>
                    <div id="create-tab-nav" class="clearfix">
                        <ul class="etabs sideNav">
                            <li class="tab"><a href="#products">Products</a></li>
                            <li class="tab"><a href="#embellishments">Embellishments</a></li>
                            <li class="tab"><a href="#templates">Templates</a></li>
                        </ul>
                    </div>
                    <div id="create-tab" class="overflowY clearfix">
                        {% include 'interface/styleboard_categories.html' %}
                    </div><!-- end of create -->
                    <div id="buy-tab" class="clearfix">
                        <form action="" method="post">
                            <div class="overflowY">
                                <table id="buy-table">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_1.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="even">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_2.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_3.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="even">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_4.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_5.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="even">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_6.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">Total :</td>
                                            <td>$3,000.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        <div class="checkOutWrap"><input type="submit" name="submit" value="Checkout" class="globalBtn"/></div>
                        </form>
                    </div><!-- end of buy -->
            	</div>
            	<div id="canvas">
                    <div class="handles"></div>
                    <div class="neMenus">
                        <div class="imgControlWrap">
                            <ul class="imgControl clearfix">
                                <li><a href="#" id="remove-btn">Remove</a></li>
                                <li><a href="#" id="flip-btn">Flip</a></li>
                                <li><a href="#" id="flap-btn">Flap</a></li>
                                <li><a href="#" id="clone-btn">Clone</a></li>
                                <li><a href="#" id="forward-btn">Forward</a></li>
                                <li><a href="#" id="backward-btn">Backward</a></li>
                            </ul>
                        </div>
                        <div class="imgBgControlWrap">
                            <ul class="imgBgControl">
                                <li>
                                    <a href="#" id="whiteBg-btn">
                                        <img title="Show Image Background" alt="show bg" src="images/product/thumb/img_thumb_1.jpg" width="50" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="transBg-btn">
                                        <img title="Hide Image Background" alt="hide bg" src="images/product/thumb/img_thumb_1.jpg" width="50" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="customBg-btn">
                                        <img title="Custom Crop Background" alt="crop bg" src="images/product/thumb/img_thumb_1.jpg" width="50" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            	</div>
            </div>
            
            <footer id="footer" class="clearfix"> 
            	{% include "footer.html" %}             
            </footer>
        </div> <!-- /container -->
        <script type="text/javascript" src="/media/interface/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript">
            //Initial load of page
            $(document).ready(sizeContent);
            //Every resize of window
            $(window).resize(sizeContent);
            //Dynamically assign height
            function sizeContent() {
                var newHeight = $(window).height()-$("#header").outerHeight(true)-$("#footer").outerHeight(true) + "px";
                $("#page-wrap").css("height", newHeight);
        }
        </script>
        <script type="text/javascript" src="/media/admin/js/csrf.js"></script>
        <script type="text/javascript" src="/media/interface/js/dropdown/hoverIntent.js"></script>
        <script type="text/javascript" src="/media/interface/js/dropdown/jquery.dropdown.js"></script>
        <script type="text/javascript" src="/media/interface/js/jquery.tablescroll.js"></script>
        <script type="text/javascript" src="/media/interface/js/tabpannel/jquery.hashchange.min.js"></script>
        <script type="text/javascript" src="/media/interface/js/tabpannel/jquery.easytabs.min.js"></script>
        <script type="text/javascript">
            $(document).ready( function() {
                $('#sidebar').easytabs();
            });
        </script>
        <!-- idecorate app js-->
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.core.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.mouse.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.draggable.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.droppable.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.resizable.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.rotatable.js"></script>
        <script type="text/javascript" src="/media/interface/js/jquery.app.js"></script>
        
    </body>
</html>

