{% load idecorate_interface %}
{{ cat_id|get_breadcrumb }}
{% for cat in categories %}
<div style="cursor: pointer;" id="{{ cat.id }}" class="thumb categories">
		<img src="/{{ MEDIA_URL }}{{ cat.thumbnail }}" alt="{{ cat.name }}" />
	    <span>{{ cat.name }}</span>
</div>
{% endfor %}
{% if products %}
{% for prod in products %}

<a id="{{ prod.id }}" title="{{ prod.name }}" class="thumb draggable">
    <img src="/{{ MEDIA_URL }}products/{{ prod.original_image_thumbnail }}">
    <!--<span>{{ prod.name }}</span>-->
</a>

{% endfor %}
{% endif %}