{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <title>iDecorate Wedding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type="text/css" href="/media/interface/css/styleboard.css">
        <link rel="stylesheet" type="text/css" href="/media/interface/js/ui/css/jquery.ui.core.css">
        <link rel="stylesheet" type="text/css" href="/media/interface/js/ui/css/jquery.ui.resizable.css">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <style>
            .ui-wrapper {
                overflow:   visible !important;
                border:        1px solid #999;
            }
                
            .ui-resizable-handle {
                background:    #EEE;
                border:        1px solid #333;
                z-index:    2;
                width: 8px;
                height: 8px;
            }
                
               
            .ui-rotatable-handle.clone {
                visibility:  hidden;}

            .ui-rotatable-handle-wrap{
                position: absolute;
                width: 1px;
                height: 25px;
                left: 50%;
                position: absolute;
                top: -25px;
                background-color: #333; 
            }
            .ui-rotatable-handle {
                background:    #EEE;
                border:        1px solid #333;
                border-radius: 5px;
                -moz-border-radius:    5px;
                -o-border-radius:      5px;
                -webkit-border-radius: 5px;
                cursor: url("http://akwww.polyvorecdn.com/rsrc/img/rotate_arrow.cur") 13 4, crosshair; 
                margin-left: -5px;
                height:        9px;
                width:         9px;
            }
             
            </style>
    </head>
    <body>
        <div id="main-container">
            <header id="header" class="clearfix">
            	{% include "header.html" %}
            </header>

            <div id="content" class="clearfix">
            	<div id="sidebar">
            		<ul id="sidebar-nav" class="etabs">
            			<li class="tab"><a href="#create-tab">Create</a></li>
            			<li class="tab"><a href="#buy-tab">Buy</a></li>
            		</ul>
                    <div id="sidebar-form-wrap"  class="clearfix">
                        <h3>My Order</h3>
                        <form action="" method="post">
                            <div class="sidebarInputs">
                                <label for="guests">
                                    <input type="text" id="guests" name="guests" placeholder="Guests" /> Guests
                                </label>
                                <label for="tables">
                                    <input type="text" id="tables" name="tables" placeholder="Tables" /> Tables
                                </label>
                            </div>
                            <div class="sidebarTotals">
                                <h5>Total <span>$ 10,000,000</span></h5>
                            </div>
                        </form>
                    </div>
            		<div id="create-tab" class="overflowY clearfix">
                        <!--<div id="dragable_1" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_1.jpg">
                            <span>Category_001</span>
                        </div>
                        <div id="dragable_2" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_2.jpg">
                            <span>Category_002</span>
                        </div>
                        <div id="dragable_3" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_3.jpg">
                            <span>Category_003</span>
                        </div>
                        <div id="dragable_4" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_4.jpg">
                            <span>Category_004</span>
                        </div>
                        <div id="dragable_5" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_5.jpg">
                            <span>Category_005</span>
                        </div>
                        <div id="dragable_6" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_6.jpg">
                            <span>Category_006</span>
                        </div>
                        <div id="dragable_7" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_7.jpg">
                            <span>Category_007</span>
                        </div>
                        <div id="dragable_8" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_8.jpg">
                            <span>Category_008</span>
                        </div>
                        <div id="dragable_9" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_9.jpg">
                            <span>Category_009</span>
                        </div>
                        <div id="dragable_10" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_10.jpg">
                            <span>Category_010</span>
                        </div>
                        <div id="dragable_12" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_11.jpg">
                            <span>Category_011</span>
                        </div>
                        <div id="dragable_13" class="thumb draggable">
                            <img src="/media/dummyproduct/thumb/img_thumb_12.jpg">
                            <span>Category_012</span>
                        </div>-->
                        {% include 'interface/styleboard_categories.html' %}
                    </div><!-- end of create -->
                    <div id="buy-tab" class="clearfix">
                        <form action="" method="post">
                            <div class="overflowY">
                                <table id="buy-table">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_1.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="even">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_2.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_3.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="even">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_4.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="odd">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_5.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                        <tr class="even">
                                            <td>
                                                <div class="buyItemImg">
                                                    <img src="/media/dummyproduct/thumb/img_thumb_6.jpg">
                                                    <div class="buyItemMeta">
                                                        <h5>Product 1</h5>
                                                        <p>$100.00</p>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td><input type="text" value="5" placeholder="qty"/></td>
                                            <td>$500.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">Total :</td>
                                            <td>$3,000.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        <div class="checkOutWrap"><input type="submit" name="submit" value="Checkout" class="globalBtn"/></div>
                        </form>
                    </div><!-- end of buy -->
            	</div>
            	<div id="canvas-wrap">

            	</div>
            </div>
            
            <footer id="footer" class="clearfix"> 
            	{% include "footer.html" %}             
            </footer>
        </div> <!-- /container -->
        <script type="text/javascript" src="/media/interface/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/media/interface/js/dropdown/hoverIntent.js"></script>
        <script type="text/javascript" src="/media/interface/js/dropdown/jquery.dropdown.js"></script>
        <script type="text/javascript" src="/media/interface/js/jquery.tablescroll.js"></script>
        <script type="text/javascript" src="/media/interface/js/tabpannel/jquery.hashchange.min.js"></script>
        <script type="text/javascript" src="/media/interface/js/tabpannel/jquery.easytabs.min.js"></script>
        <script type="text/javascript">
            $(document).ready( function() {
                $('#sidebar').easytabs();

                //tableScroll sets the table's tbody to be scrollable leaving the head and foot fixed.
                //$('#buy-table').tableScroll({height:450});
            }); 
        </script>

        <!-- idecorate app js-->

        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.core.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.mouse.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.draggable.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.droppable.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.resizable.js"></script>
        <script type="text/javascript" src="/media/interface/js/ui/jquery.ui.rotatable.js"></script>
        <script type="text/javascript" src="/media/interface/js/jquery.app.js"></script>
        
    </body>
</html>

