{% extends "base.html" %}
{% load idecorate_interface humanize %}
{{ request|set_last_page_idecorate }}
{% block title %}Edit Profile{% endblock %}
{%  block style %}
<link rel="stylesheet" type="text/css" href="/media/interface/css/static.css">
<link rel="stylesheet" type="text/css" href="/media/interface/css/edit_profile.css">
<link rel="shortcut icon" href="/media/images/favicon.1.ico" type="image/x-icon" />
<link rel="icon" href="/media/images/favicon.1.ico" type="image/ico" />
<style type="text/css">
	.changePassword{
		border: 1px solid	#CCCCCC;
		padding: 10px 0;
		background-color: #EEEEEE;
	}
	.changePassword span{
		display: block;
		padding: 5px 0;
	}
	.changePassword label{
		padding-left: 5px;
	}
	.changePassword input{
		border: 1px solid #CCC;
		padding: 5px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-khtml-border-radius: 3px;
		box-shadow: 0px 1px 5px #999 inset;
		width: 62%;
	}
	.personalInfo textarea{
		height: 283px !important;
	}
	.socialNetwork{
		float: left !important; 
	}
	.billingSetting{
		float: right;
		margin-top: 10px;
		width: 47%;
	}

	.image img {
		width: 150px;
		height: 150px;
	}

 .errorBlock {
  color: #B94A48;
  padding: 8px 35px 8px 14px;
  margin: 0 auto 15px auto;
  background: #F2DEDE;
  border: 1px solid #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative; }
.closeX {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    line-height: 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);
    float: right;
    position: relative;
    top: -2px;
    right: -21px; }
  .errorBlock h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px; }
  .errorBlock ol {
    padding-left: 30px; }
    .errorBlock ol li {
      display: list-item;
      list-style: decimal;
      line-height: 18px;
      text-align: -webkit-match-parent; }

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

.alert ul {
    padding-left: 30px; 
}
.alert ul li {
      display: list-item;
      list-style: decimal;
      line-height: 18px;
      text-align: -webkit-match-parent; 
}

.alert .closeX {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

  .preview {
    float: left;
    width: 150px;
    height: 150px;
    border: 2px dotted #CCC;
    margin-right: 16px;
  }

  div.preview.loading { 
    background: url(/media/admin/images/loading.gif) no-repeat 39px 40px; 
  }

  div.preview.loading img {
    display: none; 
  }

.editProfile fieldset .formr select {
	width: 65%;
}
</style>
{% endblock %}

{% block content %}
<h3>EDIT PROFILE</h3>
			{% if form.errors or pass_form.errors %}
			<div class="clearfix errorBlock">
				<a href="#" class="closeX">x</a>
				<h4>Please correct the following errors:</h4>
				<ol>
					{% for e in pass_form.password.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in pass_form.confirm_password.errors %}
					<li>{{ e }}</li>
					{% endfor %}

					{% for e in form.firstname.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.lastname.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.salutation.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.user_image.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.about.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.username.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.gender.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.language.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.shipping_same_as_billing.errors %}
					<li>{{ e }}</li>
					{% endfor %}

					{% for e in form.shipping_address.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.shipping_address2.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.shipping_state.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.shipping_city.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.shipping_country.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.shipping_zip_code.errors %}
					<li>{{ e }}</li>
					{% endfor %}

					{% for e in form.billing_address.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.billing_address2.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.billing_state.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.billing_city.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.billing_country.errors %}
					<li>{{ e }}</li>
					{% endfor %}
					{% for e in form.billing_zip_code.errors %}
					<li>{{ e }}</li>
					{% endfor %}

				</ol>
			</div>
			{% endif %}

{% if messages %}
<div class="alert alert-success clearfix">
        <a class="closeX" href="#">×</a>
        <h4>Success!</h4>
        <ul>
        	{% for message in messages %}
        	<li>{{ message }}</li>
        	{% endfor %}
        </ul>
 </div>
{% endif %}
<div class="staticWrap">
	<div class="clearfix static editProfile">
		<form action="" method="post" id="frmedit">
			{% csrf_token %}
			<input type="hidden" name="task" id="frmtask" value="1" />
			<fieldset class="personalInfo">
				<legend>PERSONAL INFORMATION</legend>
				<div class="formr">
					<label>Salutation</label>
					{{ form.salutation }}
				</div>
				<div class="formr">
					<label>First Name</label>
					{{ form.firstname }}
				</div>
				<div class="formr">
					<label>Last Name</label>
					{{ form.lastname }}
				</div>
				<div class="formr">
					<label>Image</label>
					<div class="imageWrap">
						<!--
						<div class="image">{% if idecorate_profile.picture %}<img src="{{ idecorate_profile.picture }}" alt="" />{% else %}<img src="/media/images/nopic.jpg" alt="" />{% endif %}</div>
						-->
	                  <div class="preview" id="preview1" style="text-align:center;">
	                    <img id="thumb_original" style="position:relative;max-height:150px;max-width:150px" src="/media/admin/images/bg_transparent.png" alt="" />
	                  </div>
	                  <div id="error_1" style="color:red">&nbsp;</div>

						{{ form.user_image }}
						<!--
						<input type="file" value="" name="photo" />
						-->
						<button class="btn" id="btn_orginal_image" type="button">Browse...</button>
						<button class="btn" id="get-FB-image" type="button">Reload From Facebook</button>
					</div>
				</div>
				<div class="formr">
					<label>About</label>
					{{ form.about }}
				</div>
			</fieldset>
			<fieldset class="accountSetting">
				<legend>USER ACCOUNT SETTINGS</legend>
				<div class="formr">
					<label>Email Address</label>
					{{ form.username }}
				</div>
				<div class="formr changePassword">
					<span>
						<label>Password</label>
						{{ pass_form.password }}
					</span>
					<span>
						<label>Confirm Password</label>
						{{ pass_form.confirm_password }}
					</span>
					<span>
						<label>&nbsp;</label>
						<button id="change-password" class="btn" type="button">Change Password</button>
					</span>
				</div>
				<div class="formr">
					<label>Language</label>
					{{ form.language }}
				</div>
				<div class="formr">
					<label>Gender</label>
                {% for choice in form.gender.field.choices %}
                 <input type="radio" name="gender" value="{{choice.0}}" {% if form.gender.data == choice.0 or initial_form_data.gender == choice.0 %}checked="checked" {% endif %}/> {{choice.1}}
                {% endfor %}
				</div>
			</fieldset>
			<fieldset class="deliverySetting">
				<legend>DELIVERY ADDRESS</legend>
				<div class="formr">
					<label>Address 1</label>
					{{ form.shipping_address }}
				</div>
				<div class="formr">
					<label>Address 2</label>
					{{ form.shipping_address2 }}
				</div>
				<div class="formr">
					<label>State</label>
					{{ form.shipping_state }}
				</div>
				<div class="formr">
					<label>City</label>
					{{ form.shipping_city }}
				</div>
				<div class="formr">
					<label>Postal Code</label>
					{{ form.shipping_zip_code }}
				</div>
				<div class="formr">
					<label>Country</label>
					{{ form.shipping_country }}
				</div>
				<p>{{ form.shipping_same_as_billing }} My delivery address is the same as my billing address</p>
			</fieldset>
			<fieldset class="billingSetting">
				<legend>BILLING ADDRESS</legend>
				<div class="formr">
					<label>Address 1</label>
					{{ form.billing_address }}
				</div>
				<div class="formr">
					<label>Address 2</label>
					{{ form.billing_address2 }}
				</div>
				<div class="formr">
					<label>State</label>
					{{ form.billing_state }}
				</div>
				<div class="formr">
					<label>City</label>
					{{ form.billing_city }}
				</div>
				<div class="formr">
					<label>Postal Code</label>
					{{ form.billing_zip_code }}
				</div>
				<div class="formr">
					<label>Country</label>
					{{ form.billing_country }}
				</div>
			</fieldset>
			<fieldset class="socialNetwork">
				<legend>SOCIAL NETWORK</legend>
				<div class="formr">
					<label>Facebook</label>
					{% if user_facebook %}<input type="checkbox" id="fb_chkbox" name="facebook" checked="checked" />{% else %}<input type="checkbox" id="fb_chkbox" name="facebook" />{% endif %} Login with Facebook
				</div>
				<div class="formr">
					<label>Twitter</label>
					{% if user_twitter %}<input type="checkbox" id="tw_chkbox" name="twitter" checked="checked" />{% else %}<input type="checkbox" id="tw_chkbox" name="twitter" />{% endif %} Login with Twitter
				</div>
			</fieldset>
			<button class="btn submit">Save Profile</button>
		</form>
	</div>
</div>
{% endblock %}
{%  block javascripts %}
<script type="text/javascript" src="/media/admin/js/ajaxupload.js"></script>
<script type="text/javascript">

	function checkSameAs(obj) {
			if($(obj).is(':checked')){
				$('.billingSetting').hide();
				$('.socialNetwork').css('margin-left',10);
			}else{
				$('.billingSetting').show();
				$('.socialNetwork').css('margin-left',0);
			}		
	}

    function initThumbnail() {
      var thumb_original = $('img#thumb_original');
      thumb_original.load(function(){

        if($('#thumb_original').height() < 150) {
            $('#thumb_original').css('top',((150 - $('#thumb_original').height()) / 2) + 'px');
        } else {
            $('#thumb_original').css('top','0px');
        }

        thumb_original.unbind();

      });
      $('#error_1').text('');
      if($('#id_user_image').val() == "") {
      	thumb_original.attr('src','/media/images/nopic.jpg');
      } else {
      	thumb_original.attr('src',$('#id_user_image').val());
      }

    }

	$(function(){

      initThumbnail();

      var thumb_original = $('img#thumb_original');
      new AjaxUpload('btn_orginal_image', {
        name: 'image',
        action: '{% url customer_upload_image %}',
        onSubmit: function(file, extension) {
          $('div#preview1').addClass('loading');
        },
        onComplete: function(file, response){                        

          var splittedResponse = response.split(':')

          if (splittedResponse[0] == 'notok') {
            $('#error_1').text(splittedResponse[1]);
          } else {
            thumb_original.load(function(){

              if($('#thumb_original').height() < 150) {
                $('#thumb_original').css('top',((150 - $('#thumb_original').height()) / 2) + 'px');
              } else {
                $('#thumb_original').css('top','0px');
              }

              thumb_original.unbind();
            });

            thumb_original.attr('src', '/media/profiles/temp/' + splittedResponse[1]);
            $('#error_1').text('');
            $('#id_user_image').val(splittedResponse[1]);

          }

          $('div#preview1').removeClass('loading');

        }
      });


		$('#id_shipping_same_as_billing').click(function(e){
			checkSameAs($(this));
		});

		checkSameAs($('#id_shipping_same_as_billing'));

		$('#get-FB-image').click(function(e){
			window.location.href = '/login/facebook/';
		});

		$('#fb_chkbox').click(function(e){
			if($(this).is(':checked')) {
				window.location.href = '/login/facebook/';
			} else {
				window.location.href = '/disconnect/facebook/';
			}
			
		});

		$('#tw_chkbox').click(function(e){
			if($(this).is(':checked')) {
				window.location.href = '/login/twitter/';
			} else {
				window.location.href = '/disconnect/twitter/';
			}
		});

		$('#change-password').click(function(e){

			$('#frmtask').val(2);
			$('#frmedit').submit();
		});

		$('.closeX').click(function(e){
			$(this).parent().hide();
		});

	});
</script>
{% endblock %}