{% extends "base.html" %}
{% load idecorate_interface humanize %}
{{ request|set_last_page_idecorate }}
{% block title %}My Profile{% endblock %}
{%  block style %}
<link rel="stylesheet" type="text/css" href="/media/interface/css/home.css">
<link rel="stylesheet" type="text/css" href="/media/interface/css/profile.css">
<link rel="shortcut icon" href="/media/images/favicon.1.ico" type="image/x-icon" />
<link rel="icon" href="/media/images/favicon.1.ico" type="image/ico" />
{% endblock %}
{% block content %}
<div class="profileWrap">
	<div class="clearfix user-profile">
		<div class="picture-wrap">
			{% if user_profile.picture %}
			<img src="{{ user_profile.picture }}" alt="" />
			{% else %}
			<img src="/media/images/nopic.jpg" alt="" />
			{% endif %}	
		</div>
		<div class="description-wrap">
			<p class="title">
				{% if user_profile.first_name != "" and user_profile.last_name != "" %}
				{{ user_profile.first_name }} {{ user_profile.last_name }} 
				{% else %}
				{{ user_profile.nickname }} 
				{% endif %}
			</p>
			<p class="desc">
				{% if user_profile.description %}
				{{ user_profile.description }}
				{% endif %}
			</p>
		</div>
	</div>	
	<h2>My Style Boards</h2>
	{% if user_styleboard %}	
	<div class="clearfix styleboardWrapper">
		{% for item in user_styleboard %}

		<div class="featureContentWrap clearfix">
			<div class="clearfix featureImg">
				<a href="{% url styleboard_view item.styleboard_item.id %}"><img src="/styleboard/generate_styleboard_view/{{ item.styleboard_item.id }}/450/285/" /></a> 
			</div>
			<h3 class="clearfix featureTitle">{{ item.styleboard_item.name }}</h3>
			<div class="clearfix">
				<div class="featureDesc">
					{{ item.styleboard_item.description|linebreak }}
				</div>
				<div class="featurePrice">
					<h5 class="clearfix">${{ item.styleboard_item.id|get_emb_save_total|intcomma }}</h5>
					<p>{% if item.styleboard_item.item_guest %}{{ item.styleboard_item.item_guest }}{% else %}{{ global_default_quantity }}{% endif %} guests</p>
					<p>{% if item.styleboard_item.item_tables %}{{ item.styleboard_item.item_tables }}{% else %}{{ global_guest_table }}{% endif %} tables</p>
				</div>
			</div>
			<div class="clearfix featureFooter">
				{% if user_profile.picture %}
				<img src="{{ user_profile.picture }}" style="width:23px;height:23px;" alt="" />
				{% else %}
				<img src="/media/images/man.png" alt="" />
				{% endif %}	<span class="member"><p>by {{ user_profile.nickname }}</p></span>
			</div>
		</div>

		{% endfor %}
	</div>
	{% else %}
	<div class="clearfix create-wrap">
		<a href="{% url styleboard %}">Create New Style Board</a>
	</div>	
	{% endif %}
</section>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(function(){
/*
	page_H();
	$(window).resize(page_H);
*/
	$('.featureContentWrap:odd').each(function(i,val){
		if($(val).height() < $(val).prev().height()){
			$(val).find('.featureDesc').height($(val).prev().find('.featureDesc').height());
			$(val).prev().find('.featureDesc').height($(val).prev().find('.featureDesc').height());

			$(val).find('.featureTitle').height($(val).prev().find('.featureTitle').height());
			$(val).prev().find('.featureTitle').height($(val).prev().find('.featureTitle').height());
		}else{
			$(val).find('.featureDesc').height($(val).find('.featureDesc').height());
			$(val).prev().find('.featureDesc').height($(val).find('.featureDesc').height());

			$(val).find('.featureTitle').height($(val).find('.featureTitle').height());
			$(val).prev().find('.featureTitle').height($(val).find('.featureTitle').height());
		}
	});
	//for IE 7 and 8
	$('.featureContentWrap:even').each(function(i,val){
		$(val).css({'margin-left': 0});
	});

});
/*
function page_H(){
		
	var windowH = $(window).height();
		headerH = $('#header').outerHeight(true);
		footerH = $('#footer').outerHeight(true);
		newHeight = windowH - headerH - footerH;
		sectionH = $('#feature-wrap').outerHeight(true);
		
		if(sectionH < windowH) {
			$('#feature-wrap').height(newHeight);
		}

}*/
</script>
{% endblock %}