{% extends "base.html" %}
{%  block style %}
<link rel="stylesheet" type="text/css" href="/media/interface/css/home.css">
<style type="text/css">
section {
	min-height: 300px;
}
section .user-profile {
	padding: 10px;
	height: auto;
	background: #F0EBE5;
	box-shadow: 5px 5px 5px #CCC;	
	width: 800px;
	margin: 0 auto;
	margin-bottom: 30px;
}
section .no-image {
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	background: #fff;
}
section .user-profile .picture-wrap, section .user-profile .description-wrap {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
section .user-profile .picture-wrap {
	width: 150px;
}
section .user-profile .picture-wrap img {
	width: 148px;
	height: 148px;
	border: 1px solid #ccc;
}
section .user-profile .description-wrap {
	width: 630px;
	margin: 10px;
	margin-right: 0;
	vertical-align: top;
	font-size: 1.2em;
	line-height: 1.1;
}
section .user-profile .description-wrap .title {
	font-weight: bold;
	margin-bottom: 10px;
}
section .user-profile .description-wrap .desc {
	font-size: 1em;
}
section .create-wrap {
	margin-bottom: 20px;
}
</style>
{% endblock %}
{% block content %}
<section id="feature-wrap" class="clearfix">
	<div class="clearfix user-profile">
		<div class="picture-wrap">
			{% if user_profile.picture %}
			<img src="/media/{{ user_profile.picture }}" alt="" />
			{% else %}
			<img src="/media/images/nopic.jpg" alt="" />
			{% endif %}	
		</div>
		<div class="description-wrap">
			<p class="title">
				{% if user_profile.first_name != "" and user_profile.last_name != "" %}
				{{ user_profile.first_name }} {{ user_profile.last_name }} 
				{% else %}
				{{ user_profile.nickname }} 
				{% endif %}
			</>
			<p class="desc">
				{% if user_profile.description %}
				{{ user_profile.description }}
				{% endif %}
			</p>
		</div>
	</div>	
	<h2>My Style Boards</h2>
	{% if user_styleboard %}	
	<div class="featureContentWrap clearfix">
		<div class="featureImg">
		 <img src="http://www.brides.com/images/2012_bridescom/Homepage/07-31/wedding-cakes-unique-wedding-cake-toppers-629.jpg" /> 
		</div>
		<h3>Lorem ipsum dolor sit amet</h3>
		<div class="featureDesc">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet leo id turpis sollicitudin sed laoreet felis ullamcorper. Quisque iaculis eleifend rutrum.
		</div>
		<div class="featurePrice">
			<h5>$10,000.00</h5>
			<p>100 guest</p>
		</div>
		<div class="featureFooter">
			<span class="member"><p>by membername</p></span>
		</div>
	</div>
	<div class="featureContentWrap clearfix">
		<div class="featureImg">
			 <img src="http://www.pacificbayresort.com.au/images/stock/stock-wedding-05.jpg?Action=thumbnail&Width=497&Height=316&algorithm=fill" /> 
		</div>
		<h3>Lorem ipsum dolor sit amet</h3>
		<div class="featureDesc">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet leo id turpis sollicitudin sed laoreet felis ullamcorper. Quisque iaculis eleifend rutrum.
		</div>
		<div class="featurePrice">
			<h5>$10,000.00</h5>
			<p>100 guest</p>
		</div>
		<div class="featureFooter">
			<span class="member"><p>by membername</p></span>
		</div>
	</div>
	<div class="featureContentWrap clearfix">
		<div class="featureImg">
		 <img src="http://itsabrideslife.com/wp-content/uploads/Wedding-Budget-Piggybank1.jpg" /> 
		</div>
		<h3>Lorem ipsum dolor sit amet</h3>
		<div class="featureDesc">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet leo id turpis sollicitudin sed laoreet felis ullamcorper. Quisque iaculis eleifend rutrum.
		</div>
		<div class="featurePrice">
			<h5>$10,000.00</h5>
			<p>100 guest</p>
		</div>
		<div class="featureFooter">
			<span class="member"><p>by membername</p></span>
		</div>
	</div>
	<div class="featureContentWrap clearfix">
		<div class="featureImg">
			 <img src="http://nyweddingflowers.net/wp-content/uploads/2012/05/weddings-11.jpg" /> 
		</div>
		<h3>Lorem ipsum dolor sit amet</h3>
		<div class="featureDesc">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet leo id turpis sollicitudin sed laoreet felis ullamcorper. Quisque iaculis eleifend rutrum.
		</div>
		<div class="featurePrice">
			<h5>$10,000.00</h5>
			<p>100 guest</p>
		</div>
		<div class="featureFooter">
			<span class="member"><p>by membername</p></span>
		</div>
	</div>
	{% else %}
	<div class="clearfix create-wrap">
		<a href="{% url styleboard %}">Create New Style Board</a>
	</div>	
	{% endif %}
</section>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(function(){

	var windowH = $(window).outerHeight();
		headerH = $('#header').outerHeight();
		footerH = $('#footer').outerHeight();
		newHeight = windowH - headerH - footerH - 35;

	$(window).resize(function(){

		var windowH = $(window).outerHeight();
			headerH = $('#header').outerHeight();
			footerH = $('#footer').outerHeight();
			newHeight = windowH - headerH - footerH - 35;

		$('#feature-wrap').height(newHeight);

	});

	$('#feature-wrap').height(newHeight);

});
</script>
{% endblock %}