{% extends "base.html" %}
{% block title %}iDecorate Wedding{% endblock %}
{%  block style %}
<link rel="stylesheet" type="text/css" href="/media/interface/css/styleboard_view.css">
{% endblock %}
{% block content %}
<style type="text/css">
@-moz-document url-prefix() {
  .personalize {
    margin: 5px 0 0 55px !important;
  }
}
</style>
<div class="clearfix">
	<aside>
		<h1>Styleboard Name</h1>
		<div class="clearfix memberName">
			<div>
				<img src="/media/images/man.1.jpg" />
				<div>by <a href="#">Member Name</a> </div>
			</div>
			<div class="personalizeWrapper">
				<a href="#" class="personalize">Personalize!</a>
			</div>
		</div>
		<div class="clearfix socialMedia">
			<div class="facebookLike">
				<div class="fb-like" data-href="http://www.idecorateweddings.com/" data-send="true" data-width="450" data-show-faces="false"></div>
			</div>
			<div class="tumblerShare">
				<span id="tumblr_button_abc123"></span>
			</div>
			<div class="twitterShare">
				<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				</script>
			</div>
			<div class="pinterestShare">
				<a data-pin-config="" data-pin-do="buttonBookmark" href="//pinterest.com/pin/create/button/">
					<img src="//assets.pinterest.com/images/PinExt.png" />
				</a>
			</div>
			<div class="googleShare">
				<!-- Place this tag where you want the +1 button to render. -->
				<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://www.idecorateweddings.com/"></div>
				<!-- Place this tag after the last +1 button tag. -->
				
			</div>
			<div class="email">
				<img src="/media/images/email.jpg" />
			</div>
		</div>
		<div class="clearfix styleboardDesc">
			<p align="justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus sollicitudin velit sed consectetur. In vel felis vel felis viverra ullamcorper a sed nibh. Quisque nec turpis at neque volutpat ultricies sed in sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam consequat porta tortor, at posuere leo ullamcorper at. Proin ut risus ipsum. Donec lorem mi, malesuada id accumsan at, suscipit nec dolor. Sed tincidunt faucibus convallis. Aliquam eget ligula elit, vel scelerisque velit. Nullam sagittis laoreet sagittis. In hac habitasse platea dictumst. Nulla eu sem risus, quis tristique risus. Nunc tempus eros non mi placerat accumsan. Etiam porta eleifend velit in dapibus. Nulla id orci eget tellus mattis elementum. Integer interdum accumsan est vel vehicula.
			</p>
		</div>
		<h2>In this Styleboard</h2>
		<form>
			<div class="clearfix">
				<table>
					<tbody class="tbody">
						<tr>
							<td class="productTD">
								<center>
									<img src="/media/images/no_image.jpg" />
								</center>
							</td>
							<td class="productTD">
								<p>Product Name</p>
								<p>$100.00</p>
							</td>
							<td class="productTD">
								x5
							</td>
							<td class="productTD">
								$500.00
							</td>
						</tr>
						<tr>
							<td class="productTD">
								<center>
									<img src="/media/images/no_image.jpg" />
								</center>
							</td>
							<td class="productTD">
								<p>Product Name</p>
								<p>$100.00</p>
							</td>
							<td class="productTD">
								x5
							</td>
							<td class="productTD">
								$500.00
							</td>
						</tr>
						<tr>
							<td class="productTD">
								<center>
									<img src="/media/images/no_image.jpg" />
								</center>
							</td>
							<td class="productTD">
								<p>Product Name</p>
								<p>$100.00</p>
							</td>
							<td class="productTD">
								x5
							</td>
							<td class="productTD">
								$500.00
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">
							</td>
							<td>
								Total:
							</td>
							<td>
								<p>$10,000.00</p>
								<input type="button" value="Buy!" class="buyItem" />
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</form>
	</aside>
	<section>
		<div class="clearfix canvass">
		</div>
		<div class="clearfix socialMediaWrapper">
			<div class="socialMedia">
				<div class="facebookLike">
					<div class="fb-like" data-href="http://www.idecorateweddings.com/" data-send="true" data-width="450" data-show-faces="false"></div>
				</div>
				<div class="tumblerShare">
					<span id="tumblr_button_abc1234"></span>
				</div>
				<div class="twitterShare">
					<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script>
				</div>
				<div class="pinterestShare">
					<a data-pin-config="" data-pin-do="buttonBookmark" href="//pinterest.com/pin/create/button/">
						<img src="//assets.pinterest.com/images/PinExt.png" />
					</a>
				</div>
				<div class="googleShare">
					<!-- Place this tag where you want the +1 button to render. -->
					<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://www.idecorateweddings.com/"></div>
					<!-- Place this tag after the last +1 button tag. -->
					
				</div>
				<div class="email">
					<img src="/media/images/email.jpg" />
				</div>
			</div>
		</div>
		<h2>Comments</h2>
	</section>
</div>
{% endblock %}
{% block javascripts %}
        <!-- Social Media Buttons -->
        <script src="http://platform.tumblr.com/v1/share.js"></script>
        <script type="text/javascript">
            var tumblr_link_url = "http://www.example.com/permalink/my-article";
            var tumblr_link_name = "My Awesome Article";
            var tumblr_link_description = "Lorem ipsum...";
        </script>
        <script type="text/javascript">
            var tumblr_button = document.createElement("a");
            tumblr_button.setAttribute("href", "http://www.tumblr.com/share/link?url=" + encodeURIComponent(tumblr_link_url) + "&name=" + encodeURIComponent(tumblr_link_name) + "&description=" + encodeURIComponent(tumblr_link_description));
            tumblr_button.setAttribute("title", "Share on Tumblr");
            tumblr_button.setAttribute("style", "display:inline-block; text-indent:-9999px; overflow:hidden; width:20px; height:20px; background:url('http://platform.tumblr.com/v1/share_4.png') top left no-repeat transparent;");
            tumblr_button.innerHTML = "Share on Tumblr";
            document.getElementById("tumblr_button_abc123").appendChild(tumblr_button);
        </script>
        <script type="text/javascript">
            var tumblr_button = document.createElement("a");
            tumblr_button.setAttribute("href", "http://www.tumblr.com/share/link?url=" + encodeURIComponent(tumblr_link_url) + "&name=" + encodeURIComponent(tumblr_link_name) + "&description=" + encodeURIComponent(tumblr_link_description));
            tumblr_button.setAttribute("title", "Share on Tumblr");
            tumblr_button.setAttribute("style", "display:inline-block; text-indent:-9999px; overflow:hidden; width:20px; height:20px; background:url('http://platform.tumblr.com/v1/share_4.png') top left no-repeat transparent;");
            tumblr_button.innerHTML = "Share on Tumblr";
            document.getElementById("tumblr_button_abc1234").appendChild(tumblr_button);
        </script>
        <script src="//assets.pinterest.com/js/pinit.js"></script>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
{% endblock %}