{% extends "base.html" %}
{% load idecorate_interface humanize %}
{% block title %}iDecorate Weddings | {{ styleboard.styleboard_item.name }}{% endblock %}
{%  block style %}
<link rel="stylesheet" type="text/css" href="/media/interface/css/styleboard_view.css">
<link runat="server" rel="shortcut icon" href="/media/images/favicon.2.ico" type="image/x-icon" />
<link runat="server" rel="icon" href="/media/images/favicon.2.ico" type="image/ico" />
{% endblock %}
{% block content %}
<style type="text/css">
@-moz-document url-prefix() {
  .personalize {
    margin: 5px 0 0 55px !important;
  }
}
.commentsBlock {
	width: 690px;
	height: auto;
	margin: 20px 0;
}
#img-profile {
	cursor: pointer;
}
</style>
<div class="clearfix viewWrapper">
	<aside>
		<h1>{{ styleboard.styleboard_item.name }}</h1>
		<div class="clearfix memberName">
			<table>
				<tr>
					<td width="85%"><img src="/media/images/man.1.jpg" id="img-profile" /> <span>&nbsp;by&nbsp;</span><a id="lnk-profile" href="{% url profile %}?id={{ styleboard.user.id }}">{{ user_profile.nickname }}</a></td>
					<td><a href="{% url styleboard %}?sbid={{ styleboard.styleboard_item.id }}" class="personalize">Personalize!</a></td>
				</tr>
			</table>
		</div>
		<div class="clearfix socialMedia">
			<div class="facebookShare">
				<a href="#" onclick="postToFeed()"><img border="0" src="/media/images/fb_share.png" /></a>
			</div>
			<div class="tumblerShare">
				<!--[if IE 7]>
					<div class="tumblrShareIE">
						<a href="http://www.tumblr.com/share" target="_blank">
							<img src='/media/images/tumblr.png' border="0" />
						</a>
					</div>
				<![endif]-->
				<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:20px; height:20px; background:url('http://platform.tumblr.com/v1/share_4.png') top left no-repeat transparent;" target="_blank"><img src='/media/images/tumblr.png' border="0" /></a>
			</div>
			<div class="twitterShare">
				<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				</script>
			</div>
			<div class="pinterestShare">
				<a data-pin-config="none" data-pin-do="buttonPin" href="//pinterest.com/pin/create/button/?url={{ request|get_url }}&media=http%3A%2F%2F{{ request|get_host }}/styleboard/generate_styleboard_view/{{ styleboard.styleboard_item.id }}/680/500/&description={{ styleboard.styleboard_item.description|linebreak }}"><img border="0" src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
			</div>
			<div class="googleShare">
				<!--[if IE 7]>
					<a href="http://plus.google.com" target="_blank">
						<img src="/media/images/google_2.png" border="0" height="20" />
					</a>
				<![endif]-->
				<div class="g-plusone" data-size="medium" data-annotation="none" data-href="{{ request|get_url }}"></div>
			</div>
			<div class="email">
				<a href="mailto:?subject=iDecorate%20Weddings%20|%20{{ styleboard.styleboard_item.name }}&body=Check%20this%20styleboard%20I%20made%20{{ request|get_url }}" target="_blank"><img src="/media/images/email.jpg" /></a>
			</div>
			<div class="clearfix styleboardDesc">
				<p align="justify">
					{{ styleboard.styleboard_item.description|linebreak }}
				</p>
			</div>
			{% if cart_items %}
			<h2>In this Styleboard</h2>
			<form id="formCheckout" method="POST" action="{% url checkout_from_view_styleboard %}">
				{% csrf_token %}
				
				<input type="hidden" name="sid" value="{{ styleboard.styleboard_item.id }}" />
				<div class="clearfix">
					<table id="cart-items">
						<tbody class="tbody">
							{% for item in cart_items %}
							<tr>
								<td class="productTD">
									<center>
										<img src="/media/products/{{ item.product.original_image_thumbnail }}" />
									</center>
								</td>
								<td class="productTD">
									<p>{{ item.product.name }}</p>
									<p>${{ item.product|get_product_price|intcomma }}</p>
								</td>
								<td class="productTD">
									x{{ item.quantity }}
								</td>
								<td class="productTD">
									${{ item.product|get_product_price|get_sub_total:item.quantity|intcomma }}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<p class="clearfix total">Total: ${{ styleboard.styleboard_item.id|get_emb_save_total|intcomma }}</p>
				<input id="btnSubmitBuy" type="submit" value="Buy!" class="buyItem" />				
			</form>
			{% endif %}
		</div>
	</aside>
	<section>
		<div class="clearfix canvass">
			<img src="/styleboard/generate_styleboard_view/{{ styleboard.styleboard_item.id }}/680/500/" alt="{{ styleboard.styleboard_item.name }}">
		</div>
		<div class="clearfix socialMediaWrapper">
			<div class="clearfix socialMedia">
				<div class="facebookShare">
					<a href="#" onclick="postToFeed()"><img border="0" src="/media/images/fb_share.png" /></a>
				</div>
				<div class="tumblerShare">
					<!--[if IE 7]>
						<div class="tumblrShareIE">
							<a href="http://www.tumblr.com/share" target="_blank">
								<img src='/media/images/tumblr.png' border="0" />
							</a>
						</div>
					<![endif]-->
					<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:20px; height:20px; background:url('http://platform.tumblr.com/v1/share_4.png') top left no-repeat transparent;" target="_blank"><img src='/media/images/tumblr.png' border="0" /></a>
				</div>
				<div class="twitterShare">
					<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script>
				</div>
				<div class="pinterestShare">
					<a data-pin-config="none" data-pin-do="buttonPin" href="//pinterest.com/pin/create/button/?url={{ request|get_url }}&media=http%3A%2F%2F{{ request|get_host }}/styleboard/generate_styleboard_view/{{ styleboard.styleboard_item.id }}/680/500/&description={{ styleboard.styleboard_item.description|linebreak }}"><img border="0" src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
				</div>
				<div class="googleShare">
					<!--[if IE 7]>
						<a href="http://plus.google.com" target="_blank">
							<img src="/media/images/google_2.png" border="0" height="20" />
						</a>
					<![endif]-->
					<div class="g-plusone" data-size="medium" data-annotation="none" data-href="{{ request|get_url }}"></div>

					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</div>
				<div class="email">
					<a href="mailto:?subject=iDecorate%20Weddings%20|%20{{ styleboard.styleboard_item.name }}&body=Check%20this%20styleboard%20I%20made%20{{ request|get_url }}" target="_blank"><img src="/media/images/email.jpg" /></a>
				</div>
			</div>
		</div>
		<h2>Comments</h2>
		<div class="commentsBlock">
			
			<div id="disqus_thread"></div>
	        <script type="text/javascript">
	            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	            var disqus_shortname = 'idecoratewedding'; // required: replace example with your forum
	            var disqus_titleshortname = 'idecorate Weddings';
	            var disqus_developer = 1; // developer mode is on
	            var disqus_identifier = window.location.href;

	            /* * * DON'T EDIT BELOW THIS LINE * * */
	            (function() {
	                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	            })();
	        </script>
        	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
	    </div>
	</section>
</div>
{% endblock %}
{% block javascripts %}
		<script type="text/javascript">
		$(function(){
			page_H();

			$('#img-profile').click(function(){
				window.location.href = $('#lnk-profile').attr('href');
			});

			$(window).resize(page_H);

		});


		function page_H(){
		/*		
			var windowH = $(window).outerHeight(true);
				headerH = $('#header').outerHeight(true);
				footerH = $('#footer').outerHeight(true);
				newHeight = windowH - headerH - footerH - 15;
			
			if($(document).height()<$(window).height()) {
				$('.viewWrapper').height(newHeight);
			} else if(newHeight<windowH){
				$('.viewWrapper').height(newHeight);
			}
		*/
		}
		</script>
        <!-- Social Media Buttons -->
        <script> 
	      FB.init({appId: "250262231769530", status: true, cookie: true});

	      function postToFeed() {

	        // calling the API ...
	        var obj = {
	          method: 'feed',
	          redirect_uri: 'http://www.facebook.com',
	          link: 'http://{{ request|get_host }}/styleboard/view/{{ styleboard.styleboard_item.id }}', //page link here
	          picture: 'http://{{ request|get_host }}/styleboard/generate_styleboard_view/{{ styleboard.styleboard_item.id }}/680/500/', //add image link of product here 
	          name: '{{ styleboard.styleboard_item.name }}', //styleboard title
	          caption: 'iDecorate Weddings',
	          description: '{{ styleboard.styleboard_item.description|truncateDescription }}' //description
	        };

	        function callback(response) {
	          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
	        }

	        FB.ui(obj, callback);
	      }
	    
	    </script>
	    <script src="http://platform.tumblr.com/v1/share.js"></script>
        <script src="//assets.pinterest.com/js/pinit.js"></script>

        <!--DISQUS -->
      	<script type="text/javascript">
	        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = 'idecoratewedding'; // required: replace example with your forum shortname

	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function () {
	            var s = document.createElement('script'); s.async = true;
	            s.type = 'text/javascript';
	            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
	            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	        }());
        </script>
        <!--DISQUS -->
{% endblock %}