{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin %}

{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}
{% block styles %}
<style type="text/css">
	.ar {
		text-align: right !important;
	}
</style>
{% endblock %}
{% block content %}
<h1>{% trans "Site Pages" %}</h1>
<div>&nbsp;</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Url</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for page in flatpages %}
		<tr>
			<td>{{ page.title }}</td>
			<td>{{ page.url }}</td>
			<td class="ar">
				<a href="/sites{{ page.url }}" target="blank" class="btn btn-primary">View</a>
				<a href="{% url edit_flatpage page.id %}" class="btn btn-primary">Edit</a>
				<a href="" class="btn btn-primary">Delete</a>
			</td>
		</tr>
		{% endfor %}		
	</tbody>	
</table>
{% endblock %}
{% block javascripts %}
{% endblock %}