{% extends "base.html" %}
{% block title %}iDecorate Weddings{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/media/interface/css/static.css">
{% endblock %}
{% block content %}
<div class="clearfix staticWrapper">
	<fieldset>
		<legend>My Order</legend>
		<p>Success</p>
		<p>Your order is complete.</p>
	</fieldset>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(function(){

	page_H();
	$(window).resize(page_H);

});

function page_H(){
		
	var windowH = $(window).height();
		headerH = $('#header').outerHeight(true);
		footerH = $('#footer').outerHeight(true);
		newHeight = windowH - headerH - footerH - 50;
		sectionH = $('.staticWrapper').outerHeight(true);
		
		if(sectionH < windowH) {
			$('.staticWrapper').height(newHeight);
		}

}
</script>
{% endblock %}