{% load i18n plata_tags idecorate_interface humanize %}
<h3>ORDER CONFIRMATION</h3>
<div class="paymentWrap">
	<div class="payment clearfix">
		<div id="confirm-order">

			{% if request|get_session_by_key:"order-payment_method" == "PayPal" %}
			<form id="conf_form" method="post" action="{{ paypal_url }}">
			{{ paypal_form }}
			{% else %}
			<form id="conf_form" action="" method="post">
				<input type="hidden" name="payment_method" value="plata.payment.modules.cod" />
				<input type="hidden" name="terms_and_conditions" value="on" />
				<input type="hidden" name="process_now_the_order" value="yes" />
				<input type="hidden" name="card_number" value="{{ card_number }}" />
				<input type="hidden" name="name_on_card" value="{{ name_on_card }}" />
				<input type="hidden" name="expires" value="{{ expires }}" />
				<input type="hidden" name="cvv_code" value="{{ cvv_code }}" />
			{% endif %}
			{% csrf_token %}

			<p>Your order is almost complete. Please review the details below and click "Proceed to Payment" if all the information is correct. You may use the "Back" button to make changes to your order if necessary.</p>
			<div class="myOrderTable">
				<h4>My Order</h4>
				<table>
					<thead>
						<tr>
							<th>Item</th>
							<th>Unit Cost</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						{{ order.items|generate_product_order_list2:order }}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2">
								<h5>{{ shop.guest_table.guests }} Guests</h5>
								<h5>{{ shop.guest_table.tables }} Tables</h5>
							</td>
							<td>
								<p><!-- +$20 Shipping fee --></p>
								<span class="total">Total: ${{ order.total|floatformat:2|intcomma }}</span>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>

			<fieldset class="clearfix">
				<legend>PERSONAL INFORMATION</legend>
				<span class="label">Salutation</span><span class="value">{{ request.session.salutation }}</span>
				<span class="label">First Name</span><span class="value">{{ order.billing_first_name }}</span>
				<span class="label">Last Name</span><span class="value">{{ order.billing_last_name }}</span>
				<span class="label">Email</span><span class="value">{{ order.email }}</span>
			</fieldset>

			<fieldset class="clearfix">
				<legend>DELIVERY ADDRESS</legend>
				<span class="label">Address 1</span><span class="value">{{ contact.address }}</span>
				<span class="label">Address 2</span><span class="value">{{ contact.shipping_address2 }}</span>
				<span class="label">City</span><span class="value">{{ contact.city }}</span>
				<span class="label">State</span><span class="value">{{ contact.shipping_state }}</span>
				<span class="label">Postal Code</span><span class="value">{{ contact.zip_code }}</span>
				<span class="label">Country</span><span class="value">{{ contact.countries }}</span>
			</fieldset>

			<fieldset class="clearfix">
				<legend>BILLING ADDRESS</legend>
				<span class="label">Address 1</span><span class="value">{{ contact.address2 }}</span>
				<span class="label">Address 2</span><span class="value">{{ contact.billing_address2 }}</span>
				<span class="label">City</span><span class="value">{{ contact.city2 }}</span>
				<span class="label">State</span><span class="value">{{ contact.billing_state }}</span>
				<span class="label">Postal Code</span><span class="value">{{ contact.zip_code2 }}</span>
				<span class="label">Country</span><span class="value">{{ contact.countries2 }}</span>
			</fieldset>

			{% if request.session.delivery_date %}

			<fieldset class="clearfix">
				<legend>DELIVERY DATE</legend>
				<h5>{{ request.session.delivery_date }}</h5>
			</fieldset>
			{% endif %}

			<fieldset class="clearfix">
				<legend>PAYMENT METHOD</legend>
				<h5>{{ request|getPmethodBlah }}</h5>
			</fieldset>
			<a class="btn cancel" href="/cart/checkout">BACK</a>
			<a class="btn submit" id="conf_order" href="#">PROCEED TO PAYMENT</a>
			</form>
		</div>
	</div>
</div>