{% extends "base.html" %}
{% load i18n plata_tags idecorate_interface %}
{% block title %}iDecorate Weddings{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/media/interface/css/payment.css">
{% endblock %}
{% block content %}

{% if request|get_session_by_key:"order-payment_method" == "PayPal" %}

	{% include "plata/shop_confirminfos.html" %}

{% else %}

	{% if show_confirm_infos %}
		{% include "plata/shop_confirminfos.html" %}
	{% else %}
		{% include "plata/shop_cardinfos.html" %}
	{% endif %}

{% endif %}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

	$(function(e){

		$('#conf_order').click(function(e){

			$('#conf_form').submit();

		});


	});

</script>
{% endblock %}