@import url("/static/stylesheets/fontface.css");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic");
#banner {
  position: relative;
  z-index: 1;
  height: 420px;
  width: 100%;
  min-width: 1024px;
  overflow: hidden;
  border-bottom: 1px solid #dbd7c9; }
  #banner img#banner_img {
    display: inline-block;
    display: none; }
  #banner #banner_modal {
    position: absolute;
    left: 50%;
    top: 20px;
    width: 450px;
    padding: 20px;
    text-align: center;
    margin-left: -235px;
    border: 1px solid #dbd7c9;
    background-color: #FFFFFF;
    z-index: 1; }
    #banner #banner_modal h1 {
      font-family: "PT Serif", serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #333333;
      font-size: 2.04em;
      line-height: 1em; }
    #banner #banner_modal .fieldset {
      margin-top: 15px;
      padding: 15px; }
      #banner #banner_modal .fieldset .legendWrap {
        top: -13px !important; }
        #banner #banner_modal .fieldset .legendWrap .legend {
          font-style: italic;
          text-transform: lowercase;
          font-size: 24px !important;
          line-height: 26px !important;
          height: 26px !important; }
      #banner #banner_modal .fieldset h1.bolded {
        font-size: 2.5em;
        line-height: 1em;
        margin-bottom: 7px; }
      #banner #banner_modal .fieldset p {
        color: #666666;
        font-family: "PT Serif", serif;
        font-style: italic;
        font-size: 13px; }
    #banner #banner_modal .operationWrap {
      position: absolute;
      left: 0;
      bottom: -25px;
      width: 100%; }
      #banner #banner_modal .operationWrap .toStyleboardBtn {
        font-family: "PT Serif", serif;
        padding: 7px 40px !important; }
        #banner #banner_modal .operationWrap .toStyleboardBtn h2 {
          font-size: 18px;
          line-height: 1.1em; }
        #banner #banner_modal .operationWrap .toStyleboardBtn h3 {
          font-size: 11px;
          line-height: 1.1em; }

#main_content {
  position: relative;
  min-width: 1024px; }
  #main_content .contentHeader {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 100%;
    width: 450px;
    padding: 15px 20px;
    text-align: center;
    margin-left: -235px;
    border-top: 1px solid #dbd7c9;
    border-left: 1px solid #dbd7c9;
    border-right: 1px solid #dbd7c9;
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF; }
    #main_content .contentHeader .contentHeaderText .legendWrap {
      top: -17px;
      color: #555555; }
      #main_content .contentHeader .contentHeaderText .legendWrap .legend {
        height: auto; }
        #main_content .contentHeader .contentHeaderText .legendWrap .legend h3 {
          font-size: 1.1em;
          line-height: 1em; }
        #main_content .contentHeader .contentHeaderText .legendWrap .legend h2 {
          font-size: 1.8em;
          line-height: 1em; }
  #main_content .filterBar {
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 3 !important; }
    #main_content .filterBar .filter {
      display: inline-block;
      *display: inline;
      font-size: 0;
      zoom: 1;
      margin-bottom: -1px; }
      #main_content .filterBar .filter li {
        display: inline-block;
        vertical-align: middle; }
        #main_content .filterBar .filter li a {
          font-size: 12px;
          vertical-align: middle;
          text-transform: uppercase;
          display: inline-block;
          color: #666666;
          height: 25px;
          line-height: 25px;
          padding: 8px 5px;
          font-family: "cartoGothicStd_Bold";
          border-left: 1px solid #FFFFFF;
          border-right: 1px solid #FFFFFF; }
          #main_content .filterBar .filter li a img {
            margin: 0 !important;
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            background-image: url("/static/interface/images/buttons_sprite.png");
            background-repeat: no-repeat; }
          #main_content .filterBar .filter li a span {
            margin-left: 5px;
            padding-top: 3px;
            display: inline-block;
            vertical-align: middle;
            line-height: 1em; }
          #main_content .filterBar .filter li a img.products {
            background-position: 0 0; }
          #main_content .filterBar .filter li a img.styleboards {
            background-position: -22px 0; }
          #main_content .filterBar .filter li a img.inspiration {
            background-position: -44px 0; }
          #main_content .filterBar .filter li a img.celebrity {
            background-position: -66px 0; }
          #main_content .filterBar .filter li a img.wishlist {
            background-position: -88px 0; }
          #main_content .filterBar .filter li a img.result {
            background-position: -110px 0; }
        #main_content .filterBar .filter li a.all span {
          margin: 0 5px; }
        #main_content .filterBar .filter li a.active {
          border-top: 1px solid #dbd7c9 !important;
          border-left: 1px solid #dbd7c9 !important;
          border-right: 1px solid #dbd7c9 !important;
          border-bottom: 1px solid #f0efe7 !important;
          border-top-left-radius: 4px;
          -moz-border-radius-topleft: 4px;
          -webkit-border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          -moz-border-radius-topright: 4px;
          -webkit-border-top-right-radius: 4px;
          background-color: #c8ba5a !important;
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from_color, endColorstr=$to_color);
          background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfaf3), to(#f0efe7));
          background-image: -moz-linear-gradient(top, #fbfaf3, #f0efe7);
          background-image: -ms-linear-gradient(top, #fbfaf3, #f0efe7);
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfaf3), color-stop(100%, #f0efe7));
          background-image: -webkit-linear-gradient(top, #fbfaf3, #f0efe7);
          background-image: -o-linear-gradient(top, #fbfaf3, #f0efe7);
          background-image: linear-gradient(#fbfaf3, #f0efe7);
          border-color: #eeeacd #eeeacd #d5ca80;
          -webkit-font-smoothing: antialiased;
          color: #333333; }
          #main_content .filterBar .filter li a.active img.products {
            background-position: 0 -22px; }
          #main_content .filterBar .filter li a.active img.styleboards {
            background-position: -22px -22px; }
          #main_content .filterBar .filter li a.active img.inspiration {
            background-position: -44px -22px; }
          #main_content .filterBar .filter li a.active img.celebrity {
            background-position: -66px -22px; }
          #main_content .filterBar .filter li a.active img.wishlist {
            background-position: -88px -22px; }
          #main_content .filterBar .filter li a.active img.result {
            background-position: -110px -22px; }
        #main_content .filterBar .filter li a:hover {
          color: #333333; }
          #main_content .filterBar .filter li a:hover img.products {
            background-position: 0 -22px; }
          #main_content .filterBar .filter li a:hover img.styleboards {
            background-position: -22px -22px; }
          #main_content .filterBar .filter li a:hover img.inspiration {
            background-position: -44px -22px; }
          #main_content .filterBar .filter li a:hover img.celebrity {
            background-position: -66px -22px; }
          #main_content .filterBar .filter li a:hover img.wishlist {
            background-position: -88px -22px; }
          #main_content .filterBar .filter li a:hover img.result {
            background-position: -110px -22px; }
    #main_content .filterBar .searchBoxWrap {
      border-top: 1px solid #dbd7c9 !important;
      border-left: 1px solid #dbd7c9 !important;
      border-right: 1px solid #dbd7c9 !important;
      border-bottom: 1px solid #f0efe7 !important;
      border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      background-color: #c8ba5a !important;
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from_color, endColorstr=$to_color);
      background-image: -khtml-gradient(linear, left top, left bottom, from(#fbfaf3), to(#f0efe7));
      background-image: -moz-linear-gradient(top, #fbfaf3, #f0efe7);
      background-image: -ms-linear-gradient(top, #fbfaf3, #f0efe7);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfaf3), color-stop(100%, #f0efe7));
      background-image: -webkit-linear-gradient(top, #fbfaf3, #f0efe7);
      background-image: -o-linear-gradient(top, #fbfaf3, #f0efe7);
      background-image: linear-gradient(#fbfaf3, #f0efe7);
      border-color: #eeeacd #eeeacd #d5ca80;
      -webkit-font-smoothing: antialiased;
      padding: 7px 8px;
      position: absolute;
      right: 0;
      bottom: -1px; }
      #main_content .filterBar .searchBoxWrap .searchIcon {
        display: none; }
        #main_content .filterBar .searchBoxWrap .searchIcon img {
          width: 24px;
          height: 24px;
          background-image: url("/static/images/search_icon_big.png"); }
      #main_content .filterBar .searchBoxWrap .searchBox {
        margin: 1px 0;
        background-color: #FFFFFF;
        border: 1px solid #dbd7c9;
        white-space: nowrap; }
        #main_content .filterBar .searchBoxWrap .searchBox input {
          border: none !important;
          width: 190px;
          vertical-align: bottom; }
        #main_content .filterBar .searchBoxWrap .searchBox .searchBtn {
          height: 22px;
          width: 22px;
          vertical-align: bottom;
          border: none;
          cursor: pointer;
          padding: 0;
          background-color: #FFFFFF;
          margin: 0; }
          #main_content .filterBar .searchBoxWrap .searchBox .searchBtn img {
            width: 22px;
            height: 22px;
            background-image: url("/static/images/search_icon.png"); }
      #main_content .filterBar .searchBoxWrap .searchBox.transform {
        position: absolute;
        right: 10%;
        top: 120%; }
  #main_content .lineItems {
    border-top: 1px solid #dbd7c9;
    background-color: #f0efe7;
    min-height: 100px;
    padding: 5px 0 70px; }
    #main_content .lineItems #items_wrapper {
      margin: 0 auto; }
      #main_content .lineItems #items_wrapper .itemWrap {
        height: 360px;
        background-color: #FFFFFF;
        border-bottom: 13px solid #dbd7c9;
        width: 240px;
        margin: 5px;
        text-align: center;
        font-family: "cartoGothicStd_Book"; }
        #main_content .lineItems #items_wrapper .itemWrap img {
          max-width: 100%;
          max-height: 240px; }
        #main_content .lineItems #items_wrapper .itemWrap h2 {
          margin-top: 5px;
          line-height: 1em;
          font-size: 15px;
          text-transform: uppercase; }
        #main_content .lineItems #items_wrapper .itemWrap p {
          font-family: "PT Serif", serif;
          font-style: italic;
          font-size: 13px;
          margin-top: 5px;
          line-height: 1em; }
      #main_content .lineItems #items_wrapper .itemWrap:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #dbd7c9; }
      #main_content .lineItems #items_wrapper .itemWrap.double {
        width: 490px; }
        #main_content .lineItems #items_wrapper .itemWrap.double img {
          max-height: 310px !important; }

.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }
