//fonts
@import url("/static/stylesheets/fontface.css");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic");
$helvetica: "Trebuchet MS",Helvetica,sans-serif;
$PTserif: "PT Serif", serif;
$times_newRoman : "Times New Roman", serif;
$cartoGothicStd_Book: "cartoGothicStd_Book";
$cartoGothicStd_Bold: "cartoGothicStd_Bold";
$cartoGothicStd_BoldItalic: "cartoGothicStd_BoldItalic";
$cartoGothicStd_Italic: "cartoGothicStd_Italic";

//font sizes
$font_size: 12px;

//colors
$dark: #000000;
$light : #FFFFFF;
$border_01 : #dbd7c9;

//mixins
@mixin rounded_corners($radius: 5px) {
	-webkit-border-radius: $radius; 
	-moz-border-radius: $radius; 
	border-radius: $radius;
}
@mixin box_shadow($x, $y, $blur, $color, $extra:0){
	-webkit-box-shadow: $x $y $blur $extra $color;
	   -moz-box-shadow: $x $y $blur $extra $color;
	        box-shadow: $x $y $blur $extra $color;
}

@mixin rounded_by_corner($vert, $horz, $radius: 5px) {
  border-#{$vert}-#{$horz}-radius: $radius;
  -moz-border-radius-#{$vert}#{$horz}: $radius;
  -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}

@mixin border($color:lighten($dark, 60%), $size:1px,$style: solid){
	border: $size $style $color;
}

@mixin border_by_side($side,$color:lighten($dark, 60%) ,$size:1px,$style: solid){
  border-#{$side}: $size $style $color;
}

@mixin gradients($from_color, $to_color){

	background-color: darken($from_color, 40%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from_color, endColorstr=$to_color);
	background-image: -khtml-gradient(linear, left top, left bottom, from($from_color), to($to_color));
	background-image: -moz-linear-gradient(top, $from_color, $to_color);
	background-image: -ms-linear-gradient(top, $from_color, $to_color);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from_color), color-stop(100%, $to_color));
	background-image: -webkit-linear-gradient(top, $from_color, $to_color);
	background-image: -o-linear-gradient(top, $from_color, $to_color);
	background-image: linear-gradient($from_color, $to_color);
	border-color:  darken($from_color, 10%) darken($from_color, 10%) darken($from_color, 30%);
	// text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}