@import 'sass';
/*=========================================
	Main Styles
=========================================*/
html{
	// overflow: hidden;
	height:100%;
	body {
		font-size: $font_size;
		line-height:1.2em;
		font-family: $helvetica;
		color: lighten($dark, 30%);
		background-color: $light;
		width:100%;
		height:100%;
		// overflow: hidden;	
		header,footer{
			width:100%;
			min-width: 1024px;
		}
		input[type="text"],input[type="password"],input[type="email"]{
			border:1px solid lighten($dark, 60%);
			padding:3px;
			@include rounded_corners(3px); 
		}
		.header{
			background-image: url("/static/images/header_bg.jpg");
			background-repeat: repeat-x;
			height: 75px;
			padding: 7px 0 13px;
			.headerRow{
				width: 1024px;
				margin: 0 auto;
				font-size: 0;
				position:relative;
				.headerColumn{
					display: inline-block;
				}
				.headerColumn.info, .headerColumn.user{
					width: 462px;
					vertical-align: bottom;
					font-size: $font_size;
					ul{
						text-align: center;
						li{
							display: inline-block;
							vertical-align: bottom;
							ul{
								display: none;
								background-color: #FFFFFF;
								border: 1px solid  #000000;
								left: -5px;
								li{
									padding:5px 10px !important;
									a{
										color: #333333;
										font-family:$cartoGothicStd_Book;
									}
									a.active{
										color: #000000;
										font-family:$cartoGothicStd_Bold;
									}
								}
								li:hover{
									background-color: #EEEEEE;
								}
							}
						}
					}
					a{
						color: #EEEEEE;
						text-transform:uppercase;
						display: block;
						font-family:$cartoGothicStd_Bold;
					}
				}
				.headerColumn.logo{
					a{
						display: block;
						img{
							vertical-align: bottom;
						}
					}
				}
				#news_letter{
					position:absolute;
					top:5px;
					right: 0;
					color: #EEEEEE;
					text-transform:uppercase;
					font-size: $font_size;
					font-family:$cartoGothicStd_Bold;
					.arrowRight{
						width: 10px;
						height: 10px;
						margin-bottom: 1px;
						display: inline-block;
						vertical-align: middle;
						background-image: url("/static/images/arrows_sprite.png");
						background-repeat: no-repeat;
						background-position: -10px 0;
					}
				}
			}
		}	

		footer{
			display: none;
			left: 0;
			bottom:0;
			z-index: 5 !important;
			position: fixed;
			text-transform: uppercase;
			font-family: $PTserif;
			min-width: 1024px;
			.footerNavigation{
				text-align: center;
				margin-right: 70px;
				background-color: #FFFFFF;
				border-top: 1px solid $border_01;
				border-right: 1px solid $border_01;
				padding: 10px 0;
				ul{
					font-size: 0;
					display: inline-block;
					vertical-align: top;
					li{
						font-size: 12px;
						display: inline-block;
						vertical-align: top;
					}
				}
				ul.FooterMenu{
					margin-right: 15px;
					a{
						height: 32px;
						color: #333333;
						padding: 0 20px !important;
						margin:0 3px;
						line-height: 32px;
						text-align:center;
						border-style: solid;
						display: inline-block;
						border: 1px solid $border_01;
						background-color: #F7F7F7;
						box-shadow: inset 0 0 4px #FFFFFF;
						// @include rounded_corners();
						// @include gradients(#EEEEEE, #DDDDDD);
						span{
							display: inline-block;
							height: 1em;
							line-height: 1em;
							margin-left: 5px;
							img{
							}
						}
					}
					ul{
						display:none;
						margin-top:10px;
						font-family: $cartoGothicStd_Book;
						li{
							display: block;
							background: none !important;

							a{
								background: none !important;
								border: none !important;
								padding: 4px !important;
								height: 15px;
								line-height: 15px;
							}
						}
					}
				}
				ul.footerSocial{
					a{
						margin:0 1px;
						display: inline-block;
						vertical-align: top;
						img.socialIcon{
							width: 34px;
							height: 34px;
							background-image: url('/static/images/social_icons.png');
							background-position: -1px -44px;
							vertical-align: top;
						}
						img.facebook{
							background-position: -1px -44px;
						}
						img.gPlus{
							background-position: -37px -44px;
						}
						img.twitter{
							background-position: -73px -44px;
						}
						img.pinterest{
							background-position: -109px -44px;
						}
						img.tumbler{
							background-position: -145px -44px;
						}
						img.youtube{
							background-position: -181px -44px;
						}
						img.instagram{
							background-position: -216px -44px;
						}
					}
					a:hover{
						img.facebook{
							background-position: -1px -3px;
						}
						img.gPlus{
							background-position: -37px -3px;
						}
						img.twitter{
							background-position: -73px -3px;
						}
						img.pinterest{
							background-position: -109px -3px;
						}
						img.tumbler{
							background-position: -145px -3px;
						}
						img.youtube{
							background-position: -181px -3px;
						}
						img.instagram{
							background-position: -216px -3px;
						}
					}
				}
			}
			.backToTopWrapper{
				top: 0;
				right: 0;
				width: 65px;
				height: 100%;
				position: absolute;
				background-color: #FFFFFF;
				border-top: 1px solid $border_01;
				border-left: 1px solid $border_01;
				text-align: center;
				padding-top: 5px;
				a{
					color: #333333 !important;
					img{
						width: 17px;
						height: 15px;
						background-image: url("/static/images/arrows_sprite.png");
						background-position: -2px -40px;
					}
					h1{
						font-size: 15px;
					}
				}
			}
		}
	}
}

.flatPageWrap h3{
	font-size: 2em;
	line-height: 1.5em;
}

p{
	line-height: 1.4em;
}
input{
	padding:0;
	margin:0;
}
input.inputText{
	@include rounded_corners(0px !important);
	padding:5px !important;
	border: 1px solid $border_01 !important;
}
input.btn{
	cursor:pointer;
}

.btn{
	padding:5px 10px !important;
	display: inline-block;
	text-align:center;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	border-color: $border_01 !important;
	text-transform: uppercase;
	font-family: $PTserif;
	@include rounded_corners();
	@include gradients(#fbfaf3, #eceae1);
	@include box_shadow(inset 0, -1px, 5px, #FFFFFF);
}

.btn:hover{
	@include gradients(#edece6, #cfcdc5);
}

.fieldset{
	color: #000000;
	margin-top:10px;
	padding-top:10px;
	text-align: center;
	position: relative;
	border-top: 2px solid #666666;
	.legendWrap{
		left: 0;
		top: -7px;
		width: 100%;
		display:block;
		position: absolute;
		.legend{
			text-transform: uppercase;
			font-family: $PTserif;
			background-color: #FFFFFF;
			display: inline-block;	
			padding:0 10px;
			height: 14px;
			font-size: 12px;
			line-height: 14px;
		}
	}
	.fieldsetContent{
		display: block;
	}
}
.fieldset:before{
	height: 1px;
	content: "";
	width: 100%;
	display: block;
	background-color:#666666;
	position: absolute;
	top: 1px;
	left:0;
}

//******* menu *********//
ul.simpleDropdown li{ 
	cursor: pointer;
	padding: 7px 5px 3px;
	margin: 0 1px;

	ul{
		li{
			padding: 7px 5px 3px !important;
		}
	}
}
.arrowWrapper{
	img{
		width: 10px;
		height: 10px;
		background-image: url("/static/images/arrows_sprite.png");
		background-repeat: no-repeat;
		vertical-align: text-top;
	}
	img.arrowUp{
		background-position: 0 -10px;
	}
	img.arrowDown{
		background-position: 0 0;
	}
	img.arrowUp.dark{
		background-position: 0 -30px;
	}
	img.arrowDown.dark{
		background-position: 0 -20px;
	}
	img.arrowRight{
		background-position: -10px 0;
	}
	img.arrowLeft{
		background-position: -10px -10px;
	}
	img.arrowRight.dark{
		background-position: -10px -20px;
	}
	img.arrowLeft.dark{
		background-position: -10px -30px;
	}
}
.menuIconWrap{
	display: none;
	position: absolute;
	bottom: 75%;
	img{
		width: 47px;
		height: 9px;
		background-image: url("/static/images/hover_status.png");
		background-repeat: no-repeat;

	}
}

//******* cart *********//

.iDCart{
	background-color: #FFFFFF;
	@include rounded_by_corner(top, left, 4px);
	@include rounded_by_corner(top, right, 4px);
	a{
		color: #000000 !important;
	}
	.menuIconWrap{
		bottom: 105%;
	}
}
.iDitemCouter{
	position: absolute;
	top:-2px;
	left: 110%; 
	padding: 7px 7px 4px;
	background-color: #FFFFFF;
	@include rounded_corners(5px);
	font-family: $cartoGothicStd_Book;
	white-space: nowrap;
	text-transform: uppercase;

	var{
		display: inline;
	}
	img{
		left: -6px;
		top: 8px;
		width: 10px;
		height: 10px;
		background-image: url("/static/images/arrows_sprite.png");
		background-repeat: no-repeat;
		background-position: -10px -10px;
		position: absolute;
	}
}
.iDitemCouter.hide{
	display:none;
}
#cart_frame{
	display:none;
	width:420px;
	// padding-top:10px;
	height: 500px;
	border-right:1px solid #000000;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	background-color:#FFFFFF;
	overflow:hidden;
	position: absolute;
	top:100%;
	right: -90%;
	z-index:5;
	.closeCartBtn{
		position: absolute;
		top: 13px;
		left: 10px;
		display: none;
		margin: 0;
		@include rounded_corners(3px);
		@include gradients(#fbfaf3, #eceae1);
		border: 1px solid $border_01;
		padding: 1px 3px;
		img{
			width: 10px;
			height: 10px;
			background-image: url("/static/images/arrows_sprite.png");
			background-repeat: no-repeat;
			background-position: 0 -30px;
			vertical-align: middle;
		}
	}
	iframe{
		width: 420px;
		height: 500px;
		overflow:hidden;
	}
}

#cart_frame:before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left:0;
	width: 38px;
	height: 150px;
	background-color: #FFFFFF;
	cursor: default;
}

#user_access, #newsletter_form_wrap {
	display:none;
	background-color:#FFFFFF; 
	border:1px solid #000000; 
	padding:20px;

	.formWrap{
		// float: left;
		.fieldsetContent{
			padding: 2px 0;
			.formMessages{
				text-align: left;
				.errorList, .error, .warning{
					color:red;
					font-size: 11px;
					font-style: italic;
				}
			}
			.fieldGroup{
				padding: 3px 0;
			}
			.fieldGroup.operation{
				text-align: right;
				.forgotPassword{
					display: inline-block;
					margin-right: 5px;
					color: #666666;
				}
				.forgotPassword:hover{
					text-decoration: underline;
				}
				.btn{
					padding: 5px !important;
					font-size: 11px !important;
				}
				.btn:hover{
					color: #333333;
				}
				.closeModalBtn{
					line-height: 18px !important;
				}
			}
			.socialLogin{
				a{
					display: inline-block;
				}
			}
		}
		label{
			font-size: 11px;
			text-transform: uppercase;
			display: inline-block;
			width: 90px;
			text-align: right;
			white-space: nowrap !important;
		}
		input[type="text"],input[type="password"],input[type="email"]{
			width: 220px !important;
			@include rounded_corners(0);
			border: 1px solid $border_01;
			font-size: 12px;
			padding: 5px 2px;
		}
	}
}

/* Overlay */
#simplemodal-overlay {
	background-color:#000;
}

/* Container */
#simplemodal-container {
	top: 100px !important;
}

#simplemodal-container a.modalCloseImg {
	background:url('/static/images/close_modal.png') 
	no-repeat; width:25px; 
	height:29px; 
	display:inline; 
	z-index:3200; 
	position:absolute; 
	top:-10px; 
	right:-10px; 
	cursor:pointer;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	.headerColumn.info, .headerColumn.user{ width: 457px !important; }
}