{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin %}

{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}
{% block styles %}
<link href="/media/admin/css/thickbox.css" rel="stylesheet">
<style type="text/css">
table#featured-items tbody tr td table tr td a {
	display: inline-block;
	*display: inline;
	zoom:1;
	width: 100px !important;
	height: 100px !important;
}
table#featured-items img {
	width: 100%;
	height: auto;
}
</style>
{% endblock %}
{% block content %}
{% if messages %}

	{% for message in messages %}
	<div class="alert alert-{{ message.tags }}">
	  <a class="close" data-dismiss="alert" href="#">×</a>
	  <h4 class="alert-heading">{{ message.tags }}!</h4>
	  	{{ message }}		  
	</div>
	{% endfor %}

{% endif %}
<h1>{% trans "Manage Inspirations" %}</h1>
<div>&nbsp;</div>
<a href="{% url admin_add_inspiration %}" class="btn btn-primary">{% trans 'Create Inspiration' %}</a>
<div>&nbsp;</div>
<table class="table table-bordered table-hover" id="featured-items">
	<thead>
		<tr>
			<th width="50%">Images/Links</th>
			<th width="35%">Date Created</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for banner in home_banners %}
		<tr>
			<td>
				<table style="border: none">
					{% for i in banner.id|get_images %}
					<tr>
						<td style="border: none;">
							<a href="/media/banners/{{ i.image }}" class="thickbox"><img src="/media/banners/thumb/{{ i.image }}" width="100" height="100" alt="" /></a>
						</td>
						<td style="border: none; vertical-align: middle">{{ i.link }}</td>
					</tr>
					{% endfor %}
				</table>				 
			</td>
			<td>{{ banner.created }}</td>
			<td>
				<a href="{% url homepage_edit_banner banner.id %}" class="btn btn-primary">Edit</a>
				<a href="{% url homepage_delete_banner banner.id %}" class="deleteBanner btn btn-inverse">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div id="blob"></div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/media/admin/js/thickbox.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	if ($.browser.msie && $.browser.version==7.0){
		$('#featured-items img').each(function(){
			if($(this).height()<100)
				$(this).height(100)
			if($(this).width()<100)
				$(this).width(100)
		});
		// $('#featured-items img').each(function(){
			
		// 	alert($(this).height())
		// });
	}

	$('.deleteBanner').click(function(e){

		e.preventDefault();

		delete_url 	= $(this).attr('href');
		is_keep_url = '{% url homepage_is_keeped_banner %}';
		hbid 		= delete_url.split('/');
		hbid 		= hbid[3];//[0]www.idecorate.com,[1]admin,[2]delete_banner,[3] home banner ID
		
		var kept = $.post( is_keep_url, { hbid: hbid } );
			
		kept.done(function(data) {

			try {
				if(eval(data.toLowerCase())){
					
					if(confirm('Some images are currently in the "Keep" images of some users. Are you sure you want to delete this row?')) {

						window.location = delete_url;
					
					}

				}else{
					
					if(confirm('Are you sure you want to delete this item?')) {

						window.location = delete_url;
					
					}
				}

			}catch(e) {
				
			}
		});

	});	
});
</script>
{% endblock %}