{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin idecorate_interface humanize bootstrap_pagination %}

{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}

{% block styles %}
<link href="/media/admin/css/admin.css" rel="stylesheet">
<link runat="server" rel="shortcut icon" href="/media/images/favicon.1.ico" type="image/x-icon" />
<link runat="server" rel="icon" href="/media/images/favicon.1.ico" type="image/ico" />
<link rel="stylesheet" type="text/css" href="/media/interface/css/datepicker.css">
<style type="text/css">
	.totalWrap{
		float: right;
		font-size: 1.1em;
		border-top: 1px solid #DDDDDD;
	}
	
	.totalWrap tr{
		border-right: 1px solid #DDDDDD;
		border-left: 1px solid #DDDDDD;
	}

	.totalWrap tr td{
		padding: 5px 2px 5px 20px;
		background-color: #EEEEEE;
	}

	.totalWrap tr td + td{
		padding: 5px 20px 5px 2px;
		background-color: #EEEEEE;
	}

	.totalWrap tr.backWrap{
		border: none;
	}

	.totalWrap .total td{
		font-weight: bold;
	}

	.totalWrap tr.backWrap td{
		background: none;
		border-top: 1px solid #DDDDDD;
	}
	h1{
		margin-bottom: 15px;
	}
	.well{
		margin-top: 15px;
	}
</style>
{% endblock %}

{% block content %}
<h1>View Order</h1>
<h4>Order ID: {{order.order_id}}</h4>
<h4>Date Created: {{order.created}}</h4>
<h4>Status: {{order.status|readable_status}}</h4>
<div class="operation">
	<a id="print" target="blank" href="{% url hard_copy_order 0 order.id %}">Print</a> | <a id="pdf" target="blank" href="{% url hard_copy_order 1 order.id %}" >PDF</a>
</div>
<div class="well">
	<table cellpadding="5" cellspacing="0" border="0">
		<tbody>
			<tr>
				<td style="text-align:right; width:120px;">First Name :</td>
				<td>{{order.billing_first_name}}</td>
				<td rowspan="6"style="width:50px;">&nbsp;</td>
				<td style="text-align:right; width:120px;">Payment Method :</td>
				<td>{{order|get_order_detail:'payment_method'|readable_status_payment}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Last Name :</td>
				<td>{{order.billing_last_name}}</td>
				<td style="text-align:right; width:120px;">Payment Notes :</td>
				<td>{{order|get_order_detail:'note'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Email Address :</td>
				<td>{{order.email}}</td>
				<td rowspan="4" style="text-align:right; width:120px; vertical-align:top;">Order Notes :</td>
				<td rowspan="4" style="vertical-align:top;">{{order|get_order_detail:'note'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Contact Number :</td>
				<td>{{order|get_order_detail:"contact_number"}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Delivery Date :</td>
				<td>{{order|get_order_detail:"delivery_date"}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Delivery Address :</td>
				<td>{{order|get_order_detail:'delivery_address'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Delivery Address2 :</td>
				<td>{{order|get_order_detail:'delivery_address2'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Delivery City :</td>
				<td>{{order|get_order_detail:'delivery_city'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Delivery State :</td>
				<td>{{order|get_order_detail:'delivery_state'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Delivery Zip Code :</td>
				<td>{{order|get_order_detail:'delivery_zip_code'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Delivery Country :</td>
				<td>{{order|get_order_detail:'delivery_country'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Billing Address :</td>
				<td>{{order.billing_address}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Billing Address2 :</td>
				<td>{{order|get_order_detail:'billing_address2'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Billing City :</td>
				<td>{{order.billing_city}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Billing State :</td>
				<td>{{order|get_order_detail:'billing_state'}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Billing Zip Code :</td>
				<td>{{order.billing_zip_code}}</td>
			</tr>
			<tr>
				<td style="text-align:right; width:120px;">Billing Country :</td>
				<td>{{order|get_order_detail:'billing_country'}}</td>
			</tr>
		</tbody>
	</table>
</div>
<table class="order table table-bordered table-hover">
	<thead> 
		<tr>
			<th>Image</th>
			<th>Product name</th>
			<th>Comments</th>
			<th>Unit Price</th>
			<th>Quantity</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		{% for order_item in order_items %}
		<tr>
			<td style="text-align:center;"><img src="/media/products/{{order_item.product.original_image_thumbnail}}" width="50" height="50" /></td>
			<td>{{order_item.name}}</td>
			<td>{{order_item.product|getProductDetail:'comment'}}</td>
			<td>${{order_item.unit_price|floatformat:2|intcomma}}</td>
			<td>{{order_item.quantity}}</td>
			<td>${{order_item.unit_price|multiply:order_item.quantity|floatformat:2|intcomma}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<table class="totalWrap" cellpadding="5">
	<tbody>
		<tr>
			<td style="text-align:right; width:100px;">Subtotal : </td>
			<td>${{order.items_subtotal|floatformat:2|intcomma}}</td>
		</tr>
		<tr>
			<td style="text-align:right; width:100px;">Delivery Fee : </td>
			<td>${{order.shipping_cost|floatformat:2|intcomma}}</td>
		</tr>
		<tr class="total">
			<td style="text-align:right; width:100px;">Total : </td>
			<td>${{order.total|floatformat:2|intcomma}}</td>
		</tr>
		<tr class="backWrap">
			<td colspan="2" style="text-align:right; width:100px;">
				<button id="back" class="btn btn btn-inverse">Back</button>
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(function(){
		$('#back').click(function(e){
			var url = '{% url admin_manage_order %}';
			{% if request.session.manage_order_redirect %}
				url = url+'{{ request.session.manage_order_redirect }}';
			{% endif %}
			window.location = url;
		});
	});
</script>
{% endblock %}


