{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin %}

{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}

{% block styles %}
<link href="/media/admin/css/admin.css" rel="stylesheet">
<link href="/media/admin/css/jquery.checkboxtree.min.css" rel="stylesheet">
<link runat="server" rel="shortcut icon" href="/media/images/favicon.1.ico" type="image/x-icon" />
<link runat="server" rel="icon" href="/media/images/favicon.1.ico" type="image/ico" />
<style type="text/css">

  .preview {
    float: left;
    width: 100px;
    height: 100px;
    border: 2px dotted #CCC;
    margin-right: 16px;
  }

  div.preview.loading { 
    background: url(/media/admin/images/loading.gif) no-repeat 39px 40px; 
  }

  div.preview.loading img {
    display: none; 
  }

  #tree1 {
    padding: 0px 15px;
    margin-left: 0px;
  }

  .treelabel {
    display: inline-block;
    margin: 0px;
  }

  .treeinput {
    margin-bottom: 5px !important;
  }
  #id_price, #id_unit_price {
    width: 259px !important;
  }
</style>
{% endblock %}

{% block content %}
	<h1>{% trans "Create Product" %}</h1>
	<div>&nbsp;</div>

      {% if form.errors %}

      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Please correct the following errors:</h4>
        <ol>
          {% for e in form.product_status.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.product_sku.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.product_name.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.price.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.categories.errors %}
            <li>{{ e }}</li>
          {% endfor %}    
          {% for e in form.product_description.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.original_image.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.no_background.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.default_quantity.errors %}
            <li>{{ e }}</li>
          {% endfor %}

          {% for e in form.unit_price.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.pieces_carton.errors %}
            <li>{{ e }}</li>
          {% endfor %}
          {% for e in form.min_order_qty_carton.errors %}
            <li>{{ e }}</li>
          {% endfor %}
        </ol> 
      </div>

      {% endif %}

      {% if messages  %}

      <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Success!</h4>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>

      {% endif %} 


    <div class="container-fluid">      
      <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
      	{% csrf_token %}
      <div class="row-fluid">
        <div class="span12">
          <!--
          <legend>Product Information</legend>
          -->

          <h3 style="font-weight:normal;">{% trans "Product Information" %}</h3>
          <hr />

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.product_status.label }}</label>
                <div class="controls">
                {% for choice in form.product_status.field.choices %}
                  <label class="radio inline">
                      <input type="radio" name="product_status" value="{{choice.0}}" {% if form.product_status.data == choice.0 %}checked="checked" {% endif %}/> {{choice.1}}
                  </label>
                {% endfor %}
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.product_sku.label }} *</label>
                <div class="controls">
                  {{ form.product_sku|add_class:"input-xlarge"|attr:"placeholder:SKU" }}
                  <span class="help-block">{{ form.product_sku.help_text }}</span>
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->


          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.product_name.label }} *</label>
                <div class="controls">
                  {{ form.product_name|add_class:"input-xlarge"|attr:"placeholder:Name" }}
                  <span class="help-block">{{ form.product_name.help_text }}</span>
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->


          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.price.label }} *</label>
                <div class="controls">
                  <span class="curCode">$</span> {{ form.price|add_class:"input-xlarge"|attr:"placeholder:Price" }}
                  <span class="help-block">{{ form.price.help_text }}</span>
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{% trans "Product Category" %} *</label>
                <div class="controls" style="margin-top:-3px;">
                  <span class="help-block">{% trans "Check the box for each category you want this product to appear under. Hide/expand parent categories by clicking the arrows beside them." %}</span>

                  {{ categories|getCategoryTree:request }}
                  
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.product_description.label }} *</label>
                <div class="controls" style="margin-top:-3px;">
                  <span class="help-block">{{ form.product_description.help_text }}</span>

                  {{ form.product_description|add_class:"input-xxlarge"|attr:"style:height:300px;" }}
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->


          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{% trans "Default Quantity Per Guest/Table" %}</label>
                <div class="controls">
                  {{ form.default_quantity|attr:"style:width:30px;" }} per {{ form.guest_table }}
                  <span class="help-block">{% trans "Select Guest/Table from the drop-down and enter the number of units of this product to be added to cart by default. This number can be changed by the user." %}</span>
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->


          <h3 style="font-weight:normal;">{% trans "Product Images" %}</h3>
          <hr />

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">&nbsp;</label>
                <div class="controls">
                  <span class="help-block">{% trans "Upload one product image with a background and another with a transparent background. Images uploaded will be automatically converted to the correct filetype and resized by the system." %}</span>
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{% trans "Original Image" %}:</label>
                <div class="controls">
                  <div class="preview" id="preview1" style="text-align:center;">
                    <img id="thumb_original" style="position:relative;max-height:100px;max-width:100px" src="/media/admin/images/bg_transparent.png" alt="" />
                  </div>
                  {{ form.original_image }}
                  <a href="#" id="btn_orginal_image" class="btn btn-primary">{% trans "Browse ..." %}</a>
                  <span class="help-block">{% trans "Accepted files: JPG, PNG, GIF, TIFF. Max filesize 10MB." %}</span>
                  <div id="error_1" style="color:red">&nbsp;</div>
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->


          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{% trans "No Background" %}:</label>
                <div class="controls">
                  <div class="preview" id="preview2" style="text-align:center;">
                    <img id="thumb_no_background" style="position:relative;max-height:100px;max-width:100px" src="/media/admin/images/bg_transparent.png" alt="" />
                  </div>
                  {{ form.no_background }}
                  <a href="#" id="btn_no_background" class="btn btn-primary">{% trans "Browse ..." %}</a>
                  <span class="help-block">{% trans "Accepted files: PNG only. Max filesize 10MB." %}</span>
                  <div id="error_2" style="color:red">&nbsp;</div>
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <h3 style="font-weight:normal;">{% trans "Product Details" %}</h3>
          <hr />

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.comment.label }}:</label>
                <div class="controls">
                  {{ form.comment|add_class:"input-xxlarge"|attr:"style:height:300px;" }}
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.size.label }}:</label>
                <div class="controls">
                  {{ form.size|add_class:"input-xlarge"|attr:"placeholder:Size" }}
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.color.label }}:</label>
                <div class="controls">
                  {{ form.color|add_class:"input-xlarge"|attr:"placeholder:Color" }}
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.unit_price.label }}:</label>
                <div class="controls">
                  <span class="curCode">$</span> {{ form.unit_price|add_class:"input-xlarge"|attr:"placeholder:Unit Price" }}
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.pieces_carton.label }}:</label>
                <div class="controls">
                  {{ form.pieces_carton|add_class:"input-xlarge"|attr:"placeholder:Pieces/Carton" }}
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <label class="control-label">{{ form.min_order_qty_carton.label }}:</label>
                <div class="controls">
                  {{ form.min_order_qty_carton|add_class:"input-xlarge"|attr:"placeholder:Minimum Order Quantity/Carton" }}
                </div>
              </div>
            </div><!--/span-->          
          </div><!--/row-->


        </div><!--/span-->      
      </div><!--/row-->
			<div class="form-actions" style="text-align:left">
  				<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
			</div>
      </form>
     </div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="/media/admin/js/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript" src="/media/admin/js/ajaxupload.js"></script>
  <script type="text/javascript" src="/media/admin/js/jquery.checkboxtree.min.js"></script>
	<script type="text/javascript" >
		tinyMCE.init({
		        mode : "textareas",
		        theme : "simple",
            plugins : "autolink"
		});

    function uncheckInvalid(obj) {
      var gotCheck = false;

      if(obj.attr('checked')) {
        gotCheck = true;
      }

      obj.parent().siblings().each(function(e){
          
        if($(this).find('input').attr('checked')) {
          gotCheck = true;
        } 

      });

      var parent = obj.parent().parent().parent().children('input');
      //console.log(parent);
      if(!gotCheck) {
        //uncheck the parent
        parent.attr('checked',false);

        if(parent.attr('isparent') != 'isparent') {
          uncheckInvalid(parent);
        }
      }

    }

    $(function(e){

      var thumb_original = $('img#thumb_original');

      new AjaxUpload('btn_orginal_image', {
        name: 'image',
        action: '{% url admin_upload_product_image %}',
        onSubmit: function(file, extension) {
          $('div#preview1').addClass('loading');
        },
        onComplete: function(file, response){                        

          var splittedResponse = response.split(':')

          if (splittedResponse[0] == 'notok') {
            $('#error_1').text(splittedResponse[1]);
          } else {
            thumb_original.load(function(){

              if($('#thumb_original').height() < 100) {
                $('#thumb_original').css('top',((100 - $('#thumb_original').height()) / 2) + 'px');
              } else {
                $('#thumb_original').css('top','0px');
              }

              thumb_original.unbind();
            });

            thumb_original.attr('src', '/media/products/temp/' + splittedResponse[1]);
            $('#error_1').text('');
            $('#id_original_image').val(splittedResponse[1]);

          }

          $('div#preview1').removeClass('loading');

        }
      });

      var thumb_no_background = $('img#thumb_no_background');

      new AjaxUpload('btn_no_background', {
        name: 'image',
        action: '{% url admin_upload_product_image %}',
        onSubmit: function(file, extension) {

          if(extension != "png") {

            $('#error_2').text('{% trans "File type is not supported" %}');
            return false;
          }

          $('div#preview2').addClass('loading');
        },
        onComplete: function(file, response){                        

          var splittedResponse = response.split(':')

          if (splittedResponse[0] == 'notok') {

            $('#error_2').text(splittedResponse[1]);
            
          } else {
            thumb_no_background.load(function(){

              if($('#thumb_no_background').height() < 100) {
                $('#thumb_no_background').css('top',((100 - $('#thumb_no_background').height()) / 2) + 'px');
              } else {
                $('#thumb_no_background').css('top','0px');
              }

              thumb_no_background.unbind();
            });

            thumb_no_background.attr('src', '/media/products/temp/' + splittedResponse[1]);
            $('#error_2').text('');
            $('#id_no_background').val(splittedResponse[1]);
          }

          $('div#preview2').removeClass('loading');

        }
      });

      $('#tree1').checkboxTree();

      $('input[name="categories"]').click(function(e){

        uncheckInvalid($(this));

      });


    });

	</script >
{% endblock %}