{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin idecorate_interface humanize bootstrap_pagination %}

{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}

{% block styles %}
<link href="/media/admin/css/admin.css" rel="stylesheet">
<link runat="server" rel="shortcut icon" href="/media/images/favicon.1.ico" type="image/x-icon" />
<link runat="server" rel="icon" href="/media/images/favicon.1.ico" type="image/ico" />
<link rel="stylesheet" type="text/css" href="/media/interface/css/datepicker.css">
<style type="text/css">
</style>
{% endblock %}

{% block content %}
{% endblock %}

{% block javascripts %}
{% endblock %}

