{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}

{% block styles %}
<link href="/media/admin/css/admin.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<h3>{% trans "Manage Menu" %}</h3>
	<div>&nbsp;</div>
	<div>
		<ul class="nav nav-tabs" id="manage_menu">
		  <li class="active"><a href="#info_manage_menu">{% trans "Info Menu" %}</a></li>
		  <li><a href="#site_manage_menu">{% trans "Site Menu" %}</a></li>
		  <li><a href="#footer_manage_menu">{% trans "Footer" %}</a></li>
		</ul>
		 
		<div class="tab-content">
		  <div class="tab-pane active" id="info_manage_menu">
			
			<ol class="sortable" id="sortable1">
			    <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div></li>
			    <li class="ui-state-default">
			        <div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div>
			        <ol>
			            <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some sub-item content</div></li>
			            <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some sub-item content</div></li>
			        </ol>
			    </li>
			    <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div></li>
			</ol>

		  </div>
		  <div class="tab-pane" id="site_manage_menu">

			<ol class="sortable" id="sortable1">
			    <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div></li>
			    <li class="ui-state-default">
			        <div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div>
			        <ol>
			            <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some sub-item content</div></li>
			            <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some sub-item content</div></li>
			        </ol>
			    </li>
			    <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div></li>
			</ol>

		  </div>
		  <div class="tab-pane" id="footer_manage_menu">

			<ol class="sortable" id="sortable1">
			    <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div></li>
			    <li class="ui-state-default">
			        <div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div>
			        <ol>
			            <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some sub-item content</div></li>
			            <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some sub-item content</div></li>
			        </ol>
			    </li>
			    <li class="ui-state-default"><div><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Some content</div></li>
			</ol>

		  </div>
		</div>
	</div>	
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="/media/admin/js/jquery.mjs.nestedSortable.js"></script>
	<script type="text/javascript">

		$(function(e){

			$('#manage_menu a').click(function (e) {
  				e.preventDefault();
  				$(this).tab('show');
			});

	        $('#sortable1, #sortable2, #sortable3').nestedSortable({
				disableNesting: 'no-nest',
				forcePlaceholderSize: true,
				handle: 'div',
				helper:	'clone',
				items: 'li',
				maxLevels: 3,
				opacity: .6,
				placeholder: 'placeholder',
				revert: 250,
				tabSize: 25,
				tolerance: 'pointer',
				toleranceElement: '> div'
	        });

		});

	</script>
{% endblock %}