{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin bootstrap_pagination %}

{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}

{% block styles %}
<link href="/media/admin/css/admin.css" rel="stylesheet">
<style type="text/css"></style>
{% endblock %}

{% block content %}

          <div id="myModal1" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel">Delete Font</h3>
            </div>
            <div class="modal-body">
              <p>Do you want to delete this?</p>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" id="delete_font">Delete</button>
            </div>
          </div>

	<h1>{% trans "Manage Fonts" %}</h1>
	<div>&nbsp;</div>

      {% if messages %}

      <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Success!</h4>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>

      {% endif %}

      <h3 style="font-weight:normal;">{% trans "Show only fonts where" %}</h3>
      <hr />

      <form class="form-inline" action="{% url admin_manage_font %}" method="post">
        {% csrf_token %}
        <label class="checkbox">
            {{ form.font_description|add_class:"input-large"|attr:"placeholder:Description" }}
        </label>
        <label class="checkbox">
            {% trans "Status: " %}
            {{ form.font_status|add_class:"input-large" }}          
        </label>
          <button type="submit" class="btn btn-primary">Apply</button>
      </form>

      <hr />

      <table class="table table-bordered table-hover">
        <thead>
          <th><span class="tbtitle">Description</span> <span class="tbsorter"><a href="{% url admin_manage_font %}{{ description_asc_link }}">Δ</a><a href="{% url admin_manage_font %}{{ description_desc_link }}">∇</a></span></th>
          <th style="width:150px;">Preview</th>
          <th style="width:250px;"><span class="tbtitle">Status</span> <span class="tbsorter"><a href="{% url admin_manage_font %}{{ status_asc_link }}">Δ</a><a href="{% url admin_manage_font %}{{ status_desc_link }}">∇</a></span></th>
          <th style="width:200px;">Operations</th>
        </thead>

        {% if fonts %}
        <tbody>
          {% for font in fonts %}
          <tr>
            <td>{{ font.description }}</td>
            <td>{{ font|getFontPreview }}</td>
            <td>{{ font|getFontStatus }}</td>
            <td><a href="{% url admin_edit_font font.id %}">Edit</a> | <a data-toggle="modal" href="#myModal1" onclick="setGlobalURL('{% url admin_delete_font font.id %}')">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
        {% endif %}

      </table>

      {% bootstrap_paginate fonts url_get_params=other_params %}

{% endblock %}
{% block javascripts %}
<script type="text/javascript">

  globalUrl = "";

  function deleteFont() {

    document.location = globalURL;
    
  }

  function setGlobalURL(url) {
    globalURL = url;
  }

  $(function(e){

    $('#delete_font').click(function(e){

      deleteFont();

    });


  });
</script>
{% endblock %}