{% load i18n admin %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/media/css/bootstrap.css" rel="stylesheet">
        <link href="/media/css/default.css" rel="stylesheet">
        <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
    
        {%  block style %}{% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="/media/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/media/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
        <div class="container">
            <header id="header">
            </header>

            <section id="content">
                {% block content %}
                {% endblock %}
            </section>
            <footer>
                &copy; {% trans "Idecorate Wedding" %}
            </footer>
        </div> <!-- /container -->

        {% block javascripts %}{% endblock %}
    </body>
</html>
