{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin %}

{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}
{% block styles %}
<link href="/media/admin/css/admin.css" rel="stylesheet">
<style type="text/css">
/*fieldset {
    border: 1px solid #DDD;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 0;
}
.rowForm {
	padding-top: 20px;
	height: 100px;
	line-height: 100px;
}

.center-text {
	text-align: center;
	padding: 4px 0;
}
.dropdown-submenu {
	list-style-type: none;
}
#categories button.btn {
	text-align: left;
}
.ui-state-default div.title-holder {
	padding: 6px;
	line-height: 21px;
	height: 21px;
}
.ui-icon {
	margin-top: 2px;
}
.togglePlus {
	width: 10px;
	cursor: pointer;
}
#pre-view{
	width: 100px;
	height: 100px;
}
#categories{
	margin-top: 37px;
}*/

#categories ul {
	list-style-type: none;
}

.form-inline fieldset{
	margin: 15px 0 0 0;
}

.form-inline fieldset .formContent{
	display: inline-block;
	zoom:1;
	*display: inline;
	height: 30px;
	vertical-align: bottom;
	margin: 5px 2px 0 0;
}

.form-inline fieldset .formContent#preview{
	width: 100px;
	height: 100px;
	padding: 5px;
	border: 1px solid #EEEEEE;
	display: none;
}

.form-inline fieldset .formContent.dropDown{
	width: 150px !important;
}

.tab-content{
	margin-bottom: 15px;
}

.tab-content .tab-pane .ui-state-default div{
	height: 21px;
	padding: 6px;
}

.submitForm{
	text-align: right;
}
.plus {
	margin-right: 5px;
}
</style>
{% endblock %}
{% block content %}
	<h1>{% trans "Manage Product Categories" %}</h1>
	<div class="formWrap">
		{% if form.name.errors or form.thumbnail.errors %}

		<div class="alert alert-error">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<h4 class="alert-heading">Please correct the following errors:</h4>
			<ol>
				{% if form.name.errors %}
				{% for e in form.name.errors %}
				<li>{{ e }}</li>
				{% endfor %}
				{% endif %}
				{% if form.thumbnail.errors %}
				{% for e in form.thumbnail.errors %}
				<li>{{ e }}</li>
				{% endfor %}
				{% endif %}
			</ol>
		</div>

		{% endif %}	


		{% if messages %}
		<div class="alert alert-success">
		  <a class="close" data-dismiss="alert" href="#">×</a>
		  <h4 class="alert-heading">Success!</h4>
		  {% for message in messages %}
		  	{{ message }}
		  {% endfor %}
		</div>

		{% endif %}
		<form method="post" class="form-inline" action="" enctype="multipart/form-data">
		<fieldset>
			<legend>{{ heade_title }}</legend>
			{% csrf_token %}
			{{ form.parent }}
			{{ form.id }}

			<div class="formContent">
				{{ form.name|add_class:"input"|attr:"placeholder:Category Name" }}
			</div>
			
			<div class="formContent" id="preview" {% if cat %} style="display:inline-block" {% endif %}>
				{% if cat %}
				<img src="/{{ MEDIA_URL }}{{ cat.thumbnail }}" />
				{% endif %}
			</div>
			
			<div class="formContent">
				{{ form.thumbnail }}
			</div>
			<div class="formContent dropDown">									
				<div id="categories" class="btn-group span12">
					<button class="btn btn-primary span10" id="ddl-name">
						{% if cat %}
							{{ parent }}
						{% else %}
							--- Parent ----
						{% endif %}
					</button>
					<button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
						<span class="caret"></span>
					</button>						
					<ul class="dropdown-menu">
						<li><a href="#" rel="" class="cat">--- Parent ----</a></li>
						{{ categories|getSubCategories }}
					</ul>
				</div>
			</div>
			<div class="formContent">
				{% if cat %}
				<a href="{% url category %}" class="btn">Cancel</a>
				{% endif %}
				<input class="btn btn-primary btn-submit" type="submit" value="{{ method }}">					
			</div>
		</fieldset>
		</form>
	</div>
	<div class="tab-content">
		{{ categories|generateProductCategories }}
	</div>
	{% if categories %}
	<div class="submitForm">
		<a href="#" id="btnSaveOrdering" class="btn btn-primary">Save Ordering</a>
	</div>
	{% endif %}
 
	<!-- Modal -->
	<input type="hidden" id="cat_id" name="cat_id" value="" />
	<div class="modal hide" id="myModal">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">×</button>
        	<h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
        	<p>Are you sure want to delete this Category?</p>
        	</div>
        	<div class="modal-footer">
        	<a href="#" id="btnDismiss" class="btn" data-dismiss="modal">Cancel</a>
        	<a href="#" id="modalConfirm" class="btn btn-primary">Confirm</a>
        </div>
	</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/media/admin/js/jquery.mjs.nestedSortable.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#categories a.cat').click(function(){
			$('#ddl-name').text($(this).find('span').text());
			$('#id_parent').val(this.rel);
		});

        $('.sortable').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			helper:	'clone',
			items: 'li',
			maxLevels: 0,
			opacity: .6,
			placeholder: 'placeholder',
			revert: 250,
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
			rootID: true
        });

    	$('#id_thumbnail').change(function(){
    		if (this.files && this.files[0]) {
	            var reader = new FileReader();

	            reader.onload = function (e) {
	                $('#preview')
	                	.css('display','inline-block')
	                	.html('<img id="previewImg" src="'+e.target.result+'" alt="your image" />');
	                $('#previewImg')
	                    .width(100)
	                    .height(100);
	            };

	            reader.readAsDataURL(this.files[0]);
	        }
    	});


        $('#btnSaveOrdering').click(function(e){
        	var data = new Array();
        	$("#info_manage_cat li").each(function(e,v){

        		var id = this.id.split('_')[1];
        		var parent = '';

        		if($(this).parents('li').length == 0){
        			parent = 'None';
        		} else {
        			parent = $(this).parents('li').attr('id').split('_')[1];
        		}

        		data[e] = id + ':' + ($(this).index() + 1) + ':' + parent;
			});

        	var p = $.param({ cat : data});

			$.ajax({
				url: "{% url order_category %}",
				type: "POST",
				data: decodeURIComponent(p),
				async:   false,
				success: function(msg){
					
				},
				error: function(msg) {
					
				}
			});

		});

		$('.btn-delete').click(function(){			
			$('#cat_id').val(this.rel);
		});

		$('#modalConfirm').click(function(){
        	var csrf = ""
			$('input:hidden').each(function(){
				if ($(this).attr('name')=='csrfmiddlewaretoken'){
					csrf = $(this).val()
				}
			});

			var delurl = '{% url remove_category %}';
			var elm = this;
			$.post(delurl,{csrfmiddlewaretoken:csrf, cat_id:$('#cat_id').val()}, function(data){
				if (data > 0)
					$('#list_'+$('#cat_id').val()).fadeOut('slow', function(){
						$(this).remove();
					});
			});
			$('#btnDismiss').trigger('click');
			return false;
        });

	});

</script>
{% endblock %}