{% load i18n widget_tweaks admin idecorate_interface %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <title>iDecorate Wedding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type="text/css" href="/media/admin/css/manage.template.css">
        <link rel="stylesheet" type="text/css" href="/media/interface/js/ui/css/jquery.ui.core.css">
        <link rel="stylesheet" type="text/css" href="/media/interface/js/ui/css/jquery.ui.resizable.css">
        <script type="text/javascript">
        var TEXT_IMG_GEN_URL            = '{% url generate_text %}';
        var EMB_IMG_GEN_URL             = '{% url generate_embellishment %}';
        var MAX_UPLOAD_EMBELLISHMENT_IMAGE_SIZE = {{ max_emb_size }};
        var UPLOAD_EMBELLISMENT_PROG    = '{% url upload_embellishment_progress %}';
        var EMBELLISHMENT_UPLOAD_ACTION = '{% url template_upload_embellishment_action %}';
        </script>
        <style type="text/css">
        .file-wrapper, .submit-wrapper {
          cursor: pointer;
          display: inline-block;
          overflow: hidden;
          position: relative;
        }
        .file-wrapper input[type=file] {
            height: 30px;
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 100px;
            z-index: 2;
            opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
            filter: alpha(opacity=0); /* IE lt 8 */
            -ms-filter: "alpha(opacity=0)"; /* IE 8 */
            -khtml-opacity: 0.0; /* Safari 1.x */
            -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
        }
        .file-wrapper .button, .tp-button {
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          margin-right: 5px;
          padding: 4px 18px;
        }
        </style>
    </head>
    <body>
    	<div id="manage-template-header" class="header  clearfix">
    		<h1>iDecorate</h1>
    		<ul class="nav clearfix">
				<li>
					<a href="{% url admin %}">{% trans "Home" %}</a>
				</li>
				<li>
					<a href="{% url admin_manage_menu %}">{% trans "Manage Menu" %}</a>
				</li>
				<li>
					<a href="{% url category %}">{% trans "Manage Product Categories" %}</a>
				</li>
				<li>
					<a href="{% url admin_manage_product %}">{% trans "Manage Products" %} &#x25bc;</a>
					<ul>
						<li>
							<a href="{% url admin_create_product %}">{% trans "Create Product" %}</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{% url admin_manage_embellishment %}">{% trans "Manage Embellishments" %} &#x25bc;</a> 
					<ul>
						<li>
							<a href="{% url admin_upload_embellishment %}">{% trans "Upload Embellishment" %}</a>
						</li>
					</ul>
				</li>
				<li>
				<a href="{% url admin_manage_font %}">{% trans "Manage Text Fonts" %} &#x25bc;</a>
					<ul>
						<li>
							<a href="{% url admin_manage_text_font %}">{% trans "Upload Font" %}</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{% url admin_manage_checkout %}">{% trans "Manage Checkout Page" %}</a>
				</li>
				<li>
					<a href="{% url manage_template %}">{% trans "Manage Template" %}</a>
				</li>
				<li>
					<a href="{% url manage_homepage %}">{% trans "Manage Homepage" %} &#x25bc;</a>
					<ul>
	                  	<li><a href="{% url homepage_upload_banner %}">{% trans "Upload Home Banners" %}</a></li>
	                </ul>
				</li>
				<li>
					<a href="{% url admin_logout %}">{% trans "Logout" %}</a>
				</li>
			</ul>
    	</div>
		<div class="mainContent" id="manage-template-main">
			<table class="Content" border="0" cellpadding="0" cellspacing="0" id="main-content">
				<tr valign="top">
					<td class="sideBar" id="manage-template-sidebar">
						<div id="sidebar">
							<h2>Create Template</h2>
							<div id="uploadImage">
								<form id="upload-embel" method="POST">                                            
                                    <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
                                    <input type="hidden" id="id" name="id" value=""/>
                                    <input type="hidden" name="folder" value="template" />
                                    <fieldset>
                                        <legend>Upload Image</legend>
                                        <span class="file-wrapper">
                                            <input type="file" name="picture" id="picture" placeholder="from computer" />
                                            <input id="btn-from-my-computer" class="button" type="button" value="From my computer" />
                                        </span>
                                        <span class="submit-wrapper">
                                            <input id="form_submit_button" style="display:none" class="tp-button" type="submit" value="Upload" />
                                        </span>
                                    </fieldset>
                                </form>
				    		</div>
				    		<div class="breadcrumbWrap"></div>
				    		<div id="embellishment-wrap">
					    		<div class="emCat">
                                    <a href="{% url get_embellishment_items %}" rel="1" class="image em">
                                        {{ 1|getEmbellishmentThumbnail }}
                                        <span>Images</span>
                                    </a>
                                    <a href="{% url get_embellishment_items %}" rel="text" class="text em">
                                        {{ "TEXT"|getTextThumbnail }}
                                        <span>Text</span>
                                    </a>
                                    <a href="{% url get_embellishment_items %}" rel="5" class="border em">
                                        {{ 5|getEmbellishmentThumbnail }}
                                        <span>Borders</span>
                                    </a>
                                    <a href="{% url get_embellishment_items %}" rel="4" class="shape em">
                                        {{ 4|getEmbellishmentThumbnail }}
                                        <span>Shapes</span>
                                    </a>
                                    <a href="{% url get_embellishment_items %}" rel="2" class="texture em">
                                        {{ 2|getEmbellishmentThumbnail }}
                                        <span>Textures</span>
                                    </a>
                                    <a href="{% url get_embellishment_items %}" rel="3" class="pattern em">
                                        {{ 3|getEmbellishmentThumbnail }}
                                        <span>Patterns</span>
                                    </a>
                                </div>
								<div class="emItem" style="display:none;">
								</div>
							</div>
							<div class="pagination"></div>
						</div>
					</td>
					<td class="canvas" id="manage-template-canvas">
						<div id="canvas">
							<div id="nw-menu">
								<ul>
									<li><a id="save" href="#">Save</a></li>
									<li><a id="save" href="#">New</a></li>
									<li><a id="save" href="#">undo</a></li>
									<li><a id="save" href="#">redo</a></li>
									<li><a id="save" href="#">New Box</a></li>
									<li><a id="save" href="#">Remove</a></li>
									<li><a id="save" href="#">Forward</a></li>
									<li><a id="save" href="#">Backward</a></li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</table>
	    	
			
		</div>
		<div id="manage-template-footer" class="footer">
			{% trans "&copy; IDecorate" %}
		</div>
    </body>
    <script type="text/javascript" src="/media/interface/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/media/interface/js/tabpannel/jquery.hashchange.min.js"></script>
    <script type="text/javascript" src="/media/admin/js/emb.js"></script>
	<script type="text/javascript" src="/media/interface/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/media/interface/js/ui/jquery.ui.rotatable.js"></script>
	<script src="/media/interface/js/jquery.form.js"></script>
	<script src="/media/interface/js/jquery.progressbar.js"></script>
    <script type="text/javascript">
    	$(function () {
    		resize();

    		$('#embellishment-wrap .emCat a').on('click mousedown',function(e){
    			resize();
    		});
    	});

    	$(window).resize(resize);

    	function resize(){
    		var body = $('#manage-template-main table');
    		var body_height = resize_body();
    		body.height(body_height);

    		$('#canvas').height(body_height-10);

    		var embellishment 	= $('#embellishment-wrap');
			var emcat_height	= resize_emcat(embellishment);
			if($('.emCat',embellishment).is(':visible')){
				$('.emCat',embellishment).height(emcat_height);
			}else if($('.emItem',embellishment).is(':visible')){
				$('.emItem',embellishment).height(emcat_height);
			}

    	}

    	function resize_body(){
    		var window_height 	= $(window).height();
    		var header_height 	= $('#manage-template-header').outerHeight(true);
    		var footer_height 	= $('#manage-template-footer').outerHeight(true);
			var body_height 	= window_height-(header_height+footer_height)-2;

    		return body_height;
    	}

    	function resize_emcat(embellishment){
    		var sideBar_height			= $('#manage-template-sidebar').outerHeight(true);
    		var embellishment_height 	= 0;
    		
    		embellishment.siblings().each(function(i,val){
    			embellishment_height = embellishment_height+$(this).outerHeight(true);
    		});

    		embellishment_height = sideBar_height-embellishment_height;

    		return embellishment_height;
    	}
    </script>
</html>


