{% load i18n widget_tweaks admin humanize bootstrap_pagination %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <title>iDecorate Wedding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/media/admin/css/bootstrap.css" rel="stylesheet">
        <link runat="server" rel="shortcut icon" href="/media/images/favicon.2.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/media/admin/css/manage.template.css">
        <link rel="stylesheet" type="text/css" href="/media/interface/js/dropdown/css/dropdown.css">
        <link rel="stylesheet" type="text/css" href="/media/interface/css/dropdown.css">
        <style type="text/css">
        body {
        	overflow: auto;
        }
        h2 {
			font-size: 31.5px;
			font-weight: bold;
			text-align: center;
			padding: 10px 0
		}
		table.table thead th {
			text-transform: uppercase;
			white-space: nowrap;
		}
		.cur {
			text-align: right !important;
		}
		.pagination {
			display: block;
		}
		.pagination a{
			font-size: 12px;
		}
		input.qtySold {
			text-align: center
		}
		.download {
			position: absolute;
			top: 55px;
			left: 20px;
		}
        </style>
    </head>
    <body>
    	<table>
    		<tr>
    			<td>
    				<div id="manage-template-header" class="header  clearfix">
			    		<h1>iDecorate</h1>
			            {% include "admin/navbar.html" %}
			    	</div>
    			</td>
    		</tr> 
    		<tr>
    			<td>
    				<div class="mainContent" id="manage-template-main">
    					<a href="#" class="download">Download</a>
						<h2>{% trans "Inventory & Finance Management Report" %}</h2>
						<table class="table table-striped table-hover table-bordered" id="inventory">
							<thead>
								<tr>
									<th>Picture</th>
									<th>Item Name</th>
									<th>Item Category</th>
									<th>Item Code</th>
									<th>Comments</th>
									<th>Size</th>
									<th>Colour</th>
									<th>Description</th>
									<th>Unit Price (US$)</th>
									<th>PCS/CTN</th>
									<th>MOQ (CTNS)</th>
									<th>MOQ (UNITS)</th>
									<th>Cost of MOQ (US$)</th>
									<th>QTY Sold</th>
									<th>COGS</th>
									<th>Retail Unit Price</th>
									<th>Revenue</th>
									<th>NET Profit</th>
									<th>Excess Stock (Units)</th>
									<th>OPPORTUNITY COST OF EXCESS (US$)</th>
									<th>RESALE STOCK (UNITS)</th>
									<th>RESALE PRICE @20% DISCOUNT (US$)</th>
									<th>RESALE VALUE PAYABLE TO SELLER (US$)</th>
									<th>NET RESALE PROFIT (US$)</th>
								</tr>
							</thead>
							<tbody>
								{% for item in products %}
								<tr>
									<td><img src="/media/products/{{ item.original_image_thumbnail }}" alt="" /></td>
									<td>{{ item.name }}</td>
									<td>{{ item|getProductCategories2 }}</td>
									<td>{{ item.sku }}</td>
									<td>{{ item|getProductDetail:'comment' }}</td>
									<td>{{ item|getProductDetail:'size' }}</td>
									<td>{{ item|getProductDetail:'colour' }}</td>
									<td>{{ item.description|safe }}</td>
									<td id="unit-price-{{ item.id }}" class="cur">{{ item|getProductDetail:'unitprice' }}</td>
									<td>{{ item|getProductDetail:'pcsctn' }}</td>
									<td>{{ item|getProductDetail:'moqctns' }}</td>
									<td id="moq-units-{{ item.id }}">{{ item|getProductDetail:'moqunits' }}</td>
									<td class="cur">{{ item|getProductDetail:'costofmoq' }}</td>
									<td><input class="span1 qtySold" id="{{ item.id }}" type="text" name="qty_sold" value="{{ item|getProductDetail:'qtysold' }}" /></td>
									<td id="cogs-{{ item.id }}" class="cur">{{ item|getProductDetail:'cogs' }}</td>
									<td id="retail-price-{{ item.id }}" class="cur">{{ item|getProductPrice|currency }}</td>
									<td id="revenue-{{ item.id }}" class="cur">{{ item|getRevenue }}</td>
									<td id="net-profit-{{ item.id }}" class="cur">{{ item|getNetProfit }}</td>
									<td id="excess-stock-{{ item.id }}">{{ item|getExcessStock }}</td>
									<td id="opp-cost-excess-{{ item.id }}" class="cur">{{ item|getOppCostExcess }}</td>
									<td></td>
									<td class="cur"></td>
									<td class="cur"></td>
									<td class="cur"></td>
								</tr> 
								{% endfor %}
							</tbody>							
						</table>						
					</div>
    			</td>
    		</tr>
    		<tr>
    			<td>
    				<div id="manage-template-footer" class="footer">
						{% trans "&copy; IDecorate" %}
					</div>
    			</td>
    		</tr>
		</table>
		<script type="text/javascript" src="/media/admin/js/jquery-1.8.0.min.js"></script>
		<script src="/media/js/json/json2.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$('.qtySold').keyup(function(e){
		        var val = $(this).val();
		        val = val.replace(/[^0-9]/g,'');
		        val = val.replace(/\./g, '');
		        $(this).val(val);
		        var _this = this;
		        var v = $(this).val();
		        var pid = $(this).attr('id');
		        var url = '{% url update_qty_sold %}';		        
		        $.post(url,{ id:pid,qty_sold: v }, function(data){
		        	var retail_price = parseFloat($('#retail-price-'+pid).text());
		        	var qty_sold = parseFloat(v);
		        	var revenue = retail_price*qty_sold
		        	
		        	var moq_units = $('#moq-units-'+pid).text() != ''?$('#moq-units-'+pid).text():0;
		        	moq_units = parseInt(moq_units);
		        	var excess = moq_units-parseInt(v);
		        	
		        	var opp_cost_excess = parseFloat(excess)*retail_price;		        	
		        	var unit_price = $('#unit-price-'+pid).text() != ''?$('#unit-price-'+pid).text():0;
		        	var cogs = parseFloat(unit_price)*parseFloat(v);

		        	var net_profit = revenue-cogs;

		        	opp_cost_excess = addCommas(opp_cost_excess.toFixed(2));
		        	$('#opp-cost-excess-'+pid).text(opp_cost_excess);
		        	$('#excess-stock-'+pid).text(excess);
		        	revenue = addCommas(revenue.toFixed(2));
		        	$('#revenue-'+pid).text(revenue);
		        	cogs = addCommas(cogs.toFixed(2));
		        	$('#cogs-'+pid).text(cogs);
		        	net_profit = addCommas(net_profit.toFixed(2));
		        	$('#net-profit-'+pid).text(net_profit);
		        });
		    });
			$('.download').click(function(){
				var items = [];				
				$('#inventory thead tr').each(function(){
					var head = [];
					$(this).children('th').each(function(i,v){
						if (i>0){
							head.push($(this).text().toUpperCase());
						}						
					});
					items.push(head);
				});
				$('#inventory tbody tr').each(function(){
					var body = [];
					$(this).children('td').each(function(ii,vv){
						if (ii>0){
							if(ii==2){
								body.push($(this).html().split('<br>').join('\\n'));
							} else if(ii==13) {
								body.push($('input',this).val());
							} else {
								body.push($(this).text());	
							}
							
						}
					});
					items.push(body);
				});
				var json_obj = JSON.stringify(items);
				$.post('{% url export_innvetory_finance_report %}',{ data:json_obj }, function(){

				});			
			});
		});
		function addCommas(nStr){
		    nStr += '';
		    x = nStr.split('.');
		    x1 = x[0];
		    x2 = x.length > 1 ? '.' + x[1] : '';
		    var rgx = /(\d+)(\d{3})/;
		    while (rgx.test(x1)) {
		        x1 = x1.replace(rgx, '$1' + ',' + '$2');
		    }
		    return x1 + x2;
		}
		</script>
    </body>
</html>


