          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="active"><a href="#">Menu 1</a></li> 
              <li><a href="#">&gt; One</a></li>
              <li><a href="#">&gt; Two</a></li>
              <li><a href="#">&gt; Three</a></li>
              <li class="active"><a href="#">Menu 2</a></li> 
              <li><a href="#">&gt; One</a></li>
              <li><a href="#">&gt; Two</a></li>
              <li><a href="#">&gt; Three</a></li>
            </ul>
          </div>