{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin bootstrap_pagination %}
{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}
{% block styles %}
<style type="text/css">
.wrap-preview {
	display: inline-block;
	*display: inline;
	zoom:1;
}
.whole {
	width: {{ width }}px;
	border: 1px solid #ccc;
	height: {{ height }}px;
	margin-bottom: 5px;
}
#wrap-half .spacer {
	display: inline-block;
	*display: inline;
	width: 5px;
}
#wrap-third .spacer {
	display: inline-block;
	*display: inline;
	width: 3px;
	zoom:1;
}
.hidden {
	display: none;
}
#wrap-browse-half #btn-browse-half1 {
	margin-right: 385px;
}
.loading {
	background: url('/media/images/loader.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.pv {
	position:relative;
}
.pv img {
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;	
	max-height:100%;
	max-width:100%;
}
.alert-error {
	margin-top: 20px;
}
</style>
{% endblock %}

{% block content %}
<h1>{% trans "Upload Home Infographics" %}</h1>
<form method="post" action="">
{% csrf_token %}
{{ form.image }}

<fieldset>	
	<div id="alert-error">		
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }}">
		  <a class="close" data-dismiss="alert" href="#">×</a>
		  <h4 class="alert-heading">{{ message.tags }}!</h4>
		  	{{ message }}		  
		</div>
		{% endfor %}
		{% endif %}

		{% if form.errors %}
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<h4 class="alert-heading">Please correct the following errors:</h4>
			<ol>
				{% for e in form.image.errors %}
				<li>{{ e }}</li>
				{% endfor %}
			</ol>
		</div>
		{% endif %}
	</div>
	<table width="100%" cellpadding="5" cellspacing="5">
		<tr>
			<td colspan="2" width="994" height="400">
				<div id="wrap-whole" class="selected">
					<div class="wrap-preview">
						<div class="whole pv">
							{% if image11 %}
							<img src="/media/banners/{{ image11 }}" alt="" />
							{% endif %}
						</div>
						<a id="btn-browse" class="button btn btn-primary brw">Choose a Photo</a>
						Note: Recommended image size is {{ width }}x{{ height }}.
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2"> <input class="btn btn-primary btn-submit" type="submit" value="Upload" /> </td>
		</tr>
	</table>
</fieldset>
</form>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/media/admin/js/ajaxupload.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		new AjaxUpload('btn-browse', {
			name: 'image',
			action: '{% url upload_temp_infographic %}',
			onSubmit: function(file, extension) {					
				$('.whole').append('<div class="loading"></div>');
			},
			onComplete: function(file, response){
				$('div.loading').remove();
				var deli = '|';
				if (response.indexOf(',') !=-1)
					deli = ',';
				var splittedResponse = response.split(deli);					
				if (splittedResponse[0] == 'fail') {
					var msg = splittedResponse[1];
					if($('.alert.alert-error').length > 0){
						if ($('.thumb-error').length > 0)
							$('.alert.alert-error ol li.thumb-error').text(msg);
						else
							$('.alert.alert-error ol').append('<li class="thumb-error">' + msg + '</li>');						
					} else {
						var elm = '<div class="alert alert-error">' +
								'<a class="close" data-dismiss="alert" href="#">×</a>' +
								'<h4 class="alert-heading">Please correct the following errors:</h4>' +
								'<ol>' +
								'<li class="thumb-error">' + msg + '</li>' +
								'</ol>' +
							'</div>';
						$('#alert-error').html(elm);
					}
				} else {
					$('#btn-browse').text('Photo Chosen');						
					if ($('.whole').find('img').length > 0){
						$('.whole').find('img').remove();
					}
					$('.whole').append('<img src="/media/infographics/' + splittedResponse[1] + '" />');
					$('#id_image').val(splittedResponse[1]);
					if($('.alert.alert-error').length > 0){
						$('.alert.alert-error a.close').trigger('click');
					}
				}				
			},
			error: function(msg){					
				if($('.alert.alert-error').length > 0){
					if ($('.thumb-error').length > 0)
						$('.alert.alert-error ol li.thumb-error').text('{% trans "Thumbnail Upload Server Timeout. Please try again." %}');
					else
						$('.alert.alert-error ol').append('<li>{% trans "Thumbnail Upload Server Timeout. Please try again." %}</li>');
				} else {
					var elm = '<div class="alert alert-error">' +
							'<a class="close" data-dismiss="alert" href="#">×</a>' +
							'<h4 class="alert-heading">Please correct the following errors:</h4>' +
							'<ol>' +
							'<li class="thumb-error">{% trans "Thumbnail Upload Server Timeout. Please try again." %}</li>' +
							'</ol>' +
						'</div>';
					$('#alert-error').html(elm);
				}				
				$('div.loading').remove();
			}
		});		
	});
	function getHeight(el,fn) {
	    var img = new Image();
	    img.onload = function() { fn(img.height); };
	    img.src = el.attr("src");
	}

</script>
{% endblock %}