{% extends "admin/base.html" %}
{% load i18n widget_tweaks admin bootstrap_pagination %}
{% block title %}
    {% trans "iDecorate CMS" %}
{% endblock %}
{% block styles %}
<style type="text/css">
#wrap-preview {
	border: 1px solid #ccc;
	width: 322px;
	height: 400px;
}
</style>
{% endblock %}

{% block content %}
<h1>{% trans "Upload Home Banners" %}</h1>
<form method="post" action="">
<fieldset>
	<div id="alert-error"></div>
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="2" width="994" height="400">
				<div id="wrap-preview"></div>				
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<a id="btn-browse" class="button btn btn-primary">Choose a Photo</a>				
			</td>
		</tr>
		<tr>
			<td colspan="2"><input type="text" placeholder="Link" /></td>
		</tr>
		<tr>
			<td colspan="2"> <input class="btn btn-primary btn-submit" type="submit" value="Upload" /> </td>
		</tr>
	</table>
</fieldset>
</form>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/media/admin/js/ajaxupload.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		new AjaxUpload('btn-browse', {
			name: 'image',
			action: '{% url upload_temp_banner %}',
			onSubmit: function(file, extension) {

				if(extension == 'tif' || extension == 'tiff'){					
					if($('.alert.alert-error').length > 0){
						if ($('.thumb-error').length > 0)
							$('.alert.alert-error ol li.thumb-error').text('{% trans "File type is not supported" %}');
						else
							$('.alert.alert-error ol').append('<li class="thumb-error">{% trans "File type is not supported" %}</li>');
					} else {
						var elm = '<div class="alert alert-error">' +
								'<a class="close" data-dismiss="alert" href="#">×</a>' +
								'<h4 class="alert-heading">Please correct the following errors:</h4>' +
								'<ol>' +
								'<li class="thumb-error">{% trans "File type is not supported" %}</li>' +
								'</ol>' +
							'</div>';
						$('#alert-error').html(elm);
					}					
					return false;
				}

				if($('#created-thumb').length > 0)
					$('#created-thumb').remove();
				$('div#preview').append('<div class="loading"></div>');
			},
			onComplete: function(file, response){
				$('div.loading').remove();
				var splittedResponse = response.split('|');				
				if (splittedResponse[0] == 'fail') {
					var msg = splittedResponse[1];
					if($('.alert.alert-error').length > 0){
						if ($('.thumb-error').length > 0)
							$('.alert.alert-error ol li.thumb-error').text(msg);
						else
							$('.alert.alert-error ol').append('<li class="thumb-error">' + msg + '</li>');						
					} else {
						var elm = '<div class="alert alert-error">' +
								'<a class="close" data-dismiss="alert" href="#">×</a>' +
								'<h4 class="alert-heading">Please correct the following errors:</h4>' +
								'<ol>' +
								'<li class="thumb-error">' + msg + '</li>' +
								'</ol>' +
							'</div>';
						$('#alert-error').html(elm);
					}
				} else {
					$('#btn-browse').text('Photo Chosen');
					$('#id_thumbnail').val('temp|' + splittedResponse[1]);
					$('div#preview').append('<img id="created-thumb" src="/media/' + splittedResponse[2] + '" />');
					if($('.alert.alert-error').length > 0){
						$('.alert.alert-error a.close').trigger('click');
					}
				}				
			},
			error: function(){
				if($('.alert.alert-error').length > 0){
					if ($('.thumb-error').length > 0)
						$('.alert.alert-error ol li.thumb-error').text('{% trans "Thumbnail Upload Server Timeout. Please try again." %}');
					else
						$('.alert.alert-error ol').append('<li>{% trans "Thumbnail Upload Server Timeout. Please try again." %}</li>');
				} else {
					var elm = '<div class="alert alert-error">' +
							'<a class="close" data-dismiss="alert" href="#">×</a>' +
							'<h4 class="alert-heading">Please correct the following errors:</h4>' +
							'<ol>' +
							'<li class="thumb-error">{% trans "Thumbnail Upload Server Timeout. Please try again." %}</li>' +
							'</ol>' +
						'</div>';
					$('#alert-error').html(elm);
				}				
				$('div.loading').remove();
			}
		});
	});
</script>
{% endblock %}