{% extends "base.html" %}
{% block title %}iDecorate Weddings{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/media/interface/css/static.css">
{% endblock %}
{% block content %}
<h3>Copyright</h3>
<div class="staticWrap">
	<div class="clearfix static">
		<div>
			Shana Buchanan<br />
			Owner/Managing Director
		</div>
		<div>+85293193117</div>
		<div>shana@idecorateweddings.com</div>
		<div>skype: shanabuchanan</div>
		<div class="end">
			<img src="/media/images/end.png" />
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}