{% extends "base.html" %}
{% load i18n idecorate_interface static %}
{% block title %}iDecorate Weddings | {{ flatpage.title }}{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{% static 'stylesheets/flat.css' %}">
{% endblock %}
{% block content %}

<div id="content_header">
	<div class="headingWrap">
		<div class="fieldset contentHeading">
			<div class="legend"><span >{{ flatpage.title }}</span></div>
	    </div>
    </div>
</div>
<div id="content_body">
	<div class="flatPageWrap clearfix">
		{{ flatpage.content }}
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}